@charset "utf-8";
@import "publicVariable";

$selfActiveColor: $globeColorStressDeep;

body {
  background-color: #eff1f7;
}

.container-wrap {
  padding-bottom: 30px;
}

/* main-container */
.main-container {
  float: left;
  width: 900px;
  & > section + section {
    margin-top: 20px;
  }
  // common-panel-head
  .common-panel-head {
    border-bottom: 1px solid #eff1f7;
    .title {
      position: relative;
      display: inline-block;
      padding-bottom: 18px;
      vertical-align: middle;
      color: #333;
      &:after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        border-bottom: 2px solid #d00;
      }
    }
  }
  // desc-panel
  .desc-panel {
    $selfFootHeight: 130px;
    position: relative;
    min-height: 430px;
    padding-bottom: $selfFootHeight;
    background-color: #fff;
    .panel-head {
      padding: 30px 0 20px;
      margin: 0 38px;
      border-bottom: 1px solid #eff1f7;
      h3 {
        font-size: 18px;
        font-weight: bold;
        color: #333;
      }
      .head-tool {
        margin-top: 20px;
        font-size: 0;
        li {
          display: inline-block;
          vertical-align: middle;
          font-size: 12px;
          i {
            margin-right: 5px;
          }
          &.active {
            color: $selfActiveColor;
          }
        }
        li + li {
          margin-left: 40px;
        }
      }
    }
    .panel-body {
      padding: 0 38px;
      .desc-list {
        width: 100%;
        padding: 20px - 18px 0 20px;
        font-size: 0;
        li {
          display: inline-block;
          width: 50%;
          padding-right: 10px;
          margin-top: 18px;
          vertical-align: bottom;
          font-size: 14px;
          span {
            color: #333;
          }
        }
      }
    }
    .panel-foot {
      $selfColor: #ffebcb;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 0 38px;
      height: $selfFootHeight;
      background-color: $selfColor;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: -8px;
        width: 8px;
        height: 100%;
        background-color: $selfColor;
      }
      &:before {
        content: '';
        position: absolute;
        top: -8px;
        left: -8px;
        width: 0;
        height: 0;
        border: 8px solid transparent;
        border-right-color: $selfColor - 30%;
        border-left: none;
        overflow: hidden;
      }
      .foot-table {
        display: table;
        width: 100%;
        height: 100%;
        .cell {
          display: table-cell;
          vertical-align: middle;
        }
        .before-cell {
          width: 110px;
          i {
            $selfHeight: 77px;
            display: inline-block;
            width: $selfHeight;
            height: $selfHeight;
            line-height: $selfHeight - 5px - 5px;
            text-align: center;
            font-size: 40px;
            color: $selfActiveColor;
            border: 5px solid $selfActiveColor;
            border-radius: 50%;
          }
        }
        .after-cell {
          width: 180px;
          text-align: right;
          .handle-btn {
            $selfHeight: 50px;
            display: inline-block;
            padding: 0 30px;
            vertical-align: middle;
            line-height: $selfHeight;
            text-align: center;
            font-size: 18px;
            color: #fff;
            background-color: $selfActiveColor;
            border-radius: 5px;
            &:hover {
              background-color: $selfActiveColor - 15%;
            }
            &:active {
              background-color: $selfActiveColor - 30%;
            }
          }
        }
        .content-cell {
          h3, p {
            padding: 5px 0;
          }
          h3 {
            font-size: 20px;
            font-weight: bold;
            color: #333;
          }
        }
      }
    }
  }
  // common-panel
  .common-panel {
    padding: 20px 30px;
    background-color: #fff;
  }
  // common-panel-body
  .common-panel-body {
    padding-top: 18px;
    .desc-list {
      margin-top: -18px;
      font-size: 0;
      li {
        display: inline-block;
        width: 50%;
        padding-right: 10px;
        margin-top: 18px;
        vertical-align: bottom;
        font-size: 14px;
        span {
          color: #333;
        }
      }
    }
    article {
      line-height: 1.7;
      font-size: 14px;
      color: #333;
    }
    .file-list {
      display: table;
      width: 100%;
      font-size: 14px;
      color: #333;
      li {
        display: table-row;
      }
      li + li {
        .cell {
          padding-top: 14px;
        }
      }
      .cell {
        display: table-cell;
        vertical-align: middle;
        &.link-cell {
          max-width: 600px;
          a {
            max-width: 100%;
          }
        }
        &.handle-cell {
          width: 150px;
          text-align: right;
          .handle-btn {
            display: inline-block;
            padding: 0 20px;
            vertical-align: middle;
            line-height: 30px;
            color: #fff;
            background-color: $selfActiveColor;
            border-radius: 5px;
            &:hover {
              background-color: $selfActiveColor - 15%;
            }
            &:active {
              background-color: $selfActiveColor - 30%;
            }
          }
        }
      }
    }
    .tags {
      $selfHeight: 20px;
      display: table;
      width: 100%;
      margin-top: -18px;
      font-size: 14px;
      color: #333;
      dt {
        display: table-cell;
        width: 42px;
        vertical-align: top;
        line-height: $selfHeight;
      }
      dd {
        display: table-cell;
        vertical-align: top;
        font-size: 0;
        div {
          margin: -5px 0 0 -5px;
        }
        a {
          display: inline-block;
          padding: 0 10px;
          margin: 5px 0 0 5px;
          vertical-align: middle;
          line-height: $selfHeight;
          font-size: 14px;
          color: #fff;
          background-color: $selfActiveColor;
          border-radius: $selfHeight;
          &:hover {
            background-color: $selfActiveColor - 15%;
          }
          &:active {
            background-color: $selfActiveColor - 30%;
          }
        }
      }
    }
    .file-exhibition-wrap {
      width: 100%;
      .file-exhibition {
        position: relative;
        width: 100%;
        overflow: hidden;
        .swiper-slide {
          float: left;
          width: 100%;
          height: 600px;
          padding: 20px 40px;
          text-align: center;
          font-size: 0;
          &:before {
            @include globalVerticalMiddleAssist;
          }
          img {
            display: inline-block;
            max-width: 100%;
            max-height: 100%;
            vertical-align: middle;
          }
        }
        .exhibition-prev-btn, .exhibition-next-btn {
          $selfHeight: 24px;
          position: absolute;
          top: 50%;
          z-index: 1;
          width: $selfHeight;
          height: $selfHeight;
          margin-top: - $selfHeight / 2;
          line-height: $selfHeight;
          text-align: center;
          font-size: 12px;
          color: #666;
          background-color: #eff1f7;
          border-radius: 50%;
          overflow: hidden;
          &:hover {
            color: #fff;
            background-color: $selfActiveColor;
          }
          &:active {
            background-color: $selfActiveColor - 30%;
          }
          &.swiper-button-disabled {
            color: #fff;
            background-color: #ddd;
            cursor: not-allowed;
          }
        }
        .exhibition-prev-btn {
          left: 10px;
        }
        .exhibition-next-btn {
          right: 10px;
        }
      }
      .file-exhibition-nav {
        width: 100%;
        height: 120px;
        padding: 10px 0;
        background-color: #eff1f7;
        overflow: hidden;
        .swiper-slide {
          float: left;
          width: 80px;
          height: 100px;
          padding: 5px;
          text-align: center;
          font-size: 0;
          background-color: #fff;
          border: 1px solid transparent;
          &:before {
            @include globalVerticalMiddleAssist;
          }
          img {
            display: inline-block;
            max-width: 100%;
            max-height: 100%;
            vertical-align: middle;
          }
          &.swiper-slide-active {
            border-color: $selfActiveColor;
          }
        }
      }
    }
  }
  // comment-panel
  .comment-panel {
    padding: 20px 30px;
    background-color: #fff;
    .comment-publish {
      padding: 20px 0 0;
      .input-box {
        textarea {
          width: 100%;
          min-height: 20px + 20px;
          padding: 10px;
          font-size: 12px;
          color: #333;
          background-color: transparent;
          border: 1px solid #eff1f7;
          &:focus {
            border-color: #eff1f7 - 30%;
          }
        }
      }
      .hint-info {
        min-height: 14px;
        padding: 5px 0;
        line-height: 14px;
        font-size: 12px;
        color: #f00;
      }
      .publish-foot {
        $selfHeight: 30px;
        .handle-btn {
          $selfHeight: $selfHeight;
          $selfColor: $selfActiveColor;
          display: inline-block;
          height: $selfHeight;
          padding: 0 18px;
          vertical-align: middle;
          line-height: $selfHeight;
          font-size: 14px;
          color: #fff;
          background-color: $selfColor;
          border-radius: 5px;
          &:hover {
            background-color: $selfColor - 15%;
          }
          &:active {
            background-color: $selfColor - 30%;
          }
          &.blue-btn {
            $selfColor: #5a98df;
            background-color: $selfColor;
            &:hover {
              background-color: $selfColor - 15%;
            }
            &:active {
              background-color: $selfColor - 30%;
            }
          }
        }
        .handle-btn + .handle-btn {
          margin-left: 10px;
        }
        .set-phone {
          float: left;
          .input-box {
            font-size: 0;
            & > * {
              display: inline-block;
              vertical-align: middle;
              font-size: 14px;
              & + * {
                margin-left: 10px;
              }
            }
          }
          input[type='text'] {
            width: 140px;
            height: $selfHeight;
            padding: 0 10px;
            font-size: 12px;
            background-color: transparent;
            border: 1px solid #eff1f7;
            border-radius: 5px;
            &:focus {
              border-color: #eff1f7 - 30%;
            }
          }
          .hint-info {
            min-height: 20px;
          }
        }
        .handle-group {
          float: right;
          text-align: right;
          font-size: 0;
          & > * {
            display: inline-block;
            vertical-align: middle;
            & + * {
              margin-left: 10px;
            }
          }
          select {
            width: 110px;
            height: $selfHeight;
            padding-left: 10px;
            font-size: 12px;
            background-color: transparent;
            border: 1px solid #eff1f7;
            border-radius: 5px;
            &:focus {
              border-color: #eff1f7 - 30%;
            }
          }
        }
      }
    }
    .comment-exhibition {
      border-top: 1px solid #eff1f7;
      .empty-content {
        padding: 30px 0;
        text-align: center;
        color: #b5b5b5;
        i {
          margin-right: 8px;
        }
      }
      .comment-bar {
        $selfPicWidth: 60px;
        padding: 20px 0;
        .handle-btn {
          $selfHeight: 24px;
          $selfColor: $selfActiveColor;
          display: inline-block;
          height: $selfHeight;
          padding: 0 12px;
          vertical-align: middle;
          line-height: $selfHeight;
          font-size: 12px;
          color: #fff;
          background-color: $selfColor;
          border-radius: 5px;
          &:hover {
            background-color: $selfColor - 15%;
          }
          &:active {
            background-color: $selfColor - 30%;
          }
          &.blue-btn {
            $selfColor: #5a98df;
            background-color: $selfColor;
            &:hover {
              background-color: $selfColor - 15%;
            }
            &:active {
              background-color: $selfColor - 30%;
            }
          }
        }
        .handle-btn + .handle-btn {
          margin-left: 10px;
        }
        figure {
          float: left;
          width: $selfPicWidth;
          height: $selfPicWidth;
          margin-right: - $selfPicWidth;
          margin-left: 12px;
          border-radius: 50%;
          overflow: hidden;
          img {
            display: block;
            width: 100%;
            height: 100%;
          }
        }
        .desc {
          margin-left: $selfPicWidth + 28px + 12px;
          .info {
            $selfWidth: 150px;
            .time {
              float: right;
              width: $selfWidth;
              margin-left: - $selfWidth;
              text-align: right;
              font-size: 12px;
              color: #ccc;
            }
            .user {
              margin-right: $selfWidth;
              font-size: 14px;
              span {
                color: $selfActiveColor;
              }
              em {
                margin-left: 16px;
              }
            }
          }
          .info-list {
            margin-top: 14px;
            ul {
              margin: -10px 0 0 -24px;
              font-size: 0;
              li {
                display: inline-block;
                max-width: 50%;
                padding-left: 24px;
                margin-top: 10px;
                vertical-align: bottom;
                font-size: 12px;
              }
            }
          }
          .bar-handle-group {
            padding: 10px 0;
            text-align: right;
          }
          .para {
            margin-top: 20px - 2px;
            line-height: 18px;
            font-size: 14px;
            color: #999;
          }
          .reply-para {
            position: relative;
            padding: 20px - 2px 15px;
            margin-top: 22px - 2px;
            line-height: 16px;
            font-size: 12px;
            color: #999;
            background-color: #eff1f7;
            border-radius: 5px;
            &:before {
              content: '';
              position: absolute;
              top: -6px;
              left: 27px;
              width: 0;
              height: 0;
              border: 6px solid #eff1f7;
              border-left-color: transparent;
              border-right-color: transparent;
              border-top: none;
              overflow: hidden;
            }
            .stress {
              color: $selfActiveColor;
            }
            textarea {
              display: block;
              width: 100%;
              background-color: transparent;
              border: none;
            }
            .reply-handle-group {
              padding-top: 15px;
              text-align: right;
            }
          }
        }
      }
      .comment-bar + .comment-bar {
        border-top: 1px solid #eff1f7;
      }
      .pagination-wrap {
        padding: 10px 0;
      }
    }
  }
}

/* aside-container */
.aside-container {
  float: right;
  width: 280px;
  & > aside + aside {
    margin-top: 20px;
  }
  // common-panel-head
  .common-panel-head {
    position: relative;
    border-bottom: 1px solid #eff1f7;
    .title {
      position: relative;
      display: inline-block;
      padding-bottom: 18px;
      vertical-align: middle;
      color: #333;
      &:after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        border-bottom: 2px solid #d00;
      }
    }
  }
  // user-panel
  .user-panel {
    min-height: 430px;
    padding: 18px 20px;
    background-color: #fff;
    .common-panel-head {
      .exchange {
        position: absolute;
        top: 0;
        right: 0;
        height: 20px;
        padding: 0 6px;
        line-height: 20px;
        font-size: 12px;
        color: #fff;
        background-color: $selfActiveColor;
        border-radius: 5px;
        &:hover {
          background-color: $selfActiveColor - 15%;
        }
        &:active {
          background-color: $selfActiveColor - 30%;
        }
      }
    }
    .panel-body {
      padding-top: 20px;
      figure {
        width: 80px;
        height: 80px;
        margin: 0 auto;
        border-radius: 50%;
        overflow: hidden;
        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      h3 {
        max-width: 100%;
        margin-top: 14px;
        text-align: center;
        font-size: 14px;
        font-weight: normal;
        .stress {
          color: $selfActiveColor;
        }
        span + span {
          margin-left: 10px;
        }
      }
      ul {
        margin-top: 24px;
        li {
          max-width: 100%;
          font-size: 12px;
          span {
            color: #333;
          }
        }
        li + li {
          margin-top: 18px;
        }
      }
      .handle-group {
        margin-top: 32px;
        .handle-btn {
          $selfHeight: 36px;
          $selfColor: $selfActiveColor;
          display: block;
          width: 100%;
          height: $selfHeight;
          line-height: $selfHeight;
          text-align: center;
          font-size: 12px;
          color: #fff;
          background-color: $selfColor;
          border-radius: 5px;
          &:hover {
            background-color: $selfColor - 15%;
          }
          &:active {
            background-color: $selfColor - 30%;
          }
          &.blue-btn {
            $selfColor: #5a98df;
            background-color: $selfColor;
            &:hover {
              background-color: $selfColor - 15%;
            }
            &:active {
              background-color: $selfColor - 30%;
            }
          }
        }
        .handle-btn + .handle-btn {
          margin-top: 14px;
        }
      }
    }
  }
  // list-panel
  .list-panel {
    padding: 18px 20px;
    background-color: #fff;
    dd {
      margin-top: 18px;
      a {
        position: relative;
        max-width: 100%;
        padding-left: 10px;
        vertical-align: middle;
        transition: transform .3s ease-out;
        &:before {
          content: '';
          position: absolute;
          top: 6px;
          left: 0;
          width: 4px;
          height: 4px;
          background-color: #666;
          border-radius: 50%;
        }
        &:hover {
          transform: translateX(6px);
          &:before {
            background-color: $selfActiveColor;
          }
        }
      }
    }
  }
}