@charset "utf-8";
@import "publicVariable";

/* ---rn公用样式--- */
.rn-wrapper {
  width: 100%;
  min-width: 1200px;
}

.rn-inner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* - rn-head - */
/* header 主要 */
.rn-head {
  $selfActiveColor: $globeColorStressDeep;
  .head-login-wrap {
    background-color: #fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    .nav {
      font-size: 0;
      & > * {
        display: inline-block;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0 10px;
        vertical-align: top;
        font-size: 12px;
      }
      .user {
        & > * {
          display: inline-block;
        }
        & > * + * {
          margin-left: 20px;
        }
      }
    }
  }
  .head-search-wrap {
    background-color: #fff;
    .logo-wrap {
      padding: 25px 0;
      .logo {
        display: inline-block;
        vertical-align: middle;
        img {
          display: block;
        }
      }
    }
    .phone-wrap {
      padding: 32px 0;
      margin-left: 55px;
      & > * {
        display: inline-block;
        vertical-align: middle;
      }
      i {
        $selfHeight: 22px;
        width: $selfHeight;
        height: $selfHeight;
        line-height: $selfHeight;
        text-align: center;
        font-size: 14px;
        color: #fff;
        background-color: $selfActiveColor;
        border-radius: 50%;
      }
      span {
        margin-left: 10px;
        font-family: Arial;
        font-style: italic;
        font-size: 24px;
        color: $selfActiveColor;
      }
    }
    .search-wrap {
      $selfWidth: 520px;
      $selfHeight: 48px;
      padding-top: 20px;
      .input-box {
        position: relative;
        width: $selfWidth;
        height: $selfHeight;
        font-size: 0;
        border: 1px solid $selfActiveColor;
        .inputwrap {
          position: relative;
          display: inline-block;
          height: 100%;
          vertical-align: middle;
          font-size: 14px;
        }
        .inputwrap + .inputwrap {
          &:before {
            content: '';
            position: absolute;
            top: 7px;
            bottom: 7px;
            left: 0;
            border-left: 1px solid $selfActiveColor;
          }
        }
        .input-item {
          display: block;
          width: 100%;
          height: 100%;
          padding: ($selfHeight - 18px - 2px) / 2 12px;
          line-height: 18px;
          background-color: #fff;
          border: none;
        }
        select.input-item {
          padding-right: 0;
        }
        .inputwrap:last-of-type {
          .input-item {
            padding-right: 12px + 86px;
          }
        }
        .query-btn {
          position: absolute;
          top: -1px;
          right: -1px;
          width: 86px;
          height: $selfHeight;
          line-height: $selfHeight;
          text-align: center;
          font-size: 14px;
          color: #fff;
          background-color: $selfActiveColor;
          i {
            font-weight: bold;
          }
          &:hover {
            color: #fff;
            background-color: $selfActiveColor  - 15%;
          }
          &:active {
            background-color: $selfActiveColor - 30%;
          }
        }
      }
      .hint-info {
        height: 20px;
        line-height: 20px;
        text-align: center;
        font-size: 12px;
        color: #f00;
      }
    }
  }
  .head-nav-wrap {
    $selfHeight: 42px;
    $selfLeftNavWidth: 230px;
    padding-bottom: 10px;
    background-color: #fff;
    .rn-inner {
      position: relative;
      padding-left: $selfLeftNavWidth;
    }
    .nav-wrap {
      margin-left: 20px;
      .nav-list {
        .stress {
          color: $selfActiveColor;
        }
        & > * {
          float: left;
          height: $selfHeight;
          line-height: $selfHeight;
          font-size: 16px;
          color: #333;
          .nav-name {
            display: block;
            height: inherit;
            line-height: inherit;
          }
        }
        dd {
          position: relative;
          .nav-name {
            padding: 0 30px;
            border-radius: 5px;
            &:hover {
              color: $selfActiveColor;
            }
          }
          &.current {
            .nav-name {
              color: #fff;
              background-color: $selfActiveColor;
            }
          }
        }
        dt {
          float: right;
        }
      }
    }
    .category-container {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
      width: $selfLeftNavWidth;
      .container-head {
        position: relative;
        height: $selfHeight;
        padding: 0 20px;
        line-height: $selfHeight;
        font-size: 16px;
        color: #fff;
        background-color: $selfActiveColor;
        border-radius: 5px;
        cursor: default;
        em {
          position: absolute;
          right: 10px;
        }
      }
      .container-extension {
        display: none;
        height: 420px + 10px;
        padding-top: 10px;
        background-color: #fff;
        box-shadow: 0 2px 8px 0 rgba(221, 221, 221, .8);
        overflow: hidden;
      }
      .container-item {
        width: 100%;
        .init-content {
          position: relative;
          width: 100%;
          max-height: 110px;
          padding: 0 20px;
          font-size: 0;
          overflow: hidden;
          .init-inner {
            padding: 20px 0;
          }
          dl {
            margin-left: -18px;
          }
          dt {
            margin-left: 18px;
            margin-bottom: 15px - 12px;
            font-size: 14px;
            color: #333;
          }
          dd {
            display: inline-block;
            margin: 12px 0 0 18px;
            vertical-align: top;
            font-size: 12px;
            color: #666;
          }
        }
        &:hover {
          .init-content {
            dt {
              color: $selfActiveColor;
              a {
                transition: transform .3s ease-out;
                &:hover {
                  transform: translateX(6px);
                }
              }
            }
          }
        }
      }
      .container-item + .container-item {
        .init-content {
          .init-inner {
            border-top: 1px solid #ddd;
          }
        }
      }
      &:hover {
        .container-extension {
          display: block;
        }
      }
      &.open {
        .container-extension {
          display: block;
        }
      }
    }
  }
}

/* header 登录/注册 */
.rn-head1 {
  .head-logo-wrap {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #fff;
    .logo-wrap {
      .logo {
        display: inline-block;
        vertical-align: middle;
        img {
          display: block;
        }
      }
    }
    .text-wrap {
      padding: 10px 0;
      font-size: 18px;
      color: #333;
    }
  }
}

/* header 关于我们/重置密码等 */
.rn-head3 {
  $selfActiveColor: $globeColorStressDeep;
  .head-login-wrap {
    background-color: #fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    .nav {
      font-size: 0;
      & > * {
        display: inline-block;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0 10px;
        vertical-align: top;
        font-size: 12px;
      }
      .user {
        & > * {
          display: inline-block;
        }
        & > * + * {
          margin-left: 20px;
        }
      }
    }
  }
  .head-nav-wrap {
    position: relative;
    z-index: 3;
    background-color: #fff;
    box-shadow: 0 5px 5px 0 rgba(204, 204, 204, .3);
    .logo-wrap {
      padding: 25px 0;
      font-size: 0;
      .logo {
        display: inline-block;
        vertical-align: middle;
        img {
          display: block;
        }
      }
      h3 {
        display: inline-block;
        padding-left: 12px;
        margin-left: 20px;
        vertical-align: middle;
        font-size: 24px;
        font-weight: normal;
        color: #666;
        border-left: 1px solid #666;
      }
    }
    .nav-wrap {
      padding: 12px + 25px 0;
      .nav-list {
        margin-right: -40px;
        font-size: 0;
        li {
          display: inline-block;
          margin-right: 40px;
          vertical-align: top;
          font-size: 16px;
          color: #333;
          &.current {
            color: $selfActiveColor;
          }
        }
      }
    }
  }
}

/* - rn-foot - */
/* footer 主要 */
.rn-foot {
  $selfActiveColor: $globeColorStressDeep;
  background-color: #4b4b4b;
  .foot-link-wrap {
    padding-top: 35px;
    padding-bottom: 35px;
    dt {
      margin-bottom: 28px;
      font-size: 16px;
      color: #fff;
    }
    dd {
      font-size: 12px;
      color: #ddd;
    }
    .link-group {
      width: 247px;
      dd {
        margin-top: 20px;
      }
    }
    .qrcode {
      figure {
        width: 120px;
        height: 120px;
        background-color: #fff;
        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
    .contact {
      dd {
        margin-top: 16px;
      }
      .phone {
        font-family: "Arial Black";
        font-size: 30px;
      }
      .mail {
        font-family: "Arial Black";
        font-size: 18px;
      }
    }
  }
  .foot-friendly-wrap {
    .rn-inner {
      padding-top: 24px;
      padding-bottom: 24px;
      border-top: 1px solid #666;
    }
    dt {
      float: left;
      font-size: 18px;
      color: #fff;
    }
    dd {
      margin-left: 72px;
      font-size: 14px;
      color: #ddd;
      span {
        display: inline-block;
        margin: 4px 0 0 20px;
      }
    }
  }
  .foot-copy {
    .rn-inner {
      padding-top: 20px;
      padding-bottom: 20px;
      border-top: 1px solid #666;
    }
    font-size: 12px;
    color: #ccc;
  }
}

/* ---方法类公用(.f-开头)--- */
/* 清除浮动 */
.f-clearfix {
  zoom: 1;
  &:after {
    content: '.';
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    font-size: 0;
  }
}

/* 单行省略号 */
.f-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* 强制换行 */
.f-word-break {
  word-wrap: break-word;
  word-break: break-all;
}

/* 左浮 */
.f-pull-left {
  float: left;
}

/* 右浮 */
.f-pull-right {
  float: right;
}

/* 居中 */
.f-text-center {
  text-align: center;
}

/* 居左 */
.f-text-left {
  text-align: left;
}

/* 居右 */
.f-text-right {
  text-align: right;
}

/* ---模块类公用(.m-开头)--- */
/* m-crumbs-nav */
.m-crumbs-nav {
  $selfActiveColor: $globeColorStressDeep;
  background-color: transparent;
  ul {
    padding: 20px 15px;
    font-size: 0;
    li {
      display: inline-block;
      vertical-align: top;
      font-size: 14px;
      span {
        color: #999;
      }
    }
    li + li:before {
      content: '>';
      display: inline-block;
      margin: 0 6px;
    }
  }
  dl {
    padding: 20px 0;
    font-size: 0;
    & > * {
      display: inline-block;
      vertical-align: top;
      font-size: 14px;
      span {
        color: #999;
      }
    }
    dd + dd:before {
      content: '>';
      display: inline-block;
      margin: 0 6px;
    }
  }
}

/* m-default-pagination */
.m-default-pagination {
  $selfColor: $globeColorStressDeep;
  $selfHeight: 30px;
  padding: 10px 0;
  line-height: $selfHeight;
  text-align: center;
  font-size: 12px;
  color: #666;
  a, span, input[type="text"], input[type="button"] {
    display: inline-block;
    min-width: 30px;
    height: $selfHeight;
    margin: 0 5px;
    vertical-align: top;
  }
  span {
    padding: 0 8px;
  }
  .current {
    color: #fff;
    background-color: $selfColor;
  }
  a {
    padding: 0 7px;
    line-height: $selfHeight - 2px;
    color: inherit;
    background-color: #fff;
    border: 1px solid #ddd;
    &:hover {
      color: #fff;
      background-color: $selfColor;
      border-color: $selfColor;
    }
    &:active {
      background-color: $selfColor - 30%;
    }
  }
  input[type="text"], input[type="button"] {
    padding: 0 7px;
    line-height: $selfHeight - 2px;
    text-align: inherit;
    color: inherit;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  input[type="text"] {
    width: 48px;
  }
  input[type="text"]:focus {
    border-color: $selfColor;
  }
  input[type="button"] {
    &:hover {
      color: #fff;
      background-color: $selfColor;
      border-color: $selfColor;
    }
    &:active {
      background-color: $selfColor - 30%;
    }
  }
}

/* m-group-pagination */
.m-group-pagination {
  $selfColor: $globeColorStressDeep;
  $selfFontSize: 12px;
  $selfBorder: 1px solid #ddd;
  $selfBorderRadius: 5px;
  padding: 10px 0;
  line-height: 30px;
  text-align: center;
  font-size: $selfFontSize;
  color: #666;
  a, span, input[type="text"], input[type="button"] {
    display: inline-block;
    min-width: 30px;
    height: 30px;
    padding: 0 10px;
    margin: 0 5px;
    line-height: 30px - 2px;
    text-align: center;
    vertical-align: top;
    font-size: $selfFontSize;
    color: inherit;
    background-color: #fff;
    border: $selfBorder;
    border-radius: $selfBorderRadius;
  }
  span {
    background-color: transparent;
    border-color: transparent;
  }
  .current {
    color: #fff;
    background-color: $selfColor;
    border-color: $selfColor;
  }
  a {
    &:hover {
      color: #fff;
      background-color: $selfColor;
      border-color: $selfColor;
    }
    &:active {
      background-color: $selfColor - 30%;
    }
  }
  input[type="text"] {
    width: 46px;
  }
  input[type="text"]:focus {
    border-color: $selfColor;
  }
  input[type="button"] {
    &:hover {
      color: #fff;
      background-color: $selfColor;
      border-color: $selfColor;
    }
    &:active {
      background-color: $selfColor - 30%;
    }
  }
  .page-nav, .page-jump {
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
  }
  .page-nav {
    font-size: 0;
    * {
      margin: 0 0 0 -1px;
      font-size: $selfFontSize;
      border-radius: 0;
    }
    span {
      background-color: #fff;
      border: $selfBorder;
    }
    .current {
      color: #fff;
      background-color: $selfColor;
      border-color: $selfColor;
    }
    *:first-child {
      border-top-left-radius: $selfBorderRadius;
      border-bottom-left-radius: $selfBorderRadius;
    }
    *:last-child {
      border-top-right-radius: $selfBorderRadius;
      border-bottom-right-radius: $selfBorderRadius;
    }
  }
}

/* m-default-filter-panel */
.m-default-filter-panel {
  $selfActiveColor: $globeColorStressDeep;
  .filter-result {
    $selfHeight: 22px;
    $selfWidth: 70px;
    display: table;
    padding: 5px 0 10px;
    font-size: 14px;
    color: #333;
    dt {
      display: table-cell;
      width: $selfWidth;
      vertical-align: top;
      line-height: $selfHeight;
    }
    dd {
      display: table-cell;
      vertical-align: top;
      font-size: 0;
      ul {
        float: left;
        margin: -5px 0 0 -20px;
      }
      li {
        display: inline-block;
        height: $selfHeight;
        padding: 0 5px;
        margin: 5px 0 0 20px;
        vertical-align: middle;
        line-height: $selfHeight - 2px;
        font-size: 14px;
        border: 1px dashed #999;
        cursor: pointer;
        & > * {
          display: inline-block;
          vertical-align: middle;
        }
        em {
          max-width: 150px;
        }
        i {
          margin-left: 4px;
        }
        &:hover {
          color: $selfActiveColor;
          border-color: $selfActiveColor;
        }
      }
    }
  }
  .filter-bar {
    background-color: #fff;
    font-size: 0;
    color: #333;
    span {
      position: relative;
      display: inline-block;
      padding: 18px;
      vertical-align: middle;
      font-size: 16px;
      cursor: pointer;
      &:hover {
        color: $selfActiveColor;
      }
      &.chosen {
        color: $selfActiveColor;
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          border-top: 2px solid $selfActiveColor;
        }
      }
    }
  }
  .filter-panel {
    $selfOptionHeight: 22px;
    display: table;
    width: 100%;
    margin-top: 10px;
    color: #333;
    .filter-row {
      display: table-row;
      background-color: #fff;
    }
    .filter-cell {
      display: table-cell;
      vertical-align: top;
    }
    .title-cell {
      width: 110px;
      padding: 14px;
      line-height: $selfOptionHeight;
      background-color: #eee;
    }
    .content-cell {
      position: relative;
      padding: 14px 30px;
      border-bottom: 1px solid #eff1f7;
    }
    .choose-content {
      height: 22px;
      margin-right: 150px;
      overflow: hidden;
      .choose-options {
        margin: -14px 0 0 -20px;
        font-size: 0;
        .choose-option {
          display: inline-block;
          margin: 14px 0 0 20px;
          vertical-align: top;
          height: $selfOptionHeight;
          padding: 0 5px;
          line-height: $selfOptionHeight - 2px;
          font-size: 14px;
          border: 1px solid transparent;
          cursor: pointer;
          &:hover {
            color: $selfActiveColor;
            border-color: $selfActiveColor;
          }
          &.chosen {
            color: #fff;
            background-color: $selfActiveColor;
          }
        }
      }
      .choose-btn-group {
        display: none;
        padding-top: 20px;
        text-align: center;
        font-size: 0;
        .choose-btn {
          $selfHeight: 26px;
          $selfColor: #ccc;
          display: inline-block;
          min-width: 70px;
          height: $selfHeight;
          padding: 0 12px;
          margin: 0 10px;
          vertical-align: middle;
          line-height: $selfHeight;
          text-align: center;
          font-size: 14px;
          color: #fff;
          background-color: $selfColor;
          &:hover {
            background-color: $selfColor - 15%;
          }
          &:active {
            background-color: $selfColor - 30%;
          }
          &.confirm-btn {
            $selfColor: $selfActiveColor;
            background-color: $selfColor;
            &:hover {
              background-color: $selfColor - 15%;
            }
            &:active {
              background-color: $selfColor - 30%;
            }
          }
        }
      }
    }
    .handle-content {
      position: absolute;
      top: 0;
      right: 30px;
      padding: 14px 0;
      font-size: 12px;
      color: #999;
      .handle-btn {
        display: inline-block;
        vertical-align: middle;
        line-height: 22px;
        & > * {
          display: inline-block;
          vertical-align: middle;
        }
        i {
          margin-left: 4px;
          transition: transform .3s ease-out;
        }
        &.active {
          color: $selfActiveColor;
          &.more-btn {
            i {
              transform: rotate(180deg);
            }
          }
        }
      }
      .handle-btn + .handle-btn {
        margin-left: 14px;
      }
    }
    .filter-row {
      &.open {
        .choose-content {
          height: auto;
        }
      }
      &.multiple {
        .choose-content {
          .choose-btn-group {
            display: block;
          }
        }
      }
    }
  }
}

/* m-default-dialog-form */
.m-default-dialog-form {
  $selfActiveColor: $globeColorStressDeep;
  $selfHeight: 32px;
  $selfBorderRadius: 5px;
  width: 580px;
  padding: 20px;
  margin: 0 auto;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .stress {
    color: $selfActiveColor;
  }
  .hint-info {
    min-height: 20px;
    padding: 5px 0;
    line-height: 14px;
    font-size: 12px;
    color: #f00;
  }
  .notice {
    line-height: 18px;
  }
  .handle-btn {
    $selfColor: $selfActiveColor;
    position: relative;
    display: inline-block;
    height: $selfHeight;
    padding: 0 12px;
    vertical-align: top;
    line-height: $selfHeight;
    text-align: center;
    font-size: 12px;
    color: #fff;
    background-color: $selfColor;
    border-radius: $selfBorderRadius;
    overflow: hidden;
    input[type='file'] {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
    &:hover {
      background-color: $selfColor - 15%;
    }
    &:active {
      background-color: $selfColor - 30%;
    }
    &.blue-btn {
      $selfColor: #5a98df;
      background-color: $selfColor;
      &:hover {
        background-color: $selfColor - 15%;
      }
      &:active {
        background-color: $selfColor - 30%;
      }
    }
  }
  .form-row {
    width: 100%;
    font-size: 0;
  }
  .form-cell {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    &.title-cell {
      width: 25%;
      text-align: right;
      .title {
        display: inline-block;
        padding: ($selfHeight - 18px ) /2 0;
        line-height: 18px;
        &.star-title {
          &:before {
            content: '*';
            margin-right: 2px;
            font-size: .8em;
            color: #f00;
          }
        }
      }
    }
    &.content-cell {
      width: 75%;
      padding-right: 30px;
    }
    input[type='text'],
    input[type='password'],
    textarea,
    select {
      width: 100%;
      height: $selfHeight;
      padding: 0 12px;
      vertical-align: top;
      background-color: transparent;
      border: 1px solid #ddd;
      border-radius: $selfBorderRadius;
      &:focus {
        border-color: $selfActiveColor;
      }
    }
    textarea {
      min-height: $selfHeight + 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      height: auto;
    }
    select {
      padding-right: 0;
    }
    input[type='checkbox'], input[type='radio'] {
      vertical-align: middle;
    }
    label {
      display: inline-block;
      margin-bottom: 5px;
      line-height: 18px;
      input[type='checkbox'], input[type='radio'] {
        margin-right: 4px;
      }
    }
    .label-group {
      padding: ($selfHeight - 18px) / 2 0;
      label {
        margin-right: 10px;
        vertical-align: top;
      }
    }
    .handle-btn.input-btn {
      padding: 0;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .notice {
      padding: ($selfHeight - 18px ) /2 0;
    }
    .uploadfile-list {
      dt {
        padding: 8px 0;
        border-bottom: 1px solid #ccc + 10%;
      }
      dd {
        padding: 8px;
        margin: 0 10px;
        font-size: 0;
        & > * {
          display: inline-block;
          vertical-align: top;
          font-size: 14px;
        }
        span {
          width: 90%;
          a {
            max-width: 100%;
          }
        }
        em {
          width: 10%;
          text-align: right;
          color: #999;
        }
      }
      dd + dd {
        border-top: 1px dashed #ccc + 10%;
      }
    }
  }
}

/* ---元件类公用(.u-开头)--- */
/* u-loading-circle */
.u-loading-circle {
  min-width: 70px;
  min-height: 70px;
  margin-left: auto;
  margin-right: auto;
  background: url(../resource/img/rn_loading_circle.gif) no-repeat center;
}