@charset "utf-8";
@import "publicVariable";

$selfActiveColor: $globeColorStressDeep;
$selfContainerHeight: 600px;

body {
  background-color: #eff1f7;
}

/* content-container */
.content-container {
  min-height: $selfContainerHeight;
  background: url(../resource/img/rn_pic002.jpg) no-repeat center;
  background-size: cover;
}

.table-wrap {
  min-height: $selfContainerHeight;
}

.register-panel {
  width: 400px;
  min-height: 482px;
  padding: 24px 30px;
  background-color: #fff;
  overflow: hidden;
  .panel-head {
    padding-bottom: 20px;
    font-size: 18px;
  }
  .panel-body {
    .input-box {
      position: relative;
      font-size: 0;
      & > * {
        font-size: 14px;
      }
      .icon {
        position: absolute;
        top: 50%;
        left: 10px;
        margin-top: -(24px / 2);
        font-size: 24px;
        color: #999;
      }
    }
    .input-item {
      position: relative;
      z-index: 1;
      display: inline-block;
      width: 100%;
      height: 50px;
      padding: 0 10px 0 45px;
      vertical-align: middle;
      font-size: 14px;
      background-color: transparent;
      border: 1px solid #ddd;
      &:focus {
        border-color: $selfActiveColor;
        & + .icon {
          color: $selfActiveColor;
        }
      }
    }
    .label-item {
      input[type='checkbox'] {
        width: 12px;
        height: 12px;
      }
      span {
        margin-left: 4px;
      }
    }
    .form-control-btn {
      $selfColor: $selfActiveColor;
      display: inline-block;
      width: 130px;
      height: 50px;
      vertical-align: middle;
      line-height: 50px;
      text-align: center;
      font-size: 14px;
      color: #fff;
      background-color: $selfColor;
      overflow: hidden;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
      &:hover {
        background-color: $selfColor - 15%;
      }
      &:active {
        background-color: $selfColor - 30%;
      }
    }
    .hint-info {
      width: 100%;
      min-height: 20px;
      padding: 5px 0;
      line-height: 14px;
      font-size: 12px;
      color: #f00;
    }
    .handle-btn {
      display: inline-block;
      width: 100%;
      height: 50px;
      vertical-align: middle;
      line-height: 50px;
      text-align: center;
      font-size: 18px;
      color: #fff;
      background-color: $selfActiveColor;
      &:hover {
        background-color: $selfActiveColor - 15%;
      }
      &:active {
        background-color: $selfActiveColor - 30%;
      }
    }
    .notice {
      padding-top: 20px;
      a {
        color: $selfActiveColor;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

/* result-container */
.result-container {
  padding-top: 20px;
  padding-bottom: 20px;
  .result-panel {
    padding: 150px 20px;
    text-align: center;
    background-color: #fff;
    .notice {
      & > * {
        display: inline-block;
        vertical-align: middle;
      }
      .icon {
        font-size: 86px;
        color: #1dc038;
      }
      .text {
        margin-left: 18px;
        text-align: justify;
      }
      h3 {
        padding: 5px 0;
        font-size: 18px;
        font-weight: bold;
        color: #333;
      }
      p {
        padding: 5px 0;
      }
    }
    .handle-group {
      padding: 40px 0 20px;
      .handle-btn {
        $selfHeight: 50px;
        display: inline-block;
        min-width: 180px;
        height: $selfHeight;
        padding: 0 24px;
        vertical-align: middle;
        line-height: $selfHeight;
        text-align: center;
        font-size: 14px;
        color: #fff;
        background-color: $selfActiveColor;
        border-radius: 5px;
        &:hover {
          background-color: $selfActiveColor - 15%;
        }
        &:active {
          background-color: $selfActiveColor - 30%;
        }
      }
    }
  }
}