@charset "utf-8";
@import "publicVariable";

$selfActiveColor: $onColorOrange;

/* self-btn */
.self-btn {
  $selfWidth: 8.5rem;
  $selfHeight: 3.7rem;
  box-sizing: border-box;
  display: inline-block;
  min-width: $selfWidth;
  height: $selfHeight;
  padding: 0 .85rem;
  vertical-align: middle;
  line-height: $selfHeight;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
  border-radius: .5rem;
  &:hover {
    color: #fff;
  }
  &.rounded-btn {
    border-radius: $selfHeight;
  }
  &.block-btn {
    display: block;
    width: 100%;
  }
  &.linear-yellow-btn {
    background: linear-gradient(#fcc213, $selfActiveColor);
    &:active {
      background: linear-gradient(#fcc213 - 15%, $selfActiveColor - 15%);
    }
  }
}

/* head-bg-wrapper */
.head-bg-wrapper {
  padding-bottom: 6.3rem;
  background: #091120 url(../resource/img/smep_bgi13.jpg) no-repeat center top;
  background-size: 100% auto;
}

.sme-head {
  background-color: transparent;
  .head-right {
    a {
      font-size: 1.2rem;
      color: #fff;
    }
  }
}

.head-container {
  padding-top: 15rem;
  .form-panel {
    padding: 0 1rem;
    .input-box {
      textarea {
        display: block;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        padding: 1rem 1.2rem;
        line-height: 1.3;
        font-size: 1.36rem;
        background-color: #fff;
        border-radius: .7rem;
      }
    }
    .hint-info {
      padding: .75rem 0;
      color: #f00;
    }
    .foot-notice {
      padding-top: 2.2rem;
      text-align: center;
      font-size: 1.05rem;
      color: #fff;
      em {
        color: $selfActiveColor;
      }
      & > span + span {
        margin-left: 2.7rem;
      }
    }
  }
}

/* section-head-common */
.section-head-common {
  .head-title {
    text-align: center;
    color: #333;
    .text {
      vertical-align: middle;
      font-size: 1.4rem;
      font-weight: bold;
      &:before, &:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 1.6rem;
        height: 1.27rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
      }
      &:before {
        margin-right: .85rem;
        background-image: url(../resource/img/smep_icon8_0.png);
      }
      &:after {
        margin-left: .85rem;
        background-image: url(../resource/img/smep_icon8_1.png);
      }
      span {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  .head-desc {
    margin-top: 1.1rem;
    text-align: center;
    color: #666;
    .text {
      vertical-align: middle;
      font-size: 1.2rem;
      &:before, &:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 1.36rem;
        height: 0;
        border-top: 1px solid #666;
      }
      &:before {
        margin-right: .34rem;
      }
      &:after {
        margin-left: .34rem;
      }
    }
  }
  &.head-w {
    .head-title {
      color: #fff;
    }
    .head-desc {
      color: #fff;
    }
  }
}

/* service-section */
.service-section {
  padding-top: 4.25rem;
  padding-bottom: 6.4rem;
  margin-top: -3rem;
  background: url(../resource/img/smep_bgi14.png) no-repeat center top;
  background-size: 100% auto;
  .service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding-top: 2.8rem;
    margin-top: -2.5rem;
    li {
      width: 50%;
      margin-top: 2.5rem;
      text-align: center;
      img {
        display: block;
        width: 5.8rem;
        height: 5.8rem;
        margin: 0 auto;
      }
      h3 {
        margin-top: 1.1rem;
        font-size: 1.1rem;
        font-weight: normal;
        color: #333;
      }
      .self-btn {
        $selfWidth: 9rem;
        $selfHeight: 2.3rem;
        min-width: $selfWidth;
        height: $selfHeight;
        margin-top: 1.1rem;
        line-height: $selfHeight;
        font-size: 1.1rem;
      }
    }
    &.w-service {
      padding-top: 7.23rem;
      li {
        h3 {
          color: #ddd;
        }
      }
    }
  }
}

/* path-section */
.path-section {
  padding-top: 4.25rem;
  padding-bottom: 6.4rem;
  margin-top: -3rem;
  background: url(../resource/img/smep_bgi11.png) no-repeat center top;
  background-size: 100% auto;
  .path-list {
    padding-top: 3.65rem;
    padding-bottom: 4.25rem - .42rem;
    text-align: center;
    font-size: 0;
    color: #666;
    .path-item {
      display: inline-block;
      margin-right: 2.68rem + .42rem;
      vertical-align: top;
      .icon {
        position: relative;
        width: 6.89rem;
        height: 6.89rem;
        margin: 0 auto;
        img {
          display: block;
          width: 100%;
          height: 100%;
        }
        &:after {
          content: '';
          position: absolute;
          top: 50%;
          left: 100%;
          display: block;
          width: 2.68rem;
          height: .25rem;
          margin-top: -.12rem;
          background: url(../resource/img/smep_icon7.png) no-repeat center;
          background-size: 100%;
        }
      }
      .title {
        margin-top: 1.23rem - .42rem;
        line-height: 1.95rem;
        font-size: 1.1rem;
      }
      &:last-child {
        margin-right: 0;
        .icon {
          &:after {
            width: 0;
            height: 0;
            overflow: hidden;
          }
        }
      }
    }
  }
  .section-foot {
    padding: 0 .85rem;
  }
}

/* reason-section */
.reason-section {
  padding-top: 4.25rem;
  padding-bottom: 5rem;
  margin-top: -3rem;
  background: url(../resource/img/smep_bgi8.png) no-repeat center top;
  background-size: 100% auto;
  .reason-desc {
    position: relative;
    margin-top: 4.34rem;
    margin-bottom: 6.46rem;
    .bg-pic {
      display: block;
      width: 100%;
      height: auto;
    }
    .desc-item {
      position: absolute;
      display: block;
      width: 9.23rem;
      height: auto;
    }
  }
  .section-foot {
    padding: 0 .85rem;
  }
}

/* lawyer-section */
.lawyer-section {
  padding-top: 4.25rem;
  padding-bottom: 6.9rem;
  margin-top: -3rem;
  background: url(../resource/img/smep_bgi9.png) no-repeat center top;
  background-size: 100% auto;
  .section-body {
    padding: 2.4rem 0 2.12rem;
  }
  .exhibition {
    position: relative;
    width: 100%;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
    h3 {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: .76rem 0;
      text-align: center;
      font-weight: normal;
      font-size: 1.05rem;
      color: #fff;
      background-color: $selfActiveColor;
      span {
        display: inline-block;
        max-width: 100%;
      }
    }
  }
  .lawyer-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding-top: 2.4rem;
    margin-top: -1.06rem;
    .lawyer-card {
      width: 23%;
      margin-top: 1.06rem;
      text-align: center;
      img {
        display: block;
        width: 100%;
        height: auto;
      }
      h3 {
        max-width: 100%;
        margin-top: .85rem;
        font-size: 1.05rem;
        font-weight: normal;
        color: #333;
      }
      .tag {
        padding: 0 .25rem;
        margin-top: .38rem;
        font-size: .68rem;
        color: $selfActiveColor;
        border: 1px solid $selfActiveColor;
        border-radius: .25rem;
      }
    }
  }
  .section-foot {
    padding: 0 .85rem;
  }
}

/* other-services */
.other-services {
  padding-top: 4.25rem;
  padding-bottom: 4rem;
  margin-top: -3rem;
  background: url(../resource/img/smep_bgi15.png) no-repeat center top;
  background-size: 100% auto;
  .section-head {
    .head-title {
      text-align: center;
      color: #fff;
      .text {
        vertical-align: middle;
        font-size: 1.4rem;
      }
    }
  }
  .service-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    text-align: center;
    li {
      img {
        display: block;
        width: 6.7rem;
        height: 6.7rem;
        margin: 0 auto;
      }
      h3 {
        margin-top: 1.27rem;
        font-size: 1.19rem;
        font-weight: normal;
        color: #fff;
      }
    }
  }
  .section-foot {
    padding: 0 .85rem;
    .input-box {
      input[type='text'] {
        display: block;
        width: 100%;
        height: 3.74rem;
        padding: 0 1.27rem;
        font-size: 1.19rem;
        background-color: #fff;
        border-radius: .68rem;
      }
    }
    .hint-info {
      padding: .45rem 0;
      color: #f00;
    }
  }
}