@charset "utf-8";
@import "publicVariable";

/* 字体 */
.font-simsun {
  font-family: SimSun;
}

.font-kaiti {
  font-family: KaiTi;
}

.font-yahei {
  font-family: "Microsoft YaHei";
}

/* 字号 */
// 二号
.font-pt-2 {
  font-size: 22pt;
}

// 小二
.font-pt-s2 {
  font-size: 18pt;
}

// 三号
.font-pt-3 {
  font-size: 16pt;
}

// 小四
.font-pt-s4 {
  font-size: 12pt;
}

// 五号
.font-pt-5 {
  font-size: 10.5pt;
}

/* 加粗 */
b, .font-bold {
  font-weight: bold;
}

/* stress */
.stress {
  color: #f00;
}

/* document style */
.document-container {
  width: 500pt;
  margin: 0 auto;
  line-height: 1.6;
  //font-family: SimSun;
  font-size: 10.5pt;
  color: #000;
  background-color: #fff;
  .option-group {
    .option {
      $selfWidth: 12pt;
      float: left;
      width: 50%;
      padding: 0 5pt;
      line-height: 22.5pt;
      input[type='checkbox'] {
        margin-right: - $selfWidth;
        margin-top: 6pt;
        vertical-align: top;
      }
      .check-box {
        display: inline-block;
        width: $selfWidth - .5pt;
        margin-right: - $selfWidth;
        margin-top: 6pt;
        vertical-align: top;
      }
      .text {
        display: inline-block;
        margin-left: $selfWidth + 3pt;
        vertical-align: top;
      }
    }
  }
}

.document-foot {
  position: relative;
  font-size: 12pt;
  .left-info {
    .info-item {
      $selfWidth: 72pt;
      .title {
        width: $selfWidth;
        margin-right: - $selfWidth;
        line-height: 28px;
      }
      .content {
        margin-left: $selfWidth + 1pt;
      }
    }
    .info-item + .info-item {
      margin-top: 5pt;
    }
  }
  .right-info {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 90pt;
    text-align: center;
    .info-date {
      margin-top: 23pt;
    }
  }
}

/* document edit style */
.document-edit-input {
  border: none;
  border-bottom: 1px solid #a9a9a9;
  outline: none;
  &:focus {
    border-bottom-color: #4D90FE;
  }
}

.s-input {
  width: 63pt;
}

.document-foot-btn-group {
  padding: 15px;
  text-align: center;
  .btn {
    margin: 5px;
  }
}
