body { background-color: #eff1f7; }

.container-wrap { padding-bottom: 30px; }

.container-wrap section + section { margin-top: 20px; }

/* user-panel */
.user-panel .panel-body { position: relative; padding: 60px 50px 36px; background-color: #fff; }

.user-panel .panel-body .title-tag { position: absolute; top: -6px; left: 50%; margin-left: -64.5px; width: 129px; height: 40px; line-height: 40px; text-align: center; color: #fff; background: url(../resource/img/rn_pic003.png) no-repeat center; }

.user-panel .panel-body figure { float: left; width: 90px; height: 90px; margin-right: -90px; border: 1px solid #eff1f7; border-radius: 50%; overflow: hidden; }

.user-panel .panel-body figure img { display: block; width: 100%; height: 100%; }

.user-panel .panel-body .desc { margin-left: 120px; }

.user-panel .panel-body .desc .desc-head { display: table; width: 100%; }

.user-panel .panel-body .desc .desc-head .head-cell { display: table-cell; vertical-align: top; }

.user-panel .panel-body .desc .desc-head h3 { font-size: 24px; font-weight: bold; color: #333; }

.user-panel .panel-body .desc .desc-head h3 > * { vertical-align: middle; }

.user-panel .panel-body .desc .desc-head h3 .member-level { display: inline-block; width: 24px; height: 24px; margin-left: 14px; background: url(../resource/img/rn_member_level_1.png) no-repeat center; background-size: 100% auto; }

.user-panel .panel-body .desc .desc-head h3 .member-level.level2 { background-image: url(../resource/img/rn_member_level_2.png); }

.user-panel .panel-body .desc .desc-head h3 .member-level.level3 { background-image: url(../resource/img/rn_member_level_3.png); }

.user-panel .panel-body .desc .desc-head h5 { margin-top: 22px; font-size: 16px; font-weight: bold; }

.user-panel .panel-body .desc .desc-head .exchange { padding: 0 15px; line-height: 26px; text-align: center; font-size: 12px; color: #fff; background-color: #ec6527; border-radius: 5px; }

.user-panel .panel-body .desc .desc-head .exchange:hover { background-color: #dd5618; }

.user-panel .panel-body .desc .desc-head .exchange:active { background-color: #ce4709; }

.user-panel .panel-body .desc .desc-head p { margin-top: 26px; font-size: 12px; }

.user-panel .panel-body .desc .desc-body { padding: 20px 0 30px; margin-top: 14px; border-top: 1px solid #eff1f7; border-bottom: 1px solid #eff1f7; }

.user-panel .panel-body .desc .desc-body ul { font-size: 0; }

.user-panel .panel-body .desc .desc-body ul li { display: inline-block; font-size: 14px; }

.user-panel .panel-body .desc .desc-body .text-list { margin-top: -5px; }

.user-panel .panel-body .desc .desc-body .text-list li { width: 33.33333%; padding-right: 10px; margin-top: 5px; color: #999; }

.user-panel .panel-body .desc .desc-body .text-list li span { color: #333; }

.user-panel .panel-body .desc .desc-body .link-list { margin-top: 70px; }

.user-panel .panel-body .desc .desc-body .link-list li { color: #666; }

.user-panel .panel-body .desc .desc-body .link-list li span { margin: 0 4px; font-size: 1.4em; color: #333; }

.user-panel .panel-body .desc .desc-body .link-list li a:hover > * { color: inherit; }

.user-panel .panel-body .desc .desc-body .link-list li + li { margin-left: 66px; }

.user-panel .panel-body .desc .desc-foot ul { padding: 14px 0; font-size: 0; }

.user-panel .panel-body .desc .desc-foot ul li { display: inline-block; vertical-align: middle; font-size: 12px; }

.user-panel .panel-body .desc .desc-foot ul li i { margin-right: 5px; }

.user-panel .panel-body .desc .desc-foot ul li + li { margin-left: 40px; }

.user-panel .panel-body .handle-group .handle-btn { padding: 0 35px; vertical-align: middle; line-height: 50px; text-align: center; font-size: 18px; color: #fff; background-color: #ec6527; border-radius: 8px; }

.user-panel .panel-body .handle-group .handle-btn:hover { background-color: #dd5618; }

.user-panel .panel-body .handle-group .handle-btn:active { background-color: #ce4709; }

.user-panel .panel-foot-line { width: 100%; }

.user-panel .panel-foot-line img { display: block; width: 100%; height: auto; }

/* common-panel-head */
.common-panel-head { color: #333; background-color: #fff; }

.common-panel-head .title { position: relative; display: inline-block; padding: 16px; font-size: 16px; }

.common-panel-head .title:after { content: ''; position: absolute; bottom: 0; left: 0; width: 100%; border-bottom: 2px solid #d00; }

.common-panel-head .title em { font-size: .8em; }

.common-panel-head .tab-nav { font-size: 0; }

.common-panel-head .tab-nav .nav-item { position: relative; display: inline-block; padding: 16px; vertical-align: bottom; font-size: 16px; cursor: pointer; }

.common-panel-head .tab-nav .nav-item:hover { color: #ec6527; }

.common-panel-head .tab-nav .nav-item.current { color: #333; }

.common-panel-head .tab-nav .nav-item.current:after { content: ''; position: absolute; bottom: 0; left: 0; width: 100%; border-bottom: 2px solid #d00; }

/* info-panel */
.info-panel .panel-body { margin-top: 10px; }

.info-panel .empty-content { padding: 60px 0; text-align: center; font-size: 16px; color: #ccc; background-color: #fff; }

.info-panel .empty-content .icon { font-size: 72px; }

.info-panel .empty-content p { margin-top: 18px; line-height: 20px; }

.info-panel .info-bar { width: 100%; padding: 20px; font-size: 0; background-color: #fff; border: 1px solid transparent; }

.info-panel .info-bar .desc-cell { display: inline-block; width: 1008px; vertical-align: middle; font-size: 14px; }

.info-panel .info-bar .desc-cell .desc-head { font-size: 0; }

.info-panel .info-bar .desc-cell .desc-head > span { display: inline-block; vertical-align: bottom; font-size: 14px; font-weight: bold; color: #333; }

.info-panel .info-bar .desc-cell .desc-head > span.title { max-width: 500px; font-size: 16px; }

.info-panel .info-bar .desc-cell .desc-head > span + span { margin-left: 30px; }

.info-panel .info-bar .desc-cell .desc-head > span a { max-width: 100%; vertical-align: middle; }

.info-panel .info-bar .desc-cell .desc-list { margin-top: 10px; font-size: 0; }

.info-panel .info-bar .desc-cell .desc-list li { display: inline-block; width: 33.33333%; padding: 10px 10px 10px 0; font-size: 14px; }

.info-panel .info-bar .desc-cell .desc-list li span { color: #333; }

.info-panel .info-bar .desc-cell .desc-list li .stress { font-size: 16px; font-weight: bold; color: #ec6527; }

.info-panel .info-bar .desc-cell .desc-foot { margin-top: 10px; font-size: 0; }

.info-panel .info-bar .desc-cell .desc-foot > span { font-size: 12px; }

.info-panel .info-bar .desc-cell .desc-foot > span + span { margin-left: 40px; }

.info-panel .info-bar .desc-cell .desc-foot > span i { margin-right: 5px; }

.info-panel .info-bar .handle-cell { display: inline-block; width: 150px; vertical-align: middle; text-align: right; font-size: 14px; }

.info-panel .info-bar .handle-cell .handle-btn { display: inline-block; min-width: 120px; height: 40px; padding: 0 24px; vertical-align: middle; line-height: 40px; text-align: center; color: #fff; background-color: #ec6527; border-radius: 5px; }

.info-panel .info-bar .handle-cell .handle-btn:hover { background-color: #dd5618; }

.info-panel .info-bar .handle-cell .handle-btn:active { background-color: #ce4709; }

.info-panel .info-bar:hover { border-color: #ec6527; }

.info-panel .info-bar + .info-bar { margin-top: 10px; }

/* desc-tab-panel */
.desc-tab-panel .panel-body { margin-top: 10px; }

.desc-tab-panel .panel-body .content-item { padding-left: 30px; padding-right: 30px; background-color: #fff; }

.desc-tab-panel .panel-body .content-item .common-panel-head { border-bottom: 1px solid #eff1f7; }

.desc-tab-panel .panel-body .content-item .common-panel-head .title { font-size: 14px; }

.desc-tab-panel .panel-body .content-item .common-panel-head .title:after { bottom: -1px; }

.desc-tab-panel .panel-body .content-item .common-panel-head .tab-nav .nav-item { font-size: 14px; }

.desc-tab-panel .panel-body .content-item .common-panel-head .tab-nav .nav-item.current:after { bottom: -1px; }

.desc-tab-panel .panel-body .content-item .empty-content { padding: 20px 0; font-size: 14px; color: #b5b5b5; }

.desc-tab-panel .summary { padding-top: 20px; padding-bottom: 20px; line-height: 30px; font-size: 14px; color: #333; }

.desc-tab-panel .connection .connection-wrap { padding: 15px 0 30px; }

.desc-tab-panel .connection .connection-cards { margin: -20px 0 0 -20px; }

.desc-tab-panel .connection .connection-card { float: left; width: 270px; height: 190px; padding: 20px; margin: 20px 0 0 20px; background-color: #fff; box-shadow: 0 0 10px 0 rgba(153, 153, 153, 0.35); -webkit-transition: box-shadow .3s ease-out, -webkit-transform .3s ease-out; transition: box-shadow .3s ease-out, -webkit-transform .3s ease-out; transition: transform .3s ease-out, box-shadow .3s ease-out; transition: transform .3s ease-out, box-shadow .3s ease-out, -webkit-transform .3s ease-out; }

.desc-tab-panel .connection .connection-card .info figure { float: left; width: 60px; height: 60px; margin-right: -60px; border: 1px solid #eff1f7; border-radius: 10px; overflow: hidden; }

.desc-tab-panel .connection .connection-card .info figure img { display: block; width: 100%; height: 100%; }

.desc-tab-panel .connection .connection-card .info dl { margin-left: 70px; }

.desc-tab-panel .connection .connection-card .info dl dt { font-size: 16px; font-weight: bold; color: #333; }

.desc-tab-panel .connection .connection-card .info dl dt a { max-width: 100%; }

.desc-tab-panel .connection .connection-card .info dl dd { width: 100%; margin-top: 5px; font-size: 12px; }

.desc-tab-panel .connection .connection-card p { margin-top: 30px; font-size: 12px; color: #999; }

.desc-tab-panel .connection .connection-card .handle-group { margin-top: 20px; text-align: right; }

.desc-tab-panel .connection .connection-card .handle-group .handle-btn { padding: 0 15px; vertical-align: middle; line-height: 28px; text-align: center; font-size: 12px; color: #fff; background-color: #ec6527; border-radius: 5px; }

.desc-tab-panel .connection .connection-card .handle-group .handle-btn:hover { background-color: #dd5618; }

.desc-tab-panel .connection .connection-card .handle-group .handle-btn:active { background-color: #ce4709; }

.desc-tab-panel .connection .connection-card:hover { -webkit-transform: translateY(-6px); -ms-transform: translateY(-6px); transform: translateY(-6px); box-shadow: 0 2px 10px 0 rgba(153, 153, 153, 0.35); }

.desc-tab-panel .connection .pagination-wrap { padding-top: 20px; }

.desc-tab-panel .comment .comment-wrap { padding: 20px 0; }

.desc-tab-panel .comment .comment-publish .input-box textarea { width: 100%; min-height: 40px; padding: 10px; font-size: 12px; color: #333; background-color: transparent; border: 1px solid #eff1f7; }

.desc-tab-panel .comment .comment-publish .input-box textarea:focus { border-color: #d1d3d9; }

.desc-tab-panel .comment .comment-publish .hint-info { min-height: 14px; padding: 5px 0; line-height: 14px; font-size: 12px; color: #f00; }

.desc-tab-panel .comment .comment-publish .publish-foot .handle-btn { display: inline-block; height: 30px; padding: 0 18px; vertical-align: middle; line-height: 30px; font-size: 14px; color: #fff; background-color: #ec6527; border-radius: 5px; }

.desc-tab-panel .comment .comment-publish .publish-foot .handle-btn:hover { background-color: #dd5618; }

.desc-tab-panel .comment .comment-publish .publish-foot .handle-btn:active { background-color: #ce4709; }

.desc-tab-panel .comment .comment-publish .publish-foot .handle-btn.blue-btn { background-color: #5a98df; }

.desc-tab-panel .comment .comment-publish .publish-foot .handle-btn.blue-btn:hover { background-color: #4b89d0; }

.desc-tab-panel .comment .comment-publish .publish-foot .handle-btn.blue-btn:active { background-color: #3c7ac1; }

.desc-tab-panel .comment .comment-publish .publish-foot .handle-btn + .handle-btn { margin-left: 10px; }

.desc-tab-panel .comment .comment-publish .publish-foot .set-phone { float: left; }

.desc-tab-panel .comment .comment-publish .publish-foot .set-phone .input-box { font-size: 0; }

.desc-tab-panel .comment .comment-publish .publish-foot .set-phone .input-box > * { display: inline-block; vertical-align: middle; font-size: 14px; }

.desc-tab-panel .comment .comment-publish .publish-foot .set-phone .input-box > * + * { margin-left: 10px; }

.desc-tab-panel .comment .comment-publish .publish-foot .set-phone input[type='text'] { width: 140px; height: 30px; padding: 0 10px; font-size: 12px; background-color: transparent; border: 1px solid #eff1f7; border-radius: 5px; }

.desc-tab-panel .comment .comment-publish .publish-foot .set-phone input[type='text']:focus { border-color: #d1d3d9; }

.desc-tab-panel .comment .comment-publish .publish-foot .set-phone .hint-info { min-height: 20px; }

.desc-tab-panel .comment .comment-publish .publish-foot .handle-group { float: right; text-align: right; font-size: 0; }

.desc-tab-panel .comment .comment-publish .publish-foot .handle-group > * { display: inline-block; vertical-align: middle; }

.desc-tab-panel .comment .comment-publish .publish-foot .handle-group > * + * { margin-left: 10px; }

.desc-tab-panel .comment .comment-publish .publish-foot .handle-group select { width: 110px; height: 30px; padding-left: 10px; font-size: 12px; background-color: transparent; border: 1px solid #eff1f7; border-radius: 5px; }

.desc-tab-panel .comment .comment-publish .publish-foot .handle-group select:focus { border-color: #d1d3d9; }

.desc-tab-panel .comment .comment-exhibition { border-top: 1px solid #eff1f7; }

.desc-tab-panel .comment .comment-exhibition .comment-bar { padding: 20px 0; }

.desc-tab-panel .comment .comment-exhibition .comment-bar .handle-btn { display: inline-block; height: 24px; padding: 0 12px; vertical-align: middle; line-height: 24px; font-size: 12px; color: #fff; background-color: #ec6527; border-radius: 5px; }

.desc-tab-panel .comment .comment-exhibition .comment-bar .handle-btn:hover { background-color: #dd5618; }

.desc-tab-panel .comment .comment-exhibition .comment-bar .handle-btn:active { background-color: #ce4709; }

.desc-tab-panel .comment .comment-exhibition .comment-bar .handle-btn.blue-btn { background-color: #5a98df; }

.desc-tab-panel .comment .comment-exhibition .comment-bar .handle-btn.blue-btn:hover { background-color: #4b89d0; }

.desc-tab-panel .comment .comment-exhibition .comment-bar .handle-btn.blue-btn:active { background-color: #3c7ac1; }

.desc-tab-panel .comment .comment-exhibition .comment-bar .handle-btn + .handle-btn { margin-left: 10px; }

.desc-tab-panel .comment .comment-exhibition .comment-bar figure { float: left; width: 60px; height: 60px; margin-right: -60px; margin-left: 12px; border: 1px solid #eff1f7; border-radius: 50%; overflow: hidden; }

.desc-tab-panel .comment .comment-exhibition .comment-bar figure img { display: block; width: 100%; height: 100%; }

.desc-tab-panel .comment .comment-exhibition .comment-bar .desc { margin-left: 100px; }

.desc-tab-panel .comment .comment-exhibition .comment-bar .desc .info .time { float: right; width: 150px; margin-left: -150px; text-align: right; font-size: 12px; color: #ccc; }

.desc-tab-panel .comment .comment-exhibition .comment-bar .desc .info .user { margin-right: 150px; font-size: 14px; }

.desc-tab-panel .comment .comment-exhibition .comment-bar .desc .info .user span { color: #ec6527; }

.desc-tab-panel .comment .comment-exhibition .comment-bar .desc .info .user em { margin-left: 16px; }

.desc-tab-panel .comment .comment-exhibition .comment-bar .desc .info-list { margin-top: 14px; }

.desc-tab-panel .comment .comment-exhibition .comment-bar .desc .info-list ul { margin: -10px 0 0 -24px; font-size: 0; }

.desc-tab-panel .comment .comment-exhibition .comment-bar .desc .info-list ul li { display: inline-block; max-width: 50%; padding-left: 24px; margin-top: 10px; vertical-align: bottom; font-size: 12px; }

.desc-tab-panel .comment .comment-exhibition .comment-bar .desc .bar-handle-group { padding: 10px 0; text-align: right; }

.desc-tab-panel .comment .comment-exhibition .comment-bar .desc .para { margin-top: 18px; line-height: 18px; font-size: 14px; color: #999; }

.desc-tab-panel .comment .comment-exhibition .comment-bar .desc .reply-para { position: relative; padding: 18px 15px; margin-top: 20px; line-height: 16px; font-size: 12px; color: #999; background-color: #eff1f7; border-radius: 5px; }

.desc-tab-panel .comment .comment-exhibition .comment-bar .desc .reply-para:before { content: ''; position: absolute; top: -6px; left: 27px; width: 0; height: 0; border: 6px solid #eff1f7; border-left-color: transparent; border-right-color: transparent; border-top: none; overflow: hidden; }

.desc-tab-panel .comment .comment-exhibition .comment-bar .desc .reply-para .stress { color: #ec6527; }

.desc-tab-panel .comment .comment-exhibition .comment-bar .desc .reply-para textarea { display: block; width: 100%; background-color: transparent; border: none; }

.desc-tab-panel .comment .comment-exhibition .comment-bar .desc .reply-para .reply-handle-group { padding-top: 15px; text-align: right; }

.desc-tab-panel .comment .comment-exhibition .comment-bar + .comment-bar { border-top: 1px solid #eff1f7; }

.desc-tab-panel .comment .comment-exhibition .pagination-wrap { padding: 10px 0; }
