@charset "UTF-8";
/* head-section */
.head-section { position: relative; height: 420px; }

.head-section .head-banner { position: absolute; top: 0; left: 0; z-index: 1; width: 100%; height: 420px; overflow: hidden; }

.head-section .head-banner .swiper-slide { width: 100%; height: 100%; background-repeat: no-repeat; background-position: center; background-size: cover; }

.head-section .head-banner .head-swiper-pagination { position: absolute; bottom: 20px; left: 0; z-index: 1; text-align: center; font-size: 0; }

.head-section .head-banner .head-swiper-pagination .swiper-pagination-bullet { display: inline-block; width: 10px; height: 10px; margin: 0 6px; background-color: #c1c1c1; opacity: 1; border-radius: 50%; }

.head-section .head-banner .head-swiper-pagination .swiper-pagination-bullet:hover { background-color: #ec6527; }

.head-section .head-banner .head-swiper-pagination .swiper-pagination-bullet-active { background-color: #ec6527; }

.head-section .head-content { position: relative; z-index: 2; }

.head-section .head-content .table-wrap { height: 420px; }

.head-section .head-content .entry-panel { width: 260px; min-height: 340px; color: #f1f1f1; background-color: rgba(51, 51, 51, 0.5); border-radius: 10px; overflow: hidden; }

.head-section .head-content .entry-panel.login-tab-panel .tab-nav { text-align: center; font-size: 0; }

.head-section .head-content .entry-panel.login-tab-panel .tab-nav .nav-item { display: inline-block; width: 50%; height: 50px; vertical-align: top; line-height: 50px; font-size: 14px; color: #fff; cursor: default; }

.head-section .head-content .entry-panel.login-tab-panel .tab-nav .nav-item.current { background-color: #534f54; }

.head-section .head-content .entry-panel.login-tab-panel .content-item { display: none; padding: 22px 20px; }

.head-section .head-content .entry-panel.login-tab-panel .content-item .input-box { font-size: 0; }

.head-section .head-content .entry-panel.login-tab-panel .content-item .input-box > * { font-size: 12px; }

.head-section .head-content .entry-panel.login-tab-panel .content-item .input-item { display: inline-block; width: 100%; height: 36px; padding: 0 10px; vertical-align: middle; font-size: 12px; background-color: #fff; border: 1px solid transparent; border-radius: 5px; }

.head-section .head-content .entry-panel.login-tab-panel .content-item .label-item input[type='checkbox'] { width: 12px; height: 12px; }

.head-section .head-content .entry-panel.login-tab-panel .content-item .label-item span { margin-left: 4px; }

.head-section .head-content .entry-panel.login-tab-panel .content-item .form-control-btn { display: inline-block; width: 100px; height: 36px; vertical-align: middle; line-height: 36px; text-align: center; font-size: 12px; color: #fff; background-color: #d1aa6e; border-radius: 5px; overflow: hidden; }

.head-section .head-content .entry-panel.login-tab-panel .content-item .form-control-btn img { display: block; width: 100%; height: 100%; }

.head-section .head-content .entry-panel.login-tab-panel .content-item .form-control-btn:hover { background-color: #c29b5f; }

.head-section .head-content .entry-panel.login-tab-panel .content-item .form-control-btn:active { background-color: #b38c50; }

.head-section .head-content .entry-panel.login-tab-panel .content-item .hint-info { min-height: 20px; padding: 5px 0; line-height: 14px; font-size: 12px; color: #f00; }

.head-section .head-content .entry-panel.login-tab-panel .content-item .handle-btn { display: inline-block; width: 100%; height: 40px; vertical-align: middle; line-height: 40px; text-align: center; font-size: 12px; color: #fff; background-color: #ec6527; border-radius: 5px; }

.head-section .head-content .entry-panel.login-tab-panel .content-item .handle-btn:hover { background-color: #dd5618; }

.head-section .head-content .entry-panel.login-tab-panel .content-item .handle-btn:active { background-color: #ce4709; }

.head-section .head-content .entry-panel.login-tab-panel .content-item.current { display: block; }

.head-section .head-content .entry-panel.user-panel { padding: 30px 20px 25px; }

.head-section .head-content .entry-panel.user-panel .user { text-align: center; font-size: 0; }

.head-section .head-content .entry-panel.user-panel .user > * { display: inline-block; vertical-align: middle; font-size: 12px; color: #fff; }

.head-section .head-content .entry-panel.user-panel .user figure { width: 80px; height: 80px; border-radius: 50%; overflow: hidden; }

.head-section .head-content .entry-panel.user-panel .user figure img { display: block; width: 100%; height: 100%; }

.head-section .head-content .entry-panel.user-panel .user .info { margin-left: 15px; text-align: justify; }

.head-section .head-content .entry-panel.user-panel .user .info h3 { max-width: 118px; padding-left: 5px; font-size: 16px; font-weight: normal; }

.head-section .head-content .entry-panel.user-panel .user .info h3 a { max-width: 100%; }

.head-section .head-content .entry-panel.user-panel .user .info p { margin-top: 20px; }

.head-section .head-content .entry-panel.user-panel .grid-group { margin-top: 18px; font-size: 0; color: #f1f1f1; }

.head-section .head-content .entry-panel.user-panel .grid-group .grid { display: inline-block; width: 50%; padding: 10px 5px; vertical-align: top; text-align: center; font-size: 12px; }

.head-section .head-content .entry-panel.user-panel .grid-group .grid h3 { font-size: 18px; color: #ec6527; }

.head-section .head-content .entry-panel.user-panel .grid-group .grid p { margin-top: 12px; }

.head-section .head-content .entry-panel.user-panel .panel-foot { margin-top: 22px; }

.head-section .head-content .entry-panel.user-panel .panel-foot .handle-btn { display: block; height: 40px; line-height: 40px; text-align: center; color: #fff; background-color: #ec6527; border-radius: 5px; }

.head-section .head-content .entry-panel.user-panel .panel-foot .handle-btn:hover { background-color: #dd5618; }

.head-section .head-content .entry-panel.user-panel .panel-foot .handle-btn:active { background-color: #ce4709; }

/* rolling-notice-section */
.rolling-notice-section { padding: 28px 0; background-color: #fff; }

.rolling-notice-section .rolling-wrap .title { float: left; width: 230px; padding: 10px; margin-right: -230px; text-align: center; }

.rolling-notice-section .rolling-wrap .title span { display: inline-block; width: 178px; height: 36px; background: url(../resource/img/rn_pic010.png) no-repeat center; }

.rolling-notice-section .rolling-wrap .content { position: relative; margin-left: 230px; }

.rolling-notice-section .rolling-wrap .content:before, .rolling-notice-section .rolling-wrap .content:after { content: ''; position: absolute; top: 0; bottom: 0; z-index: 2; width: 50px; }

.rolling-notice-section .rolling-wrap .content:before { left: 0; background: -webkit-linear-gradient(left, white, rgba(255, 255, 255, 0)); background: linear-gradient(90deg, white, rgba(255, 255, 255, 0)); }

.rolling-notice-section .rolling-wrap .content:after { right: 0; background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), white); background: linear-gradient(90deg, rgba(255, 255, 255, 0), white); }

.rolling-notice-section .rolling-wrap .content .notice-swiper { overflow: hidden; }

.rolling-notice-section .rolling-wrap .content .notice-swiper .swiper-wrapper { -webkit-transition-timing-function: linear; transition-timing-function: linear; }

.rolling-notice-section .rolling-wrap .content .notice-swiper .swiper-slide { float: left; width: auto; margin-right: 35px; }

.rolling-notice-section .rolling-wrap .content .notice-swiper .swiper-slide p + p { margin-top: 24px; }

.rolling-notice-section .rolling-wrap .content .notice-swiper .swiper-slide span { display: inline-block; margin-left: 10px; color: #333; }

/* section-head 共 */
.section-head { padding-top: 35px; padding-bottom: 35px; }

.section-head .head-desc { padding: 4px 0; font-size: 0; }

.section-head .head-desc > * { display: inline-block; vertical-align: baseline; font-size: 12px; color: #333; }

.section-head .head-desc .title { font-size: 24px; }

.section-head .head-desc .title .en { margin-left: 10px; font-size: .6em; text-transform: uppercase; color: #999; }

.section-head .head-desc .para { margin-left: 15px; }

.section-head .handle-group .handle-btn { display: inline-block; height: 36px; padding: 0 24px; vertical-align: middle; line-height: 34px; text-align: center; font-size: 12px; color: #4c4c4c; background-color: #f1f1f1; border: 1px solid #ddd; border-radius: 36px; }

.section-head .handle-group .handle-btn.w-btn { background-color: #fff; }

.section-head .handle-group .handle-btn:hover { color: #fff; background-color: #ec6527; }

.section-head .handle-group .handle-btn:active { background-color: #ce4709; }

.section-head .handle-group .handle-btn + .handle-btn { margin-left: 10px; }

/* fund-section */
.fund-section { padding-bottom: 60px; background-color: #f1f1f1; }

.fund-section .ad-panel { float: right; width: 386px; height: 420px; margin-left: -386px; background-color: #fff; overflow: hidden; }

.fund-section .ad-panel .pic-ads { position: relative; width: 100%; height: 200px; overflow: hidden; }

.fund-section .ad-panel .pic-ads .swiper-slide { position: relative; width: 100%; height: 100%; }

.fund-section .ad-panel .pic-ads .swiper-slide .pic { display: block; width: 100%; height: 100%; overflow: hidden; }

.fund-section .ad-panel .pic-ads .swiper-slide .pic img { display: block; width: 100%; height: 100%; -webkit-transition: -webkit-transform .3s ease-out; transition: -webkit-transform .3s ease-out; transition: transform .3s ease-out; transition: transform .3s ease-out, -webkit-transform .3s ease-out; }

.fund-section .ad-panel .pic-ads .swiper-slide .pic:hover img { -webkit-transform: scale(1.06); -ms-transform: scale(1.06); transform: scale(1.06); }

.fund-section .ad-panel .pic-ads .swiper-slide h3 { position: absolute; bottom: 0; left: 0; width: 100%; padding: 12px 20px; font-size: 14px; font-weight: normal; color: #fff; background-color: rgba(0, 0, 0, 0.5); }

.fund-section .ad-panel .pic-ads .swiper-slide h3 a { max-width: 100%; vertical-align: middle; }

.fund-section .ad-panel .pic-ads .picad-swiper-pagination { position: absolute; bottom: 50px; left: 0; z-index: 1; text-align: center; font-size: 0; }

.fund-section .ad-panel .pic-ads .picad-swiper-pagination .swiper-pagination-bullet { display: inline-block; width: 8px; height: 8px; margin: 0 6px; background-color: #c1c1c1; opacity: 1; border-radius: 50%; }

.fund-section .ad-panel .pic-ads .picad-swiper-pagination .swiper-pagination-bullet:hover { background-color: #ec6527; }

.fund-section .ad-panel .pic-ads .picad-swiper-pagination .swiper-pagination-bullet-active { background-color: #ec6527; }

.fund-section .ad-panel .text-ads { padding: 24px 20px; }

.fund-section .ad-panel .text-ads li a { max-width: 100%; vertical-align: middle; }

.fund-section .ad-panel .text-ads li + li { margin-top: 14px; }

.fund-section .service-cards { float: left; margin: -20px 386px 0 -20px; }

.fund-section .service-cards .service-card, .fund-section .service-cards .more-card { float: left; width: 386px; height: 200px; margin: 20px 0 0 20px; background-color: #fff; background-position: right bottom; }

.fund-section .service-cards .service-card { padding: 48px 30px 0; }

.fund-section .service-cards .service-card h3 { font-size: 16px; font-weight: bold; color: #333; }

.fund-section .service-cards .service-card p { margin-top: 15px; line-height: 20px; }

.fund-section .service-cards .service-card .card-foot { margin-top: 20px; }

.fund-section .service-cards .service-card .card-foot .foot-btn { display: inline-block; height: 36px; padding: 0 24px; vertical-align: middle; line-height: 34px; font-size: 12px; background-color: #fff; border: 1px solid #e7e6e6; border-radius: 36px; }

.fund-section .service-cards .service-card .card-foot .foot-btn:hover { color: #fff; background-color: #ec6527; }

.fund-section .service-cards .service-card .card-foot .foot-btn:active { background-color: #ce4709; }

.fund-section .service-cards .service-card:hover h3 { color: #ec6527; }

.fund-section .service-cards .more-card { text-align: center; font-size: 0; }

.fund-section .service-cards .more-card:before { content: ''; display: inline-block; width: 0; height: 100%; vertical-align: middle; font-size: 0; overflow: hidden; }

.fund-section .service-cards .more-card .inner { display: inline-block; vertical-align: middle; font-size: 14px; }

.fund-section .service-cards .more-card .inner h3 { font-size: 16px; font-weight: bold; color: #333; }

.fund-section .service-cards .more-card .inner .handle-btn { display: inline-block; width: 150px; height: 54px; margin-top: 27px; vertical-align: middle; line-height: 52px; background-color: #fff; border: 1px solid #e7e6e6; border-radius: 54px; }

.fund-section .service-cards .more-card .inner .handle-btn:hover { color: #fff; background-color: #ec6527; }

.fund-section .service-cards .more-card .inner .handle-btn:active { background-color: #ce4709; }

/* case-section */
.case-section { padding-bottom: 60px; background-color: #fafafa; }

.case-section .case-swiper { width: 100%; overflow: hidden; }

.case-section .case-swiper .swiper-slide { position: relative; float: left; width: 386px; height: 220px; overflow: hidden; }

.case-section .case-swiper .swiper-slide .init-content { position: relative; overflow: hidden; }

.case-section .case-swiper .swiper-slide .init-content img { display: block; width: 100%; height: 100%; }

.case-section .case-swiper .swiper-slide .init-content h3 { position: absolute; bottom: 0; left: 0; width: 100%; padding: 12px 20px; font-size: 14px; font-weight: normal; color: #fff; background-color: rgba(0, 0, 0, 0.5); }

.case-section .case-swiper .swiper-slide .init-content h3 span { display: inline-block; max-width: 100%; vertical-align: middle; }

.case-section .case-swiper .swiper-slide .hover-content { position: absolute; top: 100%; left: 0; width: 100%; height: 100%; padding: 30px 36px 0; color: #fff; background-color: #ec6527; -webkit-transition: top .3s ease-out; transition: top .3s ease-out; }

.case-section .case-swiper .swiper-slide .hover-content h3 { font-size: 16px; font-weight: bold; }

.case-section .case-swiper .swiper-slide .hover-content h3 span { display: inline-block; max-width: 100%; vertical-align: middle; }

.case-section .case-swiper .swiper-slide .hover-content ul { margin-top: 18px; font-size: 14px; }

.case-section .case-swiper .swiper-slide .hover-content ul li em { float: left; width: 70px; margin-right: -70px; }

.case-section .case-swiper .swiper-slide .hover-content ul li span { display: inline-block; margin-left: 70px; }

.case-section .case-swiper .swiper-slide .hover-content ul li + li { margin-top: 8px; }

.case-section .case-swiper .swiper-slide:hover .hover-content { top: 0; }

.case-section .case-wrap { position: relative; }

.case-section .case-wrap .case-prev-btn, .case-section .case-wrap .case-next-btn { position: absolute; top: 50%; width: 24px; margin-top: -40px; line-height: 80px; text-align: center; font-size: 24px; font-weight: 200; color: #7a7a7a; background-color: rgba(204, 204, 204, 0.9); }

.case-section .case-wrap .case-prev-btn:hover, .case-section .case-wrap .case-next-btn:hover { color: #fff; background-color: #ec6527; }

.case-section .case-wrap .case-prev-btn:active, .case-section .case-wrap .case-next-btn:active { background-color: #ce4709; }

.case-section .case-wrap .case-prev-btn { left: -34px; }

.case-section .case-wrap .case-next-btn { right: -34px; }

/* project-section */
.project-section { padding-bottom: 60px; background-color: #f1f1f1; }

.project-section .service-cards { margin: -20px 0 0 -20px; }

.project-section .service-cards .service-card, .project-section .service-cards .more-card { float: left; width: 386px; height: 200px; margin: 20px 0 0 20px; background-color: #fff; background-position: right bottom; }

.project-section .service-cards .service-card { padding: 40px 30px 0; }

.project-section .service-cards .service-card h3 { font-size: 16px; font-weight: bold; color: #333; }

.project-section .service-cards .service-card p { margin-top: 15px; line-height: 20px; }

.project-section .service-cards .service-card .card-foot { margin-top: 20px; }

.project-section .service-cards .service-card .card-foot .foot-btn { display: inline-block; height: 36px; padding: 0 24px; vertical-align: middle; line-height: 34px; font-size: 12px; background-color: #fff; border: 1px solid #e7e6e6; border-radius: 36px; }

.project-section .service-cards .service-card .card-foot .foot-btn:hover { color: #fff; background-color: #ec6527; }

.project-section .service-cards .service-card .card-foot .foot-btn:active { background-color: #ce4709; }

.project-section .service-cards .service-card:hover h3 { color: #ec6527; }

.project-section .service-cards .more-card { text-align: center; font-size: 0; }

.project-section .service-cards .more-card:before { content: ''; display: inline-block; width: 0; height: 100%; vertical-align: middle; font-size: 0; overflow: hidden; }

.project-section .service-cards .more-card .inner { display: inline-block; vertical-align: middle; font-size: 14px; }

.project-section .service-cards .more-card .inner h3 { font-size: 16px; font-weight: bold; color: #333; }

.project-section .service-cards .more-card .inner .handle-btn { display: inline-block; height: 36px; padding: 0 24px; margin-top: 27px; vertical-align: middle; line-height: 34px; background-color: #fff; border: 1px solid #e7e6e6; border-radius: 36px; }

.project-section .service-cards .more-card .inner .handle-btn:hover { color: #fff; background-color: #ec6527; }

.project-section .service-cards .more-card .inner .handle-btn:active { background-color: #ce4709; }

/* quality-project-section */
.quality-project-section { padding-bottom: 60px; background-color: #fafafa; }

.quality-project-section .project-swiper { width: 100%; overflow: hidden; }

.quality-project-section .project-swiper .swiper-slide { position: relative; float: left; width: 386px; height: 220px; overflow: hidden; }

.quality-project-section .project-swiper .swiper-slide .init-content { position: relative; overflow: hidden; }

.quality-project-section .project-swiper .swiper-slide .init-content img { display: block; width: 100%; height: 100%; }

.quality-project-section .project-swiper .swiper-slide .init-content h3 { position: absolute; bottom: 0; left: 0; width: 100%; padding: 12px 20px; font-size: 14px; font-weight: normal; color: #fff; background-color: rgba(0, 0, 0, 0.5); }

.quality-project-section .project-swiper .swiper-slide .init-content h3 span { display: inline-block; max-width: 100%; vertical-align: middle; }

.quality-project-section .project-swiper .swiper-slide .hover-content { position: absolute; top: 100%; left: 0; width: 100%; height: 100%; padding: 30px 36px 0; color: #fff; background-color: #ec6527; -webkit-transition: top .3s ease-out; transition: top .3s ease-out; }

.quality-project-section .project-swiper .swiper-slide .hover-content h3 { font-size: 16px; font-weight: bold; }

.quality-project-section .project-swiper .swiper-slide .hover-content h3 span { display: inline-block; max-width: 100%; vertical-align: middle; }

.quality-project-section .project-swiper .swiper-slide .hover-content ul { margin-top: 18px; font-size: 14px; }

.quality-project-section .project-swiper .swiper-slide .hover-content ul li em { float: left; width: 70px; margin-right: -70px; }

.quality-project-section .project-swiper .swiper-slide .hover-content ul li span { display: inline-block; margin-left: 70px; }

.quality-project-section .project-swiper .swiper-slide .hover-content ul li + li { margin-top: 8px; }

.quality-project-section .project-swiper .swiper-slide:hover .hover-content { top: 0; }

.quality-project-section .project-wrap { position: relative; }

.quality-project-section .project-wrap .project-prev-btn, .quality-project-section .project-wrap .project-next-btn { position: absolute; top: 50%; width: 24px; margin-top: -40px; line-height: 80px; text-align: center; font-size: 24px; font-weight: 200; color: #7a7a7a; background-color: rgba(204, 204, 204, 0.9); }

.quality-project-section .project-wrap .project-prev-btn:hover, .quality-project-section .project-wrap .project-next-btn:hover { color: #fff; background-color: #ec6527; }

.quality-project-section .project-wrap .project-prev-btn:active, .quality-project-section .project-wrap .project-next-btn:active { background-color: #ce4709; }

.quality-project-section .project-wrap .project-prev-btn { left: -34px; }

.quality-project-section .project-wrap .project-next-btn { right: -34px; }

/* investor-section */
.investor-section { padding-bottom: 60px; background-color: #f1f1f1; }

.investor-section .investor-cards { margin: -20px 0 0 -20px; }

.investor-section .investor-card { position: relative; float: left; width: 386px; height: 220px; padding: 24px; margin: 55px 0 0 20px; background-color: #fff; -webkit-transition: -webkit-transform .3s ease-out; transition: -webkit-transform .3s ease-out; transition: transform .3s ease-out; transition: transform .3s ease-out, -webkit-transform .3s ease-out; }

.investor-section .investor-card figure { position: absolute; top: -35px; right: 20px; width: 90px; height: 90px; border: 1px solid #fff; border-radius: 50%; overflow: hidden; }

.investor-section .investor-card figure img { display: block; width: 100%; height: 100%; }

.investor-section .investor-card .info { margin-right: 90px; font-size: 14px; font-weight: bold; color: #333; }

.investor-section .investor-card .info .f-ellipsis { max-width: 100%; }

.investor-section .investor-card .info .f-ellipsis > * { vertical-align: baseline; }

.investor-section .investor-card .info span { margin-left: 14px; font-size: 12px; font-weight: normal; color: #666; }

.investor-section .investor-card .desc { height: 72px; margin-top: 22px; line-height: 24px; font-size: 14px; overflow: hidden; }

.investor-section .investor-card .origin { margin-top: 15px; margin-right: 90px; font-size: 12px; color: #333; }

.investor-section .investor-card .origin .f-ellipsis { max-width: 100%; }

.investor-section .investor-card .origin .f-ellipsis > * { vertical-align: baseline; }

.investor-section .investor-card .origin em { font-size: 12px; color: #a9a9a9; }

.investor-section .investor-card .origin a { margin-left: 5px; }

.investor-section .investor-card .exchange { margin-top: 20px; font-size: 12px; color: #333; }

.investor-section .investor-card .handle-btn { position: absolute; bottom: 20px; right: 20px; height: 32px; padding: 0 22px; line-height: 32px; text-align: center; font-size: 12px; color: #fff; background-color: #ec6527; border-radius: 32px; }

.investor-section .investor-card .handle-btn:hover { background-color: #dd5618; }

.investor-section .investor-card .handle-btn:active { background-color: #ce4709; }

.investor-section .investor-card:hover { -webkit-transform: translateY(-9px); -ms-transform: translateY(-9px); transform: translateY(-9px); }

/* institution-section */
.institution-section { padding-bottom: 60px; background-color: #fafafa; }

.institution-section .org-cards { margin: -20px 0 0 -20px; }

.institution-section .org-card { position: relative; float: left; width: 285px; height: 200px; margin: 20px 0 0 20px; overflow: hidden; }

.institution-section .org-card .init-content { width: 100%; height: 100%; text-align: center; font-size: 0; background-color: #fff; }

.institution-section .org-card .init-content:before { content: ''; display: inline-block; width: 0; height: 100%; vertical-align: middle; font-size: 0; overflow: hidden; }

.institution-section .org-card .init-content img { display: inline-block; max-width: 100%; max-height: 100%; vertical-align: middle; }

.institution-section .org-card .hover-content { position: absolute; top: 100%; left: 0; width: 100%; height: 100%; padding: 16px 20px 20px; background-color: #ec6527; -webkit-transition: top .3s ease-out; transition: top .3s ease-out; }

.institution-section .org-card .hover-content p { height: 100px; line-height: 20px; font-size: 12px; color: #fff; overflow: hidden; }

.institution-section .org-card .hover-content .content-foot { margin-top: 20px; text-align: center; }

.institution-section .org-card .hover-content .handle-btn { height: 40px; padding: 0 30px; vertical-align: middle; line-height: 40px; text-align: center; color: #666; background-color: #fff; border-radius: 40px; }

.institution-section .org-card .hover-content .handle-btn:hover { color: #333; background-color: #f0f0f0; }

.institution-section .org-card .hover-content .handle-btn:active { background-color: #e1e1e1; }

.institution-section .org-card:hover .hover-content { top: 0; }

/* news-section */
.news-section { padding-bottom: 80px; background-color: #f1f1f1; }

.news-section .pic-news-panel { width: 572px; height: 350px; }

.news-section .pic-news-panel .pic-news-swiper { position: relative; width: 100%; height: 100%; overflow: hidden; }

.news-section .pic-news-panel .pic-news-swiper .swiper-slide { position: relative; width: 100%; height: 100%; overflow: hidden; }

.news-section .pic-news-panel .pic-news-swiper .swiper-slide .pic { display: block; width: 100%; height: 100%; overflow: hidden; }

.news-section .pic-news-panel .pic-news-swiper .swiper-slide .pic img { display: block; width: 100%; height: 100%; -webkit-transition: -webkit-transform .3s ease-out; transition: -webkit-transform .3s ease-out; transition: transform .3s ease-out; transition: transform .3s ease-out, -webkit-transform .3s ease-out; }

.news-section .pic-news-panel .pic-news-swiper .swiper-slide .pic:hover img { -webkit-transform: scale(1.06); -ms-transform: scale(1.06); transform: scale(1.06); }

.news-section .pic-news-panel .pic-news-swiper .swiper-slide h3 { position: absolute; bottom: 0; left: 0; width: 100%; padding: 12px 20px; font-size: 14px; font-weight: normal; color: #fff; background-color: rgba(0, 0, 0, 0.5); }

.news-section .pic-news-panel .pic-news-swiper .swiper-slide h3 a { max-width: 100%; vertical-align: middle; }

.news-section .pic-news-panel .pic-news-swiper .pic-news-pagination { position: absolute; bottom: 50px; right: 15px; left: auto; z-index: 1; width: auto; text-align: center; font-size: 0; }

.news-section .pic-news-panel .pic-news-swiper .pic-news-pagination .swiper-pagination-bullet { display: inline-block; min-width: 18px; height: 18px; padding: 0 3px; margin: 0 5px; vertical-align: middle; line-height: 18px; text-align: center; font-size: 12px; color: #666; background-color: rgba(221, 221, 221, 0.8); opacity: 1; border-radius: 0; }

.news-section .pic-news-panel .pic-news-swiper .pic-news-pagination .swiper-pagination-bullet:hover { color: #fff; background-color: #ec6527; }

.news-section .pic-news-panel .pic-news-swiper .pic-news-pagination .swiper-pagination-bullet-active { color: #fff; background-color: #ec6527; }

.news-section .text-news-panel { width: 600px; }

.news-section .text-news-panel .tab-nav { font-size: 0; }

.news-section .text-news-panel .tab-nav .nav-item { display: inline-block; height: 40px; padding: 0 24px; vertical-align: top; line-height: 40px; font-size: 14px; color: #333; background-color: #ddd; border-radius: 10px; cursor: default; }

.news-section .text-news-panel .tab-nav .nav-item:hover { color: #ec6527; }

.news-section .text-news-panel .tab-nav .nav-item.current { color: #fff; background-color: #ec6527; }

.news-section .text-news-panel .tab-nav .nav-item + .nav-item { margin-left: 10px; }

.news-section .text-news-panel .content-item { padding-top: 22px; display: none; }

.news-section .text-news-panel .content-item.current { display: block; }

.news-section .text-news-panel .content-item .news-list li { line-height: 18px; }

.news-section .text-news-panel .content-item .news-list li em { float: right; width: 100px; margin-left: -100px; text-align: right; font-size: 12px; color: #a5a5a5; }

.news-section .text-news-panel .content-item .news-list li span { display: block; margin-right: 100px; font-size: 14px; color: #333; }

.news-section .text-news-panel .content-item .news-list li span a { position: relative; max-width: 100%; padding-left: 16px; vertical-align: middle; }

.news-section .text-news-panel .content-item .news-list li span a:before { content: ''; position: absolute; top: 6px; left: 0; display: inline-block; width: 6px; height: 6px; background-color: #333; border-radius: 50%; }

.news-section .text-news-panel .content-item .news-list li span a:hover { color: #ec6527; }

.news-section .text-news-panel .content-item .news-list li span a:hover:before { background-color: #ec6527; }

.news-section .text-news-panel .content-item .news-list li + li { margin-top: 18px; }
