@charset "UTF-8";
/* ---rn公用样式--- */
.rn-wrapper { width: 100%; min-width: 1200px; }

.rn-inner { width: 1200px; margin-left: auto; margin-right: auto; }

/* - rn-head - */
/* header 主要 */
.rn-head .head-login-wrap { background-color: #fff; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; }

.rn-head .head-login-wrap .nav { font-size: 0; }

.rn-head .head-login-wrap .nav > * { display: inline-block; padding-top: 10px; padding-bottom: 10px; margin: 0 10px; vertical-align: top; font-size: 12px; }

.rn-head .head-login-wrap .nav .user > * { display: inline-block; }

.rn-head .head-login-wrap .nav .user > * + * { margin-left: 20px; }

.rn-head .head-search-wrap { background-color: #fff; }

.rn-head .head-search-wrap .logo-wrap { padding: 24px 0; }

.rn-head .head-search-wrap .logo-wrap .logo { display: inline-block; vertical-align: middle; }

.rn-head .head-search-wrap .logo-wrap .logo img { display: block; }

.rn-head .head-search-wrap .capital-wrap { padding: 20px 0; margin-left: 86px; }

.rn-head .head-search-wrap .capital-wrap .capital { display: inline-block; vertical-align: middle; }

.rn-head .head-search-wrap .capital-wrap .capital img { display: block; }

.rn-head .head-search-wrap .search-wrap { padding-top: 22px; }

.rn-head .head-search-wrap .search-wrap .input-box { position: relative; width: 418px; height: 36px; font-size: 0; border: 1px solid #ec6527; }

.rn-head .head-search-wrap .search-wrap .input-box .inputwrap { position: relative; display: inline-block; height: 100%; vertical-align: middle; font-size: 14px; }

.rn-head .head-search-wrap .search-wrap .input-box .inputwrap + .inputwrap:before { content: ''; position: absolute; top: 7px; bottom: 7px; left: 0; border-left: 1px solid #ec6527; }

.rn-head .head-search-wrap .search-wrap .input-box .input-item { display: block; width: 100%; height: 100%; padding: 8px 12px; line-height: 18px; background-color: #fff; border: none; }

.rn-head .head-search-wrap .search-wrap .input-box select.input-item { padding-right: 0; }

.rn-head .head-search-wrap .search-wrap .input-box .inputwrap:last-of-type .input-item { padding-right: 52px; }

.rn-head .head-search-wrap .search-wrap .input-box .query-btn { position: absolute; top: -1px; right: -1px; width: 40px; height: 36px; line-height: 36px; text-align: center; font-size: 14px; color: #ec6527; }

.rn-head .head-search-wrap .search-wrap .input-box .query-btn i { font-size: 1.2em; font-weight: bold; }

.rn-head .head-search-wrap .search-wrap .input-box .query-btn:hover { color: #fff; background-color: #ec6527; }

.rn-head .head-search-wrap .search-wrap .input-box .query-btn:active { background-color: #ce4709; }

.rn-head .head-search-wrap .search-wrap .hint-info { height: 17px; line-height: 17px; text-align: center; font-size: 12px; color: #f00; }

.rn-head .head-search-wrap .search-wrap .hot-list { padding: 5px 10px; font-size: 12px; color: #999; }

.rn-head .head-search-wrap .search-wrap .hot-list dt { float: left; width: 60px; color: #666; }

.rn-head .head-search-wrap .search-wrap .hot-list dd { margin-left: 60px; }

.rn-head .head-search-wrap .search-wrap .hot-list dd a { margin-right: 6px; }

.rn-head .head-nav-wrap { background-color: #ffa454; }

.rn-head .head-nav-wrap .rn-inner { position: relative; padding-left: 230px; }

.rn-head .head-nav-wrap .nav-wrap { margin-left: 20px; }

.rn-head .head-nav-wrap .nav-wrap .nav-list .stress { color: #ec6527; }

.rn-head .head-nav-wrap .nav-wrap .nav-list > * { float: left; height: 50px; line-height: 50px; font-size: 16px; color: #333; }

.rn-head .head-nav-wrap .nav-wrap .nav-list > * .nav-name { display: block; height: inherit; line-height: inherit; }

.rn-head .head-nav-wrap .nav-wrap .nav-list dd { position: relative; }

.rn-head .head-nav-wrap .nav-wrap .nav-list dd .nav-name { padding: 0 30px; color: #fff; }

.rn-head .head-nav-wrap .nav-wrap .nav-list dd .nav-name:hover { background-color: #ff8547; }

.rn-head .head-nav-wrap .nav-wrap .nav-list dd.current .nav-name { color: #fff; background-color: #ec6527; }

.rn-head .head-nav-wrap .category-container { position: absolute; top: 0; left: 0; z-index: 5; width: 230px; }

.rn-head .head-nav-wrap .category-container .container-head { height: 50px; padding: 0 20px; line-height: 50px; font-size: 16px; color: #fff; background-color: #ec6527; cursor: default; }

.rn-head .head-nav-wrap .category-container .container-extension { display: none; height: 420px; background-color: #fff; box-shadow: 0 2px 8px 0 rgba(221, 221, 221, 0.8); overflow: hidden; }

.rn-head .head-nav-wrap .category-container .container-item { width: 100%; }

.rn-head .head-nav-wrap .category-container .container-item .init-content { position: relative; width: 100%; max-height: 110px; padding: 0 20px; font-size: 0; overflow: hidden; }

.rn-head .head-nav-wrap .category-container .container-item .init-content .init-inner { padding: 20px 0; }

.rn-head .head-nav-wrap .category-container .container-item .init-content dl { margin-left: -18px; }

.rn-head .head-nav-wrap .category-container .container-item .init-content dt { margin-left: 18px; margin-bottom: 3px; font-size: 14px; color: #333; }

.rn-head .head-nav-wrap .category-container .container-item .init-content dd { display: inline-block; margin: 12px 0 0 18px; vertical-align: top; font-size: 12px; color: #666; }

.rn-head .head-nav-wrap .category-container .container-item:hover .init-content dt { color: #ec6527; }

.rn-head .head-nav-wrap .category-container .container-item:hover .init-content dt a { -webkit-transition: -webkit-transform .3s ease-out; transition: -webkit-transform .3s ease-out; transition: transform .3s ease-out; transition: transform .3s ease-out, -webkit-transform .3s ease-out; }

.rn-head .head-nav-wrap .category-container .container-item:hover .init-content dt a:hover { -webkit-transform: translateX(6px); -ms-transform: translateX(6px); transform: translateX(6px); }

.rn-head .head-nav-wrap .category-container .container-item + .container-item .init-content .init-inner { border-top: 1px solid #ddd; }

.rn-head .head-nav-wrap .category-container:hover .container-extension { display: block; }

.rn-head .head-nav-wrap .category-container.open .container-extension { display: block; }

/* - rn-foot - */
/* footer 主要 */
.rn-foot { background-color: #4b4b4b; }

.rn-foot .foot-link-wrap { padding-top: 35px; padding-bottom: 35px; }

.rn-foot .foot-link-wrap dt { margin-bottom: 28px; font-size: 16px; color: #fff; }

.rn-foot .foot-link-wrap dd { font-size: 12px; color: #ddd; }

.rn-foot .foot-link-wrap .link-group { width: 247px; }

.rn-foot .foot-link-wrap .link-group dd { margin-top: 20px; }

.rn-foot .foot-link-wrap .qrcode figure { width: 120px; height: 120px; background-color: #fff; }

.rn-foot .foot-link-wrap .qrcode figure img { display: block; width: 100%; height: 100%; }

.rn-foot .foot-link-wrap .contact dd { margin-top: 16px; }

.rn-foot .foot-link-wrap .contact .phone { font-family: "Arial Black"; font-size: 30px; }

.rn-foot .foot-link-wrap .contact .mail { font-family: "Arial Black"; font-size: 18px; }

.rn-foot .foot-friendly-wrap .rn-inner { padding-top: 24px; padding-bottom: 24px; border-top: 1px solid #666; }

.rn-foot .foot-friendly-wrap dt { float: left; font-size: 18px; color: #fff; }

.rn-foot .foot-friendly-wrap dd { margin-left: 72px; font-size: 14px; color: #ddd; }

.rn-foot .foot-friendly-wrap dd span { display: inline-block; margin: 4px 0 0 20px; }

.rn-foot .foot-copy { font-size: 12px; color: #ccc; }

.rn-foot .foot-copy .rn-inner { padding-top: 20px; padding-bottom: 20px; border-top: 1px solid #666; }

/* ---方法类公用(.f-开头)--- */
/* 清除浮动 */
.f-clearfix { zoom: 1; }

.f-clearfix:after { content: '.'; display: block; visibility: hidden; clear: both; height: 0; font-size: 0; }

/* 单行省略号 */
.f-ellipsis { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

/* 强制换行 */
.f-word-break { word-wrap: break-word; word-break: break-all; }

/* 左浮 */
.f-pull-left { float: left; }

/* 右浮 */
.f-pull-right { float: right; }

/* 居中 */
.f-text-center { text-align: center; }

/* 居左 */
.f-text-left { text-align: left; }

/* 居右 */
.f-text-right { text-align: right; }

/* ---模块类公用(.m-开头)--- */
/* m-crumbs-nav */
.m-crumbs-nav { background-color: transparent; }

.m-crumbs-nav ul { padding: 20px 15px; font-size: 0; }

.m-crumbs-nav ul li { display: inline-block; vertical-align: top; font-size: 14px; }

.m-crumbs-nav ul li span { color: #999; }

.m-crumbs-nav ul li + li:before { content: '>'; display: inline-block; margin: 0 6px; }

.m-crumbs-nav dl { padding: 20px 0; font-size: 0; }

.m-crumbs-nav dl > * { display: inline-block; vertical-align: top; font-size: 14px; }

.m-crumbs-nav dl > * span { color: #999; }

.m-crumbs-nav dl dd + dd:before { content: '>'; display: inline-block; margin: 0 6px; }

/* m-default-pagination */
.m-default-pagination { padding: 10px 0; line-height: 30px; text-align: center; font-size: 12px; color: #666; }

.m-default-pagination a, .m-default-pagination span, .m-default-pagination input[type="text"], .m-default-pagination input[type="button"] { display: inline-block; min-width: 30px; height: 30px; margin: 0 5px; vertical-align: top; }

.m-default-pagination span { padding: 0 8px; }

.m-default-pagination .current { color: #fff; background-color: #ec6527; }

.m-default-pagination a { padding: 0 7px; line-height: 28px; color: inherit; background-color: #fff; border: 1px solid #ddd; }

.m-default-pagination a:hover { color: #fff; background-color: #ec6527; border-color: #ec6527; }

.m-default-pagination a:active { background-color: #ce4709; }

.m-default-pagination input[type="text"], .m-default-pagination input[type="button"] { padding: 0 7px; line-height: 28px; text-align: inherit; color: inherit; background-color: #fff; border: 1px solid #ddd; }

.m-default-pagination input[type="text"] { width: 48px; }

.m-default-pagination input[type="text"]:focus { border-color: #ec6527; }

.m-default-pagination input[type="button"]:hover { color: #fff; background-color: #ec6527; border-color: #ec6527; }

.m-default-pagination input[type="button"]:active { background-color: #ce4709; }

/* m-group-pagination */
.m-group-pagination { padding: 10px 0; line-height: 30px; text-align: center; font-size: 12px; color: #666; }

.m-group-pagination a, .m-group-pagination span, .m-group-pagination input[type="text"], .m-group-pagination input[type="button"] { display: inline-block; min-width: 30px; height: 30px; padding: 0 10px; margin: 0 5px; line-height: 28px; text-align: center; vertical-align: top; font-size: 12px; color: inherit; background-color: #fff; border: 1px solid #ddd; border-radius: 5px; }

.m-group-pagination span { background-color: transparent; border-color: transparent; }

.m-group-pagination .current { color: #fff; background-color: #ec6527; border-color: #ec6527; }

.m-group-pagination a:hover { color: #fff; background-color: #ec6527; border-color: #ec6527; }

.m-group-pagination a:active { background-color: #ce4709; }

.m-group-pagination input[type="text"] { width: 46px; }

.m-group-pagination input[type="text"]:focus { border-color: #ec6527; }

.m-group-pagination input[type="button"]:hover { color: #fff; background-color: #ec6527; border-color: #ec6527; }

.m-group-pagination input[type="button"]:active { background-color: #ce4709; }

.m-group-pagination .page-nav, .m-group-pagination .page-jump { display: inline-block; margin: 0 10px; vertical-align: top; }

.m-group-pagination .page-nav { font-size: 0; }

.m-group-pagination .page-nav * { margin: 0 0 0 -1px; font-size: 12px; border-radius: 0; }

.m-group-pagination .page-nav span { background-color: #fff; border: 1px solid #ddd; }

.m-group-pagination .page-nav .current { color: #fff; background-color: #ec6527; border-color: #ec6527; }

.m-group-pagination .page-nav *:first-child { border-top-left-radius: 5px; border-bottom-left-radius: 5px; }

.m-group-pagination .page-nav *:last-child { border-top-right-radius: 5px; border-bottom-right-radius: 5px; }

/* ---元件类公用(.u-开头)--- */
/* u-loading-circle */
.u-loading-circle { min-width: 70px; min-height: 70px; margin-left: auto; margin-right: auto; background: url(../resource/img/rn_loading_circle.gif) no-repeat center; }
