@charset "UTF-8";
/* ---rn公用样式--- */
.rn-wrapper { width: 100%; min-width: 1200px; }

.rn-inner { width: 1200px; margin-left: auto; margin-right: auto; }

/* - rn-head - */
/* header 主要 */
.rn-head .head-login-wrap { background-color: #fff; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; }

.rn-head .head-login-wrap .nav { font-size: 0; }

.rn-head .head-login-wrap .nav > * { display: inline-block; padding-top: 10px; padding-bottom: 10px; margin: 0 10px; vertical-align: top; font-size: 12px; }

.rn-head .head-login-wrap .nav .user > * { display: inline-block; }

.rn-head .head-login-wrap .nav .user > * + * { margin-left: 20px; }

.rn-head .head-search-wrap { background-color: #fff; }

.rn-head .head-search-wrap .logo-wrap { padding: 25px 0; }

.rn-head .head-search-wrap .logo-wrap .logo { display: inline-block; vertical-align: middle; }

.rn-head .head-search-wrap .logo-wrap .logo img { display: block; }

.rn-head .head-search-wrap .phone-wrap { padding: 32px 0; margin-left: 55px; }

.rn-head .head-search-wrap .phone-wrap > * { display: inline-block; vertical-align: middle; }

.rn-head .head-search-wrap .phone-wrap i { width: 22px; height: 22px; line-height: 22px; text-align: center; font-size: 14px; color: #fff; background-color: #ec6527; border-radius: 50%; }

.rn-head .head-search-wrap .phone-wrap span { margin-left: 10px; font-family: Arial; font-style: italic; font-size: 24px; color: #ec6527; }

.rn-head .head-search-wrap .search-wrap { padding-top: 20px; }

.rn-head .head-search-wrap .search-wrap .input-box { position: relative; width: 520px; height: 48px; font-size: 0; border: 1px solid #ec6527; }

.rn-head .head-search-wrap .search-wrap .input-box .inputwrap { position: relative; display: inline-block; height: 100%; vertical-align: middle; font-size: 14px; }

.rn-head .head-search-wrap .search-wrap .input-box .inputwrap + .inputwrap:before { content: ''; position: absolute; top: 7px; bottom: 7px; left: 0; border-left: 1px solid #ec6527; }

.rn-head .head-search-wrap .search-wrap .input-box .input-item { display: block; width: 100%; height: 100%; padding: 14px 12px; line-height: 18px; background-color: #fff; border: none; }

.rn-head .head-search-wrap .search-wrap .input-box select.input-item { padding-right: 0; }

.rn-head .head-search-wrap .search-wrap .input-box .inputwrap:last-of-type .input-item { padding-right: 98px; }

.rn-head .head-search-wrap .search-wrap .input-box .query-btn { position: absolute; top: -1px; right: -1px; width: 86px; height: 48px; line-height: 48px; text-align: center; font-size: 14px; color: #fff; background-color: #ec6527; }

.rn-head .head-search-wrap .search-wrap .input-box .query-btn i { font-weight: bold; }

.rn-head .head-search-wrap .search-wrap .input-box .query-btn:hover { color: #fff; background-color: #dd5618; }

.rn-head .head-search-wrap .search-wrap .input-box .query-btn:active { background-color: #ce4709; }

.rn-head .head-search-wrap .search-wrap .hint-info { height: 20px; line-height: 20px; text-align: center; font-size: 12px; color: #f00; }

.rn-head .head-nav-wrap { padding-bottom: 10px; background-color: #fff; }

.rn-head .head-nav-wrap .rn-inner { position: relative; padding-left: 230px; }

.rn-head .head-nav-wrap .nav-wrap { margin-left: 20px; }

.rn-head .head-nav-wrap .nav-wrap .nav-list .stress { color: #ec6527; }

.rn-head .head-nav-wrap .nav-wrap .nav-list > * { float: left; height: 42px; line-height: 42px; font-size: 16px; color: #333; }

.rn-head .head-nav-wrap .nav-wrap .nav-list > * .nav-name { display: block; height: inherit; line-height: inherit; }

.rn-head .head-nav-wrap .nav-wrap .nav-list dd { position: relative; }

.rn-head .head-nav-wrap .nav-wrap .nav-list dd .nav-name { padding: 0 30px; border-radius: 5px; }

.rn-head .head-nav-wrap .nav-wrap .nav-list dd .nav-name:hover { color: #ec6527; }

.rn-head .head-nav-wrap .nav-wrap .nav-list dd.current .nav-name { color: #fff; background-color: #ec6527; }

.rn-head .head-nav-wrap .nav-wrap .nav-list dt { float: right; }

.rn-head .head-nav-wrap .category-container { position: absolute; top: 0; left: 0; z-index: 5; width: 230px; }

.rn-head .head-nav-wrap .category-container .container-head { position: relative; height: 42px; padding: 0 20px; line-height: 42px; font-size: 16px; color: #fff; background-color: #ec6527; border-radius: 5px; cursor: default; }

.rn-head .head-nav-wrap .category-container .container-head em { position: absolute; right: 10px; }

.rn-head .head-nav-wrap .category-container .container-extension { display: none; height: 430px; padding-top: 10px; background-color: #fff; box-shadow: 0 2px 8px 0 rgba(221, 221, 221, 0.8); overflow: hidden; }

.rn-head .head-nav-wrap .category-container .container-item { width: 100%; }

.rn-head .head-nav-wrap .category-container .container-item .init-content { position: relative; width: 100%; max-height: 110px; padding: 0 20px; font-size: 0; overflow: hidden; }

.rn-head .head-nav-wrap .category-container .container-item .init-content .init-inner { padding: 20px 0; }

.rn-head .head-nav-wrap .category-container .container-item .init-content dl { margin-left: -18px; }

.rn-head .head-nav-wrap .category-container .container-item .init-content dt { margin-left: 18px; margin-bottom: 3px; font-size: 14px; color: #333; }

.rn-head .head-nav-wrap .category-container .container-item .init-content dd { display: inline-block; margin: 12px 0 0 18px; vertical-align: top; font-size: 12px; color: #666; }

.rn-head .head-nav-wrap .category-container .container-item:hover .init-content dt { color: #ec6527; }

.rn-head .head-nav-wrap .category-container .container-item:hover .init-content dt a { -webkit-transition: -webkit-transform .3s ease-out; transition: -webkit-transform .3s ease-out; transition: transform .3s ease-out; transition: transform .3s ease-out, -webkit-transform .3s ease-out; }

.rn-head .head-nav-wrap .category-container .container-item:hover .init-content dt a:hover { -webkit-transform: translateX(6px); -ms-transform: translateX(6px); transform: translateX(6px); }

.rn-head .head-nav-wrap .category-container .container-item + .container-item .init-content .init-inner { border-top: 1px solid #ddd; }

.rn-head .head-nav-wrap .category-container:hover .container-extension { display: block; }

.rn-head .head-nav-wrap .category-container.open .container-extension { display: block; }

/* header 登录/注册 */
.rn-head1 .head-logo-wrap { padding-top: 24px; padding-bottom: 24px; background-color: #fff; }

.rn-head1 .head-logo-wrap .logo-wrap .logo { display: inline-block; vertical-align: middle; }

.rn-head1 .head-logo-wrap .logo-wrap .logo img { display: block; }

.rn-head1 .head-logo-wrap .text-wrap { padding: 10px 0; font-size: 18px; color: #333; }

/* header 关于我们/重置密码等 */
.rn-head3 .head-login-wrap { background-color: #fff; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; }

.rn-head3 .head-login-wrap .nav { font-size: 0; }

.rn-head3 .head-login-wrap .nav > * { display: inline-block; padding-top: 10px; padding-bottom: 10px; margin: 0 10px; vertical-align: top; font-size: 12px; }

.rn-head3 .head-login-wrap .nav .user > * { display: inline-block; }

.rn-head3 .head-login-wrap .nav .user > * + * { margin-left: 20px; }

.rn-head3 .head-nav-wrap { position: relative; z-index: 3; background-color: #fff; box-shadow: 0 5px 5px 0 rgba(204, 204, 204, 0.3); }

.rn-head3 .head-nav-wrap .logo-wrap { padding: 25px 0; font-size: 0; }

.rn-head3 .head-nav-wrap .logo-wrap .logo { display: inline-block; vertical-align: middle; }

.rn-head3 .head-nav-wrap .logo-wrap .logo img { display: block; }

.rn-head3 .head-nav-wrap .logo-wrap h3 { display: inline-block; padding: 6px 0 6px 10px; margin-left: 20px; vertical-align: middle; font-size: 20px; font-weight: normal; color: #666; border-left: 2px solid #999; }

.rn-head3 .head-nav-wrap .nav-wrap { padding: 37px 0; }

.rn-head3 .head-nav-wrap .nav-wrap .nav-list { margin-right: -40px; font-size: 0; }

.rn-head3 .head-nav-wrap .nav-wrap .nav-list li { display: inline-block; margin-right: 40px; vertical-align: top; font-size: 16px; color: #333; }

.rn-head3 .head-nav-wrap .nav-wrap .nav-list li.current { color: #ec6527; }

/* - rn-foot - */
/* footer 主要 */
.rn-foot { background-color: #4b4b4b; }

.rn-foot .foot-link-wrap { padding-top: 35px; padding-bottom: 35px; }

.rn-foot .foot-link-wrap dt { margin-bottom: 28px; font-size: 16px; color: #fff; }

.rn-foot .foot-link-wrap dd { font-size: 12px; color: #ddd; }

.rn-foot .foot-link-wrap .link-group { width: 247px; }

.rn-foot .foot-link-wrap .link-group dd { margin-top: 20px; }

.rn-foot .foot-link-wrap .qrcode figure { width: 120px; height: 120px; background-color: #fff; }

.rn-foot .foot-link-wrap .qrcode figure img { display: block; width: 100%; height: 100%; }

.rn-foot .foot-link-wrap .contact dd { margin-top: 16px; }

.rn-foot .foot-link-wrap .contact .phone { font-family: "Arial Black"; font-size: 30px; }

.rn-foot .foot-link-wrap .contact .mail { font-family: "Arial Black"; font-size: 18px; }

.rn-foot .foot-friendly-wrap .rn-inner { padding-top: 24px; padding-bottom: 24px; border-top: 1px solid #666; }

.rn-foot .foot-friendly-wrap dt { float: left; font-size: 18px; color: #fff; }

.rn-foot .foot-friendly-wrap dd { margin-left: 72px; font-size: 14px; color: #ddd; }

.rn-foot .foot-friendly-wrap dd span { display: inline-block; margin: 4px 0 0 20px; }

.rn-foot .foot-copy { font-size: 12px; color: #ccc; }

.rn-foot .foot-copy .rn-inner { padding-top: 20px; padding-bottom: 20px; border-top: 1px solid #666; }

/* ---方法类公用(.f-开头)--- */
/* 清除浮动 */
.f-clearfix { zoom: 1; }

.f-clearfix:after { content: '.'; display: block; visibility: hidden; clear: both; height: 0; font-size: 0; }

/* 单行省略号 */
.f-ellipsis { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

/* 强制换行 */
.f-word-break { word-wrap: break-word; word-break: break-all; }

/* 左浮 */
.f-pull-left { float: left; }

/* 右浮 */
.f-pull-right { float: right; }

/* 居中 */
.f-text-center { text-align: center; }

/* 居左 */
.f-text-left { text-align: left; }

/* 居右 */
.f-text-right { text-align: right; }

/* ---模块类公用(.m-开头)--- */
/* m-crumbs-nav */
.m-crumbs-nav { background-color: transparent; }

.m-crumbs-nav ul { padding: 20px 15px; font-size: 0; }

.m-crumbs-nav ul li { display: inline-block; vertical-align: top; font-size: 14px; }

.m-crumbs-nav ul li span { color: #999; }

.m-crumbs-nav ul li + li:before { content: '>'; display: inline-block; margin: 0 6px; }

.m-crumbs-nav dl { padding: 20px 0; font-size: 0; }

.m-crumbs-nav dl > * { display: inline-block; vertical-align: top; font-size: 14px; }

.m-crumbs-nav dl > * span { color: #999; }

.m-crumbs-nav dl dd + dd:before { content: '>'; display: inline-block; margin: 0 6px; }

/* m-default-pagination */
.m-default-pagination { padding: 10px 0; line-height: 30px; text-align: center; font-size: 12px; color: #666; }

.m-default-pagination a, .m-default-pagination span, .m-default-pagination input[type="text"], .m-default-pagination input[type="button"] { display: inline-block; min-width: 30px; height: 30px; margin: 0 5px; vertical-align: top; }

.m-default-pagination span { padding: 0 8px; }

.m-default-pagination .current { color: #fff; background-color: #ec6527; }

.m-default-pagination a { padding: 0 7px; line-height: 28px; color: inherit; background-color: #fff; border: 1px solid #ddd; }

.m-default-pagination a:hover { color: #fff; background-color: #ec6527; border-color: #ec6527; }

.m-default-pagination a:active { background-color: #ce4709; }

.m-default-pagination input[type="text"], .m-default-pagination input[type="button"] { padding: 0 7px; line-height: 28px; text-align: inherit; color: inherit; background-color: #fff; border: 1px solid #ddd; }

.m-default-pagination input[type="text"] { width: 48px; }

.m-default-pagination input[type="text"]:focus { border-color: #ec6527; }

.m-default-pagination input[type="button"]:hover { color: #fff; background-color: #ec6527; border-color: #ec6527; }

.m-default-pagination input[type="button"]:active { background-color: #ce4709; }

/* m-group-pagination */
.m-group-pagination { padding: 10px 0; line-height: 30px; text-align: center; font-size: 12px; color: #666; }

.m-group-pagination a, .m-group-pagination span, .m-group-pagination input[type="text"], .m-group-pagination input[type="button"] { display: inline-block; min-width: 30px; height: 30px; padding: 0 10px; margin: 0 5px; line-height: 28px; text-align: center; vertical-align: top; font-size: 12px; color: inherit; background-color: #fff; border: 1px solid #ddd; border-radius: 5px; }

.m-group-pagination span { background-color: transparent; border-color: transparent; }

.m-group-pagination .current { color: #fff; background-color: #ec6527; border-color: #ec6527; }

.m-group-pagination a:hover { color: #fff; background-color: #ec6527; border-color: #ec6527; }

.m-group-pagination a:active { background-color: #ce4709; }

.m-group-pagination input[type="text"] { width: 46px; }

.m-group-pagination input[type="text"]:focus { border-color: #ec6527; }

.m-group-pagination input[type="button"]:hover { color: #fff; background-color: #ec6527; border-color: #ec6527; }

.m-group-pagination input[type="button"]:active { background-color: #ce4709; }

.m-group-pagination .page-nav, .m-group-pagination .page-jump { display: inline-block; margin: 0 10px; vertical-align: top; }

.m-group-pagination .page-nav { font-size: 0; }

.m-group-pagination .page-nav * { margin: 0 0 0 -1px; font-size: 12px; border-radius: 0; }

.m-group-pagination .page-nav span { background-color: #fff; border: 1px solid #ddd; }

.m-group-pagination .page-nav .current { color: #fff; background-color: #ec6527; border-color: #ec6527; }

.m-group-pagination .page-nav *:first-child { border-top-left-radius: 5px; border-bottom-left-radius: 5px; }

.m-group-pagination .page-nav *:last-child { border-top-right-radius: 5px; border-bottom-right-radius: 5px; }

/* m-default-filter-panel */
.m-default-filter-panel .filter-result { display: table; padding: 5px 0 10px; font-size: 14px; color: #333; }

.m-default-filter-panel .filter-result dt { display: table-cell; width: 70px; vertical-align: top; line-height: 22px; }

.m-default-filter-panel .filter-result dd { display: table-cell; vertical-align: top; font-size: 0; }

.m-default-filter-panel .filter-result dd ul { float: left; margin: -5px 0 0 -20px; }

.m-default-filter-panel .filter-result dd li { display: inline-block; height: 22px; padding: 0 5px; margin: 5px 0 0 20px; vertical-align: middle; line-height: 20px; font-size: 14px; border: 1px dashed #999; cursor: pointer; }

.m-default-filter-panel .filter-result dd li > * { display: inline-block; vertical-align: middle; }

.m-default-filter-panel .filter-result dd li em { max-width: 150px; }

.m-default-filter-panel .filter-result dd li i { margin-left: 4px; }

.m-default-filter-panel .filter-result dd li:hover { color: #ec6527; border-color: #ec6527; }

.m-default-filter-panel .filter-bar { background-color: #fff; font-size: 0; color: #333; }

.m-default-filter-panel .filter-bar span { position: relative; display: inline-block; padding: 18px; vertical-align: middle; font-size: 16px; cursor: pointer; }

.m-default-filter-panel .filter-bar span:hover { color: #ec6527; }

.m-default-filter-panel .filter-bar span.chosen { color: #ec6527; }

.m-default-filter-panel .filter-bar span.chosen:after { content: ''; position: absolute; bottom: 0; left: 0; width: 100%; border-top: 2px solid #ec6527; }

.m-default-filter-panel .filter-panel { display: table; width: 100%; margin-top: 10px; color: #333; }

.m-default-filter-panel .filter-panel .filter-row { display: table-row; background-color: #fff; }

.m-default-filter-panel .filter-panel .filter-cell { display: table-cell; vertical-align: top; }

.m-default-filter-panel .filter-panel .title-cell { width: 110px; padding: 14px; line-height: 22px; background-color: #eee; }

.m-default-filter-panel .filter-panel .content-cell { position: relative; padding: 14px 30px; border-bottom: 1px solid #eff1f7; }

.m-default-filter-panel .filter-panel .choose-content { height: 22px; margin-right: 150px; overflow: hidden; }

.m-default-filter-panel .filter-panel .choose-content .choose-options { margin: -14px 0 0 -20px; font-size: 0; }

.m-default-filter-panel .filter-panel .choose-content .choose-options .choose-option { display: inline-block; margin: 14px 0 0 20px; vertical-align: top; height: 22px; padding: 0 5px; line-height: 20px; font-size: 14px; border: 1px solid transparent; cursor: pointer; }

.m-default-filter-panel .filter-panel .choose-content .choose-options .choose-option:hover { color: #ec6527; border-color: #ec6527; }

.m-default-filter-panel .filter-panel .choose-content .choose-options .choose-option.chosen { color: #fff; background-color: #ec6527; }

.m-default-filter-panel .filter-panel .choose-content .choose-btn-group { display: none; padding-top: 20px; text-align: center; font-size: 0; }

.m-default-filter-panel .filter-panel .choose-content .choose-btn-group .choose-btn { display: inline-block; min-width: 70px; height: 26px; padding: 0 12px; margin: 0 10px; vertical-align: middle; line-height: 26px; text-align: center; font-size: 14px; color: #fff; background-color: #ccc; }

.m-default-filter-panel .filter-panel .choose-content .choose-btn-group .choose-btn:hover { background-color: #bdbdbd; }

.m-default-filter-panel .filter-panel .choose-content .choose-btn-group .choose-btn:active { background-color: #aeaeae; }

.m-default-filter-panel .filter-panel .choose-content .choose-btn-group .choose-btn.confirm-btn { background-color: #ec6527; }

.m-default-filter-panel .filter-panel .choose-content .choose-btn-group .choose-btn.confirm-btn:hover { background-color: #dd5618; }

.m-default-filter-panel .filter-panel .choose-content .choose-btn-group .choose-btn.confirm-btn:active { background-color: #ce4709; }

.m-default-filter-panel .filter-panel .handle-content { position: absolute; top: 0; right: 30px; padding: 14px 0; font-size: 12px; color: #999; }

.m-default-filter-panel .filter-panel .handle-content .handle-btn { display: inline-block; vertical-align: middle; line-height: 22px; }

.m-default-filter-panel .filter-panel .handle-content .handle-btn > * { display: inline-block; vertical-align: middle; }

.m-default-filter-panel .filter-panel .handle-content .handle-btn i { margin-left: 4px; -webkit-transition: -webkit-transform .3s ease-out; transition: -webkit-transform .3s ease-out; transition: transform .3s ease-out; transition: transform .3s ease-out, -webkit-transform .3s ease-out; }

.m-default-filter-panel .filter-panel .handle-content .handle-btn.active { color: #ec6527; }

.m-default-filter-panel .filter-panel .handle-content .handle-btn.active.more-btn i { -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }

.m-default-filter-panel .filter-panel .handle-content .handle-btn + .handle-btn { margin-left: 14px; }

.m-default-filter-panel .filter-panel .filter-row.open .choose-content { height: auto; }

.m-default-filter-panel .filter-panel .filter-row.multiple .choose-content .choose-btn-group { display: block; }

/* m-default-dialog-form */
.m-default-dialog-form { width: 580px; padding: 20px; margin: 0 auto; font-size: 14px; color: #333; background-color: #fff; }

.m-default-dialog-form img { display: block; max-width: 100%; height: auto; margin-left: auto; margin-right: auto; }

.m-default-dialog-form .stress { color: #ec6527; }

.m-default-dialog-form .hint-info { min-height: 20px; padding: 5px 0; line-height: 14px; font-size: 12px; color: #f00; }

.m-default-dialog-form .notice { line-height: 18px; }

.m-default-dialog-form .handle-btn { position: relative; display: inline-block; height: 32px; padding: 0 12px; vertical-align: top; line-height: 32px; text-align: center; font-size: 12px; color: #fff; background-color: #ec6527; border-radius: 5px; overflow: hidden; }

.m-default-dialog-form .handle-btn input[type='file'] { position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; }

.m-default-dialog-form .handle-btn:hover { background-color: #dd5618; }

.m-default-dialog-form .handle-btn:active { background-color: #ce4709; }

.m-default-dialog-form .handle-btn.blue-btn { background-color: #5a98df; }

.m-default-dialog-form .handle-btn.blue-btn:hover { background-color: #4b89d0; }

.m-default-dialog-form .handle-btn.blue-btn:active { background-color: #3c7ac1; }

.m-default-dialog-form .form-row { width: 100%; font-size: 0; }

.m-default-dialog-form .form-cell { display: inline-block; vertical-align: top; font-size: 14px; }

.m-default-dialog-form .form-cell.title-cell { width: 25%; text-align: right; }

.m-default-dialog-form .form-cell.title-cell .title { display: inline-block; padding: 7px 0; line-height: 18px; }

.m-default-dialog-form .form-cell.title-cell .title.star-title:before { content: '*'; margin-right: 2px; font-size: .8em; color: #f00; }

.m-default-dialog-form .form-cell.content-cell { width: 75%; padding-right: 30px; }

.m-default-dialog-form .form-cell input[type='text'], .m-default-dialog-form .form-cell input[type='password'], .m-default-dialog-form .form-cell textarea, .m-default-dialog-form .form-cell select { width: 100%; height: 32px; padding: 0 12px; vertical-align: top; background-color: transparent; border: 1px solid #ddd; border-radius: 5px; }

.m-default-dialog-form .form-cell input[type='text']:focus, .m-default-dialog-form .form-cell input[type='password']:focus, .m-default-dialog-form .form-cell textarea:focus, .m-default-dialog-form .form-cell select:focus { border-color: #ec6527; }

.m-default-dialog-form .form-cell textarea { min-height: 52px; padding-top: 10px; padding-bottom: 10px; height: auto; }

.m-default-dialog-form .form-cell select { padding-right: 0; }

.m-default-dialog-form .form-cell input[type='checkbox'], .m-default-dialog-form .form-cell input[type='radio'] { vertical-align: middle; }

.m-default-dialog-form .form-cell label { display: inline-block; margin-bottom: 5px; line-height: 18px; }

.m-default-dialog-form .form-cell label input[type='checkbox'], .m-default-dialog-form .form-cell label input[type='radio'] { margin-right: 4px; }

.m-default-dialog-form .form-cell .label-group { padding: 7px 0; }

.m-default-dialog-form .form-cell .label-group label { margin-right: 10px; vertical-align: top; }

.m-default-dialog-form .form-cell .handle-btn.input-btn { padding: 0; }

.m-default-dialog-form .form-cell .handle-btn.input-btn img { width: 100%; height: 100%; }

.m-default-dialog-form .form-cell .notice { padding: 7px 0; }

.m-default-dialog-form .form-cell .uploadfile-list dt { padding: 8px 0; border-bottom: 1px solid #d6d6d6; }

.m-default-dialog-form .form-cell .uploadfile-list dd { padding: 8px; margin: 0 10px; font-size: 0; }

.m-default-dialog-form .form-cell .uploadfile-list dd > * { display: inline-block; vertical-align: top; font-size: 14px; }

.m-default-dialog-form .form-cell .uploadfile-list dd span { width: 90%; }

.m-default-dialog-form .form-cell .uploadfile-list dd span a { max-width: 100%; }

.m-default-dialog-form .form-cell .uploadfile-list dd em { width: 10%; text-align: right; color: #999; }

.m-default-dialog-form .form-cell .uploadfile-list dd + dd { border-top: 1px dashed #d6d6d6; }

/* ---元件类公用(.u-开头)--- */
/* u-loading-circle */
.u-loading-circle { min-width: 70px; min-height: 70px; margin-left: auto; margin-right: auto; background: url(../resource/img/rn_loading_circle.gif) no-repeat center; }

/* u-member-level */
.u-member-level { display: inline-block; width: 20px; height: 20px; background-repeat: no-repeat; background-position: center; background-size: 100% auto; }

.u-member-level.level1 { background-image: url(../resource/img/rn_member_level_1.png); }

.u-member-level.level3 { background-image: url(../resource/img/rn_member_level_3.png); }

.u-member-level.level4 { background-image: url(../resource/img/rn_member_level_4.png); }

.u-member-level.level5 { background-image: url(../resource/img/rn_member_level_5.png); }

.u-member-level.level6 { background-image: url(../resource/img/rn_member_level_6.png); }

.u-member-level.level7 { background-image: url(../resource/img/rn_member_level_7.png); }

.u-member-level.level9 { background-image: url(../resource/img/rn_member_level_9.png); }

.u-member-level.level10 { background-image: url(../resource/img/rn_member_level_10.png); }
