@charset "UTF-8";
/* 字体 */
.font-simsun { font-family: SimSun; }

.font-kaiti { font-family: KaiTi; }

.font-yahei { font-family: "Microsoft YaHei"; }

/* 字号 */
.font-pt-s2 { font-size: 18pt; }

.font-pt-3 { font-size: 16pt; }

.font-pt-s4 { font-size: 12pt; }

.font-pt-5 { font-size: 10.5pt; }

/* 加粗 */
b, .font-bold { font-weight: bold; }

/* stress */
.stress { color: #f00; }

.stress1 { color: #00f; }

/* document style */
.document-container { width: 500pt; margin: 0 auto; line-height: 1.6; font-family: SimSun; font-size: 10.5pt; color: #000; background-color: #fff; }

.document-table { border-collapse: collapse; border-spacing: 0; width: 100%; max-width: 100%; line-height: 1.4; background-color: #fff; border: 1px solid #999; }

.document-table th, .document-table td { min-width: 50pt; padding: 5pt 9pt; border: 1px solid #999; }

.document-table .title { display: inline-block; min-width: 50pt; font-weight: bold; }

.document-table .title .note { font-size: 9pt; font-weight: normal; }

.document-table .title.star-title:before { content: '*'; font-weight: normal; color: #f00; }

.document-table .brand-pic { display: block; width: 90pt; margin: 4pt auto; border: 1px solid #ddd; }
