.m-crumbs-nav { margin-bottom: 18px; }

.order-details-body { border-top: 1px solid #eee; }

.m-order-info-card { margin: 28px 0 46px 0; }

.evaluate-container .evaluate-box { margin: 38px 0 40px 0; }

/* evaluate-item */
.evaluate-container .evaluate-item .title, .evaluate-container .evaluate-item .content { float: left; }

.evaluate-container .evaluate-item .title { font-size: 14px; font-weight: bold; color: #666; }

.evaluate-container .evaluate-item textarea { resize: none; width: 328px; height: 102px; padding: 8px 10px; border: 1px solid #ddd; }

.evaluate-container .evaluate-item .evaluate-score { margin-bottom: 25px; }

.evaluate-container .evaluate-item .evaluate-score .title { line-height: 18px; }

.evaluate-container .evaluate-item .evaluate-desc .title { line-height: 32px; }

.evaluate-container .evaluate-item.service-evaluate { float: left; }

.evaluate-container .evaluate-item.org-evaluate { float: right; }

.evaluate-container .anony-wrapper { margin-bottom: 60px; text-align: right; }

.evaluate-container .anony-wrapper .anony-check { color: #666; }

.evaluate-container .anony-wrapper .anony-check input[type='checkbox'] { margin-right: 2px; vertical-align: -1px; }

.evaluate-container .btn-group { padding: 22px 0; text-align: center; }

.evaluate-container .btn-group .submit-btn { width: 153px; height: 32px; line-height: 32px; color: #fff; background-color: #f78e24; border-radius: 5px; }

.evaluate-container .btn-group .submit-btn:active { background-color: #e37a10; }
