@charset "UTF-8";
/* head-section */
.head-section { box-sizing: border-box; height: 450px; padding-top: 328px; background: url(../resource/img/sme_finance_pic037.jpg) no-repeat center top; }

.head-section * { box-sizing: border-box; }

.head-section .query-container { width: 916px; margin: 0 auto; }

.head-section .query-container .input-box { position: relative; width: 100%; height: 50px; font-size: 0; background-color: #fff; border-radius: 50px; overflow: hidden; }

.head-section .query-container .input-box input[type='text'] { display: block; width: 100%; height: 50px; padding: 15px 24px; line-height: 20px; font-size: 12px; border: none; background-color: transparent; }

.head-section .query-container .input-box .inputwrap { position: relative; display: inline-block; vertical-align: middle; }

.head-section .query-container .input-box .inputwrap:last-of-type input[type='text'] { padding-right: 214px; }

.head-section .query-container .input-box .inputwrap + .inputwrap:before { content: ''; position: absolute; top: 18px; bottom: 18px; left: 0; width: 1px; background-color: #ccc; }

.head-section .query-container .input-box .query-btn { position: absolute; top: 0; right: 0; width: 190px; height: 50px; line-height: 50px; text-align: center; font-size: 14px; color: #fff; background-color: #6536fe; border-top-right-radius: 50px; border-bottom-right-radius: 50px; }

.head-section .query-container .input-box .query-btn:hover { background-color: #5627ef; }

.head-section .query-container .input-box .query-btn:active { background-color: #4718e0; }

.head-section .query-container .hint-info { padding: 9px 0; text-align: center; font-size: 12px; color: #f00; }

/* section-head 共 */
.section-head { box-sizing: border-box; padding: 40px 0; text-align: center; color: #333; }

.section-head * { box-sizing: border-box; }

.section-head .stress { color: #e00000; }

.section-head .head-title { font-size: 30px; font-weight: bold; }

.section-head .head-title .line-title { display: inline-block; vertical-align: middle; }

.section-head .head-title .line-title:before, .section-head .head-title .line-title:after { content: ''; display: inline-block; width: 102px; height: 3px; vertical-align: middle; background-color: #e00000; }

.section-head .head-title .line-title:before { margin-right: 24px; }

.section-head .head-title .line-title:after { margin-left: 24px; }

.section-head.w-head { color: #fff; }

.section-head.w-head .head-title .line-title:before, .section-head.w-head .head-title .line-title:after { background-color: #fff; }

/* service-section */
.service-section { box-sizing: border-box; background-color: #f8f8f8; }

.service-section * { box-sizing: border-box; }

.service-section .service-panels { padding-bottom: 70px; margin: -20px 0 0 -60px; }

.service-section .service-panel { float: left; margin: 20px 0 0 60px; font-size: 0; color: #333; background-color: #fff; box-shadow: 0 2px 5px 0 #dddddd; -webkit-transition: box-shadow .3s ease-out, -webkit-transform .3s ease-out; transition: box-shadow .3s ease-out, -webkit-transform .3s ease-out; transition: transform .3s ease-out, box-shadow .3s ease-out; transition: transform .3s ease-out, box-shadow .3s ease-out, -webkit-transform .3s ease-out; }

.service-section .service-panel h3 { font-size: 24px; font-weight: bold; }

.service-section .service-panel .desc-list { font-size: 14px; }

.service-section .service-panel .desc-list li { position: relative; padding-left: 20px; line-height: 16px; }

.service-section .service-panel .desc-list li:before { content: ''; position: absolute; top: 3px; left: 0; display: inline-block; width: 10px; height: 10px; background-color: #000; border-radius: 50%; }

.service-section .service-panel .panel-handle { display: inline-block; height: 32px; padding: 0 18px; vertical-align: middle; line-height: 30px; font-size: 14px; color: #333; background-color: #fff; border: 1px solid #999; border-radius: 32px; }

.service-section .service-panel .panel-handle:hover { color: #fff; background-color: #e00000; border-color: #e00000; }

.service-section .service-panel .panel-handle:active { background-color: #c20000; }

.service-section .service-panel:hover { -webkit-transform: translateY(-6px); -ms-transform: translateY(-6px); transform: translateY(-6px); box-shadow: 0 4px 15px 0 rgba(102, 102, 102, 0.45); }

.service-section .service-panel:hover h3 { color: #e00000; }

.service-section .service-panel.text-panel { width: 1200px; height: 200px; }

.service-section .service-panel.text-panel .panel-head { display: inline-block; width: 296px; height: 100%; vertical-align: top; background-color: #fff; background-repeat: no-repeat; background-position: right bottom; background-size: auto 100%; }

.service-section .service-panel.text-panel .panel-head h3 { padding: 47px 0 0 60px; }

.service-section .service-panel.text-panel .panel-body { display: inline-block; width: 764px; height: 100%; padding: 55px 44px 0; vertical-align: middle; }

.service-section .service-panel.text-panel .panel-body .desc-list { margin: -18px 0 0 -24px; }

.service-section .service-panel.text-panel .panel-body .desc-list li { float: left; margin: 18px 0 0 24px; }

.service-section .service-panel.text-panel .panel-body .desc-list li:before { background-color: #666; }

.service-section .service-panel.text-panel .panel-foot { display: inline-block; vertical-align: middle; }

.service-section .service-panel.pic-panel { width: 570px; height: 237px; padding: 30px 48px 0; margin-top: 53px; background-repeat: no-repeat; background-position: right bottom; background-size: cover; }

.service-section .service-panel.pic-panel .desc-list { margin-top: 18px; }

.service-section .service-panel.pic-panel .desc-list li + li { margin-top: 14px; }

.service-section .service-panel.pic-panel .panel-handle { margin-top: 23px; }

/* advantage-section */
.advantage-section { box-sizing: border-box; padding-top: 24px; background: url(../resource/img/sme_finance_pic038.jpg) no-repeat center; background-size: cover; }

.advantage-section * { box-sizing: border-box; }

.advantage-section .desc-wrap { padding-top: 29px; padding-bottom: 69px; text-align: center; font-size: 0; }

.advantage-section .desc-wrap .desc-list { display: inline-block; vertical-align: middle; color: #333; }

.advantage-section .desc-wrap .desc-list li + li { margin-top: 66px; }

.advantage-section .desc-wrap .desc-list li > * { display: inline-block; vertical-align: middle; }

.advantage-section .desc-wrap .desc-list i { width: 90px; height: 90px; background: url(../resource/img/sme_finance_sprites003.png) no-repeat 0 0; }

.advantage-section .desc-wrap .desc-list .text { width: 330px; }

.advantage-section .desc-wrap .desc-list h3 { font-size: 14px; font-weight: normal; }

.advantage-section .desc-wrap .desc-list p { margin-top: 10px; line-height: 18px; font-size: 12px; }

.advantage-section .desc-wrap .desc-list.left { margin-right: 30px; text-align: right; }

.advantage-section .desc-wrap .desc-list.left .text { margin-right: 10px; }

.advantage-section .desc-wrap .desc-list.right { margin-left: 30px; text-align: left; }

.advantage-section .desc-wrap .desc-list.right .text { margin-left: 10px; }

.advantage-section .desc-wrap .title { display: inline-block; vertical-align: middle; }

/* case-section */
.case-section { box-sizing: border-box; background-color: #f8f8f8; }

.case-section * { box-sizing: border-box; }

.case-section .section-head { padding-top: 64px; padding-bottom: 64px; }

.case-section .case-cards { position: relative; padding: 0 55px 80px; }

.case-section .case-cards .case-swiper { width: 100%; height: 350px; overflow: hidden; }

.case-section .case-cards .swiper-slide { float: left; display: block; width: 100%; height: 350px; background-color: #fff; overflow: hidden; }

.case-section .case-cards .swiper-slide figure { float: left; width: 340px; margin-right: -340px; }

.case-section .case-cards .swiper-slide .desc-content { position: relative; padding: 35px 30px 0; margin-left: 340px; }

.case-section .case-cards .swiper-slide .desc-content .tag { position: absolute; top: 20px; right: 30px; display: block; height: 26px; padding: 0 9px; line-height: 24px; font-size: 14px; color: #e00000; border: 1px solid #e00000; border-radius: 26px; }

.case-section .case-cards .swiper-slide .desc-content h3 { font-size: 18px; font-weight: bold; color: #333; }

.case-section .case-cards .swiper-slide .desc-content .desc-list li { padding: 15px 0; line-height: 24px; }

.case-section .case-cards .swiper-slide .desc-content .desc-list li .title { color: #333; }

.case-section .case-cards .swiper-slide .desc-content .desc-list li.foot { line-height: 1; }

.case-section .case-cards .swiper-slide .desc-content .desc-list li.foot .num { font-size: 1.7em; color: #e00000; }

.case-section .case-cards .swiper-slide .desc-content .desc-list li + li { border-top: 1px dashed #ddd; }

.case-section .case-cards .swiper-btn { position: absolute; top: 50%; width: 22px; height: 60px; margin-top: -70px; line-height: 60px; text-align: center; font-size: 20px; color: #fff; background-color: #ccc; cursor: pointer; opacity: 1; filter: alpha(opacity=100); }

.case-section .case-cards .swiper-btn:hover { background-color: #e00000; }

.case-section .case-cards .swiper-btn:active { background-color: #c20000; }

.case-section .case-cards .swiper-btn.swiper-btn-prev { left: 0; }

.case-section .case-cards .swiper-btn.swiper-btn-next { right: 0; }

/* question-section */
.question-section { box-sizing: border-box; background: url(../resource/img/sme_finance_pic039.jpg) no-repeat center; background-size: cover; }

.question-section * { box-sizing: border-box; }

.question-section .section-head { padding-top: 83px; padding-bottom: 60px; }

.question-section .question-bars { padding: 0 48px 83px; margin: -26px 0 0 -64px; font-size: 0; }

.question-section .question-bar { position: relative; display: inline-block; width: 520px; min-height: 46px; padding: 13px 22px 13px 42px; margin: 26px 0 0 64px; vertical-align: top; line-height: 20px; font-size: 14px; color: #333; background-color: rgba(255, 255, 255, 0.6); border-radius: 10px; -webkit-transition: background-color .3s ease-out, -webkit-transform .3s ease-out; transition: background-color .3s ease-out, -webkit-transform .3s ease-out; transition: transform .3s ease-out, background-color .3s ease-out; transition: transform .3s ease-out, background-color .3s ease-out, -webkit-transform .3s ease-out; }

.question-section .question-bar:before { content: ''; position: absolute; top: 50%; left: 10px; margin-top: -7px; width: 20px; height: 18px; background: url(../resource/img/sme_finance_icon004.png) no-repeat center; }

.question-section .question-bar:hover { background-color: rgba(255, 255, 255, 0.85); -webkit-transform: translateY(-3px); -ms-transform: translateY(-3px); transform: translateY(-3px); }

/* path-section */
.path-section { box-sizing: border-box; background-color: #fff; }

.path-section * { box-sizing: border-box; }

.path-section .section-head { padding-top: 72px; padding-bottom: 86px; }

.path-section .path-list { text-align: center; font-size: 0; }

.path-section .path-list li { display: inline-block; vertical-align: top; min-width: 206px; font-size: 16px; color: #333; }

.path-section .path-list li i { display: block; width: 120px; height: 120px; margin: 0 auto; background: url(../resource/img/sme_finance_sprites003.png) no-repeat 0 -92px; }

.path-section .path-list li p { margin-top: 23px; }

.path-section .path-list li.arrow { width: 36px; min-width: 36px; font-size: 36px; margin-top: 40px; color: #ddd; }

.path-section .section-foot { padding: 60px 0; text-align: center; }

.path-section .section-foot .query-btn { display: inline-block; width: 224px; height: 45px; line-height: 45px; text-align: center; font-size: 16px; color: #fff; background-color: #e00000; border-radius: 45px; }

.path-section .section-foot .query-btn:hover { background-color: #d10000; }

.path-section .section-foot .query-btn:active { background-color: #c20000; }
