body { background-color: #f7f7f7; }

/* head-crumbs-nav */
.head-crumbs-nav .m-crumbs-nav { background-color: transparent; }

.head-crumbs-nav .m-crumbs-nav dl > * { font-size: 12px; color: #333; }

.head-crumbs-nav .m-crumbs-nav dl > * a { color: inherit; }

.head-crumbs-nav .m-crumbs-nav dl > * a:hover { color: #e00000; }

.head-crumbs-nav .m-crumbs-nav dl > * span { color: #999; }

.head-crumbs-nav .m-crumbs-nav dl dd + dd:before { color: inherit; }

/* filter-panel */
.filter-panel { box-sizing: border-box; font-size: 14px; color: #333; background-color: #fff; }

.filter-panel * { box-sizing: border-box; }

.filter-panel .title { float: left; width: 80px; margin-right: -80px; line-height: 26px; }

.filter-panel .content { margin-left: 80px; line-height: 24px; }

.filter-panel .results-container { padding: 15px 30px; border-bottom: 1px solid #eee; }

.filter-panel .results-container .results-group { float: left; margin: -10px 0 0 -10px; }

.filter-panel .results-container .results-group .result { float: left; height: 26px; padding: 0 8px; margin: 10px 0 0 10px; font-size: 0; color: #e00000; border: 1px solid #e00000; border-radius: 4px; cursor: default; }

.filter-panel .results-container .results-group .result > * { display: inline-block; vertical-align: middle; font-size: 14px; }

.filter-panel .results-container .results-group .result .name { max-width: 140px; }

.filter-panel .results-container .results-group .result .del { margin-left: 5px; font-size: 12px; color: inherit; }

.filter-panel .results-container .results-group .result:hover { color: #fff; background-color: #e00000; }

.filter-panel .choose-container { padding: 20px 30px 30px; }

.filter-panel .choose-container .options-box { float: left; width: 925px; }

.filter-panel .choose-container .options-group { float: left; width: 100%; margin: -10px 0 0 -10px; }

.filter-panel .choose-container .options-group .option { float: left; height: 26px; padding: 0 8px; margin: 10px 0 0 10px; font-size: 0; color: #666; border: 1px solid transparent; border-radius: 4px; cursor: pointer; }

.filter-panel .choose-container .options-group .option > * { display: inline-block; vertical-align: middle; font-size: 14px; }

.filter-panel .choose-container .options-group .option .name { max-width: 140px; }

.filter-panel .choose-container .options-group .option.chosen { color: #fff; background-color: #e00000; border-color: #e00000; }

.filter-panel .choose-container .options-group .option:hover { color: #fff; background-color: #e00000; border-color: #e00000; }

.filter-panel .choose-container .options-group .custom-option { float: left; height: 26px; padding: 0 8px; margin: 10px 0 0 10px; font-size: 0; color: #666; border: 1px solid transparent; }

.filter-panel .choose-container .options-group .custom-option > * { display: inline-block; vertical-align: middle; font-size: 14px; }

.filter-panel .choose-container .options-group .custom-option .connector { margin: 0 2px; }

.filter-panel .choose-container .options-group .custom-option .unit { margin: 0 5px; }

.filter-panel .choose-container .options-group .custom-option input[type='text'] { width: 70px; height: 24px; padding: 0 10px; margin: 0 5px; line-height: 22px; border: 1px solid #ddd; border-radius: 4px; }

.filter-panel .choose-container .options-group .custom-option input[type='text']:focus { border-color: #e00000; }

.filter-panel .choose-container .options-group .custom-option .handle-btn { display: inline-block; min-width: 30px; height: 24px; padding: 0 10px; margin: 0 5px; vertical-align: middle; line-height: 22px; text-align: center; color: #666; background-color: #f7f7f7; border: 1px solid #ddd; border-radius: 4px; }

.filter-panel .choose-container .options-group .custom-option .handle-btn:hover { background-color: #e8e8e8; }

.filter-panel .choose-container .options-group .custom-option .handle-btn:active { background-color: #d9d9d9; }

.filter-panel .choose-container .options-group .custom-option .handle-btn.confirm-btn { color: #fff; background-color: #e00000; border-color: #e00000; }

.filter-panel .choose-container .options-group .custom-option .handle-btn.confirm-btn:hover { background-color: #d10000; }

.filter-panel .choose-container .options-group .custom-option .handle-btn.confirm-btn:active { background-color: #c20000; }

.filter-panel .choose-container .options-foot-handle { display: none; padding-top: 10px; text-align: center; }

.filter-panel .choose-container .options-foot-handle .handle-btn { display: inline-block; min-width: 30px; height: 26px; padding: 0 10px; margin: 5px; vertical-align: middle; line-height: 24px; text-align: center; color: #666; background-color: #f7f7f7; border: 1px solid #ddd; border-radius: 4px; }

.filter-panel .choose-container .options-foot-handle .handle-btn:hover { background-color: #e8e8e8; }

.filter-panel .choose-container .options-foot-handle .handle-btn:active { background-color: #d9d9d9; }

.filter-panel .choose-container .options-foot-handle .handle-btn.confirm-btn { color: #fff; background-color: #e00000; border-color: #e00000; }

.filter-panel .choose-container .options-foot-handle .handle-btn.confirm-btn:hover { background-color: #d10000; }

.filter-panel .choose-container .options-foot-handle .handle-btn.confirm-btn:active { background-color: #c20000; }

.filter-panel .choose-container .handle-group { float: right; font-size: 0; }

.filter-panel .choose-container .handle-group .handle-btn { display: inline-block; height: 26px; padding: 0 8px; vertical-align: middle; line-height: 26px; font-size: 14px; color: #999; border-radius: 4px; }

.filter-panel .choose-container .handle-group .handle-btn > * { display: inline-block; vertical-align: middle; line-height: 1; color: inherit; }

.filter-panel .choose-container .handle-group .handle-btn i { font-size: 16px; -webkit-transition: -webkit-transform .4s ease-out; transition: -webkit-transform .4s ease-out; transition: transform .4s ease-out; transition: transform .4s ease-out, -webkit-transform .4s ease-out; }

.filter-panel .choose-container .handle-group .handle-btn.hide { display: none; }

.filter-panel .choose-container .handle-group .handle-btn.active { color: #fff; background-color: #e00000; }

.filter-panel .choose-container .handle-group .handle-btn.active.more-btn i { -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }

.filter-panel .choose-container .handle-group .handle-btn:hover { color: #fff; background-color: #e00000; }

.filter-panel .choose-container .handle-group .handle-btn + .handle-btn { margin-left: 5px; }

.filter-panel .choose-container .choose-item.with-more .options-group-wrap { height: 26px; overflow: hidden; }

.filter-panel .choose-container .choose-item.with-more.on-more .options-group-wrap { height: auto; }

.filter-panel .choose-container .choose-item.on-multiple .options-foot-handle { display: block; }

.filter-panel .choose-container .choose-item + .choose-item { margin-top: 15px; }

/* filter-bar */
.filter-bar { margin-top: 10px; }

.filter-bar .bar-panel { padding: 15px 30px; line-height: 26px; font-size: 14px; color: #333; background-color: #fff; }

.filter-bar .bar-panel .filter-group { font-size: 0; }

.filter-bar .bar-panel .filter-group .filter-item { display: inline-block; vertical-align: middle; }

.filter-bar .bar-panel .filter-group .filter-item > * { display: inline-block; vertical-align: middle; font-size: 14px; }

.filter-bar .bar-panel .filter-group .filter-item .content { padding-left: 12px; }

.filter-bar .bar-panel .filter-group .filter-item .content select { max-width: 108px; height: 26px; padding: 0 12px; line-height: 24px; font-size: 13px; border: 1px solid #ddd; }

.filter-bar .bar-panel .filter-group .filter-item + .filter-item { margin-left: 20px; }

/* content-container */
.content-container { box-sizing: border-box; padding: 22px 0; }

.content-container * { box-sizing: border-box; }

/* main-content */
.content-container .main-content .service-cards { margin: -20px 0 0 -20px; }

.content-container .main-content .service-card { float: left; width: 285px; height: 320px; margin: 20px 0 0 20px; color: #333; background-color: #fff; box-shadow: 0 2px 5px 0 #dddddd; -webkit-transition: box-shadow .3s ease-out, -webkit-transform .3s ease-out; transition: box-shadow .3s ease-out, -webkit-transform .3s ease-out; transition: transform .3s ease-out, box-shadow .3s ease-out; transition: transform .3s ease-out, box-shadow .3s ease-out, -webkit-transform .3s ease-out; }

.content-container .main-content .service-card .pic { display: block; width: 100%; height: 210px; overflow: hidden; }

.content-container .main-content .service-card .pic img { display: block; width: 100%; height: 100%; -webkit-transition: -webkit-transform .3s ease-out; transition: -webkit-transform .3s ease-out; transition: transform .3s ease-out; transition: transform .3s ease-out, -webkit-transform .3s ease-out; }

.content-container .main-content .service-card .pic:hover img { -webkit-transform: scale(1.06); -ms-transform: scale(1.06); transform: scale(1.06); }

.content-container .main-content .service-card .desc { padding: 18px 10px 0; }

.content-container .main-content .service-card .desc h3 { font-size: 14px; font-weight: normal; }

.content-container .main-content .service-card .desc h3 a { max-width: 100%; vertical-align: middle; color: inherit; -webkit-transition: -webkit-transform .3s ease-out; transition: -webkit-transform .3s ease-out; transition: transform .3s ease-out; transition: transform .3s ease-out, -webkit-transform .3s ease-out; }

.content-container .main-content .service-card .desc h3 a:hover { color: #e00000; -webkit-transform: translateX(6px); -ms-transform: translateX(6px); transform: translateX(6px); }

.content-container .main-content .service-card .desc h3 a:active { color: #c20000; }

.content-container .main-content .service-card .desc .info { margin-top: 15px; line-height: 1.4; font-size: 14px; color: #999; }

.content-container .main-content .service-card .desc .info .price { line-height: 1; color: #e00000; }

.content-container .main-content .service-card .desc .info .price .num { font-size: 1.4em; font-weight: bold; }

.content-container .main-content .service-card .desc .foot-info { margin-top: 15px; line-height: 16px; font-size: 14px; color: #666; }

.content-container .main-content .service-card .desc .foot-info .tag { display: inline-block; padding: 0 6px; height: 16px; vertical-align: middle; font-size: 12px; color: #fff; background-color: #e00000; border-radius: 16px; }

.content-container .main-content .service-card .desc .foot-info .tag + .tag { margin-left: 8px; }

.content-container .main-content .service-card:hover { -webkit-transform: translateY(-6px); -ms-transform: translateY(-6px); transform: translateY(-6px); box-shadow: 0 4px 15px 0 rgba(204, 204, 204, 0.9); }

.content-container .main-content .content-empty { padding: 100px 0; text-align: center; font-size: 18px; color: #666; }

.content-container .main-content .content-empty .pic { margin: 0 auto 60px; }

.content-container .main-content .content-empty .pic img { vertical-align: middle; }

.content-container .main-content .pagination-container { padding: 20px 0; }

.content-container .main-content .pagination-container .m-default-pagination .current { background-color: #e00000; }

.content-container .main-content .pagination-container .m-default-pagination a:hover { background-color: #e00000; border-color: #e00000; }

.content-container .main-content .pagination-container .m-default-pagination a:active { background-color: #c20000; }

.content-container .main-content .pagination-container .m-default-pagination input[type="text"]:focus { border-color: #e00000; }

.content-container .main-content .pagination-container .m-default-pagination input[type="button"]:hover { color: #fff; background-color: #e00000; border-color: #e00000; }

.content-container .main-content .pagination-container .m-default-pagination input[type="button"]:active { background-color: #c20000; }

.content-container .main-content .pagination-container .m-group-pagination .current { background-color: #e00000; border-color: #e00000; }

.content-container .main-content .pagination-container .m-group-pagination a:hover { background-color: #e00000; border-color: #e00000; }

.content-container .main-content .pagination-container .m-group-pagination a:active { background-color: #c20000; }

.content-container .main-content .pagination-container .m-group-pagination input[type="text"]:focus { border-color: #e00000; }

.content-container .main-content .pagination-container .m-group-pagination input[type="button"]:hover { background-color: #e00000; border-color: #e00000; }

.content-container .main-content .pagination-container .m-group-pagination input[type="button"]:active { background-color: #c20000; }

.content-container .main-content .pagination-container .m-group-pagination .page-nav .current { background-color: #e00000; border-color: #e00000; }
