@charset "UTF-8";
/* service-container 共 */
.service-container .service-container-title { margin-bottom: 30px; text-align: center; }

.service-container .service-container-title .title { font-size: 16px; font-weight: bold; color: #333; }

.service-container .service-container-title .title:before, .service-container .service-container-title .title:after { content: ''; display: inline-block; width: 172px; height: 1px; vertical-align: middle; background: url(../resource/img/sme_member_sprites4.png) no-repeat 0 999px; }

.service-container .service-container-title .title:before { margin-right: 26px; background-position-y: 0; }

.service-container .service-container-title .title:after { margin-left: 26px; background-position-y: -2px; }

/* service-cards-container */
.service-set-container { margin-bottom: 56px; }

.service-set-container .service-cards-container { overflow: hidden; }

.service-set-container .service-cards-container .container-inner { margin-top: -8px; margin-left: -8px; font-size: 0; }

.service-set-container .service-cards-container .service-card { display: inline-block; width: 225px; height: 240px; padding: 39px 0 35px 0; margin-top: 8px; margin-left: 8px; vertical-align: top; text-align: center; font-size: 13px; color: #666; background-color: #f2f3f7; -webkit-transition: background-color .3s ease-out; transition: background-color .3s ease-out; }

.service-set-container .service-cards-container .service-card .title { font-size: 18px; font-weight: bold; color: #22447a; }

.service-set-container .service-cards-container .service-card .title:after { content: ''; display: block; width: 173px; height: 1px; margin: 18px auto 23px auto; background: url(../resource/img/sme_member_icon20.png) no-repeat center; }

.service-set-container .service-cards-container .service-card .desc { width: 120px; min-height: 105px; margin: 0 auto; text-align: justify; line-height: 1.2; color: #22447a; }

.service-set-container .service-cards-container .service-card .desc .desc-item { margin-left: 10px; }

.service-set-container .service-cards-container .service-card .desc .desc-item:before { content: '·'; display: inline-block; margin-right: 4px; margin-left: -10px; font-weight: bold; }

.service-set-container .service-cards-container .service-card .desc .desc-item + .desc-item { margin-top: 8px; }

.service-set-container .service-cards-container .service-card .price-wrapper { margin: 12px 0 15px 0; }

.service-set-container .service-cards-container .service-card .price-wrapper .price .num { font-size: 18px; font-weight: bold; color: #f99003; }

.service-set-container .service-cards-container .service-card .price-wrapper .price .num:before { content: '¥'; margin-right: 4px; font-size: 13px; font-weight: normal; }

.service-set-container .service-cards-container .service-card .price-wrapper .price .unit { font-size: 13px; color: #666; }

.service-set-container .service-cards-container .service-card .card-btn { width: 120px; height: 30px; line-height: 30px; text-align: center; font-size: 14px; color: #fff; background-color: #f78e24; border-radius: 5px; }

.service-set-container .service-cards-container .service-card .card-btn:hover { background-color: #ed841a; }

.service-set-container .service-cards-container .service-card .card-btn:active { background-color: #d46b01; }

.service-set-container .service-cards-container .service-card:hover { background-color: #e8e9ed; }

/* service-list */
.service-single-container .service-list .list-item { padding: 24px 0; font-size: 0; border-bottom: 1px solid #eee; }

.service-single-container .service-list .list-item > * { display: inline-block; vertical-align: middle; font-size: 14px; }

.service-single-container .service-list .list-item .item-desc { width: 708px; line-height: 1.2; }

.service-single-container .service-list .list-item .item-desc .title { margin-bottom: 8px; font-size: 15px; font-weight: bold; color: #333; }

.service-single-container .service-list .list-item .item-desc .desc-para { line-height: 24px; }

.service-single-container .service-list .list-item .item-handle { width: 216px; text-align: right; }

.service-single-container .service-list .list-item .item-handle .handle-btn { width: 120px; height: 32px; line-height: 32px; text-align: center; color: #fff; background-color: #f78e24; border-radius: 5px; }

.service-single-container .service-list .list-item .item-handle .handle-btn:hover { background-color: #e87f15; }

.service-single-container .service-list .list-item .item-handle .handle-btn:active { background-color: #d97006; }
