/* homepage-settings */
.homepage-settings { border-top: 2px solid #eee; }

/* homepage-setting */
.homepage-setting { padding: 22px 44px; font-size: 0; border-bottom: 1px solid #eee; }

.homepage-setting > * { display: inline-block; vertical-align: middle; font-size: 14px; }

.homepage-setting .setting-desc { width: 678px; line-height: 1.2; }

.homepage-setting .setting-desc .title { margin-bottom: 8px; font-size: 15px; font-weight: bold; color: #333; }

.homepage-setting .setting-handle { width: 158px; text-align: right; }

.homepage-setting .setting-handle .handle-btn { width: 136px; height: 32px; line-height: 32px; text-align: center; color: #fff; background-color: #f78e24; border-radius: 5px; }

.homepage-setting .setting-handle .handle-btn:hover { background-color: #e87f15; }

.homepage-setting .setting-handle .handle-btn:active { background-color: #d97006; }

.homepage-setting:hover { background-color: #f8f8f8; }
