@charset "UTF-8";
/* self-btn */
.self-btn { box-sizing: border-box; display: inline-block; min-width: 180px; height: 54px; padding: 0 20px; vertical-align: middle; line-height: 54px; text-align: center; font-size: 22px; color: #fff; border-radius: 8px; }

.self-btn.white-btn { background: #fff; }

.self-btn.white-btn:hover { background: #f0f0f0; color: #333; }

.self-btn.white-btn:active { background: #e1e1e1; }

.self-btn.red-btn { background: #ff0010; }

.self-btn.red-btn:hover { background: #f00001; }

.self-btn.red-btn:active { background: #e10000; }

.self-btn.rounded-btn { border-radius: 54px; }

.self-btn.outline-btn { line-height: 52px; background: transparent; border-width: 1px; border-style: solid; }

.self-btn.outline-btn.white-btn { border-color: #fff; }

.self-btn.outline-btn.red-btn { color: #ff0010; border-color: #ff0010; }

.self-btn.outline-btn.red-btn:hover { color: #fff; }

.self-btn:hover { color: #fff; }

/* head-bg-wrapper */
.head-bg-wrapper { background: url(../resource/img/sme_landing_bgi32.jpg) no-repeat center top; }

/* sme-head4 */
.sme-head4 .head-logo { padding-top: 25px; background-color: transparent; }

.sme-head4 .head-logo .stress { color: #fff; }

.sme-head4 .head-logo .right-info { line-height: 49px; }

.sme-head4 .head-logo .right-info .hot-line { color: #fff; }

/* head-section */
.head-section { box-sizing: border-box; }

.head-section * { box-sizing: border-box; }

.head-section .query-container { padding: 278px 104px 98px; }

.head-section .query-container .query-input-wrap { width: 100%; }

.head-section .query-container .query-input-wrap .input-box { width: 100%; height: 60px; font-size: 0; overflow: hidden; border-radius: 60px; }

.head-section .query-container .query-input-wrap .input-box input[type='text'] { display: inline-block; height: 60px; padding: 10px 20px; line-height: 40px; vertical-align: top; font-size: 16px; background-color: #fff; border: none; }

.head-section .query-container .query-input-wrap .input-box input[type='text'].tel-input { width: 410px; padding-left: 27px; border-top-left-radius: 60px; border-bottom-left-radius: 60px; }

.head-section .query-container .query-input-wrap .input-box input[type='text'].name-input { width: 300px; margin-left: 1px; }

.head-section .query-container .query-input-wrap .input-box .query-btn { min-width: 280px; height: 60px; line-height: 60px; font-size: 20px; }

.head-section .query-container .query-input-wrap .input-box .query-btn.rounded-btn { border-radius: 60px; border-top-left-radius: 0; border-bottom-left-radius: 0; }

.head-section .query-container .query-input-wrap .hint-info { height: 24px; padding: 0 27px; line-height: 24px; text-align: center; font-size: 12px; color: #f00; }

/* section-head 共 */
.section-head { padding: 50px 0; text-align: center; }

.section-head .head-title { font-size: 36px; font-weight: bold; color: #333; }

.section-head .head-title .line-title { display: inline-block; vertical-align: middle; }

.section-head .head-title .line-title:before, .section-head .head-title .line-title:after { content: ''; display: inline-block; width: 64px; height: 1px; vertical-align: middle; background-color: #999; }

.section-head .head-title .line-title:before { margin-right: 20px; }

.section-head .head-title .line-title:after { margin-left: 20px; }

.section-head.head-w .head-title { color: #fff; }

.section-head.head-w .head-title .line-title:before, .section-head.head-w .head-title .line-title:after { background-color: #fff; }

/* service-section */
.service-section { box-sizing: border-box; background-color: #f1f1f1; }

.service-section * { box-sizing: border-box; }

.service-section .service-panels { padding-bottom: 45px; margin: -20px 0 0 -20px; }

.service-section .service-panel { float: left; margin: 20px 0 0 20px; font-size: 0; background-color: #fff; -webkit-transition: box-shadow .3s ease-in-out, -webkit-transform .3s ease-in-out; transition: box-shadow .3s ease-in-out, -webkit-transform .3s ease-in-out; transition: transform .3s ease-in-out, box-shadow .3s ease-in-out; transition: transform .3s ease-in-out, box-shadow .3s ease-in-out, -webkit-transform .3s ease-in-out; }

.service-section .service-panel:hover { -webkit-transform: translateY(-6px); -ms-transform: translateY(-6px); transform: translateY(-6px); box-shadow: 0 5px 15px 0 rgba(24, 5, 9, 0.15); }

.service-section .service-panel.text-panel { width: 1200px; height: 220px; }

.service-section .service-panel.text-panel figure { display: inline-block; width: 265px; height: 100%; vertical-align: top; text-align: center; }

.service-section .service-panel.text-panel figure:before { content: ''; display: inline-block; width: 0; height: 100%; vertical-align: middle; font-size: 0; overflow: hidden; }

.service-section .service-panel.text-panel figure span { display: inline-block; vertical-align: middle; font-size: 48px; font-weight: bold; color: #fff; }

.service-section .service-panel.text-panel .desc-content { display: inline-block; width: 774px; padding: 30px 30px 0; vertical-align: middle; font-size: 14px; color: #666; }

.service-section .service-panel.text-panel .desc-content ul { margin-left: 6px; border-left: 1px dashed #ddd; }

.service-section .service-panel.text-panel .desc-content ul li { position: relative; padding-left: 14px; }

.service-section .service-panel.text-panel .desc-content ul li:before { content: ''; position: absolute; top: 0; left: -6px; display: block; width: 9px; height: 9px; background-color: #fff; border: 1px solid #ddd; border-radius: 50%; }

.service-section .service-panel.text-panel .desc-content ul li:last-child:before { top: 3px; }

.service-section .service-panel.text-panel .desc-content ul li + li { margin-top: 18px; }

.service-section .service-panel.text-panel .desc-content .title { color: #333; }

.service-section .service-panel.text-panel .desc-content .ratio { margin-top: 23px; }

.service-section .service-panel.text-panel .desc-content .ratio span { vertical-align: bottom; }

.service-section .service-panel.text-panel .desc-content .ratio .self { min-width: 253px; }

.service-section .service-panel.text-panel .desc-content .ratio .self .num { font-size: 18px; color: #ff0010; text-shadow: 0 5px 10px rgba(255, 0, 16, 0.3); }

.service-section .service-panel.text-panel .desc-content .ratio .compare { margin-left: 10px; }

.service-section .service-panel.text-panel .desc-content .area { padding-top: 16px; margin-top: 17px; line-height: 16px; color: #999; border-top: 1px dashed #ddd; }

.service-section .service-panel.text-panel .handle-group { display: inline-block; vertical-align: middle; }

.service-section .service-panel.text-panel .handle-group .self-btn { min-width: 130px; height: 38px; line-height: 38px; font-size: 14px; }

.service-section .service-panel.text-panel .handle-group .self-btn.rounded-btn { border-radius: 38px; }

.service-section .service-panel.text-panel .handle-group .self-btn.outline-btn { line-height: 36px; }

.service-section .service-panel.pic-panel { position: relative; width: 590px; height: 284px; background-repeat: no-repeat; background-position: center; background-size: cover; }

.service-section .service-panel.pic-panel .init-content { height: 100%; text-align: center; }

.service-section .service-panel.pic-panel .init-content:before { content: ''; display: inline-block; width: 0; height: 100%; vertical-align: middle; font-size: 0; overflow: hidden; }

.service-section .service-panel.pic-panel .init-content .inner { display: inline-block; width: 100%; vertical-align: middle; font-size: 16px; color: #fff; }

.service-section .service-panel.pic-panel .init-content .inner h3 { font-size: 48px; font-weight: bold; }

.service-section .service-panel.pic-panel .init-content .inner ul { display: inline-block; margin-top: 28px; text-align: justify; }

.service-section .service-panel.pic-panel .init-content .inner ul li:before { content: ''; display: inline-block; width: 6px; height: 6px; margin-right: 8px; vertical-align: middle; background-color: #fff; border-radius: 50%; }

.service-section .service-panel.pic-panel .init-content .inner ul li + li { margin-top: 12px; }

.service-section .service-panel.pic-panel .hover-content { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: -webkit-linear-gradient(left, rgba(73, 69, 90, 0.75), rgba(49, 49, 93, 0.75)); background: linear-gradient(90deg, rgba(73, 69, 90, 0.75), rgba(49, 49, 93, 0.75)); opacity: 0; -webkit-transition: opacity .36s ease-in-out; transition: opacity .36s ease-in-out; }

.service-section .service-panel.pic-panel .hover-content:before { content: ''; display: inline-block; width: 0; height: 100%; vertical-align: middle; font-size: 0; overflow: hidden; }

.service-section .service-panel.pic-panel .hover-content .inner { display: inline-block; width: 100%; vertical-align: middle; text-align: center; }

.service-section .service-panel.pic-panel .hover-content .inner .self-btn { height: 48px; line-height: 48px; font-size: 20px; }

.service-section .service-panel.pic-panel .hover-content .inner .self-btn.rounded-btn { border-radius: 48px; }

.service-section .service-panel.pic-panel:hover .hover-content { opacity: 1; }

/* service-desc-section */
.service-desc-section { box-sizing: border-box; }

.service-desc-section * { box-sizing: border-box; }

.service-desc-section .desc-pic { padding-bottom: 55px; }

.service-desc-section .desc-pic img { display: block; margin: 0 auto; }

/* advantage-section */
.advantage-section { box-sizing: border-box; background: url(../resource/img/sme_landing_bgi33.jpg) no-repeat center top; }

.advantage-section * { box-sizing: border-box; }

.advantage-section .section-head { padding-top: 40px; padding-bottom: 40px; }

.advantage-section .desc-list { margin: -18px 0 0 -30px; }

.advantage-section .desc-list li { float: left; width: 380px; margin: 18px 0 0 30px; }

.advantage-section .desc-list li .pic { width: 100%; height: 205px; }

.advantage-section .desc-list li .pic img { display: block; width: 100%; height: 100%; }

.advantage-section .desc-list li p { padding: 18px 0; text-align: center; font-size: 18px; color: #333; }

.advantage-section .section-foot { padding: 22px 0 40px; text-align: center; }

.advantage-section .section-foot .self-btn { min-width: 360px; }

/* case-section */
.case-section { box-sizing: border-box; background: url(../resource/img/sme_landing_bgi34.jpg) no-repeat center top; }

.case-section * { box-sizing: border-box; }

/* question-section */
.question-section { box-sizing: border-box; }

.question-section * { box-sizing: border-box; }

.question-section .question-bars { padding-bottom: 60px; margin: -20px 0 0 -40px; font-size: 0; }

.question-section .question-bar { position: relative; display: inline-block; width: 580px; min-height: 60px; padding: 17px 34px 17px 54px; margin: 20px 0 0 40px; vertical-align: top; line-height: 24px; font-size: 16px; color: #333; background-color: #f1f7fd; border: 1px solid #114356; border-radius: 30px; }

.question-section .question-bar:before { content: 'Q：'; position: absolute; top: 17px; left: 18px; font-size: 18px; font-weight: bold; color: #114356; }

/* path-section */
.path-section { box-sizing: border-box; background: url(../resource/img/sme_landing_bgi35.jpg) no-repeat center top; }

.path-section * { box-sizing: border-box; }

.path-section .section-head { padding-top: 40px; padding-bottom: 40px; }

.path-section .desc-list { padding: 15px 0; text-align: center; font-size: 0; }

.path-section .desc-list li { display: inline-block; min-width: 250px; vertical-align: top; }

.path-section .desc-list li .icon { width: 108px; height: 108px; margin: 0 auto; line-height: 108px; font-size: 66px; color: #2b316a; background-color: #e6e7f1; border-radius: 50%; overflow: hidden; }

.path-section .desc-list li h3 { margin-top: 24px; font-size: 18px; font-weight: bold; color: #fff; }

.path-section .desc-list li.arrow { min-width: 18px; vertical-align: -60px; font-size: 18px; color: #c9c9c9; }

.path-section .section-foot { padding: 40px 0; text-align: center; }

.path-section .section-foot .self-btn { min-width: 200px; }

/* other-service-section */
.other-service-section { box-sizing: border-box; padding-bottom: 40px; background: url(../resource/img/sme_landing_bgi26.jpg) no-repeat center top; }

.other-service-section * { box-sizing: border-box; }

.other-service-section .service-cards { margin: -20px 0 0 -20px; }

.other-service-section .service-card { float: left; width: 224px; height: 140px; margin: 20px 0 0 20px; text-align: center; font-size: 0; background-repeat: no-repeat; background-position: center; background-size: 100%; overflow: hidden; -webkit-transition: background-size .3s ease-out; transition: background-size .3s ease-out; }

.other-service-section .service-card:before { content: ''; display: inline-block; width: 0; height: 100%; vertical-align: middle; font-size: 0; overflow: hidden; }

.other-service-section .service-card .text { display: inline-block; vertical-align: middle; font-size: 30px; font-weight: bold; color: #fff; }

.other-service-section .service-card:hover { background-size: 109%; }

.other-service-section .section-foot { padding-top: 40px; text-align: center; }

.other-service-section .section-foot .self-btn { min-width: 300px; }

/* btm-desc-section */
.btm-desc-section { box-sizing: border-box; padding: 40px 0; }

.btm-desc-section * { box-sizing: border-box; }

.btm-desc-section .desc-list { text-align: center; font-size: 0; }

.btm-desc-section .desc-list li { display: inline-block; width: 132px; height: 132px; vertical-align: top; font-size: 18px; color: #333; border: 1px solid #a0a0a0; overflow: hidden; border-radius: 50%; -webkit-transition: background-color .4s ease-out; transition: background-color .4s ease-out; }

.btm-desc-section .desc-list li .top-text { margin: 33px 0 10px; font-family: Arial; }

.btm-desc-section .desc-list li .top-text .big { font-size: 36px; }

.btm-desc-section .desc-list li:hover { color: #fff; background: -webkit-linear-gradient(315deg, #f39700, #ff0010); background: linear-gradient(135deg, #f39700, #ff0010); border-color: transparent; }

.btm-desc-section .desc-list li + li { margin-left: 90px; }

/* btm-info-section */
.btm-info-section { box-sizing: border-box; background-color: #f1f1f1; }

.btm-info-section * { box-sizing: border-box; }

.btm-info-section .info-list { padding: 24px 0; text-align: center; font-size: 0; }

.btm-info-section .info-list .info-item { display: inline-block; vertical-align: middle; font-size: 16px; font-weight: bold; color: #333; }

.btm-info-section .info-list .info-item + .info-item { margin-left: 74px; }
