@charset "UTF-8";
/* self-btn */
.self-btn { box-sizing: border-box; display: inline-block; min-width: 180px; height: 58px; padding: 0 20px; vertical-align: middle; line-height: 58px; text-align: center; font-size: 24px; color: #fff; border-radius: 4px; }

.self-btn:hover { color: #fff; }

.self-btn.rounded-btn { border-radius: 58px; }

.self-btn.linear-yellow-btn { background: -webkit-linear-gradient(left, #f1bf08, #f2a202); background: linear-gradient(90deg, #f1bf08, #f2a202); }

.self-btn.linear-yellow-btn:hover { background: -webkit-linear-gradient(left, #ecba03, #ed9d00); background: linear-gradient(90deg, #ecba03, #ed9d00); }

.self-btn.linear-yellow-btn:active { background: -webkit-linear-gradient(left, #e2b000, #e39300); background: linear-gradient(90deg, #e2b000, #e39300); }

.self-btn.linear-blue-btn { background: -webkit-linear-gradient(left, #25d6f0, #756bfe); background: linear-gradient(90deg, #25d6f0, #756bfe); }

.self-btn.linear-blue-btn:hover { background: -webkit-linear-gradient(left, #20d1eb, #7066f9); background: linear-gradient(90deg, #20d1eb, #7066f9); }

.self-btn.linear-blue-btn:active { background: -webkit-linear-gradient(left, #16c7e1, #665cef); background: linear-gradient(90deg, #16c7e1, #665cef); }

/* head-section */
.head-section { box-sizing: border-box; padding-top: 379px; padding-bottom: 33px; background: url(../resource/img/sme_law_bgi009.jpg) no-repeat center top; }

.head-section * { box-sizing: border-box; }

.head-section .query-container { width: 850px; margin: 0 auto; }

.head-section .query-container .input-box { position: relative; width: 100%; height: 58px; }

.head-section .query-container .input-box input[type='text'] { display: block; width: 100%; height: 100%; padding: 0 285px 0 35px; line-height: 58px; font-size: 18px; background-color: #fff; border: none; border-radius: 58px; }

.head-section .query-container .input-box .self-btn { position: absolute; top: 0; right: 0; display: block; width: 250px; }

.head-section .query-container .input-box .self-btn.rounded-btn { border-top-left-radius: 0; border-bottom-left-radius: 0; }

.head-section .query-container .hint-info { height: 30px; line-height: 30px; text-align: center; color: #f00; }

/* section-head 共 */
.section-head { padding: 50px 0; text-align: center; color: #333; }

.section-head .head-title { font-size: 30px; }

.section-head .head-desc { font-size: 16px; color: #999; }

.section-head .head-desc:before { content: ''; display: block; width: 85px; height: 2px; margin: 12px auto 18px; background-color: #333; }

.section-head.head-w { color: #fff; }

.section-head.head-w .head-desc { color: #fff; }

.section-head.head-w .head-desc:before { background-color: #fff; }

/* trouble-section */
.trouble-section { box-sizing: border-box; background: url(../resource/img/sme_law_bgi010.jpg) no-repeat center top; }

.trouble-section * { box-sizing: border-box; }

.trouble-section .section-head { padding-top: 45px; padding-bottom: 45px; }

.trouble-section .desc-list { position: relative; text-align: center; font-size: 0; }

.trouble-section .desc-list:before { content: ''; position: absolute; left: 0; top: 368px; display: block; width: 100%; border-top: 1px dashed #c9c9c9; }

.trouble-section .desc-list .list-item { position: relative; z-index: 1; display: inline-block; vertical-align: top; }

.trouble-section .desc-list .list-item .panel { position: relative; width: 232px; height: 303px; font-size: 12px; color: #666; background-color: #fff; box-shadow: 0 3px 20px 0 rgba(24, 5, 9, 0.2); -webkit-transition: -webkit-transform .3s ease-in-out; transition: -webkit-transform .3s ease-in-out; transition: transform .3s ease-in-out; transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out; }

.trouble-section .desc-list .list-item .panel:after { content: ''; position: absolute; top: 100%; left: 50%; display: block; width: 0; height: 0; margin-left: -9px; border-left: 9px solid transparent; border-right: 9px solid transparent; border-top: 10px solid #fff; border-bottom: none; }

.trouble-section .desc-list .list-item .panel figure { width: 100%; height: 160px; overflow: hidden; }

.trouble-section .desc-list .list-item .panel figure img { display: block; width: 100%; height: 100%; -webkit-transition: -webkit-transform .3s ease-in-out; transition: -webkit-transform .3s ease-in-out; transition: transform .3s ease-in-out; transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out; }

.trouble-section .desc-list .list-item .panel ul { padding: 25px 20px 0; text-align: justify; }

.trouble-section .desc-list .list-item .panel ul li + li { margin-top: 15px; }

.trouble-section .desc-list .list-item .icon { display: block; width: 66px; height: 66px; margin: 32px auto 0; border-radius: 50%; box-shadow: 0 5px 5px 0 rgba(242, 163, 2, 0.3); -webkit-transition: -webkit-transform .3s ease-in-out; transition: -webkit-transform .3s ease-in-out; transition: transform .3s ease-in-out; transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out; }

.trouble-section .desc-list .list-item .title { margin-top: 16px; font-size: 18px; color: #333; }

.trouble-section .desc-list .list-item:hover .panel { -webkit-transform: translateY(-6px); -ms-transform: translateY(-6px); transform: translateY(-6px); }

.trouble-section .desc-list .list-item:hover .panel figure img { -webkit-transform: scale(1.06); -ms-transform: scale(1.06); transform: scale(1.06); }

.trouble-section .desc-list .list-item:hover .icon { -webkit-transform: scale(1.06); -ms-transform: scale(1.06); transform: scale(1.06); }

.trouble-section .desc-list .list-item + .list-item { margin-left: 10px; }

.trouble-section .section-foot { padding: 52px 0; text-align: center; }

.trouble-section .section-foot .info { margin-bottom: 20px; font-size: 18px; }

.trouble-section .section-foot .handle-group .self-btn { min-width: 300px; }

/* service-desc-section */
.service-desc-section { box-sizing: border-box; padding-bottom: 79px; background-color: #fff; }

.service-desc-section * { box-sizing: border-box; }

.service-desc-section .desc-panels { margin: -10px 0 0 -10px; }

.service-desc-section .desc-panel { float: left; margin: 10px 0 0 10px; }

.service-desc-section .desc-panel.text-panel { width: 685px; }

.service-desc-section .desc-panel.text-panel figure { width: 100%; height: 450px; overflow: hidden; }

.service-desc-section .desc-panel.text-panel figure img { display: block; width: 100%; height: 100%; -webkit-transition: -webkit-transform .3s ease-in-out; transition: -webkit-transform .3s ease-in-out; transition: transform .3s ease-in-out; transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out; }

.service-desc-section .desc-panel.text-panel h3 { margin-top: 30px; text-align: center; font-size: 18px; font-weight: normal; color: #333; }

.service-desc-section .desc-panel.text-panel p { margin-top: 12px; line-height: 24px; }

.service-desc-section .desc-panel.text-panel:hover figure img { -webkit-transform: scale(1.03); -ms-transform: scale(1.03); transform: scale(1.03); }

.service-desc-section .desc-panel.pic-panel { width: 505px; height: 270px; text-align: center; font-size: 0; background-repeat: no-repeat; background-position: center; background-size: 100%; -webkit-transition: background-size .3s ease-in-out; transition: background-size .3s ease-in-out; }

.service-desc-section .desc-panel.pic-panel:before { content: ''; display: inline-block; width: 0; height: 100%; vertical-align: middle; font-size: 0; overflow: hidden; }

.service-desc-section .desc-panel.pic-panel .content { display: inline-block; width: 100%; padding: 0 24px; vertical-align: middle; font-size: 14px; color: #fff; }

.service-desc-section .desc-panel.pic-panel .content h3 { font-size: 18px; font-weight: bold; }

.service-desc-section .desc-panel.pic-panel .content p { margin-top: 17px; line-height: 24px; text-align: justify; }

.service-desc-section .desc-panel.pic-panel:hover { background-size: 106%; }

/* service-section */
.service-section { box-sizing: border-box; background: url(../resource/img/sme_law_bgi012.jpg) no-repeat center top; }

.service-section * { box-sizing: border-box; }

.service-section .section-head { padding-bottom: 25px; }

.service-section .service-cards { position: relative; padding: 0 30px 46px; }

.service-section .service-cards .service-swiper { width: 100%; height: 480px; padding: 10px 0; overflow: hidden; }

.service-section .service-cards .swiper-slide { position: relative; float: left; display: block; width: 320px; height: 410px; padding-top: 49px; margin-top: 25px; text-align: center; color: #666; background: #fff; box-shadow: 0 0 20px 0 rgba(24, 5, 9, 0.2); -webkit-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }

.service-section .service-cards .swiper-slide .title { font-size: 20px; font-weight: bold; -webkit-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }

.service-section .service-cards .swiper-slide .desc { min-height: 174px; }

.service-section .service-cards .swiper-slide .desc ul { margin-top: 35px; margin-left: 54px; text-align: justify; border-left: 1px solid #ddd; -webkit-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }

.service-section .service-cards .swiper-slide .desc ul li { position: relative; padding-left: 20px; }

.service-section .service-cards .swiper-slide .desc ul li:before { content: ''; position: absolute; top: 0; left: -6px; display: block; width: 9px; height: 9px; background-color: #fff; border: 1px solid #ddd; border-radius: 50%; }

.service-section .service-cards .swiper-slide .desc ul li:last-child:before { top: 3px; }

.service-section .service-cards .swiper-slide .desc ul li + li { margin-top: 18px; }

.service-section .service-cards .swiper-slide .price { margin-top: 32px; font-size: 20px; color: #f78e24; text-shadow: 0 5px 5px rgba(242, 163, 2, 0.3); -webkit-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }

.service-section .service-cards .swiper-slide .handle-group { margin-top: 20px; text-align: center; }

.service-section .service-cards .swiper-slide .handle-group .details-btn { display: inline-block; width: 160px; height: 39px; vertical-align: middle; line-height: 39px; font-size: 18px; color: #fffaea; background: -webkit-linear-gradient(left, #f1bf08, #f2a202); background: linear-gradient(90deg, #f1bf08, #f2a202); border-radius: 39px; box-shadow: 0 4px 5px 0 rgba(242, 163, 2, 0.3); -webkit-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }

.service-section .service-cards .swiper-slide.hot:before { content: ''; position: absolute; top: -5px; right: -5px; display: block; width: 90px; height: 90px; background: url(../resource/img/sme_law_icon002.png) no-repeat center; }

.service-section .service-cards .swiper-slide.swiper-slide-active { width: 380px; height: 460px; margin-top: 0; color: #fff; background: -webkit-linear-gradient(left, #f1bf08, #f2a202); background: linear-gradient(90deg, #f1bf08, #f2a202); }

.service-section .service-cards .swiper-slide.swiper-slide-active .title { font-size: 24px; color: inherit; }

.service-section .service-cards .swiper-slide.swiper-slide-active .desc ul { margin-top: 50px; margin-left: 72px; border-left-color: #fff; }

.service-section .service-cards .swiper-slide.swiper-slide-active .desc ul li:before { border-color: #fff; }

.service-section .service-cards .swiper-slide.swiper-slide-active .price { color: #fff; text-shadow: none; }

.service-section .service-cards .swiper-slide.swiper-slide-active .handle-group .details-btn { color: #fff; background: transparent; border: 1px solid #fff; box-shadow: none; }

.service-section .service-cards .swiper-btn { position: absolute; top: 50%; margin-top: -56px; font-size: 20px; font-weight: bold; color: #999; cursor: pointer; opacity: 1; filter: alpha(opacity=100); }

.service-section .service-cards .swiper-btn:hover { color: #f78e24; }

.service-section .service-cards .swiper-btn.swiper-btn-prev { left: 0; }

.service-section .service-cards .swiper-btn.swiper-btn-next { right: 0; }

/* advantage-section */
.advantage-section { box-sizing: border-box; padding-bottom: 68px; background-color: #fff; }

.advantage-section * { box-sizing: border-box; }

.advantage-section .section-body { padding: 0 30px; }

.advantage-section .desc-container { float: left; }

.advantage-section .desc-container .container-title { margin-bottom: 37px; font-size: 24px; color: #333; }

.advantage-section .desc-container .container-title:before { content: ''; display: inline-block; width: 8px; height: 24px; margin-right: 12px; vertical-align: top; background: -webkit-linear-gradient(left, #f1bf08, #f2a202); background: linear-gradient(90deg, #f1bf08, #f2a202); }

.advantage-section .desc-container.price-desc .desc-pic { width: 503px; height: 340px; background: url(../resource/img/sme_law_pic086.png) no-repeat center; }

.advantage-section .desc-container.text-desc { float: right; width: 540px; }

.advantage-section .desc-container.text-desc .container-title { margin-bottom: 44px; }

.advantage-section .desc-container.text-desc .desc-list { padding-right: 80px; margin-top: -54px; text-align: center; font-size: 0; }

.advantage-section .desc-container.text-desc .desc-list .list-item { display: inline-block; width: 132px; margin-left: 142px; margin-top: 50px; vertical-align: top; font-size: 16px; color: #666; }

.advantage-section .desc-container.text-desc .desc-list .list-item .icon { display: block; width: 80px; height: 80px; margin: 0 auto; border-radius: 50%; box-shadow: 0 4px 5px 0 rgba(242, 163, 2, 0.3); }

.advantage-section .desc-container.text-desc .desc-list .list-item .text { margin-top: 14px; line-height: 24px; }

.advantage-section .desc-container.text-desc .desc-list .list-item:nth-child(odd) { margin-left: 50px; }

/* other-service-section */
.other-service-section { box-sizing: border-box; background: url(../resource/img/sme_law_bgi011.jpg) no-repeat center top; }

.other-service-section * { box-sizing: border-box; }

.other-service-section .section-head { padding-bottom: 36px; }

.other-service-section .service-cards { padding-bottom: 50px; margin: -20px 0 0 -20px; }

.other-service-section .service-card { float: left; width: 285px; height: 372px; margin: 20px 0 0 20px; text-align: center; background-color: #fff; -webkit-transition: -webkit-transform .3s ease-in-out; transition: -webkit-transform .3s ease-in-out; transition: transform .3s ease-in-out; transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out; }

.other-service-section .service-card .card-title { margin-top: 40px; font-size: 20px; font-weight: bold; color: #f97d03; }

.other-service-section .service-card .card-desc .circle { width: 124px; height: 124px; margin: 28px auto 0; font-size: 0; border-radius: 50%; color: #f78e24; background-color: #fef4e6; }

.other-service-section .service-card .card-desc .circle:before { content: ''; display: inline-block; width: 0; height: 100%; vertical-align: middle; font-size: 0; overflow: hidden; }

.other-service-section .service-card .card-desc .circle .price { display: inline-block; vertical-align: middle; font-size: 14px; }

.other-service-section .service-card .card-desc .circle .price .num { font-size: 30px; font-weight: bold; }

.other-service-section .service-card .card-desc .circle .price .num:before { content: '￥'; font-size: .5em; font-weight: normal; }

.other-service-section .service-card .card-desc .circle .price .unit { display: block; margin-top: 10px; }

.other-service-section .service-card .card-desc .para { min-height: 40px; padding: 0 30px; margin-top: 19px; line-height: 20px; color: #333; }

.other-service-section .service-card .self-btn { display: block; width: 150px; height: 38px; margin: 23px auto 0; line-height: 38px; font-size: 16px; font-weight: bold; }

.other-service-section .service-card .self-btn.rounded-btn { border-radius: 38px; }

.other-service-section .service-card:hover { -webkit-transform: translateY(-6px); -ms-transform: translateY(-6px); transform: translateY(-6px); }

/* news-section */
.news-section { box-sizing: border-box; background-color: #f7f7f7; }

.news-section * { box-sizing: border-box; }

.news-section .section-head { padding-top: 42px; padding-bottom: 27px; }

.news-section .news-panels { padding-bottom: 40px; margin: -10px 0 0 -10px; }

.news-section .news-panel { position: relative; float: left; margin: 10px 0 0 10px; background-color: #fff; box-shadow: 0 0 15px 0 rgba(24, 5, 9, 0.1); -webkit-transition: -webkit-transform .3s ease-in-out; transition: -webkit-transform .3s ease-in-out; transition: transform .3s ease-in-out; transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out; overflow: hidden; }

.news-section .news-panel.text-news { width: 584px; height: 195px; padding: 34px 30px 0; }

.news-section .news-panel.text-news .title { text-align: center; }

.news-section .news-panel.text-news .title a { max-width: 100%; vertical-align: middle; font-size: 18px; color: #333; }

.news-section .news-panel.text-news .title a:hover { color: #f78e24; }

.news-section .news-panel.text-news p { height: 96px; margin-top: 20px; line-height: 24px; overflow: hidden; }

.news-section .news-panel.text-news:before { content: '干货专区'; position: absolute; top: 0; right: 0; display: block; padding: 10px 20px; color: #fff; background: -webkit-linear-gradient(left, #f1bf08, #f2a202); background: linear-gradient(90deg, #f1bf08, #f2a202); }

.news-section .news-panel.pic-news { width: 287px; height: 255px; }

.news-section .news-panel.pic-news .pic { display: block; width: 100%; height: 205px; overflow: hidden; }

.news-section .news-panel.pic-news .pic img { display: block; width: 100%; height: 100%; -webkit-transition: -webkit-transform .3s ease-in-out; transition: -webkit-transform .3s ease-in-out; transition: transform .3s ease-in-out; transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out; }

.news-section .news-panel.pic-news .desc { padding: 0 30px; }

.news-section .news-panel.pic-news .desc .title { padding-top: 18px; text-align: center; }

.news-section .news-panel.pic-news .desc .title a { max-width: 100%; vertical-align: middle; font-size: 16px; color: #333; }

.news-section .news-panel.pic-news .desc .title a:hover { color: #f78e24; }

.news-section .news-panel.pic-news.flag-news { width: 606px; height: 460px; }

.news-section .news-panel.pic-news.flag-news .pic { height: 350px; }

.news-section .news-panel.pic-news.flag-news .desc .title { padding-top: 29px; text-align: justify; }

.news-section .news-panel.pic-news.flag-news .desc .title a { font-size: 18px; }

.news-section .news-panel.pic-news.flag-news .desc p { width: 100%; margin-top: 19px; }

.news-section .news-panel.pic-news:hover .pic img { -webkit-transform: scale(1.04); -ms-transform: scale(1.04); transform: scale(1.04); }

.news-section .news-panel:hover { -webkit-transform: translateY(-6px); -ms-transform: translateY(-6px); transform: translateY(-6px); }
