@charset "UTF-8";
body { background-color: #f7f7f7; }

/* head-banner */
.head-banner { height: 450px; }

/* main-body */
.main-body { position: relative; margin-top: -195px; }

/* head-search */
.head-search { padding-bottom: 40px; }

.head-search .search-wrapper { width: 708px; height: 50px; margin-bottom: 60px; margin-left: auto; margin-right: auto; }

.head-search .search-wrapper .input-wrapper { float: left; width: 474px; height: 100%; background-color: #fff; border-top-left-radius: 10px; border-bottom-left-radius: 10px; overflow: hidden; }

.head-search .search-wrapper .input-wrapper input, .head-search .search-wrapper .input-wrapper i { float: left; }

.head-search .search-wrapper .input-wrapper i { display: block; width: 38px; height: 100%; line-height: 50px; text-align: right; font-size: 20px; color: #ddd; }

.head-search .search-wrapper .input-wrapper input { width: 416px; height: 18px; padding: 16px 10px; line-height: 18px; font-size: 14px; border: none; }

.head-search .search-wrapper .search-btn { float: right; width: 228px; height: 100%; line-height: 50px; text-align: center; font-size: 18px; color: #fff; background-color: #f78e24; border-top-right-radius: 10px; border-bottom-right-radius: 10px; -webkit-transition: background-color .2s ease-out; transition: background-color .2s ease-out; }

.head-search .search-wrapper .search-btn:hover { background-color: #ffa73d; }

.head-search .search-desc { text-align: center; }

.head-search .search-desc .desc-cards { margin-bottom: 40px; font-size: 0; }

.head-search .search-desc .desc-cards .desc-card { display: inline-block; width: 380px; height: 344px; background-color: #fff; box-shadow: 0 0 20px 0 rgba(14, 5, 10, 0.1); overflow: hidden; -webkit-transition: -webkit-transform .2s ease-out; transition: -webkit-transform .2s ease-out; transition: transform .2s ease-out; transition: transform .2s ease-out, -webkit-transform .2s ease-out; }

.head-search .search-desc .desc-cards .desc-card .card-pic { width: 118px; height: 118px; margin-top: 48px; margin-bottom: 38px; margin-left: auto; margin-right: auto; background: url(../resource/img/sme_service_sprites.png) no-repeat 999px 999px; background-position-y: 0; }

.head-search .search-desc .desc-cards .desc-card h3 { margin-bottom: 20px; font-size: 20px; font-weight: bold; color: #363636; }

.head-search .search-desc .desc-cards .desc-card p { width: 208px; margin-left: auto; margin-right: auto; line-height: 30px; font-size: 16px; color: #666; }

.head-search .search-desc .desc-cards .desc-card + .desc-card { margin-left: 30px; }

.head-search .search-desc .desc-cards .desc-card:hover { -webkit-transform: translateY(-3%); -ms-transform: translateY(-3%); transform: translateY(-3%); }

.head-search .search-desc .desc-btn { width: 252px; height: 50px; line-height: 50px; font-size: 18px; font-weight: bold; color: #fff; background-color: #f78e24; -webkit-transition: background-color .2s ease-out; transition: background-color .2s ease-out; }

.head-search .search-desc .desc-btn:hover { background-color: #ffa73d; }

/* 公用标题 */
.section-title { line-height: 1; text-align: center; font-size: 24px; color: #363636; }

/* org-register-path */
.org-register-path { background-color: #fff; }

.org-register-path .section-title { padding-top: 47px; padding-bottom: 62px; }

.org-register-path .path-tree { padding-bottom: 56px; text-align: center; font-size: 0; }

.org-register-path .path-tree .branch { display: inline-block; width: 166px; vertical-align: top; font-size: 12px; }

.org-register-path .path-tree .branch .icon { display: block; width: 90px; height: 90px; margin-left: auto; margin-right: auto; line-height: 90px; font-size: 50px; color: #fff; border-radius: 50%; -webkit-transition: -webkit-transform .2s ease-out; transition: -webkit-transform .2s ease-out; transition: transform .2s ease-out; transition: transform .2s ease-out, -webkit-transform .2s ease-out; }

.org-register-path .path-tree .branch .connect-line { width: 4px; height: 24px; margin-left: auto; margin-right: auto; }

.org-register-path .path-tree .branch .border-line { width: 100%; height: 4px; }

.org-register-path .path-tree .branch h6 { margin-top: 20px; margin-bottom: 14px; font-size: 16px; font-weight: normal; -webkit-transition: font-weight .2s ease-out; transition: font-weight .2s ease-out; }

.org-register-path .path-tree .branch p { padding: 0 10px; line-height: 20px; }

.org-register-path .path-tree .branch:hover .icon { -webkit-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1); }

.org-register-path .path-tree .branch:hover h6 { font-weight: bold; }

.org-register-path .path-tree .branch-1 .icon, .org-register-path .path-tree .branch-1 .connect-line, .org-register-path .path-tree .branch-1 .border-line { background-color: #f6b45b; }

.org-register-path .path-tree .branch-1 h6 { color: #f6b45b; }

.org-register-path .path-tree .branch-2 .icon, .org-register-path .path-tree .branch-2 .connect-line, .org-register-path .path-tree .branch-2 .border-line { background-color: #28b5ad; }

.org-register-path .path-tree .branch-2 h6 { color: #28b5ad; }

.org-register-path .path-tree .branch-3 .icon, .org-register-path .path-tree .branch-3 .connect-line, .org-register-path .path-tree .branch-3 .border-line { background-color: #3ecefb; }

.org-register-path .path-tree .branch-3 h6 { color: #3ecefb; }

.org-register-path .path-tree .branch-4 .icon, .org-register-path .path-tree .branch-4 .connect-line, .org-register-path .path-tree .branch-4 .border-line { background-color: #e96678; }

.org-register-path .path-tree .branch-4 h6 { color: #e96678; }

.org-register-path .path-tree .branch-5 .icon, .org-register-path .path-tree .branch-5 .connect-line, .org-register-path .path-tree .branch-5 .border-line { background-color: #a989bb; }

.org-register-path .path-tree .branch-5 h6 { color: #a989bb; }

.org-register-path .path-tree .branch-6 .icon, .org-register-path .path-tree .branch-6 .connect-line, .org-register-path .path-tree .branch-6 .border-line { background-color: #576fb3; }

.org-register-path .path-tree .branch-6 h6 { color: #576fb3; }

.org-register-path .path-tree .branch-6 .border-line { position: relative; }

.org-register-path .path-tree .branch-6 .border-line:after { content: ''; position: absolute; bottom: 0; left: 100%; display: block; width: 0; height: 0; border: 6px solid #576fb3; border-top-color: transparent; border-right-color: transparent; }

/* advantage-section */
.advantage-section { height: 549px; background: url(../resource/img/sme_service_bgi.jpg) no-repeat center; }

.advantage-section .section-title { padding-top: 44px; padding-bottom: 28px; }

.advantage-section .advantage-tree { text-align: center; font-size: 0; }

.advantage-section .advantage-tree .advantage, .advantage-section .advantage-tree .weakness { display: inline-block; width: 49%; vertical-align: top; font-size: 16px; }

.advantage-section .advantage-tree .advantage .tree-top, .advantage-section .advantage-tree .weakness .tree-top { height: 90px; padding-bottom: 14px; line-height: 90px; }

.advantage-section .advantage-tree .advantage .tree-top .circle, .advantage-section .advantage-tree .weakness .tree-top .circle { width: 90px; height: 100%; text-align: center; font-size: 30px; font-weight: bold; color: #fff; border-radius: 50%; }

.advantage-section .advantage-tree .advantage .tree-top .text, .advantage-section .advantage-tree .weakness .tree-top .text { font-size: 24px; font-weight: bold; }

.advantage-section .advantage-tree .advantage .branch, .advantage-section .advantage-tree .weakness .branch { height: 50px; margin-top: 10px; line-height: 50px; }

.advantage-section .advantage-tree .advantage .branch .circle, .advantage-section .advantage-tree .weakness .branch .circle { width: 50px; height: 100%; text-align: center; font-size: 18px; color: #fff; border-radius: 50%; }

.advantage-section .advantage-tree .advantage .branch .line, .advantage-section .advantage-tree .weakness .branch .line { position: relative; top: 25px; width: 48px; height: 0; margin: 0 15px; border-bottom: 1px dashed #fff; }

.advantage-section .advantage-tree .advantage .branch .text, .advantage-section .advantage-tree .weakness .branch .text { font-size: 16px; font-weight: bold; }

.advantage-section .advantage-tree .advantage { border-right: 1px solid #f78e24; }

.advantage-section .advantage-tree .advantage .tree-top { margin-right: -46px; }

.advantage-section .advantage-tree .advantage .tree-top > * { float: right; }

.advantage-section .advantage-tree .advantage .tree-top .circle { background-color: #f78e24; }

.advantage-section .advantage-tree .advantage .tree-top .text { margin-right: 60px; color: #f78e24; }

.advantage-section .advantage-tree .advantage .branch { margin-right: -26px; }

.advantage-section .advantage-tree .advantage .branch > * { float: right; }

.advantage-section .advantage-tree .advantage .branch .circle { background-color: #f78e24; }

.advantage-section .advantage-tree .advantage .branch .line { border-color: #f78e24; }

.advantage-section .advantage-tree .advantage .branch .text { color: #f78e24; }

.advantage-section .advantage-tree .weakness .tree-top { margin-left: 106px; }

.advantage-section .advantage-tree .weakness .tree-top > * { float: left; }

.advantage-section .advantage-tree .weakness .tree-top .text { color: #545454; }

.advantage-section .advantage-tree .weakness .branch { margin-left: 26px; }

.advantage-section .advantage-tree .weakness .branch > * { float: left; }

.advantage-section .advantage-tree .weakness .branch .line { border-color: #545454; }

.advantage-section .advantage-tree .weakness .branch .text { color: #545454; }

/* service-cards */
.service-cards { background: url(../resource/img/sme_service_bgi1.jpg) no-repeat center; background-size: cover; }

.service-cards .section-title { padding-top: 44px; padding-bottom: 30px; color: #fff; }

.service-cards .m-service-cards { padding-bottom: 44px; }

/* question-cards */
.question-cards { padding-bottom: 18px; background-color: #fff; }

.question-cards .section-title { padding-top: 44px; padding-bottom: 30px; }

.question-cards .m-question-cards { margin: 0 60px; }

/* other-services */
.other-services { padding-bottom: 65px; margin-bottom: 35px; background-color: #fff; }

.other-services .section-title { padding: 24px 0; }

.other-services .m-other-services { margin: 0 60px; }
