@charset "UTF-8";
body { background-color: #f7f7f7; }

/* head-container */
.head-container { position: relative; height: 400px; margin-top: 10px; margin-bottom: 45px; }

.head-container .head-banner { position: absolute; z-index: 1; width: 100%; height: 100%; overflow: hidden; }

.head-container .head-banner .banner-item { width: inherit; height: inherit; }

.head-container .head-banner .swiper-pagination { position: absolute; bottom: 18px; width: 100%; text-align: center; font-size: 0; }

.head-container .head-banner .swiper-pagination .swiper-pagination-bullet { display: inline-block; width: 10px; height: 10px; margin: 0 6px; vertical-align: middle; background-color: #737373; opacity: 1; filter: alpha(opacity=100); border-radius: 50%; }

.head-container .head-banner .swiper-pagination .swiper-pagination-bullet-active, .head-container .head-banner .swiper-pagination .swiper-pagination-bullet:hover { background-color: #03d6d1; }

.head-container .head-content { position: relative; z-index: 2; }

.head-container .head-content .hot-nav { float: left; width: 200px; height: 400px; background-color: #fff; overflow: hidden; }

.head-container .head-content .hot-nav .nav { padding: 15px 30px; font-size: 13px; }

.head-container .head-content .hot-nav .nav dt { color: #999; }

.head-container .head-content .hot-nav .nav dd { margin-top: 18px; color: #333; }

.head-container .head-content .hot-nav .nav dd a { max-width: 100%; color: inherit; }

.head-container .head-content .hot-nav .nav dd a:hover { color: #03d6d1; }

.head-container .head-content .chance-container { border-collapse: collapse; border-spacing: 0; float: right; height: 400px; }

.head-container .head-content .chance-container .chance-form { box-sizing: border-box; width: 340px; text-align: center; }

.head-container .head-content .chance-container .chance-form * { box-sizing: border-box; }

.head-container .head-content .chance-container .chance-form .tab { width: 100%; font-size: 0; color: #fff; }

.head-container .head-content .chance-container .chance-form .tab li { display: inline-block; width: 50%; height: 40px; vertical-align: bottom; line-height: 40px; font-size: 16px; color: #fff; background-color: #03d6d1; border-top-left-radius: 5px; cursor: default; overflow: hidden; }

.head-container .head-content .chance-container .chance-form .tab li.current { height: 45px; line-height: 45px; font-size: 16px; font-weight: bold; color: #333; background-color: #fff; }

.head-container .head-content .chance-container .chance-form .tab li + li { border-top-left-radius: 0; border-top-right-radius: 5px; }

.head-container .head-content .chance-container .chance-form .form-content { padding: 34px 30px 40px; background-color: #fff; overflow: hidden; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }

.head-container .head-content .chance-container .chance-form .note { margin-bottom: 22px; font-size: 16px; color: #666; }

.head-container .head-content .chance-container .chance-form .input-item .input-box { width: 100%; }

.head-container .head-content .chance-container .chance-form .input-item .input-box input[type='text'] { width: 100%; height: 44px; padding-left: 20px; padding-right: 20px; line-height: 44px; vertical-align: middle; background-color: #fff; border: 1px solid #999; border-radius: 44px; }

.head-container .head-content .chance-container .chance-form .input-item .input-box input[type='text']:focus { border-color: #03d6d1; }

.head-container .head-content .chance-container .chance-form .input-item .hint-info { padding: 9px; line-height: 14px; text-align: justify; font-size: 12px; color: #999; }

.head-container .head-content .chance-container .chance-form .form-foot .submit-btn { display: block; width: 100%; height: 44px; line-height: 44px; font-size: 18px; color: #fff; background-color: #03d6d1; border-radius: 44px; }

.head-container .head-content .chance-container .chance-form .form-foot .submit-btn:hover { background-color: #00c7c2; }

.head-container .head-content .chance-container .chance-form .form-foot .submit-btn:active { background-color: #00b8b3; }

/* section-head 共 */
.section-head { padding: 45px 0 17px; }

.section-head .head-title { display: inline-block; vertical-align: bottom; font-size: 24px; color: #333; }

.section-head .head-desc { display: inline-block; margin-left: 18px; vertical-align: bottom; font-size: 16px; color: #999; }

/* recommend-section */
.recommend-section { margin-bottom: 45px; }

.recommend-section .section-flag { float: left; width: 300px; height: 370px; margin-right: -300px; background: url(../resource/img/sme_transaction_pic0.jpg) no-repeat center; }

.recommend-section .section-content { margin-left: 310px; }

.recommend-section .recommend-cards { float: left; margin: -10px 0 0 -10px; }

.recommend-section .recommend-cards * { box-sizing: border-box; }

.recommend-section .recommend-card { float: left; display: block; width: 290px; height: 180px; margin: 10px 0 0 10px; background-repeat: no-repeat; background-position: center; box-shadow: 0 0 10px 0 rgba(24, 5, 9, 0.1); -webkit-transition: -webkit-transform .3s ease-out; transition: -webkit-transform .3s ease-out; transition: transform .3s ease-out; transition: transform .3s ease-out, -webkit-transform .3s ease-out; }

.recommend-section .recommend-card.l-card { width: 440px; }

.recommend-section .recommend-card:hover { -webkit-transform: translateY(-5px); -ms-transform: translateY(-5px); transform: translateY(-5px); }

/* brand-panels-section */
.brand-panels-section .panels-list { margin: -10px 0 0 -9px; }

.brand-panels-section .brand-panel { box-sizing: border-box; float: left; width: 394px; height: 535px; margin: 10px 0 0 9px; background-color: #fff; box-shadow: 0 0 10px 0 rgba(24, 5, 9, 0.1); }

.brand-panels-section .brand-panel * { box-sizing: border-box; }

.brand-panels-section .brand-panel .panel-head { height: 73px; padding: 30px 0 24px; text-align: center; border-bottom: 1px solid #eee; }

.brand-panels-section .brand-panel .panel-head .title { position: relative; display: inline-block; vertical-align: middle; font-size: 18px; color: #333; }

.brand-panels-section .brand-panel .panel-head .title:before { content: ''; position: absolute; top: -12px; left: -27px; display: block; width: 21px; height: 21px; background: url(../resource/img/sme_transaction_sprites1.png) no-repeat 0 0; }

.brand-panels-section .brand-panel .panel-body { height: 401px; }

.brand-panels-section .brand-panel .panel-body .brand-card { position: relative; float: left; display: block; width: 198px; height: 101.5px; margin: -1px 0 0 -1px; text-align: center; font-size: 0; background-color: #fff; border: 1px solid #eee; overflow: hidden; }

.brand-panels-section .brand-panel .panel-body .brand-card:before { content: ''; display: inline-block; width: 0; height: 100%; vertical-align: middle; font-size: 0; overflow: hidden; }

.brand-panels-section .brand-panel .panel-body .brand-card img { display: inline-block; max-width: 100%; max-height: 100%; vertical-align: middle; }

.brand-panels-section .brand-panel .panel-body .brand-card .desc { position: absolute; top: 100%; left: 0; width: 100%; height: 100%; padding: 15px; background-color: #03d6d1; -webkit-transition: top .3s ease-out; transition: top .3s ease-out; }

.brand-panels-section .brand-panel .panel-body .brand-card .desc:before { content: ''; display: inline-block; width: 0; height: 100%; vertical-align: middle; font-size: 0; overflow: hidden; }

.brand-panels-section .brand-panel .panel-body .brand-card .desc .title { display: inline-block; vertical-align: middle; line-height: 1.2; font-size: 16px; color: #fff; }

.brand-panels-section .brand-panel .panel-body .brand-card:hover .desc { top: 0; }

.brand-panels-section .brand-panel .panel-foot { height: 61px; padding: 20px 0; text-align: center; font-size: 18px; border-top: 1px solid #eee; }

.brand-panels-section .brand-panel .panel-foot .more-link { vertical-align: middle; color: #999; }

.brand-panels-section .brand-panel .panel-foot .more-link:hover { color: #03d6d1; }

.brand-panels-section .brand-panel.fine-panel .panel-head .title:before { background-position-x: -23px; }

.brand-panels-section .brand-panel.cheap-panel .panel-head .title:before { background-position-x: -46px; }

/* hot-category-section */
.hot-category-section .section-head .handle-group { box-sizing: border-box; font-size: 0; }

.hot-category-section .section-head .handle-group * { box-sizing: border-box; }

.hot-category-section .section-head .handle-group > * { display: inline-block; vertical-align: middle; }

.hot-category-section .section-head .handle-group .all-category-btn { height: 26px; padding: 0 18px; line-height: 24px; font-size: 14px; color: #03d6d1; border: 1px solid #03d6d1; border-radius: 26px; }

.hot-category-section .section-head .handle-group .all-category-btn:hover { color: #fff; background-color: #03d6d1; }

.hot-category-section .section-head .handle-group .all-category-btn:active { background-color: #00c7c2; }

.hot-category-section .section-head .handle-group .tab-nav li { display: inline-block; margin-left: 40px; vertical-align: top; text-align: center; color: #666; cursor: default; }

.hot-category-section .section-head .handle-group .tab-nav li .text { height: 25px; line-height: 25px; font-size: 14px; }

.hot-category-section .section-head .handle-group .tab-nav li .line { width: 100%; height: 1px; }

.hot-category-section .section-head .handle-group .tab-nav li .line span { display: inline-block; width: 0; height: 100%; vertical-align: middle; background-color: #03d6d1; overflow: hidden; -webkit-transition: width .3s ease-out; transition: width .3s ease-out; }

.hot-category-section .section-head .handle-group .tab-nav li:hover { color: #03d6d1; }

.hot-category-section .section-head .handle-group .tab-nav li:hover .line span { width: 100%; }

.hot-category-section .section-head .handle-group .tab-nav li.current { color: #03d6d1; }

.hot-category-section .section-head .handle-group .tab-nav li.current .text { font-weight: bold; }

.hot-category-section .section-head .handle-group .tab-nav li.current .line span { width: 100%; }

.hot-category-section .content-item { box-sizing: border-box; display: none; }

.hot-category-section .content-item.current { display: block; }

.hot-category-section .content-item * { box-sizing: border-box; }

.hot-category-section .content-item .left-content { float: left; width: 293px; margin-right: -293px; }

.hot-category-section .content-item .left-content .content-flag { width: 100%; height: 219px; }

.hot-category-section .content-item .left-content .content-flag img { width: 100%; height: 100%; vertical-align: middle; }

.hot-category-section .content-item .left-content .filter-panel { width: 100%; height: 219px; padding: 25px 20px; margin-top: 10px; background-color: #fff; box-shadow: 0 0 10px 0 rgba(24, 5, 9, 0.1); }

.hot-category-section .content-item .left-content .filter-panel .filter-group li { float: left; width: 50%; padding: 5px 10px 19px; }

.hot-category-section .content-item .left-content .filter-panel .filter-group li a { max-width: 100%; vertical-align: middle; font-size: 14px; color: #666; }

.hot-category-section .content-item .left-content .filter-panel .filter-group li a:hover { color: #03d6d1; }

.hot-category-section .content-item .left-content .filter-panel .panel-foot { text-align: center; }

.hot-category-section .content-item .left-content .filter-panel .panel-foot .more-link { vertical-align: middle; }

.hot-category-section .content-item .left-content .filter-panel .panel-foot .more-link:hover { color: #03d6d1; }

.hot-category-section .content-item .right-content { float: right; width: 201px; height: 448px; margin-left: -201px; background-color: #fff; box-shadow: 0 0 10px 0 rgba(24, 5, 9, 0.1); }

.hot-category-section .content-item .right-content .card { float: left; width: 101.5px; height: 90.6px; margin: -1px 0 0 -1px; text-align: center; font-size: 0; background-color: #fff; border: 1px solid #eee; overflow: hidden; }

.hot-category-section .content-item .right-content .card:before { content: ''; display: inline-block; width: 0; height: 100%; vertical-align: middle; font-size: 0; overflow: hidden; }

.hot-category-section .content-item .right-content .card img { display: inline-block; max-width: 100%; max-height: 100%; vertical-align: middle; -webkit-transition: -webkit-transform .3s ease-out; transition: -webkit-transform .3s ease-out; transition: transform .3s ease-out; transition: transform .3s ease-out, -webkit-transform .3s ease-out; }

.hot-category-section .content-item .right-content .card:hover img { -webkit-transform: scale(1.09); -ms-transform: scale(1.09); transform: scale(1.09); }

.hot-category-section .content-item .center-content { margin-left: 303px; margin-right: 211px; }

.hot-category-section .content-item .center-content .brand-cards { float: left; margin: -10px 0 0 -10px; }

.hot-category-section .content-item .center-content .brand-card { float: left; width: 164px; height: 219px; margin: 10px 0 0 10px; background-color: #fff; box-shadow: 0 0 10px 0 rgba(24, 5, 9, 0.1); }

.hot-category-section .content-item .center-content .brand-card .pic { display: block; width: 100%; height: 114px; text-align: center; font-size: 0; border-bottom: 1px solid #eee; overflow: hidden; }

.hot-category-section .content-item .center-content .brand-card .pic:before { content: ''; display: inline-block; width: 0; height: 100%; vertical-align: middle; font-size: 0; overflow: hidden; }

.hot-category-section .content-item .center-content .brand-card .pic img { display: inline-block; max-width: 100%; max-height: 100%; vertical-align: middle; -webkit-transition: -webkit-transform .3s ease-out; transition: -webkit-transform .3s ease-out; transition: transform .3s ease-out; transition: transform .3s ease-out, -webkit-transform .3s ease-out; }

.hot-category-section .content-item .center-content .brand-card .pic:hover img { -webkit-transform: scale(1.09); -ms-transform: scale(1.09); transform: scale(1.09); }

.hot-category-section .content-item .center-content .brand-card .desc { padding: 28px 12px 0; text-align: center; color: #333; }

.hot-category-section .content-item .center-content .brand-card .desc .title a { max-width: 100%; vertical-align: middle; color: inherit; }

.hot-category-section .content-item .center-content .brand-card .desc .title a:hover { color: #03d6d1; }

.hot-category-section .content-item .center-content .brand-card .desc .price { margin-top: 14px; }

.hot-category-section .content-item .center-content .brand-card .desc .price .num { vertical-align: middle; font-size: 16px; color: #f00; }

/* brand-category-section */
.brand-category-section .section-body { box-sizing: border-box; }

.brand-category-section .section-body * { box-sizing: border-box; }

.brand-category-section .category-cards { float: left; width: 1197px; background-color: #fff; box-shadow: 0 0 10px 0 rgba(24, 5, 9, 0.1); }

.brand-category-section .category-card { float: left; width: 134px; height: 80px; margin: -1px 0 0 -1px; text-align: center; font-size: 0; background-color: #fff; border: 1px solid #eee; }

.brand-category-section .category-card:before { content: ''; display: inline-block; width: 0; height: 100%; vertical-align: middle; font-size: 0; overflow: hidden; }

.brand-category-section .category-card .desc { display: inline-block; padding: 10px; vertical-align: middle; line-height: 1.2; font-size: 13px; color: #999; }

.brand-category-section .category-card .desc .name { margin-top: 5px; color: #333; }

.brand-category-section .category-card:hover { background-color: #03d6d1; }

.brand-category-section .category-card:hover .desc { color: #fff; }

.brand-category-section .category-card:hover .desc .name { color: #fff; }

/* path-section */
.path-section .section-body { padding: 44px 0; background-color: #fff; box-shadow: 0 0 10px 0 rgba(24, 5, 9, 0.1); }

.path-section .path-list { text-align: center; font-size: 0; }

.path-section .path-list > * { display: inline-block; }

.path-section .path-item { width: 90px; vertical-align: top; }

.path-section .path-item .icon { width: 70px; height: 70px; background-repeat: no-repeat; background-position: center; border: 8px solid rgba(4, 243, 237, 0.1); border-radius: 50%; -webkit-transition: border-color .3s ease-out; transition: border-color .3s ease-out; }

.path-section .path-item .title { margin-top: 15px; font-size: 16px; color: #666; }

.path-section .path-item:hover .icon { border-color: rgba(4, 243, 237, 0.4); }

.path-section .path-item:hover .title { color: #03d6d1; }

.path-section .line { position: relative; width: 67px; height: 2px; margin: 42px 12px 0 5px; background-color: #ddd; }

.path-section .line:after { content: ''; position: absolute; top: 50%; left: 100%; width: 0; height: 0; margin-top: -5px; border-left: 7px solid #ddd; border-right: none; border-top: 5px solid transparent; border-bottom: 5px solid transparent; }

/* fast-transactions-section */
.fast-transactions-section { width: 435px; }

.fast-transactions-section .section-body { box-sizing: border-box; }

.fast-transactions-section .section-body * { box-sizing: border-box; }

.fast-transactions-section .transaction-form { width: 100%; text-align: center; border-top-left-radius: 5px; border-top-right-radius: 5px; box-shadow: 0 0 10px 0 rgba(24, 5, 9, 0.1); }

.fast-transactions-section .transaction-form .tab { width: 100%; font-size: 0; color: #fff; }

.fast-transactions-section .transaction-form .tab li { display: inline-block; width: 50%; height: 50px; vertical-align: bottom; line-height: 50px; font-size: 16px; color: #fff; background-color: #03d6d1; border-bottom: 1px solid #eee; border-top-left-radius: 5px; cursor: default; overflow: hidden; }

.fast-transactions-section .transaction-form .tab li.current { color: #666; background-color: #fff; }

.fast-transactions-section .transaction-form .tab li + li { border-top-left-radius: 0; border-top-right-radius: 5px; }

.fast-transactions-section .transaction-form .form-content { height: 252px; padding: 29px 40px 0; background-color: #fff; overflow: hidden; }

.fast-transactions-section .transaction-form .input-item .input-box { width: 100%; }

.fast-transactions-section .transaction-form .input-item .input-box input[type='text'] { width: 100%; height: 50px; padding-left: 20px; padding-right: 20px; line-height: 50px; vertical-align: middle; background-color: #fff; border: 1px solid #ddd; border-radius: 50px; }

.fast-transactions-section .transaction-form .input-item .input-box input[type='text']:focus { border-color: #03d6d1; }

.fast-transactions-section .transaction-form .input-item .hint-info { height: 20px; padding: 0 10px; line-height: 20px; text-align: justify; font-size: 12px; color: #999; }

.fast-transactions-section .transaction-form .form-foot .submit-btn { display: block; width: 100%; height: 50px; line-height: 50px; font-size: 18px; color: #fff; background-color: #03d6d1; border-radius: 50px; }

.fast-transactions-section .transaction-form .form-foot .submit-btn:hover { background-color: #00c7c2; }

.fast-transactions-section .transaction-form .form-foot .submit-btn:active { background-color: #00b8b3; }

/* questions-section */
.questions-section { width: 755px; }

.questions-section .section-body { box-sizing: border-box; height: 302px; padding: 30px 35px; background-color: #fff; box-shadow: 0 0 10px 0 rgba(24, 5, 9, 0.1); }

.questions-section .section-body * { box-sizing: border-box; }

.questions-section .question-item .title a { max-width: 100%; vertical-align: middle; font-size: 15px; color: #333; }

.questions-section .question-item .title a:hover { color: #03d6d1; }

.questions-section .question-item .para { height: 42px; margin-top: 10px; line-height: 21px; font-size: 13px; color: #999; overflow: hidden; }

.questions-section .question-item + .question-item { margin-top: 20px; }

/* news-section */
.news-section .section-head { text-align: center; }

.news-section .section-head .head-title:before, .news-section .section-head .head-title:after { content: ''; display: inline-block; width: 156px; height: 1px; margin-right: 17px; vertical-align: middle; background: url(../resource/img/sme_icon_sprites.png) no-repeat 0 -36px; }

.news-section .section-head .head-title:after { margin-left: 17px; margin-right: 0; background-position-y: -39px; }

.news-section .section-body { box-sizing: border-box; }

.news-section .section-body * { box-sizing: border-box; }

.news-section .news-tab .tab-nav { padding: 9px 0 20px; text-align: center; font-size: 0; }

.news-section .news-tab .tab-nav li { display: inline-block; margin: 0 33px; vertical-align: top; color: #666; cursor: default; }

.news-section .news-tab .tab-nav li .text { padding: 9px 20px; font-size: 16px; }

.news-section .news-tab .tab-nav li .line { width: 100%; height: 1px; }

.news-section .news-tab .tab-nav li .line span { display: inline-block; width: 0; height: 100%; vertical-align: middle; background-color: #03d6d1; overflow: hidden; -webkit-transition: width .3s ease-out; transition: width .3s ease-out; }

.news-section .news-tab .tab-nav li:hover { color: #03d6d1; }

.news-section .news-tab .tab-nav li:hover .line span { width: 100%; }

.news-section .news-tab .tab-nav li.current { color: #03d6d1; }

.news-section .news-tab .tab-nav li.current .line span { width: 100%; }

.news-section .news-tab .tab-content .content-item { display: none; padding-bottom: 35px; }

.news-section .news-tab .tab-content .content-item.current { display: block; }

.news-section .news-tab .news-cards { margin: -10px 0 0 -10px; }

.news-section .news-tab .news-card { position: relative; float: left; width: 292px; height: 230px; margin: 10px 0 0 10px; box-shadow: 0 0 10px 0 rgba(24, 5, 9, 0.1); }

.news-section .news-tab .news-card .pic { display: block; width: 100%; height: 100%; overflow: hidden; }

.news-section .news-tab .news-card .pic img { width: 100%; height: 100%; vertical-align: middle; -webkit-transition: -webkit-transform .3s ease-out; transition: -webkit-transform .3s ease-out; transition: transform .3s ease-out; transition: transform .3s ease-out, -webkit-transform .3s ease-out; }

.news-section .news-tab .news-card .pic:hover img { -webkit-transform: scale(1.08); -ms-transform: scale(1.08); transform: scale(1.08); }

.news-section .news-tab .news-card .title { position: absolute; bottom: 0; left: 0; width: 100%; padding: 15px; background-color: rgba(0, 0, 0, 0.75); }

.news-section .news-tab .news-card .title a { max-width: 100%; vertical-align: middle; color: #fff; }

.news-section .news-tab .news-card .title a:hover { color: #03d6d1; }
