body { background-color: #f7f7f7; }

/* head-crumbs-nav */
.head-crumbs-nav .m-crumbs-nav { background-color: transparent; }

.head-crumbs-nav .m-crumbs-nav ul { padding-left: 0; padding-right: 0; }

/* filter-container */
.filter-container { margin-bottom: 10px; }

/* filter-panel */
.filter-panel { box-sizing: border-box; font-size: 14px; background-color: #fff; }

.filter-panel * { box-sizing: border-box; }

.filter-panel .title { float: left; width: 80px; margin-right: -80px; line-height: 26px; }

.filter-panel .content { margin-left: 80px; line-height: 24px; }

.filter-panel .results-container { padding: 15px 30px; border-bottom: 1px solid #eee; }

.filter-panel .results-container .title { color: #999; }

.filter-panel .results-container .results-group { float: left; margin: -10px 0 0 -10px; }

.filter-panel .results-container .results-group .result { float: left; height: 26px; padding: 0 8px; margin: 10px 0 0 10px; font-size: 0; color: #03d6d0; border: 1px solid #03d6d0; border-radius: 26px; cursor: default; }

.filter-panel .results-container .results-group .result > * { display: inline-block; vertical-align: middle; font-size: 14px; }

.filter-panel .results-container .results-group .result .name { max-width: 130px; }

.filter-panel .results-container .results-group .result .del { margin-left: 5px; font-size: 12px; color: inherit; }

.filter-panel .results-container .results-group .result .del:hover { color: #fe4654; }

.filter-panel .results-container .results-group .result:hover { color: #fff; background-color: #03d6d0; }

.filter-panel .choose-container { padding: 20px 30px; }

.filter-panel .choose-container .title { color: #333; }

.filter-panel .choose-container .options-box { float: left; width: 925px; }

.filter-panel .choose-container .options-group { float: left; width: 100%; margin: -10px 0 0 -10px; }

.filter-panel .choose-container .options-group .option { float: left; height: 26px; padding: 0 8px; margin: 10px 0 0 10px; font-size: 0; color: #666; border: 1px solid transparent; border-radius: 26px; cursor: pointer; }

.filter-panel .choose-container .options-group .option > * { display: inline-block; vertical-align: middle; font-size: 14px; }

.filter-panel .choose-container .options-group .option .name { max-width: 120px; }

.filter-panel .choose-container .options-group .option.chosen { color: #fff; background-color: #03d6d0; border-color: #03d6d0; }

.filter-panel .choose-container .options-group .option:hover { color: #fff; background-color: #03d6d0; border-color: #03d6d0; }

.filter-panel .choose-container .options-group .custom-option { float: left; height: 26px; padding: 0 8px; margin: 10px 0 0 10px; font-size: 0; color: #666; border: 1px solid transparent; }

.filter-panel .choose-container .options-group .custom-option > * { display: inline-block; vertical-align: middle; font-size: 14px; }

.filter-panel .choose-container .options-group .custom-option .connector { margin: 0 2px; }

.filter-panel .choose-container .options-group .custom-option .unit { margin: 0 5px; }

.filter-panel .choose-container .options-group .custom-option input[type='text'] { width: 70px; height: 24px; padding: 0 10px; margin: 0 5px; line-height: 22px; border: 1px solid #ddd; border-radius: 4px; }

.filter-panel .choose-container .options-group .custom-option input[type='text']:focus { border-color: #03d6d0; }

.filter-panel .choose-container .options-group .custom-option .handle-btn { display: inline-block; min-width: 30px; height: 24px; padding: 0 10px; margin: 0 5px; vertical-align: middle; line-height: 22px; text-align: center; color: #666; background-color: #f7f7f7; border: 1px solid #ddd; border-radius: 4px; }

.filter-panel .choose-container .options-group .custom-option .handle-btn:hover { background-color: #e8e8e8; }

.filter-panel .choose-container .options-group .custom-option .handle-btn:active { background-color: #d9d9d9; }

.filter-panel .choose-container .options-group .custom-option .handle-btn.confirm-btn { color: #fff; background-color: #03d6d0; border-color: #03d6d0; }

.filter-panel .choose-container .options-group .custom-option .handle-btn.confirm-btn:hover { background-color: #00c7c1; }

.filter-panel .choose-container .options-group .custom-option .handle-btn.confirm-btn:active { background-color: #00b8b2; }

.filter-panel .choose-container .options-foot-handle { display: none; padding-top: 10px; text-align: center; }

.filter-panel .choose-container .options-foot-handle .handle-btn { display: inline-block; min-width: 30px; height: 26px; padding: 0 10px; margin: 5px; vertical-align: middle; line-height: 24px; text-align: center; color: #666; background-color: #f7f7f7; border: 1px solid #ddd; border-radius: 4px; }

.filter-panel .choose-container .options-foot-handle .handle-btn:hover { background-color: #e8e8e8; }

.filter-panel .choose-container .options-foot-handle .handle-btn:active { background-color: #d9d9d9; }

.filter-panel .choose-container .options-foot-handle .handle-btn.confirm-btn { color: #fff; background-color: #03d6d0; border-color: #03d6d0; }

.filter-panel .choose-container .options-foot-handle .handle-btn.confirm-btn:hover { background-color: #00c7c1; }

.filter-panel .choose-container .options-foot-handle .handle-btn.confirm-btn:active { background-color: #00b8b2; }

.filter-panel .choose-container .handle-group { float: right; font-size: 0; }

.filter-panel .choose-container .handle-group .handle-btn { display: inline-block; height: 26px; padding: 0 8px; vertical-align: middle; line-height: 26px; font-size: 14px; color: #999; border-radius: 26px; }

.filter-panel .choose-container .handle-group .handle-btn > * { display: inline-block; vertical-align: middle; line-height: 1; color: inherit; }

.filter-panel .choose-container .handle-group .handle-btn i { font-size: 16px; -webkit-transition: -webkit-transform .4s ease-out; transition: -webkit-transform .4s ease-out; transition: transform .4s ease-out; transition: transform .4s ease-out, -webkit-transform .4s ease-out; }

.filter-panel .choose-container .handle-group .handle-btn.hide { display: none; }

.filter-panel .choose-container .handle-group .handle-btn.active { color: #fff; background-color: #03d6d0; }

.filter-panel .choose-container .handle-group .handle-btn.active.more-btn i { -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }

.filter-panel .choose-container .handle-group .handle-btn:hover { color: #fff; background-color: #03d6d0; }

.filter-panel .choose-container .handle-group .handle-btn + .handle-btn { margin-left: 5px; }

.filter-panel .choose-container .choose-item.with-more .options-group-wrap { height: 26px; overflow: hidden; }

.filter-panel .choose-container .choose-item.with-more.on-more .options-group-wrap { height: auto; }

.filter-panel .choose-container .choose-item.on-multiple .options-foot-handle { display: block; }

.filter-panel .choose-container .choose-item + .choose-item { margin-top: 15px; }

.filter-panel .choose-container .choose-brand-type .options-group .option .name { width: 120px; }

/* content-container */
.content-container { padding-bottom: 10px; }

/* main-container */
.main-container { width: 890px; }

/* sort-container */
.main-container .sort-container { box-sizing: border-box; margin-bottom: 10px; background-color: #fff; }

.main-container .sort-container * { box-sizing: border-box; }

.main-container .sort-container .sort-group { padding: 16px 30px; font-size: 0; }

.main-container .sort-container .sort-group .sort-item { display: inline-block; margin-right: 28px; vertical-align: middle; font-size: 14px; }

.main-container .sort-container .sort-group .sort-item > * { display: inline-block; vertical-align: middle; }

.main-container .sort-container .sort-group .sort-item .sort-icon { width: 5px; height: 12px; background: url(../resource/img/sme_icon_sprites2.png) no-repeat 0 0; }

.main-container .sort-container .sort-group .sort-item .sort-icon.ascend { margin-left: 5px; }

.main-container .sort-container .sort-group .sort-item .sort-icon.descend { margin-left: 2px; background-position-x: -7px; }

.main-container .sort-container .sort-group .sort-item.chosen { color: #f78e24; }

.main-container .sort-container .sort-group .sort-item.ascending .sort-icon.ascend { background-position-y: -14px; }

.main-container .sort-container .sort-group .sort-item.descending .sort-icon.descend { background-position-y: -14px; }

.main-container .sort-container .name-search { position: relative; width: 257px; height: 28px; margin: 10px 20px 0 0; }

.main-container .sort-container .name-search input[type='text'] { width: 100%; height: 100%; padding: 0 35px 0 16px; line-height: 28px; border: 1px solid #c9c9c9; border-radius: 28px; }

.main-container .sort-container .name-search input[type='text']:focus { border-color: #03d6d0; }

.main-container .sort-container .name-search .search-btn { position: absolute; top: 0; right: 0; width: 30px; height: 28px; line-height: 28px; text-align: center; font-size: 16px; color: #c9c9c9; border-top-right-radius: 28px; border-bottom-right-radius: 28px; }

.main-container .sort-container .name-search .search-btn:hover { color: #fff; background-color: #03d6d0; }

.main-container .sort-container .name-search .search-btn:active { color: #fff; background-color: #00b8b2; }

/* result-empty */
.main-container .result-empty { min-height: 1005px; padding-top: 315px; text-align: center; font-size: 18px; color: #666; background-color: #fff; }

.main-container .result-empty .pic { margin: 0 auto 60px; }

.main-container .result-empty .pic img { vertical-align: middle; }

/* result-cards-wrap */
.main-container .result-cards-wrap .result-cards { margin: -10px 0 0 -10px; box-sizing: border-box; }

.main-container .result-cards-wrap .result-cards * { box-sizing: border-box; }

.main-container .result-cards-wrap .result-card { float: left; width: 215px; height: 282px; margin: 10px 0 0 10px; background-color: #fff; overflow: hidden; box-shadow: 0 0 10px 0 rgba(24, 5, 9, 0.1); }

.main-container .result-cards-wrap .result-card .pic { position: relative; display: block; width: 100%; height: 150px; text-align: center; font-size: 0; border-bottom: 1px solid #eee; overflow: hidden; }

.main-container .result-cards-wrap .result-card .pic:before { content: ''; display: inline-block; width: 0; height: 100%; vertical-align: middle; font-size: 0; overflow: hidden; }

.main-container .result-cards-wrap .result-card .pic img { display: inline-block; max-width: 100%; max-height: 100%; vertical-align: middle; -webkit-transition: -webkit-transform .3s ease-out; transition: -webkit-transform .3s ease-out; transition: transform .3s ease-out; transition: transform .3s ease-out, -webkit-transform .3s ease-out; }

.main-container .result-cards-wrap .result-card .pic .price { position: absolute; bottom: 0; right: 0; padding: 7px 9px; font-size: 12px; color: #fff; background-color: #fe4654; border-top-left-radius: 26px; border-bottom-left-radius: 26px; }

.main-container .result-cards-wrap .result-card .pic:hover img { -webkit-transform: scale(1.06); -ms-transform: scale(1.06); transform: scale(1.06); }

.main-container .result-cards-wrap .result-card .desc { padding: 25px 20px 0; text-align: center; }

.main-container .result-cards-wrap .result-card .desc .title a { max-width: 100%; vertical-align: middle; color: #333; }

.main-container .result-cards-wrap .result-card .desc .title a:hover { color: #03d6d0; }

.main-container .result-cards-wrap .result-card .desc .price { margin-top: 10px; }

.main-container .result-cards-wrap .result-card .desc .price .num { vertical-align: middle; font-size: 16px; color: #fe4654; }

.main-container .result-cards-wrap .result-card .desc .group-name { margin-top: 10px; line-height: 18px; }

/* pagination-container */
.main-container .pagination-container { padding: 25px 0; }

.main-container .pagination-container .m-default-pagination .current { background-color: #03d6d0; }

.main-container .pagination-container .m-default-pagination a:hover { background-color: #03d6d0; border-color: #03d6d0; }

.main-container .pagination-container .m-default-pagination a:active { background-color: #00b8b2; }

.main-container .pagination-container .m-default-pagination input[type="text"]:focus { border-color: #03d6d0; }

.main-container .pagination-container .m-default-pagination input[type="button"]:hover { color: #fff; background-color: #03d6d0; border-color: #03d6d0; }

.main-container .pagination-container .m-default-pagination input[type="button"]:active { background-color: #00b8b2; }

.main-container .pagination-container .m-group-pagination .current { background-color: #03d6d0; border-color: #03d6d0; }

.main-container .pagination-container .m-group-pagination a:hover { background-color: #03d6d0; border-color: #03d6d0; }

.main-container .pagination-container .m-group-pagination a:active { background-color: #00b8b2; }

.main-container .pagination-container .m-group-pagination input[type="text"]:focus { border-color: #03d6d0; }

.main-container .pagination-container .m-group-pagination input[type="button"]:hover { background-color: #03d6d0; border-color: #03d6d0; }

.main-container .pagination-container .m-group-pagination input[type="button"]:active { background-color: #00b8b2; }

.main-container .pagination-container .m-group-pagination .page-nav .current { background-color: #03d6d0; border-color: #03d6d0; }

/* aside-container */
.aside-container { width: 300px; }

/* chance-container */
.aside-container .chance-container { padding: 20px 0; margin-bottom: 10px; text-align: center; background-color: #fff; box-shadow: 0 0 10px 0 rgba(24, 5, 9, 0.1); }

.aside-container .chance-container .container-head { padding: 30px 0; font-size: 16px; font-weight: bold; color: #333; }

.aside-container .chance-container .chance-form { box-sizing: border-box; width: 240px; margin: 0 auto; }

.aside-container .chance-container .chance-form * { box-sizing: border-box; }

.aside-container .chance-container .chance-form .tab { width: 100%; height: 36px; margin-bottom: 30px; line-height: 36px; font-size: 0; color: #999; background-color: #eee; border: 1px solid #ddd; border-radius: 36px; overflow: hidden; }

.aside-container .chance-container .chance-form .tab li { display: inline-block; width: 50%; vertical-align: middle; font-size: 14px; border-radius: 36px; cursor: default; }

.aside-container .chance-container .chance-form .tab li:hover { color: #7b7b7b; }

.aside-container .chance-container .chance-form .tab li.current { color: #fff; background-color: #03d6d0; }

.aside-container .chance-container .chance-form .input-item .input-box { position: relative; width: 100%; }

.aside-container .chance-container .chance-form .input-item .input-box .title { position: absolute; top: 50%; left: 20px; margin-top: -7px; }

.aside-container .chance-container .chance-form .input-item .input-box input[type='text'] { width: 100%; height: 36px; padding-left: 90px; padding-right: 10px; line-height: 36px; vertical-align: middle; background-color: #fff; border: 1px solid #ddd; }

.aside-container .chance-container .chance-form .input-item .input-box input[type='text']:focus { border-color: #03d6d0; }

.aside-container .chance-container .chance-form .input-item .input-box input[type='text']:focus + .title { color: #03d6d0; }

.aside-container .chance-container .chance-form .input-item .hint-info { padding: 10px 0; line-height: 14px; text-align: justify; font-size: 12px; color: #999; }

.aside-container .chance-container .chance-form .form-foot { padding-top: 10px; }

.aside-container .chance-container .chance-form .form-foot .submit-btn { display: block; width: 100%; height: 46px; line-height: 46px; color: #fff; background-color: #03d6d0; }

.aside-container .chance-container .chance-form .form-foot .submit-btn:hover { background-color: #00c7c1; }

.aside-container .chance-container .chance-form .form-foot .submit-btn:active { background-color: #00b8b2; }

.aside-container .chance-container .chance-form .form-foot .note { margin-top: 20px; }

/* hot-recommend-container */
.aside-container .hot-recommend-container { box-sizing: border-box; }

.aside-container .hot-recommend-container * { box-sizing: border-box; }

.aside-container .hot-recommend-container .container-head { padding: 20px 0; margin-bottom: 5px; text-align: center; font-size: 18px; color: #333; background-color: #fff; }

.aside-container .hot-recommend-container .recommend-card { width: 100%; background-color: #fff; box-shadow: 0 0 10px 0 rgba(24, 5, 9, 0.1); }

.aside-container .hot-recommend-container .recommend-card .pic { position: relative; display: block; width: 100%; height: 200px; text-align: center; font-size: 0; border-bottom: 1px solid #eee; overflow: hidden; }

.aside-container .hot-recommend-container .recommend-card .pic:before { content: ''; display: inline-block; width: 0; height: 100%; vertical-align: middle; font-size: 0; overflow: hidden; }

.aside-container .hot-recommend-container .recommend-card .pic img { display: inline-block; max-width: 100%; max-height: 100%; vertical-align: middle; -webkit-transition: -webkit-transform .3s ease-out; transition: -webkit-transform .3s ease-out; transition: transform .3s ease-out; transition: transform .3s ease-out, -webkit-transform .3s ease-out; }

.aside-container .hot-recommend-container .recommend-card .pic .price { position: absolute; bottom: 0; right: 0; padding: 7px 9px; font-size: 12px; color: #fff; background-color: #fe4654; border-top-left-radius: 26px; border-bottom-left-radius: 26px; }

.aside-container .hot-recommend-container .recommend-card .pic:hover img { -webkit-transform: scale(1.06); -ms-transform: scale(1.06); transform: scale(1.06); }

.aside-container .hot-recommend-container .recommend-card .desc { padding: 28px; }

.aside-container .hot-recommend-container .recommend-card .desc .title a { max-width: 100%; vertical-align: middle; color: #333; }

.aside-container .hot-recommend-container .recommend-card .desc .title a:hover { color: #03d6d0; }

.aside-container .hot-recommend-container .recommend-card .desc .price { margin-top: 10px; }

.aside-container .hot-recommend-container .recommend-card .desc .price .num { font-size: 16px; color: #fe4654; }

.aside-container .hot-recommend-container .recommend-card + .recommend-card { margin-top: 10px; }
