.main-body { padding: 10px 0; background-color: #f7f7f7; }

/* details-desc-panel */
.details-desc-panel { padding: 30px; margin-bottom: 10px; background-color: #fff; }

.details-desc-panel .desc-card { float: left; }

.details-desc-panel .desc-card .desc-pic-box { float: left; width: 282px; margin-right: -282px; }

.details-desc-panel .desc-card .desc-pic-box .pic { position: relative; width: 280px; height: 206px; margin-bottom: 18px; text-align: center; font-size: 0; background-color: #fff; border: 1px solid #ddd; }

.details-desc-panel .desc-card .desc-pic-box .pic:after { content: ''; display: inline-block; width: 0; height: 100%; vertical-align: middle; font-size: 0; overflow: hidden; }

.details-desc-panel .desc-card .desc-pic-box .pic img { display: inline-block; vertical-align: middle; max-width: 100%; max-height: 100%; }

.details-desc-panel .desc-card .desc-pic-box .pic.sold:before { content: ''; position: absolute; top: -9px; left: -9px; display: block; width: 104px; height: 104px; background: url(../resource/img/sme_icon24.png) no-repeat center; }

.details-desc-panel .desc-card .desc-pic-box .tools { text-align: center; }

.details-desc-panel .desc-card .desc-pic-box .tools .tool-btn { vertical-align: middle; font-size: 12px; color: #999; }

.details-desc-panel .desc-card .desc-pic-box .tools .tool-btn i { position: relative; top: 1px; margin-left: 4px; vertical-align: top; font-size: inherit; font-weight: bold; }

.details-desc-panel .desc-card .desc-pic-box .tools .tool-btn + .tool-btn { margin-left: 30px; }

.details-desc-panel .desc-card .desc-pic-box .tools .tool-btn:hover { color: #23d7d0; }

.details-desc-panel .desc-card .desc-pic-box .tools .collected { color: #23d7d0; }

.details-desc-panel .desc-card .desc-text-box { width: 470px; margin-left: 312px; margin-right: 55px; }

.details-desc-panel .desc-card .desc-text-box .box-head { margin-bottom: 18px; }

.details-desc-panel .desc-card .desc-text-box .box-head .title { margin-right: 15px; vertical-align: middle; font-size: 18px; font-weight: bold; color: #333; }

.details-desc-panel .desc-card .desc-text-box .box-head .tag { height: 20px; padding: 0 5px; margin-right: 10px; vertical-align: middle; line-height: 20px; font-size: 12px; font-weight: bold; color: #fff; background-color: #23d7d0; border-radius: 20px; }

.details-desc-panel .desc-card .desc-text-box .box-body .desc-list { float: left; }

.details-desc-panel .desc-card .desc-text-box .box-body .desc-item { line-height: 36px; }

.details-desc-panel .desc-card .desc-text-box .box-body .desc-item .title { float: left; width: 70px; margin-right: -70px; color: #333; }

.details-desc-panel .desc-card .desc-text-box .box-body .desc-item .content { margin-left: 70px; word-wrap: break-word; word-break: break-all; color: #666; }

.details-desc-panel .consult-card { float: right; width: 274px; padding: 45px 12px; margin: 20px auto; text-align: center; border-left: 1px dashed #ddd; }

.details-desc-panel .consult-card .price-box .price > * { display: inline; white-space: nowrap; }

.details-desc-panel .consult-card .price-box .price .addon { color: #333; }

.details-desc-panel .consult-card .price-box .price .num { font-size: 24px; font-weight: bold; color: #fe4654; }

.details-desc-panel .consult-card .price-box .price.old-price { margin-top: 20px; color: #666; }

.details-desc-panel .consult-card .price-box .price.old-price > * { text-decoration: line-through; color: inherit; }

.details-desc-panel .consult-card .price-box .price.old-price .num { font-size: inherit; font-weight: normal; }

.details-desc-panel .consult-card .consult-box { margin-top: 30px; }

.details-desc-panel .consult-card .consult-box .input-box { position: relative; width: 216px; height: 38px; margin: 0 auto; }

.details-desc-panel .consult-card .consult-box .input-box input[type='text'] { width: 112px; height: 16px; padding: 10px 92px 10px 10px; line-height: 16px; border: 1px solid #fe4654; border-radius: 4px; }

.details-desc-panel .consult-card .consult-box .input-box .consult-btn { position: absolute; top: 0; right: 0; width: 82px; height: 38px; line-height: 38px; font-weight: bold; color: #fff; background-color: #fe4654; border-top-right-radius: 4px; border-bottom-right-radius: 4px; }

.details-desc-panel .consult-card .consult-box .input-box .consult-btn:hover { background-color: #ef3745; }

.details-desc-panel .consult-card .consult-box .input-box .consult-btn:active { background-color: #e02836; }

.details-desc-panel .consult-card .consult-box .hint-info { padding: 8px 0; line-height: 14px; font-size: 12px; color: #666; }

.details-desc-panel .consult-card .consult-box .notice { font-size: 12px; }

/* jump-tab-container */
.jump-tab-container { position: relative; width: 100%; }

.jump-tab-container .jump-tab-nav { position: relative; width: 932px; height: 55px; background-color: #fff; border-bottom: 1px solid #ddd; }

.jump-tab-container .jump-tab-nav ul { text-align: center; font-size: 0; }

.jump-tab-container .jump-tab-nav ul li { position: relative; display: inline-block; width: 159px; height: 55px; margin-left: 50px; margin-right: 50px; line-height: 55px; text-align: center; font-size: 16px; color: #666; cursor: default; -webkit-transition: color .2s ease-out; transition: color .2s ease-out; }

.jump-tab-container .jump-tab-nav ul li .line { position: absolute; bottom: -1px; left: 0; width: 100%; height: 2px; text-align: center; }

.jump-tab-container .jump-tab-nav ul li .line em { display: inline-block; vertical-align: top; width: 0; height: 100%; background-color: #23d7d0; -webkit-transition: width .2s ease-out; transition: width .2s ease-out; }

.jump-tab-container .jump-tab-nav ul li.current { color: #23d7d0; }

.jump-tab-container .jump-tab-nav ul li.current .line em { width: 100%; }

.jump-tab-container .jump-tab-nav ul li:hover { color: #23d7d0; }

.jump-tab-container .jump-tab-nav ul li:hover .line em { width: 100%; }

.jump-tab-container .jump-tab-content { width: 100%; background-color: #fff; }

.jump-tab-container.set-nav-fixed { padding-top: 56px; }

.jump-tab-container.set-nav-fixed .jump-tab-nav { position: fixed; top: 0; z-index: 10; box-shadow: 0 1px 4px 0 rgba(51, 51, 51, 0.2); }

/* main-container */
.main-container { width: 932px; }

/* desc-tab-container */
.main-container .desc-tab-container .jump-tab-content { min-height: 1180px; }

.main-container .desc-tab-container .jump-content-item { padding: 0 50px; }

.main-container .desc-tab-container .jump-content-item .content-title { padding: 40px 0; }

.main-container .desc-tab-container .jump-content-item .content-title .title { padding-left: 18px; margin-left: -4px; font-size: 20px; font-weight: bold; color: #333; border-left: 4px solid #23d7d0; }

.main-container .desc-tab-container .jump-content-item .content-body { min-height: 50px; }

.main-container .desc-tab-container .item-intro img { display: block; width: 70%; margin: 15px auto; border: 1px solid #ddd; }

.main-container .desc-tab-container .item-intro .intro-text { line-height: 24px; color: #666; }

.main-container .desc-tab-container .item-path .path-list { padding: 30px 0; text-align: center; font-size: 0; }

.main-container .desc-tab-container .item-path .path-list .path-item { display: inline-block; vertical-align: top; font-size: 14px; color: #666; }

.main-container .desc-tab-container .item-path .path-list .path-item .icon { position: relative; width: 58px; height: 58px; margin-bottom: 22px; background: url(../resource/img/sme_details_sprites1.png) no-repeat 0 0; border: 5px solid #ebf8ff; border-radius: 50%; }

.main-container .desc-tab-container .item-path .path-list .path-item .icon:after { content: ''; position: absolute; top: 50%; left: 54px; display: block; width: 63px; height: 47px; margin-top: -23.5px; background: url(../resource/img/sme_details_sprites1.png) no-repeat 0 -60px; }

.main-container .desc-tab-container .item-path .path-list .path-item.icon-no-arrow .icon:after { width: 0; height: 0; background: none; }

.main-container .desc-tab-container .item-path .path-list .path-item + .path-item { margin-left: 60px; }

.main-container .desc-tab-container .item-material { padding-bottom: 80px; }

.main-container .desc-tab-container .item-material .material-table { margin-bottom: 0; line-height: 1.5; }

.main-container .desc-tab-container .item-material .material-table > thead > tr { background-color: #eee; }

/* aside-container */
.aside-container { width: 258px; }

/* query-entry */
.aside-container .query-entry { display: block; width: 100%; margin-bottom: 10px; }

.aside-container .query-entry img { width: 100%; height: auto; vertical-align: middle; }

/* brand-list */
.aside-container .brand-list { box-sizing: border-box; }

.aside-container .brand-list * { box-sizing: border-box; }

.aside-container .brand-list .brand-card { width: 100%; background-color: #fff; box-shadow: 0 0 10px 0 rgba(24, 5, 9, 0.1); }

.aside-container .brand-list .brand-card .pic { position: relative; display: block; width: 100%; height: 172px; text-align: center; font-size: 0; border-bottom: 1px solid #eee; overflow: hidden; }

.aside-container .brand-list .brand-card .pic:before { content: ''; display: inline-block; width: 0; height: 100%; vertical-align: middle; font-size: 0; overflow: hidden; }

.aside-container .brand-list .brand-card .pic img { display: inline-block; max-width: 100%; max-height: 100%; vertical-align: middle; -webkit-transition: -webkit-transform .3s ease-out; transition: -webkit-transform .3s ease-out; transition: transform .3s ease-out; transition: transform .3s ease-out, -webkit-transform .3s ease-out; }

.aside-container .brand-list .brand-card .pic .price { position: absolute; bottom: 0; right: 0; padding: 7px 9px; font-size: 12px; color: #fff; background-color: #fe4654; border-top-left-radius: 26px; border-bottom-left-radius: 26px; }

.aside-container .brand-list .brand-card .pic:hover img { -webkit-transform: scale(1.06); -ms-transform: scale(1.06); transform: scale(1.06); }

.aside-container .brand-list .brand-card .desc { padding: 28px; }

.aside-container .brand-list .brand-card .desc .title a { max-width: 100%; vertical-align: middle; color: #333; }

.aside-container .brand-list .brand-card .desc .title a:hover { color: #23d7d0; }

.aside-container .brand-list .brand-card .desc .price { margin-top: 10px; }

.aside-container .brand-list .brand-card .desc .price .num { font-size: 16px; color: #fe4654; }

.aside-container .brand-list .brand-card + .brand-card { margin-top: 10px; }
