@charset "UTF-8";
/* self-btn */
.self-btn { box-sizing: border-box; display: inline-block; min-width: 8.5rem; height: 4rem; padding: 0 .85rem; vertical-align: middle; line-height: 4rem; text-align: center; font-size: 1.5rem; color: #fff; border-radius: .5rem; }

.self-btn:hover { color: #fff; }

.self-btn.rounded-btn { border-radius: 4rem; }

.self-btn.block-btn { display: block; width: 100%; }

.self-btn.green-btn { background: -webkit-linear-gradient(left, #03cad6, #03d6d0); background: linear-gradient(90deg, #03cad6, #03d6d0); box-shadow: 0 0.5rem 0.5rem 0 rgba(3, 202, 214, 0.3); }

.self-btn.green-btn:active { background: -webkit-linear-gradient(left, #00bbc7, #00c7c1); background: linear-gradient(90deg, #00bbc7, #00c7c1); }

/* head-banner */
.head-banner { width: 100%; overflow: hidden; }

.head-banner .banner-pic { display: block; }

.head-banner .banner-pic img { display: block; width: 100%; }

/* section-head 共 */
.section-head { padding-top: 1.8rem; padding-bottom: 1.8rem; text-align: center; }

.section-head .head-title { font-size: 1.8rem; color: #333; }

.section-head .head-title .line-title { display: inline-block; vertical-align: middle; }

.section-head .head-title .line-title:before, .section-head .head-title .line-title:after { content: ''; display: inline-block; vertical-align: middle; width: 2.8rem; height: 1px; background-color: #c9c9c9; }

.section-head .head-title .line-title:before { margin-right: 1.1rem; }

.section-head .head-title .line-title:after { margin-left: 1.1rem; }

/* query-section */
.query-section { background-color: #fff; }

.query-section .query-form .stress { color: #03cad6; }

.query-section .query-form .form-item .input-label { float: left; width: 6rem; margin-right: -6rem; line-height: 3.5rem; font-size: 1.2rem; color: #333; }

.query-section .query-form .form-item .input-wrapper { margin-left: 6rem; }

.query-section .query-form .form-item .input-box input[type='text'] { display: block; width: 100%; height: 3.5rem; padding: 0 1.2rem; line-height: 3.5rem; font-size: 1.2rem; background-color: #fff; border: 1px solid #ddd; }

.query-section .query-form .form-item .input-box input[type='text']:focus { border-color: #ababab; }

.query-section .query-form .form-item .hint-info { padding: .5rem 0; color: #f00; }

.query-section .query-form .form-handle-item { padding: .5rem 0 2.6rem; }

/* record-panel */
.record-panel { padding-top: 1.5rem; padding-bottom: 1.5rem; margin-top: 1rem; background-color: #fff; }

.record-panel .record-swiper { height: 6.7rem; overflow: hidden; }

.record-panel .record-swiper .swiper-wrapper { -webkit-transition-timing-function: linear; transition-timing-function: linear; }

.record-panel .record-swiper .swiper-slide { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: distribute; justify-content: space-around; width: 100%; height: 1.5rem; line-height: 1.5rem; font-size: 1rem; color: #666; }

/* desc-section */
.desc-section { margin-top: 1rem; background-color: #fff; }

.desc-section .section-body { padding-bottom: 2.2rem; }

.desc-section .desc-list { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-top: -1rem; }

.desc-section .desc-list .stress { color: #03cad6; }

.desc-section .desc-list li { width: 48%; padding-top: 1.2rem; padding-bottom: 1.2rem; margin-top: 1rem; text-align: center; border: 1px solid #03cad6; }

.desc-section .desc-list li:before { content: ''; display: inline-block; width: 0; height: 100%; vertical-align: middle; font-size: 0; overflow: hidden; }

.desc-section .desc-list li .text { display: inline-block; vertical-align: middle; line-height: 1.5; font-size: 1.2rem; color: #666; }

/* case-section */
.case-section { margin-top: 1rem; background-color: #fff; }

.case-section .case-bars { padding-bottom: 1.3rem; }

.case-section .case-bar { padding-bottom: .9rem; margin-left: .5rem; margin-right: .5rem; font-size: 0; }

.case-section .case-bar > * { padding: .4rem 0; font-size: 1.2rem; }

.case-section .case-bar .bar-item { display: inline-block; width: 50%; vertical-align: top; color: #333; }

.case-section .case-bar .bar-item:nth-child(even) { padding-left: 1.2rem; }

.case-section .case-bar .bar-foot.success { color: #03cad6; }

.case-section .case-bar .bar-foot.fail { color: #999; }

.case-section .case-bar + .case-bar { padding-top: .9rem; border-top: 1px dashed #ddd; }

.case-section .query-link { display: block; width: 100%; }

.case-section .query-link img { display: block; width: 100%; height: auto; }

/* advantage-section */
.advantage-section { margin-top: 1rem; background-color: #fff; }

.advantage-section .desc-list { padding-left: .5rem; }

.advantage-section .desc-list li { position: relative; width: 100%; padding: .5rem 2rem; font-size: 1.2rem; color: #666; border: 1px solid #03cad6; border-radius: .4rem; }

.advantage-section .desc-list li .num { position: absolute; top: -.5rem; left: -.5rem; width: 1.8rem; height: 1.8rem; line-height: 1.8rem; text-align: center; font-family: Arial; color: #fff; background-color: #03cad6; border-radius: 50%; }

.advantage-section .desc-list li + li { margin-top: 1rem; }

.advantage-section .section-foot { padding-top: 2.2rem; padding-bottom: 2.5rem; }

/* reason-section */
.reason-section { margin-top: 1rem; background-color: #fff; }

.reason-section .desc-panels { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: distribute; justify-content: space-around; }

.reason-section .desc-panel { width: 46%; text-align: center; font-size: 1rem; color: #666; }

.reason-section .desc-panel h3 { padding: .6rem 0; font-size: 1.2rem; font-weight: normal; border: 1px solid #c9c9c9; border-top-left-radius: .4rem; border-top-right-radius: .4rem; }

.reason-section .desc-panel .list { margin-top: 1.6rem; display: inline-block; }

.reason-section .desc-panel .list ul { line-height: 1; text-align: justify; border-left: 1px dashed #c9c9c9; }

.reason-section .desc-panel .list li { position: relative; padding-left: 1.5rem; }

.reason-section .desc-panel .list li:before { content: ''; position: absolute; top: 0; left: -.5rem; width: .9rem; height: .9rem; background-color: #fff; border: 1px solid #c9c9c9; border-radius: 50%; }

.reason-section .desc-panel .list li:last-child:before { top: .1rem; }

.reason-section .desc-panel .list li + li { margin-top: 1.3rem; }

.reason-section .desc-panel:nth-child(even) h3 { color: #03cad6; border-color: #03cad6; }

.reason-section .desc-panel:nth-child(even) .list ul { border-left-color: #03cad6; }

.reason-section .desc-panel:nth-child(even) .list li:before { border-color: #03cad6; }

.reason-section .section-foot { padding-top: 2.5rem; padding-bottom: 2.5rem; }

/* path-section */
.path-section { margin-top: 1rem; background-color: #fff; }

.path-section .path-list { width: 100%; text-align: center; }

.path-section .path-list li > * { display: inline-block; vertical-align: middle; }

.path-section .path-list li + li { margin-top: 1rem; }

.path-section .path-list .border-text { padding: .5rem 1.5rem; font-size: 1.2rem; color: #03cad6; border: 1px solid #03cad6; border-radius: .3rem; }

.path-section .path-list .arrow { width: 1.2rem; height: 1.05rem; background: url(../resource/img/smep_icon15.png) no-repeat center; background-size: auto 100%; }

.path-section .path-list .icon { width: 4.4rem; height: 4.9rem; line-height: 4.9rem; font-size: 2.8rem; color: #03cad6; background: url(../resource/img/smep_pic42.png) no-repeat center; background-size: auto 100%; }

.path-section .path-list .text { font-size: 1.2rem; color: #333; }

.path-section .section-foot { padding-top: 2.5rem; padding-bottom: 2.5rem; }

.path-section .section-foot .foot-info { width: 24.2rem; padding: 1.2rem 0; margin: 1.8rem auto 0; text-align: center; font-size: 0; border: 1px solid #f39700; border-radius: .3rem; }

.path-section .section-foot .foot-info > * { display: inline-block; vertical-align: middle; }

.path-section .section-foot .foot-info i { font-size: 2.5rem; color: #f39700; }

.path-section .section-foot .foot-info span { margin-left: .9rem; text-align: justify; line-height: 1.5rem; font-size: .9rem; color: #999; }

/* other-service-section */
.other-service-section { margin-top: 1rem; background-color: #fff; }

.other-service-section .service-cards { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: distribute; justify-content: space-around; padding-bottom: 2rem; margin-top: -1.5rem; }

.other-service-section .service-card { width: 9rem; height: 3.25rem; margin-top: 1.5rem; line-height: 3.25rem; text-align: center; font-size: 1.5rem; color: #03cad6; background: url(../resource/img/smep_pic48.png) no-repeat center; background-size: 100%; }

/* foot-query-section */
.foot-query-section { padding-top: 1.7rem; margin-top: 1rem; background-color: #fff; }

.foot-query-section .input-box { position: relative; font-size: 1.2rem; }

.foot-query-section .input-box input[type='text'] { display: block; width: 100%; height: 4rem; padding: 0 11.2rem 0 1.2rem; line-height: 4rem; background-color: #fff; border: 1px solid #ddd; border-top-right-radius: 4rem; border-bottom-right-radius: 4rem; }

.foot-query-section .input-box input[type='text']:focus { border-color: #ababab; }

.foot-query-section .input-box .query-btn { position: absolute; top: 0; right: 0; min-width: 10rem; height: 4rem; line-height: 4rem; }

.foot-query-section .input-box .query-btn.rounded-btn { border-radius: 4rem; border-top-left-radius: 0; border-bottom-left-radius: 0; }

.foot-query-section .input-box .query-btn.green-btn { box-shadow: none; }

.foot-query-section .hint-info { padding-top: .7rem; padding-bottom: 1rem; color: #f00; }
