@charset "UTF-8";
/* head-banner */
.head-banner { position: relative; width: 100%; overflow: hidden; }

.head-banner .banner-pic { float: left; display: block; }

.head-banner .banner-pic img { display: block; width: 100%; height: 15.4rem; }

.head-banner .swiper-pagination { position: absolute; bottom: .5rem; }

.head-banner .swiper-pagination .swiper-pagination-bullet { background-color: #fff; opacity: 1; filter: alpha(opacity=100); }

.head-banner .swiper-pagination .swiper-pagination-bullet-active, .head-banner .swiper-pagination .swiper-pagination-bullet:hover { background-color: #f78e24; }

/* inquiry-form-container */
.inquiry-container { background-color: #fff; }

.inquiry-container .inquiry-form-container { padding: 2.25rem 0; font-size: 1.3rem; }

.inquiry-container .inquiry-form-container .hint-info { padding: .75rem 0; font-size: 1.1rem; color: #999; }

.inquiry-container .inquiry-form-container .title { float: left; width: 8rem; height: 100%; margin-right: -8rem; line-height: 4rem; text-align: right; color: #333; }

.inquiry-container .inquiry-form-container .title.star-title:before { content: '*'; display: inline-block; margin-right: .5rem; color: #f00; }

.inquiry-container .inquiry-form-container .input-wrapper { margin-left: 8rem; }

.inquiry-container .inquiry-form-container .input-box { position: relative; height: 4rem; width: 100%; overflow: hidden; }

.inquiry-container .inquiry-form-container .input-box input[type='text'] { width: 100%; height: 100%; padding: 0 1rem; vertical-align: middle; font-size: 1.3rem; border: 1px solid #c9c9c9; }

.inquiry-container .inquiry-form-container .input-box input[type='text']:focus { border-color: #03d6d0; }

.inquiry-container .inquiry-form-container .input-box select { width: 100%; height: 100%; padding: 0 1rem; vertical-align: middle; font-size: 1.3rem; border: 1px solid #c9c9c9; }

.inquiry-container .inquiry-form-container .input-box select:focus { border-color: #03d6d0; }

.inquiry-container .inquiry-form-container .form-btn { display: block; width: 100%; height: 4rem; line-height: 4rem; text-align: center; font-size: 1.5rem; color: #fff; background-color: #03d6d0; border-radius: 4rem; box-shadow: 0 0.5rem 0.5rem 0 rgba(3, 202, 214, 0.3); }

.inquiry-container .inquiry-form-container .form-btn:active { background-color: #00bdb7; }

/* 共 section-head */
.section-head { padding-top: 1.5rem; padding-bottom: 1.5rem; }

.section-head .section-title { padding-left: .75rem; vertical-align: middle; line-height: 1; font-size: 1.6rem; color: #242424; border-left: .35rem solid #002e73; }

.section-head .seak-link { vertical-align: middle; font-size: 1.2rem; color: #666; }

.section-head .seak-link > * { display: inline-block; vertical-align: middle; }

.section-head .seak-link i { width: 1.5rem; height: 1.5rem; margin-left: .5rem; line-height: 1.5rem; text-align: center; font-size: .6rem; color: #fff; background-color: #03d6d0; border-radius: 50%; }

/* 共 brand-swiper */
.brand-swiper { position: relative; width: 100%; padding-bottom: 2.1rem; overflow: hidden; }

.brand-swiper .swiper-slide { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: distribute; justify-content: space-around; width: 100%; margin-top: -1.4rem; }

.brand-swiper .brand-card { width: 9.2rem; margin-top: 1.4rem; text-align: center; }

.brand-swiper .brand-card .pic { width: 100%; height: 6rem; font-size: 0; background-color: #fff; overflow: hidden; }

.brand-swiper .brand-card .pic:before { content: ''; display: inline-block; width: 0; height: 100%; vertical-align: middle; font-size: 0; overflow: hidden; }

.brand-swiper .brand-card .pic img { display: inline-block; max-width: 100%; max-height: 100%; vertical-align: middle; }

.brand-swiper .brand-card .title { max-width: 100%; margin-top: .7rem; color: #666; }

.brand-swiper .swiper-pagination { position: absolute; bottom: .2rem; }

.brand-swiper .swiper-pagination .swiper-pagination-bullet { width: 0.25rem; height: 0.25rem; vertical-align: middle; background-color: #999; border-radius: 0.25rem; opacity: 1; filter: alpha(opacity=100); -webkit-transition: width .3s ease-out; transition: width .3s ease-out; }

.brand-swiper .swiper-pagination .swiper-pagination-bullet-active, .brand-swiper .head-banner .swiper-pagination .swiper-pagination-bullet:hover, .head-banner .brand-swiper .swiper-pagination .swiper-pagination-bullet:hover { width: 1.5rem; background-color: #03d6d0; }

.brand-swiper .swiper-pagination .swiper-pagination-bullet:hover { background-color: #03d6d0; }

/* hot-category-section */
.hot-category-section .category-list { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: distribute; justify-content: space-around; width: 100%; padding-bottom: 1rem; margin-top: -.6rem; }

.hot-category-section .category-card { width: 7rem; height: 7.3rem; margin-top: .6rem; text-align: center; background-color: #fff; }

.hot-category-section .category-card .text { padding: 1.3rem 0; color: #333; }

.hot-category-section .category-card .icon { font-size: 2.1rem; color: #03d6d0; }

/* reason-section */
.reason-section .section-body { padding-top: 2.4rem; padding-bottom: 2.75rem; background-color: #fff; }

.reason-section .reason-desc { padding-bottom: 2.75rem; margin-top: -2.1rem; }

.reason-section .reason-desc li { float: left; width: 50%; padding: 0 1.75rem 0 .5rem; margin-top: 2.1rem; }

.reason-section .reason-desc li .pic { float: left; width: 5.1rem; margin-right: -5.1rem; }

.reason-section .reason-desc li .pic img { width: 100%; vertical-align: middle; }

.reason-section .reason-desc li .text { padding: .15rem 0; margin-left: 6.3rem; line-height: 1.5rem; font-size: .9rem; color: #666; }

.reason-section .foot-handle { text-align: center; }

.reason-section .foot-handle .inquiry-btn { width: 100%; height: 4rem; vertical-align: middle; line-height: 4rem; text-align: center; font-size: 1.5rem; color: #fff; background-color: #03d6d0; border-radius: 4rem; box-shadow: 0 0.5rem 0.5rem 0 rgba(3, 202, 214, 0.3); }

.reason-section .foot-handle .inquiry-btn:active { background-color: #00bdb7; }

/* path-section */
.path-section .section-body { padding-bottom: 3.1rem; background-color: #fff; }

.path-section .path-desc { padding-top: 2.3rem; padding-bottom: 2.75rem; text-align: center; font-size: 0; }

.path-section .path-desc li { display: inline-block; vertical-align: top; text-align: center; }

.path-section .path-desc li.item { font-size: .8rem; color: #333; min-width: 6rem; }

.path-section .path-desc li.item .icon { width: 4rem; height: 4rem; margin: 0 auto; line-height: 3.8rem; font-size: 2.3rem; color: #03d6d0; border: 0.15rem solid #03d6d0; border-radius: 50%; }

.path-section .path-desc li.item .text { margin-top: 1.4rem; }

.path-section .path-desc li.arrow .icon { margin-top: 1.6rem; font-size: .9rem; color: #eee; }

.path-section .foot-handle { text-align: center; }

.path-section .foot-handle .inquiry-btn { width: 100%; height: 4rem; vertical-align: middle; line-height: 4rem; text-align: center; font-size: 1.5rem; color: #fff; background-color: #03d6d0; border-radius: 4rem; box-shadow: 0 0.5rem 0.5rem 0 rgba(3, 202, 214, 0.3); }

.path-section .foot-handle .inquiry-btn:active { background-color: #00bdb7; }
