@charset "UTF-8";
/*--begin：以下为demo编写时使用的公共样式，与公共样式base.css重复，正式发布可删除*/
html, body, div, ol, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, th, td, form, fieldset, legend, input, textarea, select, header, footer, figure, article, aside, section, nav { margin: 0; padding: 0; }

html, body { width: 100%; height: 100%; }

body { color: #333; font-family: "微软雅黑", sans-serif, "Times New Roman"; background: #fff; }

a { color: #666; text-decoration: none; }

a:hover, a:active, a:focus { color: #cd0200; }

ul, ol, dl { list-style: none; }

fieldset, img { border: none; }

input, button { outline: none; }

em { font-style: normal; }

/*--end：以上为demo编写时使用的公共样式，与公共样式base.css重复，正式发布可删除*/
.rn-wrapper { width: 100%; min-width: 1200px; }

.rn-inner { width: 990px; margin: 0 auto; }

.clearfix:after { content: "."; display: block; height: 0; font-size: 0; clear: both; visibility: hidden; }

.clearfix { zoom: 1; }

.text-ellipsis { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

/* 该页面取1200头部的样式，尺寸为990 */
.header-1200 { font-size: 14px; line-height: 1; }

.header-1200 .header-bar { padding: 8px 0; font-size: 12px; background-color: #f1f1f1; }

.header-1200 .header-bar .bar-notice { float: left; }

.header-1200 .header-bar .bar-notice em { font-size: 13px; color: #b00819; }

.header-1200 .header-bar .bar-notice .welcome { display: inline-block; margin: 0 10px; }

.header-1200 .header-bar .bar-notice a { margin-right: 10px; }

.header-1200 .header-bar .bar-notice .register-btn { color: #b00819; }

.header-1200 .header-bar .bar-notice a:hover { color: #cd0200; text-decoration: underline; }

.header-1200 .header-bar .bar-links { float: right; }

.header-1200 .header-bar .bar-links a { display: inline-block; padding: 0 10px; border-right: 1px solid #d0ccd0; }

.header-1200 .header-bar .bar-links .noborder { padding-right: 0; border: none; }

.header-1200 .header-body { padding: 22px 0; font-size: 14px; }

.header-1200 .header-body .logo { float: left; }

.header-1200 .header-body .body-links { float: right; }

.header-1200 .header-body .body-links a { display: inline-block; padding: 8px 15px; }

.header-1200 .header-body .body-links .last-link { padding-right: 0; }

.header-1200 .header-body .body-links .current { color: #cd0200; }

.breadcrumb { padding-bottom: 4px; line-height: 16px; font-size: 12px; }

.breadcrumb i { vertical-align: middle; color: #999; }

.breadcrumb a { padding: 0 3px; color: #999; }

.breadcrumb a:hover { color: #cd0200; }

.breadcrumb span { padding-left: 5px; color: #999; }

.breadcrumb .arrows { padding-right: 5px; font-family: SimSun; }

.head-banner .banner-pic { display: block; width: 100%; height: 400px; }

.section-tab { text-align: center; font-size: 0; background-color: #147fd3; border-top: 1px solid #0c5e9c; border-bottom: 1px solid #0c5e9c; }

.section-tab a { display: inline-block; height: 50px; padding: 0 26px; margin: 0 10px; line-height: 50px; font-size: 22px; font-weight: bold; color: #fff; border-radius: 50px; }

.section-tab .current-tab { color: #474747; background-color: #fff; }

.content-container .rn-inner { position: relative; }

.content-container .body-line { position: absolute; top: 0; right: 324px; height: 100%; border-left: 1px solid #ededed; }

.content-container .main-body { float: left; width: 100%; padding-top: 30px; padding-bottom: 30px; margin-right: -325px; line-height: 1; font-size: 14px; }

.content-container .main-body .main-inner { margin-right: 350px; }

.content-container .main-body .tab-body { display: none; }

.content-container .main-body .tab-body .section-title { width: 145px; height: 40px; padding-right: 15px; margin-bottom: 15px; text-align: center; line-height: 40px; font-size: 24px; font-weight: bold; color: #fff; background: url(../resource/img/activity_sprites.png) no-repeat 0 -108px; }

.content-container .main-body .current-tab-body { display: block; }

.content-container .main-body .activity-plan .desc-section .section-body { margin-bottom: 40px; line-height: 24px; font-size: 14px; }

.content-container .main-body .activity-plan .path-section .time-tree { margin-bottom: 20px; }

.content-container .main-body .activity-plan .path-section .time-tree .branch { height: 60px; }

.content-container .main-body .activity-plan .path-section .time-tree .branch .time { float: left; width: 24%; height: 100%; text-align: right; font-size: 0; border-right: 2px solid #d9d9d9; }

.content-container .main-body .activity-plan .path-section .time-tree .branch .time span { display: inline-block; vertical-align: middle; font-size: 12px; color: #9b9b9b; }

.content-container .main-body .activity-plan .path-section .time-tree .branch .time .icon { width: 14px; height: 14px; margin-left: 22px; margin-right: -8px; margin-top: -1px; background: url(../resource/img/activity_sprites.png) no-repeat -40px -160px; }

.content-container .main-body .activity-plan .path-section .time-tree .branch .desc { float: left; height: 100%; font-size: 0; }

.content-container .main-body .activity-plan .path-section .time-tree .branch .desc .text { display: inline-block; width: 177px; height: 30px; padding-left: 23px; margin-top: 8px; margin-left: 28px; line-height: 30px; font-size: 14px; color: #fff; background: url(../resource/img/activity_sprites.png) no-repeat -221px -108px; }

.content-container .main-body .activity-plan .path-section .time-tree .first-branch .time .date { display: block; font-size: 14px; color: #474747; }

.content-container .main-body .activity-plan .path-section .time-tree .first-branch .time .icon { width: 22px; height: 23px; margin-top: -14px; margin-right: -12px; background-position-x: 0; }

.content-container .main-body .activity-plan .path-section .time-tree .last-branch { height: 42px; }

.content-container .main-body .activity-invest .invest-section { margin-bottom: 50px; }

.content-container .main-body .activity-invest .invest-section .section-title { margin-bottom: 0; }

.content-container .main-body .activity-invest .invest-section .list li { padding: 20px 0; border-bottom: 1px dashed #e8e8e8; }

.content-container .main-body .activity-invest .invest-section .list li .pic-link { position: relative; z-index: 1; float: left; display: block; width: 178px; height: 102px; margin-left: 20px; border: 1px solid #e8e8e8; overflow: hidden; -webkit-transition: border-color .2s ease-out; transition: border-color .2s ease-out; }

.content-container .main-body .activity-invest .invest-section .list li .pic-link img { width: 100%; height: 100%; -webkit-transition: all .2s ease-out; transition: all .2s ease-out; }

.content-container .main-body .activity-invest .invest-section .list li .desc { width: 100%; font-size: 12px; color: #888; }

.content-container .main-body .activity-invest .invest-section .list li .desc .inner { margin-left: 220px; }

.content-container .main-body .activity-invest .invest-section .list li .desc .title { font-size: 16px; font-weight: bold; color: #474747; -webkit-transition: color .2s ease-out; transition: color .2s ease-out; }

.content-container .main-body .activity-invest .invest-section .list li .desc p { height: 72px; margin-top: 12px; line-height: 18px; overflow: hidden; }

.content-container .main-body .activity-invest .invest-section .list li .pic-link:hover { border-color: #999; }

.content-container .main-body .activity-invest .invest-section .list li .pic-link:hover img { -webkit-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1); }

.content-container .main-body .activity-invest .invest-section .list li .desc .title:hover { color: #cd0200; }

.content-container .main-body .activity-hold .section-title { margin-bottom: 20px; }

.content-container .main-body .activity-hold .host-section, .content-container .main-body .activity-hold .jointly-section { margin-bottom: 15px; }

.content-container .main-body .activity-hold .list { font-size: 0; }

.content-container .main-body .activity-hold .list a { display: inline-block; width: 258px; height: 78px; margin: 0 20px 20px 20px; text-align: center; background-color: #fff; border: 1px solid #ddd; border-radius: 4px; overflow: hidden; -webkit-transition: border-color .2s ease-out; transition: border-color .2s ease-out; }

.content-container .main-body .activity-hold .list a img { display: inline-block; width: 100%; height: 100%; -webkit-transition: all .2s ease-out; transition: all .2s ease-out; }

.content-container .main-body .activity-hold .list a:hover { border-color: #999; }

.content-container .main-body .activity-hold .list a:hover img { -webkit-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1); }

.content-container .main-body .activity-notice .section-item { margin-bottom: 16px; }

.content-container .main-body .activity-notice h3 { margin-bottom: 8px; line-height: 1; font-size: 16px; font-weight: normal; }

.content-container .main-body .activity-notice .desc-text { line-height: 24px; font-size: 14px; color: #888; }

.content-container .main-body .activity-notice .address-map { width: 548px; height: 358px; margin-bottom: 20px; border: 1px solid #ddd; }

.content-container .main-body .activity-enroll .section-title { margin-bottom: 20px; }

.content-container .main-body .activity-enroll .way-section1 .section-body { margin-bottom: 20px; }

.content-container .main-body .activity-enroll .way-section1 .section-body .top-notice { margin-bottom: 20px; font-size: 12px; color: #888; }

.content-container .main-body .activity-enroll .way-section1 .section-body .form-item .title { float: left; display: inline-block; width: 250px; line-height: 36px; text-align: right; font-size: 14px; }

.content-container .main-body .activity-enroll .way-section1 .section-body .form-item .content { width: 100%; font-size: 0; }

.content-container .main-body .activity-enroll .way-section1 .section-body .form-item .content .inner { margin-left: 255px; }

.content-container .main-body .activity-enroll .way-section1 .section-body .form-item .content .l-input, .content-container .main-body .activity-enroll .way-section1 .section-body .form-item .content .s-input { display: inline-block; height: 12px; padding: 11px 12px; vertical-align: middle; line-height: 1; font-size: 12px; border: 1px solid #ccc; border-radius: 4px; }

.content-container .main-body .activity-enroll .way-section1 .section-body .form-item .content .l-input:focus, .content-container .main-body .activity-enroll .way-section1 .section-body .form-item .content .s-input:focus { border-color: #147ed3; }

.content-container .main-body .activity-enroll .way-section1 .section-body .form-item .content .hint-info { height: 20px; line-height: 20px; font-size: 12px; }

.content-container .main-body .activity-enroll .way-section1 .section-body .form-item .content .input-btn { display: inline-block; vertical-align: middle; line-height: 1; font-size: 12px; }

.content-container .main-body .activity-enroll .way-section1 .section-body .form-item .content .l-input { width: 180px; }

.content-container .main-body .activity-enroll .way-section1 .section-body .form-item .content .s-input { width: 90px; }

.content-container .main-body .activity-enroll .way-section1 .section-body .form-item .content .pic-code { width: 48px; height: 20px; margin: 0 9px; border: 1px solid #9e9e9d; }

.content-container .main-body .activity-enroll .way-section1 .section-body .form-item .content .pic-code img { width: 100%; height: 100%; }

.content-container .main-body .activity-enroll .way-section1 .section-body .form-item .content .refresh-pic { color: #5871b1; }

.content-container .main-body .activity-enroll .way-section1 .section-body .form-item .content .refresh-pic:hover { color: #cd0200; }

.content-container .main-body .activity-enroll .way-section1 .section-body .form-item .content .get-msg { padding: 11px 8px; margin-left: 9px; color: #494949; background-color: #e6e6e6; border: 1px solid #ddd; border-radius: 4px; -webkit-transition: all .2s ease-out; transition: all .2s ease-out; }

.content-container .main-body .activity-enroll .way-section1 .section-body .form-item .content .get-msg:hover { color: #2b2b2b; background-color: #c8c8c8; border-color: #bfbfbf; }

.content-container .main-body .activity-enroll .way-section1 .section-body .form-btn-wrapper { padding: 10px 0; text-align: center; }

.content-container .main-body .activity-enroll .way-section1 .section-body .form-btn-wrapper .form-btn { display: inline-block; text-align: center; font-size: 16px; font-weight: bold; color: #fff; background-color: #147ed3; border-radius: 8px; -webkit-transition: all .2s ease-out; transition: all .2s ease-out; }

.content-container .main-body .activity-enroll .way-section1 .section-body .form-btn-wrapper .enroll-btn { width: 170px; padding: 10px 0; }

.content-container .main-body .activity-enroll .way-section1 .section-body .form-btn-wrapper .enroll-btn:hover { background-color: #2892e7; }

.content-container .main-body .activity-enroll .way-section2 { text-align: center; }

.content-container .main-body .activity-enroll .way-section2 .call { margin-bottom: 54px; font-size: 16px; }

.content-container .main-body .activity-enroll .way-section2 .call i { margin-right: 5px; vertical-align: middle; font-size: 24px; }

.content-container .main-body .activity-enroll .way-section2 .call b { vertical-align: baseline; font-size: 20px; }

.content-container .main-body .activity-enroll .way-section2 .call i, .content-container .main-body .activity-enroll .way-section2 .call b { font-weight: bold; color: #fc001f; }

.content-container .main-body .activity-enroll .way-section2 .text { margin-bottom: 50px; font-family: Georgia, serif; font-size: 18px; font-weight: bold; line-height: 24px; }

.content-container .aside-body { position: relative; z-index: 1; float: right; width: 324px; padding-top: 30px; padding-bottom: 30px; line-height: 1; font-size: 14px; }

.content-container .aside-body .aside-inner { margin-left: 24px; }

.content-container .aside-body .aside-title { padding: 12px 0; text-align: center; font-size: 16px; font-weight: bold; color: #fff; background-color: #5d8df8; border-radius: 10px; }

.content-container .aside-body .list { margin-bottom: 50px; }

.content-container .aside-body .list li { margin-top: 20px; text-align: center; font-size: 0; }

.content-container .aside-body .list li a { display: inline-block; width: 258px; height: 78px; background-color: #fff; border: 1px solid #efefef; overflow: hidden; -webkit-transition: border-color .2s ease-out; transition: border-color .2s ease-out; }

.content-container .aside-body .list li a img { display: inline-block; width: 100%; height: 100%; -webkit-transition: all .2s ease-out; transition: all .2s ease-out; }

.content-container .aside-body .list li a:hover { border-color: #999; }

.content-container .aside-body .list li a:hover img { -webkit-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1); }

.content-container .aside-body .aside-timer { width: 100%; height: 108px; margin-bottom: 40px; background-color: #eee; border-radius: 10px; }

.content-container .aside-body .aside-timer p { margin-left: 15px; line-height: 38px; font-size: 16px; }

.content-container .aside-body .aside-timer .countdown-box { width: 280px; margin-left: auto; margin-right: auto; }

.content-container .aside-body .aside-timer .text { width: 280px; margin-left: auto; margin-right: auto; text-align: center; font-size: 0; }

.content-container .aside-body .aside-timer .text span { display: inline-block; width: 25%; font-size: 12px; font-weight: bold; }
