@charset "UTF-8";
/*--begin：以下为demo编写时使用的公共样式，与公共样式base.css重复，正式发布可删除*/
html, body, div, ol, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, th, td, form, fieldset, legend, input, textarea, select, header, footer, figure, article, aside, section, nav { margin: 0; padding: 0; }

html, body { width: 100%; height: 100%; }

body { color: #333; font-family: "微软雅黑", sans-serif, "Times New Roman"; background: #fff; }

a { color: #666; text-decoration: none; }

a:hover, a:active, a:focus { color: #cd0200; }

ul, ol, dl { list-style: none; }

fieldset, img { border: none; }

input, button { outline: none; }

em { font-style: normal; }

/*--end：以上为demo编写时使用的公共样式，与公共样式base.css重复，正式发布可删除*/
.rn-wrapper { width: 100%; min-width: 1200px; }

.rn-inner { width: 990px; margin: 0 auto; }

.clearfix:after { content: "."; display: block; height: 0; font-size: 0; clear: both; visibility: hidden; }

.clearfix { zoom: 1; }

.text-ellipsis { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.main-section { padding-bottom: 58px; font-size: 14px; line-height: 1; }

.main-section .section-title { padding: 10px 0; background-color: #f5f5f5; }

.main-section .section-title .title-text { padding-left: 10px; border-left: 3px solid #142d86; }

.main-section .case-list { width: 105%; padding-top: 20px; }

.main-section .case-list .list-item { float: left; width: 484px; height: 232px; margin-right: 18px; margin-bottom: 18px; border: 1px solid #efefef; }

.main-section .case-list .item-desc { padding: 20px; border-bottom: 1px solid #efefef; }

.main-section .case-list .item-desc figure { float: left; width: 170px; height: 119px; margin-right: 15px; overflow: hidden; }

.main-section .case-list .item-desc figure img { width: 100%; height: 100%; -webkit-transition: all .3s ease-out; transition: all .3s ease-out; }

.main-section .case-list .item-desc figure:hover img { -webkit-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1); }

.main-section .case-list .item-desc .desc-text { float: left; width: 250px; }

.main-section .case-list .item-desc .desc-text .title { display: inline-block; width: 95%; padding: 7px 0; color: #142d86; -webkit-transition: padding .2s ease-out; transition: padding .2s ease-out; }

.main-section .case-list .item-desc .desc-text .title:hover { padding-left: 4%; color: #cd0200; }

.main-section .case-list .item-desc .desc-text p { font-size: 12px; line-height: 20px; }

.main-section .case-list .item-bottom { padding: 10px 20px; line-height: 24px; font-size: 12px; }

.main-section .case-list .item-bottom i { font-style: normal; }

.main-section .case-list .item-bottom em { font-style: normal; }

.main-section .case-list .item-bottom .rniconfont { font-size: 14px; vertical-align: middle; }

.main-section .case-list .item-bottom .time { margin-left: 5px; margin-right: 10px; color: #999; }

.main-section .case-list .item-bottom .need-money { display: inline-block; margin-left: 20px; }

.main-section .case-list .item-bottom .top-text i { color: #1aa1e6; }

.main-section .case-list .item-bottom .bottom-text i { color: #e96678; }
