@charset "utf-8";
@import "publicVariable";
// blue:#31a0f6;

/* reset */
th, td {
  word-wrap: break-word;
  word-break: break-all;
}

/* ---rn共用样式--- */
/* rn-col-num */
@for $i from 1 through 12 {
  .rn-col-#{$i} {
    width: 8.333333% * $i;
  }
}

@media (max-width: 767px) {
  @for $i from 1 through 12 {
    .rn-col-#{$i} {
      width: 100%;
    }
  }
}

/* ---方法类公用(.f-开头)--- */
/* 单行省略号 */
.f-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* 强制换行 */
.f-word-break {
  word-wrap: break-word;
  word-break: break-all;
}

/* ---元件类公用(.u-开头)--- */
/* u-asterisk-before */
.u-asterisk-before {
  &:before {
    content: '*';
    margin-right: 3px;
    color: #ed5565;
  }
}