@charset "utf-8";
@import "publicVariable";

body {
  background-color: #efeff4;
}

/* article-container */
.article-container {
  background-color: #fff;
  box-shadow: 0 .17rem .17rem 0 rgba(4, 0, 0, .08);
  // article-head
  .article-head {
    padding-top: 2.29rem;
    padding-bottom: 1.91rem;
    .article-title {
      font-size: 1.45rem;
      font-weight: bold;
    }
    .head-info {
      margin-top: 1.45rem;
      font-size: 0;
      color: #999;
      & > * {
        display: inline-block;
        vertical-align: middle;
        font-size: .94rem;
      }
      .count {
        padding-left: .76rem;
        margin-left: .76rem;
        margin-right: 2.3rem;
        border-left: solid .04rem #999;
      }
    }
  }
  // article-body
  .article-body {
    padding-bottom: 2.12rem;
    line-height: 2.29rem;
    font-size: 1.27rem;
    img {
      display: block;
      min-width: 80%;
      max-width: 100%;
      height: auto;
      margin: 1.27rem auto;
    }
  }
}

/* section-head 共 */
.section-head {
  padding-top: 2.42rem;
  padding-bottom: 1.36rem;
  .section-title {
    font-size: 1.27rem;
    font-weight: bold;
    color: #333;
  }
}

/* news-recommend */
.news-recommend {
  margin-top: .85rem;
  background-color: #fff;
  box-shadow: 0 .17rem .17rem 0 rgba(4, 0, 0, .08);
  .news-list {
    padding-bottom: 2.34rem;
    .list-item {
      $selfWidth: 4.5rem;
      .tag {
        float: left;
        width: $selfWidth;
        margin-right: - $selfWidth;
        color: #00a0e9;
      }
      .title {
        margin-left: $selfWidth + .76rem;
        color: #333;
        a {
          max-width: 100%;
        }
      }
    }
    .list-item + .list-item {
      margin-top: .68rem;
    }
  }
}

/* user-comment */
.user-comment {
  padding-bottom: 3.57rem;
  margin-top: .85rem;
  background-color: #fff;
  .publish-comment {
    .head-info {
      margin-bottom: .75rem;
      text-align: right;
      font-size: 1.02rem;
      color: #999;
      .num {
        color: #ee2714;
      }
    }
    .input-wrap {
      textarea {
        resize: none;
        width: 100%;
        height: 8.5rem;
        padding: 1.06rem .85rem;
        vertical-align: top;
        background-color: #f7f7f7;
        border: none;
        border-radius: .42rem;
      }
    }
    .handle-wrap {
      margin-top: 2.55rem;
      text-align: center;
      .submit-btn {
        $selfHeight: 2.89rem;
        width: 12.76rem;
        height: $selfHeight;
        line-height: $selfHeight;
        vertical-align: middle;
        font-size: 1.27rem;
        font-weight: bold;
        color: #fff;
        background-color: #00a0e9;
        border-radius: $selfHeight;
      }
    }
  }
  .comment-container {
    .comment-empty {
      padding: 2.25rem 0;
      img {
        display: block;
        width: 11.14rem;
        height: auto;
        margin: 0 auto;
      }
    }
    .comment-list {
      padding-top: 3.9rem;
      .list-item {
        $selfWidth: 3.74rem;
        .avatar {
          float: left;
          width: $selfWidth;
          height: $selfWidth;
          margin-right: - $selfWidth;
          border-radius: 50%;
          overflow: hidden;
          img {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: inherit;
          }
        }
        .content {
          margin-left: $selfWidth + .85rem;
          color: #999;
          .name {
            font-size: 1.27rem;
            color: #333;
          }
          .para {
            margin-top: .9rem;
            line-height: 1.82rem;
            font-size: 1.11rem;
          }
          .time {
            margin-top: .34rem;
            text-align: right;
            font-size: .85rem;
          }
        }
      }
      .list-item + .list-item {
        margin-top: 1.53rem;
      }
    }
  }
}
