@charset "UTF-8";
/* head-banner */
.head-banner { position: relative; width: 100%; height: 498px; overflow: hidden; }

.head-banner .banner-item { width: inherit; height: inherit; }

.head-banner .navigation-btns { position: absolute; top: 0; left: 50%; margin-left: -600px; height: 100%; }

.head-banner .navigation-btns .swiper-btn { position: absolute; top: 50%; z-index: 1; margin-top: -20px; font-size: 40px; color: #ddd; }

.head-banner .navigation-btns .swiper-btn:hover { color: #03d6d0; }

.head-banner .navigation-btns .swiper-btn.swiper-btn-prev { left: 0; }

.head-banner .navigation-btns .swiper-btn.swiper-btn-next { right: 0; }

.head-banner .swiper-pagination { position: absolute; bottom: 28px; width: 100%; text-align: center; font-size: 0; }

.head-banner .swiper-pagination .swiper-pagination-bullet { display: inline-block; width: 12px; height: 12px; margin: 0 5px; background-color: #ddd; opacity: 1; filter: alpha(opacity=100); border-radius: 50%; }

.head-banner .swiper-pagination .swiper-pagination-bullet-active, .head-banner .swiper-pagination .swiper-pagination-bullet:hover { background-color: #03d6d0; }

/* section-head 共 */
.section-head { padding: 40px 0; text-align: center; color: #2c3e50; }

.section-head .section-title { font-size: 30px; font-weight: bold; }

.section-head.head-w { color: #fff; }

/* product-section */
.product-section .section-body { padding: 0 30px; }

.product-section .section-body .products-container { padding-bottom: 48px; }

.product-section .section-body .products-list { margin: -25px 0 0 -40px; }

.product-section .section-body .products-list .product-card { float: left; width: 255px; margin: 25px 0 0 40px; }

.product-section .section-body .products-list .product-card .card-pic { position: relative; display: block; width: 100%; height: 205px; margin-bottom: 28px; overflow: hidden; }

.product-section .section-body .products-list .product-card .card-pic .pic-bg { display: block; width: 100%; height: 100%; -webkit-transition: -webkit-transform .3s ease-out; transition: -webkit-transform .3s ease-out; transition: transform .3s ease-out; transition: transform .3s ease-out, -webkit-transform .3s ease-out; }

.product-section .section-body .products-list .product-card .card-pic .content { position: absolute; top: 0; left: 0; width: 100%; height: 100%; text-align: center; font-size: 20px; color: #fff; }

.product-section .section-body .products-list .product-card .card-pic .content .icon { width: 79px; height: 88px; margin: 36px auto 18px auto; line-height: 88px; font-size: 45px; background: url(../resource/img/bp_sprites.png) no-repeat 0 0; }

.product-section .section-body .products-list .product-card .card-pic:hover .pic-bg { -webkit-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1); }

.product-section .section-body .products-list .product-card .card-pic:hover .content { color: #03d6d0; }

.product-section .section-body .products-list .product-card .card-pic:hover .content .icon { background-position-x: -81px; }

.product-section .section-body .products-list .product-card .card-title { text-align: center; font-size: 18px; }

.product-section .section-body .foot-container { padding-bottom: 53px; text-align: center; font-size: 18px; }

/* reason-section */
.reason-section { height: 450px; background: url(../resource/img/bp_bgi.jpg) no-repeat center; }

.reason-section .reason-list { padding: 38px 0; text-align: center; font-size: 0; }

.reason-section .reason-list .reason-item { display: inline-block; width: 190px; vertical-align: top; font-size: 16px; color: #fff; }

.reason-section .reason-list .reason-item .icon { width: 145px; height: 145px; margin: 0 auto; line-height: 145px; text-align: center; font-size: 80px; border: 5px solid #fff; border-radius: 50%; }

.reason-section .reason-list .reason-item .desc { margin-top: 33px; line-height: 22px; }

.reason-section .reason-list .reason-item:hover { color: #03d6d0; }

.reason-section .reason-list .reason-item:hover .icon { border-color: #03d6d0; }

.reason-section .reason-list .reason-item + .reason-item { margin-left: 75px; }

/* about-us-section */
.about-us-section .section-body { padding: 0 20px 45px; }

.about-us-section .desc-article { float: left; width: 860px; line-height: 30px; }

.about-us-section .desc-pic { float: right; width: 275px; }

.about-us-section .desc-pic img { width: 100%; height: auto; }

/* news-section */
.news-section { padding-bottom: 45px; background-color: #f1f1f1; }

.news-section .trade-news { width: 774px; min-height: 270px; padding: 30px 30px 15px; margin-right: 20px; background-color: #fff; }

.news-section .trade-news .pic-news { width: 242px; margin-right: 40px; }

.news-section .trade-news .pic-news .pic-link { display: block; width: 100%; height: 157px; overflow: hidden; }

.news-section .trade-news .pic-news .pic-link img { display: block; width: 100%; height: 100%; -webkit-transition: -webkit-transform .3s ease-out; transition: -webkit-transform .3s ease-out; transition: transform .3s ease-out; transition: transform .3s ease-out, -webkit-transform .3s ease-out; }

.news-section .trade-news .pic-news .pic-link:hover img { -webkit-transform: scale(1.07); -ms-transform: scale(1.07); transform: scale(1.07); }

.news-section .trade-news .pic-news .title { width: 100%; margin-top: 14px; color: #333; font-size: 16px; font-weight: bold; }

.news-section .trade-news .pic-news .title a { max-width: 100%; }

.news-section .trade-news .pic-news .para { height: 60px; margin-top: 10px; line-height: 20px; font-size: 13px; color: #999; overflow: hidden; }

.news-section .trade-news .news-list .list-item .num { float: left; width: 62px; height: 55px; line-height: 55px; text-align: center; font-family: Arial; font-size: 30px; font-weight: bold; background-color: #eee; }

.news-section .trade-news .news-list .list-item .content { margin-left: 77px; width: 413px; }

.news-section .trade-news .news-list .list-item .content .title { width: 100%; font-size: 16px; font-weight: bold; color: #333; }

.news-section .trade-news .news-list .list-item .content .title a { max-width: 100%; }

.news-section .trade-news .news-list .list-item .content .para { height: 40px; margin-top: 10px; line-height: 20px; font-size: 13px; color: #999; overflow: hidden; }

.news-section .trade-news .news-list .list-item + .list-item { margin-top: 30px; }

.news-section .pie-chart { width: 326px; height: 315px; }
