@charset "utf-8";
@import "publicVariable";

/* head-banner */
.head-banner {
  height: 450px;
  overflow: hidden;
  .banner-item {
    width: 100%;
    height: 100%;
  }
}

/* main-body */
.main-body {
  padding: 88px 0;
  // 共性
  .content-container {
    margin: 0 50px;
    font-size: 0;
    .half-content {
      display: inline-block;
      width: 50%;
      margin-bottom: 33px;
      vertical-align: top;
      line-height: 18px;
      font-size: 16px;
      color: #666;
      .title {
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: bold;
        color: #363636;
      }
      .para + .para {
        margin-top: 16px;
      }
    }
  }
  // 个性
  .map-container {
    padding: 26px 0 57px 0;
    font-size: 16px;
    .address-map {
      width: 100%;
      height: 300px;
      background-color: #eee;
    }
  }
  .contact-info-container {
    .half-content {
      .title {
        color: $onColorOrange;
      }
    }
  }
}