@charset "utf-8";
@import "publicVariable";

body {
  background-color: #f7f7f7;
}

// *blue:#22447a;
/* sme-head3个性 */
.sme-head3 {
  .head-bar {
    color: #fff;
    background-color: #22447a;
    a {
      color: #fff;
      &:hover {
        color: $facilitatorBaseOrange;
      }
    }
    .bar-left {
      .stock-code {
        em {
          color: #fff;
        }
      }
    }
    .bar-right {
      .stress {
        a {
          color: #fff;
          &:hover {
            color: $facilitatorBaseOrange;
          }
        }
      }
    }
  }
  .head-logo {
    .back-home {
      color: #22447a;
      &:hover {
        color: $facilitatorBaseOrange;
      }
    }
  }
}

/* m-crumbs-nav个性 */
.m-crumbs-nav {
  ul {
    padding: 0;
  }
}

/* main-body */
.main-body {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* g-member-aside */
.g-member-aside {
  position: absolute;
  top: 0;
  left: 0;
  width: 206px;
  height: 100%;
}

/* g-member-section */
.g-member-section {
  width: 984px;
  min-height: 1425px;
  margin-left: 216px;
}

/* user-card */
.g-member-aside .user-card {
  width: 100%;
  height: 215px;
  text-align: center;
  background-color: #fff;
  overflow: hidden;
  .card-inner {
    margin: 0 10px;
  }
  .avatar {
    width: 83px;
    height: 83px;
    margin: 29px auto 13px auto;
    border: 5px solid #eee;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  .name {
    margin-bottom: 15px;
    font-size: 16px;
    color: #22447a;
    &:hover {
      color: $facilitatorBaseOrange;
    }
  }
  .member-type {
    color: #999;
    i {
      margin-right: 5px;
      font-size: 14px;
      vertical-align: -1px;
    }
  }
}

/* m-member-aside-nav */
.m-member-aside-nav {
  position: absolute;
  top: 225px;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: 50px;
  background-color: #fff;
  .title, dt, dd {
    width: 100%;
    line-height: 50px;
    height: 50px;
  }
  .title, dt {
    text-indent: 46px;
    i {
      width: 20px;
      margin-right: 10px;
      font-size: 18px;
      vertical-align: -1px;
    }
  }
  .title {
    color: #fff;
    background-color: #22447a;
  }
  dt {
    color: #22447a;
    background-color: #fff;
  }
  dd {
    text-align: center;
    background-color: #fff;
    a {
      width: 100%;
      height: 100%;
      line-height: 50px;
      color: #666;
      transition: background-color .2s ease-out;
    }
    a:hover {
      background-color: #f2f2f2;
    }
  }
  .current {
    a {
      background-color: #f2f2f2;
    }
  }
}

/* main-content-container */
.main-content-container {
  min-height: 1365px;
  padding: 30px;
  background-color: #fff;
  .main-content-title {
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    .title-desc {
      margin-left: 17px;
      line-height: 16px;
      font-size: 13px;
      font-weight: normal;
      color: #999;
    }
  }
}

/* m-order-filter-container */
.m-order-filter-container {
  margin-bottom: 20px;
  .filter-item {
    float: left;
    font-size: 0;
    & > * {
      display: inline-block;
      vertical-align: middle;
      font-size: 14px;
    }
  }
  .filter-item + .filter-item {
    margin-left: 10px;
  }
  .title {
    line-height: 32px;
    font-size: 14px;
    color: #363636;
  }
  input[type="text"] {
    width: 120px;
    height: 18px;
    padding: 6px 10px;
    line-height: 18px;
    color: #999;
    border: 1px solid #ddd;
    &.s-input {
      width: 60px;
    }
  }
  select {
    width: 100px;
    height: 32px;
    padding: 0 10px;
    border: 1px solid #ddd;
  }
  .dash-line {
    margin: 0 6px;
    color: #999;
  }
  .time-choose {
    position: relative;
    width: 122px;
    height: 32px;
    background-color: #fff;
    i {
      position: absolute;
      top: 8px;
      right: 10px;
      line-height: 1;
      font-size: 16px;
      color: #c9c9c9;
    }
    span, input[type='text'] {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 82px;
      height: 18px;
      padding: 6px 28px 6px 10px;
      line-height: 18px;
      font-size: 14px;
      background-color: transparent;
      border: 1px solid #ddd;
    }
  }
  .area-choose {
    font-size: 0;
    select {
      width: 80px;
      padding: 0 5px;
      font-size: 14px;
    }
    .addon {
      margin: 0 6px;
      font-size: 14px;
      color: #333;
    }
  }
  .filter-btn {
    height: 32px;
    padding: 0 10px;
    line-height: 32px;
    color: #fff;
    background-color: $onColorOrange;
    border-radius: 5px;
    &:active {
      background-color: $onColorOrange - 10%;
    }
  }
  .filter-link {
    color: #22447a;
    &:hover {
      color: $onColorOrange;
    }
  }
  .reset-filter {
    line-height: 32px;
  }
}

/* table-notice */
.table-notice {
  margin-top: 10px;
  line-height: 1.3;
  font-size: 13px;
  .stress {
    color: #f00;
  }
  .notice-title {
    margin-bottom: 15px;
    font-weight: bold;
    color: #666;
  }
  .notice-para + .notice-para {
    margin-top: 15px;
  }
}

/* m-myservice-table */
.m-myservice-table {
  .cell-num {
    max-width: 166px;
  }
  .cell-name {
    max-width: 133px;
  }
  .cell-price {
    max-width: 75px;
  }
  .cell-time {
    max-width: 140px;
  }
  .cell-status {
    max-width: 70px;
  }
  .cell-handle {
    max-width: 210px;
  }
  td.cell-handle {
    font-size: 0;
    .handle-btn {
      display: inline-block;
      vertical-align: top;
      font-size: 13px;
      color: #666;
      &:hover {
        color: $onColorOrange;
      }
    }
    .handle-btn + .handle-btn {
      margin-left: 12px;
    }
  }
}

/* m-new-task-table */
.m-new-task-table {
  & > thead, & > tbody {
    & > tr {
      & > th, & > td {
        padding-left: 6px;
        padding-right: 6px;
      }
    }
  }
  .cell-num {
    max-width: 92px;
  }
  .cell-time {
    max-width: 80px;
  }
  .cell-content {
    max-width: 82px;
  }
  .cell-org {
    max-width: 52px;
  }
  .cell-area {
    max-width: 84px;
  }
  .cell-demand {
    max-width: 142px;
  }
  .cell-price {
    max-width: 56px;
  }
  .cell-status {
    max-width: 66px;
  }
  .cell-handle {
    max-width: 145px;
  }
  td {
    .stress {
      color: #f00;
    }
  }
  td.cell-handle {
    font-size: 0;
    .handle-btn {
      display: inline-block;
      vertical-align: top;
      font-size: 13px;
      color: #666;
      &:hover {
        color: $onColorOrange;
      }
    }
    .handle-btn + .handle-btn {
      margin-left: 6px;
    }
  }
}

/* m-history-task-table */
.m-history-task-table {
  .cell-num {
    max-width: 92px;
  }
  .cell-time {
    max-width: 80px;
  }
  .cell-content {
    max-width: 130px;
  }
  .cell-org {
    max-width: 52px;
  }
  .cell-area {
    max-width: 148px;
  }
  .cell-price {
    max-width: 56px;
  }
  .cell-status {
    max-width: 66px;
  }
  .cell-handle {
    max-width: 76px;
  }
  td.cell-handle {
    font-size: 0;
    .handle-btn {
      display: inline-block;
      vertical-align: top;
      font-size: 13px;
      color: #666;
      &:hover {
        color: $onColorOrange;
      }
    }
    .handle-btn + .handle-btn {
      margin-left: 6px;
    }
  }
}

/* m-opportunities-table */
.m-opportunities-table {
  .cell-org {
    max-width: 52px;
  }
  .cell-area {
    max-width: 150px;
  }
  .cell-type {
    max-width: 172px;
  }
  .cell-demand {
    max-width: 172px;
  }
  .cell-time {
    max-width: 80px;
  }
  .cell-handle {
    max-width: 76px;
  }
  td.cell-handle {
    font-size: 0;
    .handle-btn {
      display: inline-block;
      vertical-align: top;
      font-size: 13px;
      color: #666;
      &:hover {
        color: $onColorOrange;
      }
    }
    .handle-btn + .handle-btn {
      margin-left: 6px;
    }
  }
}

/* m-default-order-table */
.m-default-order-table {
  .cell-num {
    max-width: 130px;
  }
  .cell-time {
    max-width: 110px;
  }
  .cell-content {
    max-width: 200px;
  }
  .cell-status {
    max-width: 76px;
  }
  .cell-price {
    max-width: 56px;
  }
  .cell-handle {
    max-width: 176px;
  }
  td.cell-handle {
    font-size: 0;
    .handle-btn {
      display: inline-block;
      vertical-align: top;
      font-size: 13px;
      color: #666;
      &:hover {
        color: $onColorOrange;
      }
    }
    .handle-btn + .handle-btn {
      margin-left: 12px;
    }
  }
}

/* m-refund-order-table */
.m-refund-order-table {
  .cell-refund-num {
    max-width: 152px;
  }
  .cell-num {
    max-width: 152px;
  }
  .cell-org {
    max-width: 65px;
  }
  .cell-price {
    max-width: 65px;
  }
  .cell-refund-price {
    max-width: 65px;
  }
  .cell-time {
    max-width: 85px;
  }
  .cell-status {
    max-width: 74px;
  }
  .cell-handle {
    max-width: 65px;
  }
  td.cell-handle {
    font-size: 0;
    .handle-btn {
      display: inline-block;
      vertical-align: top;
      font-size: 13px;
      color: #666;
      &:hover {
        color: $onColorOrange;
      }
    }
    .handle-btn + .handle-btn {
      margin-left: 12px;
    }
  }
}

/* m-rights-order-table */
.m-rights-order-table {
  .cell-rights-num {
    max-width: 152px;
  }
  .cell-num {
    max-width: 152px;
  }
  .cell-org {
    max-width: 80px;
  }
  .cell-time {
    max-width: 95px;
  }
  .cell-status {
    max-width: 100px;
  }
  .cell-handle {
    max-width: 200px;
  }
  td.cell-handle {
    font-size: 0;
    .handle-btn {
      display: inline-block;
      vertical-align: top;
      font-size: 13px;
      color: #666;
      &:hover {
        color: $onColorOrange;
      }
    }
    .handle-btn + .handle-btn {
      margin-left: 12px;
    }
  }
}

/* m-evaluated-order-table */
.m-evaluated-order-table {
  margin-bottom: 20px;
  .table-tr {
    text-align: center;
    font-size: 0;
  }
  .table-td {
    display: inline-block;
    padding: 15px 10px;
    vertical-align: top;
    font-size: 13px;
    color: #333;
    word-wrap: break-word;
    word-break: break-all;
  }
  .order-num {
    width: 112px;
  }
  .order-content {
    width: 150px;
  }
  .order-org {
    width: 70px;
  }
  .order-score {
    width: 62px;
  }
  .order-status {
    width: 60px;
  }
  .order-evaluation {
    width: 270px;
  }
  .order-handle {
    width: 60px;
  }
  .table-head {
    font-weight: bold;
  }
  .table-body {
    .table-tr {
      border-top: 1px solid #eee;
    }
    .order-evaluation {
      text-align: justify;
      .evaluation-container {
        margin-top: -5px;
      }
      .evaluation-desc {
        .font-orange {
          color: $onColorOrange;
        }
        .text {
          margin-bottom: 10px;
          line-height: 24px;
        }
        .time {
          color: #999;
        }
      }
      .evaluation-desc + .evaluation-desc {
        margin-top: 15px;
      }
      .facilitator-evaluation {
        padding: 10px 14px;
        background-color: #f1f1f1;
      }
      .reply-evaluation {
        margin-top: 15px;
        textarea {
          resize: none;
          width: 268px;
          height: 70px;
          padding: 8px 10px;
          border: 1px solid #ddd;
        }
        .btn-group {
          margin-top: 15px;
          .submit-btn, .cancel-btn {
            width: 90px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            color: #fff;
          }
          .submit-btn {
            background-color: $onColorOrange;
            &:active {
              background-color: $onColorOrange - 20%;
            }
          }
          .cancel-btn {
            margin-left: 15px;
            background-color: #fc0018;
            &:active {
              background-color: #fc0018 - 25%;
            }
          }
        }
      }
    }
    .order-handle {
      font-size: 0;
      .handle-btn {
        display: inline-block;
        vertical-align: top;
        font-size: 13px;
        color: #333;
        &:hover {
          color: $onColorOrange;
        }
      }
      .handle-btn + .handle-btn {
        margin-left: 12px;
      }
    }
  }
}

/* m-sys-order-table */
.m-sys-order-table {
  .order-time {
    width: 145px;
  }
  .order-content {
    width: 163px;
  }
  .order-status {
    width: 70px;
  }
  .order-price {
    width: 70px;
  }
  .order-handle {
    width: 180px;
  }
  td.order-handle {
    font-size: 0;
    .handle-btn {
      display: inline-block;
      vertical-align: top;
      font-size: 13px;
      color: #666;
      &:hover {
        color: $onColorOrange;
      }
    }
    .handle-btn + .handle-btn {
      margin-left: 16px;
    }
  }
  .orders-wrapper-tr {
    .orders-wrapper-td {
      padding: 0;
      border: none;
    }
    .orders-table {
      margin-bottom: 0;
      border: none;
      &:hover {
        background-color: inherit;
      }
      & > thead, & > tbody, & > tfoot {
        & > tr {
          & > th, & > td {
            border-top: none;
            border-left: none;
            &:last-of-type {
              border-right: none;
            }
          }
        }
      }
      .orders-sum {
        .sum-info {
          padding: 8px 0;
          color: #333;
          .price {
            .num {
              &:before {
                content: '￥';
              }
            }
          }
          .info-item + .info-item {
            margin-left: 30px;
          }
        }
        .sum-handle-group {
          .handle-btn {
            width: 153px;
            height: 32px;
            line-height: 32px;
            text-align: center;
            color: #fff;
            background-color: $onColorOrange;
            border-radius: 5px;
            &:active {
              background-color: $onColorOrange - 15%;
            }
          }
        }
      }
      .orders-sum-sub {
        color: #666;
        .handle-btn {
          color: inherit;
          &:hover {
            color: $onColorOrange;
          }
        }
      }
    }
  }
}

/* m-order-info-card */
.m-order-info-card {
  & > * {
    float: left;
  }
  figure {
    width: 229px;
    height: 170px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .info-desc {
    width: 290px;
    padding-top: 10px;
    margin: 0 30px;
    .title {
      margin-bottom: 25px;
      line-height: 1.3;
      font-size: 16px;
      font-weight: bold;
      color: #333;
    }
    .desc-item {
      line-height: 24px;
      font-size: 14px;
      color: #666;
      .item-title {
        float: left;
        width: 70px;
        margin-right: -70px;
        text-align: right;
      }
      .item-content {
        margin-left: 72px;
      }
    }
    .desc-item + .desc-item {
      margin-top: 14px;
    }
  }
  .contact-card {
    width: 302px;
    min-height: 136px;
    padding: 16px 13px;
    background-color: #f2fafe;
    border: 1px solid #dbe1ea;
    border-radius: 5px;
    transition: background-color .2s ease-out, box-shadow .2s ease-out;
    .card-head {
      padding-bottom: 9px;
      font-size: 15px;
      color: $facilitatorBaseBlue;
      border-bottom: 1px dashed #aab7c8;
    }
    .card-info {
      margin-top: 10px;
      line-height: 24px;
      font-size: 13px;
      .info-title {
        float: left;
        width: 66px;
        margin-right: -66px;
        text-align: right;
      }
      .info-content {
        margin-left: 68px;
      }
    }
    &:hover {
      background-color: #f2fafe - 3%;
      box-shadow: 0 0 10px 0 #dbe1ea - 10% inset;
    }
  }
}

/* m-order-time-axis */
.m-order-time-axis {
  .time-axis {
    padding-bottom: 15px;
    margin: 0 7px;
  }
  .time-node {
    position: relative;
    padding: 0 0 30px 49px;
    border-left: 1px solid #ddd;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: -7px;
      display: block;
      width: 10px;
      height: 10px;
      border: 1px solid $facilitatorBaseBlue;
      background-color: #fff;
      border-radius: 50%;
    }
    .time {
      margin-bottom: 15px;
      color: #666;
    }
    .desc-body {
      line-height: 20px;
      color: #333;
      .status-content {
        margin-top: 10px;
        .notice {
          font-size: 13px;
          color: #999;
        }
        .stress {
          color: #f00;
        }
        .follow-record {
          margin-top: 24px;
          .record-title {
            margin-bottom: 10px;
            .stress {
              margin-right: 4px;
              color: #00b7ee;
              i {
                margin-right: 2px;
                font-size: inherit;
              }
            }
          }
          textarea {
            resize: none;
            width: 540px;
            height: 168px;
            padding: 6px 10px;
            vertical-align: bottom;
            border: 1px solid #ddd;
            border-radius: 5px;
            transition: box-shadow .2s ease-out;
            &:focus {
              box-shadow: 0 0 6px 0 rgba(14, 5, 10, 0.2);
            }
          }
          .hint-info {
            padding: 10px 0;
            line-height: 1;
            font-size: 12px;
            color: #999;
          }
          .record-btn {
            min-width: 50px;
            height: 32px;
            padding: 0 26px;
            line-height: 32px;
            text-align: center;
            font-size: 13px;
            color: #fff;
            background-color: $onColorOrange;
            &:active {
              background-color: $onColorOrange - 15%;
            }
          }
        }
        .desc-btn {
          min-width: 50px;
          height: 32px;
          padding: 0 26px;
          margin: 10px 0;
          line-height: 32px;
          text-align: center;
          font-size: 13px;
          color: #fff;
          background-color: $onColorOrange;
          &:active {
            background-color: $onColorOrange - 15%;
          }
          &.red-btn {
            background-color: #ff0000;
            &:active {
              background-color: #ff0000 - 25%;
            }
          }
        }
        .desc-btn + .desc-btn {
          margin-left: 15px;
        }
      }
    }
    &.finish-node {
      border-left-color: transparent;
    }
  }
}

/* m-settings-table */
.m-settings-table {
  & > thead {
    & > tr {
      & > th {
        padding-left: 20px;
        padding-right: 20px;
        border-bottom-width: 2px;
      }
    }
  }
  & > tbody {
    & > tr {
      & > td {
        padding: 20px;
      }
    }
  }
  .cell-content {
    max-width: 544px;
  }
  .cell-status {
    max-width: 120px;
    text-align: center;
  }
  .cell-handle {
    max-width: 140px;
    text-align: center;
  }
  & > tbody {
    .cell-content {
      color: #999;
      .title {
        margin-bottom: 8px;
        font-size: 15px;
        font-weight: bold;
        color: #333;
      }
    }
    .cell-status {
      color: #999;
    }
    .cell-handle {
      .handle-btn {
        width: 136px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        color: #fff;
        background-color: $onColorOrange;
        border-radius: 5px;
        &:hover {
          background-color: $onColorOrange - 15%;
        }
        &:active {
          background-color: $onColorOrange - 30%;
        }
      }
    }
  }
}