@charset "utf-8";
@import "publicVariable";

$selfActiveColor: $globeFinanceColorStress;
$selfBoxShadow: 0 4px 15px 0 rgba(102, 102, 102, .45);

/* head-section */
.head-section {
  box-sizing: border-box;
  height: 480px;
  padding-top: 374px;
  background: url(../resource/img/sme_finance_pic029.jpg) no-repeat center top;
  * {
    box-sizing: border-box;
  }
  .query-container {
    width: 694px;
    margin: 0 auto;
    .input-box {
      $selfHeight: 50px;
      position: relative;
      input[type='text'] {
        display: block;
        width: 100%;
        height: $selfHeight;
        padding: 15px 24px + 190px 15px 24px;
        line-height: 20px;
        font-size: 14px;
        border: none;
        background-color: #fff;
        border-radius: $selfHeight;
      }
      .query-btn {
        $selfBgColor: #15a2ff;
        position: absolute;
        top: 0;
        right: 0;
        width: 190px;
        height: $selfHeight;
        line-height: $selfHeight;
        text-align: center;
        font-size: 14px;
        color: #fff;
        background-color: $selfBgColor;
        border-top-right-radius: $selfHeight;
        border-bottom-right-radius: $selfHeight;
        &:hover {
          background-color: $selfBgColor - 15%;
        }
        &:active {
          background-color: $selfBgColor - 30%;
        }
      }
    }
    .hint-info {
      padding: 9px 0;
      text-align: center;
      font-size: 12px;
      color: #f00;
    }
  }
}

/* section-head 共 */
.section-head {
  box-sizing: border-box;
  padding: 53px 0;
  text-align: center;
  color: #333;
  * {
    box-sizing: border-box;
  }
  .head-title {
    font-size: 30px;
    font-weight: bold;
  }
  .head-desc {
    margin-top: 35px;
    font-size: 14px;
  }
  &.w-head {
    color: #fff;
  }
}

/* service-section */
.service-section {
  box-sizing: border-box;
  background-color: #f8f8f8;
  * {
    box-sizing: border-box;
  }
  .section-head {
    padding-top: 69px;
    padding-bottom: 40px;
  }
  .service-cards {
    padding-bottom: 30px;
    margin: -30px 0 0 -30px;
  }
  .service-card {
    float: left;
    width: 570px;
    height: 220px;
    padding: 77px 47px 0;
    margin: 30px 0 0 30px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right bottom;
    box-shadow: 0 2px 5px 0 rgba(221, 221, 221, 1);
    transition: transform .3s ease-out, box-shadow .3s ease-out;
    h3 {
      font-size: 24px;
      font-weight: bold;
      color: #333;
    }
    .card-btn {
      display: inline-block;
      width: 100px;
      height: 32px;
      margin-top: 46px;
      line-height: 32px - 2px;
      text-align: center;
      color: #333;
      background-color: #fff;
      border-radius: 32px;
      border: 1px solid #999;
      &:hover {
        color: #fff;
        background-color: $selfActiveColor;
        border-color: $selfActiveColor;
      }
      &:active {
        background-color: $selfActiveColor - 30%;
      }
    }
    &:hover {
      transform: translateY(-6px);
      box-shadow: $selfBoxShadow;
      h3 {
        color: $selfActiveColor;
      }
    }
  }
}

/* account-service-section */
.account-service-section {
  box-sizing: border-box;
  background-color: #f8f8f8;
  * {
    box-sizing: border-box;
  }
  .section-head {
    padding-bottom: 43px;
  }
  .service-cards {
    padding-bottom: 82px;
    margin: -20px 0 0 -20px;
  }
  .service-card {
    position: relative;
    float: left;
    width: 386px;
    height: 180px;
    padding: 30px 30px 0;
    margin: 20px 0 0 20px;
    color: #333;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(221, 221, 221, 1);
    transition: transform .3s ease-out, box-shadow .3s ease-out;
    h3 {
      font-size: 20px;
      font-weight: normal;
      .small {
        margin-top: 12px;
        font-size: .7em;
      }
    }
    p {
      margin-top: 23px;
    }
    .price {
      margin-top: 23px;
      font-size: 12px;
      color: $selfActiveColor;
      .num {
        font-size: 1.7em;
        font-weight: bold;
      }
    }
    .pic {
      position: absolute;
      right: 20px;
      bottom: 20px;
    }
    &:hover {
      transform: translateY(-6px);
      box-shadow: $selfBoxShadow;
      h3 {
        color: $selfActiveColor;
      }
    }
    &.more-card {
      padding: 0;
      text-align: center;
      font-size: 0;
      background-color: #ddd;
      &:before {
        @include globalVerticalMiddleAssist;
      }
      .inner {
        display: inline-block;
        vertical-align: middle;
      }
      i {
        font-size: 76px;
        color: #bbb;
      }
      p {
        font-size: 16px;
        color: #999;
      }
      &:hover {
        i, p {
          color: $selfActiveColor;
        }
      }
    }
  }
}

/* material-section */
.material-section {
  box-sizing: border-box;
  background: url(../resource/img/sme_finance_pic030.jpg) no-repeat center;
  background-size: cover;
  * {
    box-sizing: border-box;
  }
  .section-head {
    padding-top: 69px;
  }
  .desc-list {
    padding: 14px 0 83px;
    text-align: center;
    font-size: 0;
    li {
      display: inline-block;
      vertical-align: top;
      width: 180px;
      height: 200px;
      padding-top: 36px;
      color: #333;
      background-color: #edf9ff;
      border-radius: 10px;
      i {
        display: block;
        width: 82px;
        height: 82px;
        margin: 0 auto;
        background: url(../resource/img/sme_finance_sprites002.png) no-repeat 0 0;
      }
      p {
        margin-top: 36px;
        font-size: 14px;
      }
    }
    li + li {
      margin-left: 74px;
    }
  }
}

/* desc-section */
.desc-section {
  box-sizing: border-box;
  padding-bottom: 75px;
  background-color: #fff;
  * {
    box-sizing: border-box;
  }
  .desc-table {
    $selfBorderRadius: 50px;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    tbody {
      line-height: 1.3;
      font-size: 14px;
      color: #333;
      .small {
        font-size: .85em;
      }
      td {
        height: 62px;
        padding: 0 35px;
        background-color: #f5f0f0;
        border: 1px solid #ffd2a6;
      }
      tr {
        td:first-of-type {
          border-left: none;
        }
        td:last-of-type {
          border-right: none;
        }
        &:first-of-type {
          td {
            border-top: none;
          }
          td:first-of-type {
            border-top-left-radius: $selfBorderRadius;
          }
          td:last-of-type {
            border-top-right-radius: $selfBorderRadius;
          }
        }
        &:last-of-type {
          td {
            border-bottom: none;
          }
        }
      }
    }
    tfoot {
      td {
        text-align: center;
        color: #fff;
        border: 1px solid #fff;
        h3 {
          font-size: 24px;
          font-weight: bold;
        }
        p {
          margin-top: 26px;
          font-size: 14px;
        }
      }
      tr {
        &:first-of-type {
          td {
            padding: 5px;
            background-color: #fff;
          }
        }
        &:last-of-type {
          td {
            height: 126px;
            border-bottom-left-radius: $selfBorderRadius;
            border-bottom-right-radius: $selfBorderRadius;
          }
          td:first-of-type {
            border-left: none;
          }
          td:last-of-type {
            border-right: none;
          }
        }
      }
    }
  }
}

/* advantage-section */
.advantage-section {
  box-sizing: border-box;
  background: url(../resource/img/sme_finance_pic031.jpg) no-repeat center;
  background-size: cover;
  * {
    box-sizing: border-box;
  }
  .section-head {
    padding-top: 76px;
  }
  .desc-list {
    padding: 10px 0 89px - 2px;
    text-align: center;
    font-size: 0;
    li {
      display: inline-block;
      min-width: 156px;
      vertical-align: top;
      font-size: 14px;
      color: #333;
      i {
        display: block;
        width: 110px;
        height: 110px;
        margin: 0 auto;
        background: url(../resource/img/sme_finance_sprites002.png) no-repeat 0 -82px;
      }
      h3 {
        margin-top: 40px;
        font-weight: bold;
      }
      p {
        margin-top: 18px - 2px;
        line-height: 18px;
      }
    }
    li + li {
      margin-left: 45px;
    }
  }
}

/* path-section */
.path-section {
  box-sizing: border-box;
  padding-top: 16px;
  * {
    box-sizing: border-box;
  }
  .path-container {
    position: relative;
    padding-top: 43px;
    padding-bottom: 112px;
    .title {
      position: absolute;
      top: 22px;
      left: 0;
    }
    .path-list {
      text-align: right;
      font-size: 0;
      li {
        position: relative;
        display: inline-block;
        width: 130px;
        height: 90px;
        padding-top: 20px;
        vertical-align: middle;
        text-align: center;
        line-height: 24px;
        font-size: 16px;
        color: $selfActiveColor;
        background-color: #fff;
        border: 1px solid $selfActiveColor;
        &:before {
          @include globalVerticalMiddleAssist;
        }
        .text {
          display: inline-block;
          vertical-align: middle;
        }
        .num {
          position: absolute;
          top: -25px;
          left: 50%;
          width: 50px;
          height: 50px;
          line-height: 50px - 2px;
          margin-left: -25px;
          font-size: 24px;
          font-weight: bold;
          background-color: #fff;
          border: 1px solid $selfActiveColor;
          border-radius: 50%;
        }
        &.arrow {
          width: 38px;
          height: 38px;
          padding: 0;
          margin: 0 23px;
          line-height: 1;
          font-size: 38px;
          color: #ddd;
          background-color: transparent;
          border: none;
          &.arrow-left {
            transform: rotate(180deg);
          }
        }
      }
    }
    .divide {
      padding: 30px 0;
      text-align: right;
      i {
        display: inline-block;
        width: 130px;
        text-align: center;
        font-size: 38px;
        color: #ddd;
        transform: rotate(90deg);
      }
    }
  }
}