@charset "utf-8";
@import "publicVariable";

$selfActiveColor: $globeFinanceColorStress;
$selfBoxShadow: 0 4px 15px 0 rgba(102, 102, 102, .45);
$selfInitBoxShadow: 0 2px 5px 0 rgba(221, 221, 221, 1);

/* head-section */
.head-section {
  box-sizing: border-box;
  height: 450px;
  background: url(../resource/img/sme_finance_pic044.jpg) no-repeat center top;
  * {
    box-sizing: border-box;
  }
  .sme-inner {
    height: inherit;
  }
  .form-table {
    border-collapse: collapse;
    border-spacing: 0;
    float: right;
    height: inherit;
  }
  .form-panel {
    width: 320px;
    padding: 16px 0 34px;
    background-color: rgba(255, 255, 255, .9);
    border: 1px solid $selfActiveColor;
    .form-head {
      padding-bottom: 18px;
      text-align: center;
      img {
        display: inline-block;
        vertical-align: middle;
      }
      p {
        margin-top: 14px;
        font-size: 14px;
        color: #033;
      }
    }
    .form-body {
      padding: 0 33px;
    }
    .form-item {
      .input-box {
        $selfHeight: 40px;
        input[type='text'], select {
          display: block;
          width: 100%;
          height: $selfHeight;
          padding: 10px 16px;
          line-height: $selfHeight - 2px - 20px;
          font-size: 12px;
          background-color: #fff;
          border: 1px solid #bfbfbf;
          &:focus {
            border-color: $selfActiveColor;
          }
        }
        select {
          padding-right: 0;
        }
      }
      .hint-info {
        padding: 10px 0;
        font-size: 12px;
        color: $selfActiveColor;
      }
    }
    .form-handle-item {
      .form-btn {
        $selfHeight: 50px;
        display: block;
        height: $selfHeight;
        line-height: $selfHeight;
        text-align: center;
        font-size: 14px;
        color: #fff;
        background-color: $selfActiveColor;
        &:hover {
          background-color: $selfActiveColor - 15%;
        }
        &:active {
          background-color: $selfActiveColor - 30%;
        }
      }
    }
  }
}

/* service-desc-section */
.service-desc-section {
  box-sizing: border-box;
  padding: 20px 0 15px;
  background-color: #f1f1f1;
  * {
    box-sizing: border-box;
  }
  .desc-list {
    text-align: center;
    font-size: 0;
    li {
      display: inline-block;
      vertical-align: middle;
      & > * {
        display: inline-block;
        vertical-align: middle;
      }
      i {
        width: 68px;
        height: 74px;
        background: url(../resource/img/sme_finance_sprites005.png) no-repeat 0 0;
      }
      h3 {
        line-height: 24px;
        margin-left: 14px;
        font-size: 16px;
        font-weight: bold;
        color: #333;
      }
    }
    li + li {
      margin-left: 100px;
    }
  }
}

/* section-head 共 */
.section-head {
  box-sizing: border-box;
  padding: 50px 0;
  text-align: center;
  color: #333;
  * {
    box-sizing: border-box;
  }
  .head-title {
    font-size: 30px;
    font-weight: bold;
  }
  &.w-head {
    color: #fff;
  }
}

/* category-section */
.category-section {
  box-sizing: border-box;
  background-color: #fff;
  * {
    box-sizing: border-box;
  }
  .section-head {
    padding-top: 60px;
  }
  .service-cards {
    padding-bottom: 60px;
    margin: -9px 0 0 -9px;
  }
  .service-card {
    float: left;
    width: 394px;
    height: 170px;
    padding: 40px 42px 0;
    margin: 9px 0 0 9px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: auto 100%;
    box-shadow: $selfInitBoxShadow;
    transition: transform .3s ease-out, box-shadow .3s ease-out;
    h3 {
      font-size: 18px;
      font-weight: bold;
      color: #333;
    }
    .card-btn {
      display: inline-block;
      width: 100px;
      height: 30px;
      margin-top: 21px;
      line-height: 30px - 2px;
      text-align: center;
      color: #333;
      background-color: #fff;
      border-radius: 32px;
      border: 1px solid #999;
      &:hover {
        color: #fff;
        background-color: $selfActiveColor;
        border-color: $selfActiveColor;
      }
      &:active {
        background-color: $selfActiveColor - 30%;
      }
    }
    &:hover {
      transform: translateY(-4px);
      box-shadow: $selfBoxShadow;
      h3 {
        color: $selfActiveColor;
      }
    }
    &.more-card {
      padding: 0;
      text-align: center;
      font-size: 0;
      background-color: #f1f0f0;
      &:before {
        @include globalVerticalMiddleAssist;
      }
      .inner {
        display: inline-block;
        vertical-align: middle;
      }
      i {
        font-size: 76px;
        color: #ccc;
      }
      p {
        margin-top: 18px;
        font-size: 14px;
        color: #666;
      }
      &:hover {
        i, p {
          color: $selfActiveColor;
        }
      }
    }
  }
}

/* service-section */
.service-section {
  box-sizing: border-box;
  background-color: #f8f8f8;
  * {
    box-sizing: border-box;
  }
  .section-head {
    padding-top: 62px;
    padding-bottom: 0;
  }
  .section-body {
    padding: 53px 0;
  }
  .service-cards {
    margin: -10px 0 0 -10px;
  }
  .service-card {
    float: left;
    margin: 10px 0 0 10px;
  }
  div.service-card {
    width: 292px;
    height: 390px;
    text-align: center;
    font-size: 0;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: $selfInitBoxShadow;
    &:before {
      @include globalVerticalMiddleAssist;
    }
    .inner {
      display: inline-block;
      vertical-align: middle;
    }
    h3 {
      font-size: 24px;
      font-weight: bold;
    }
    p {
      margin-top: 30px - 2px;
      line-height: 18px;
      font-size: 14px;
    }
    .more-btn {
      width: 120px;
      height: 40px;
      margin-top: 80px - 2px;
      line-height: 40px - 2px;
      text-align: center;
      font-size: 14px;
      color: #fff;
      border: 1px solid #fff;
      border-radius: 40px;
      &:hover {
        color: #333;
        background-color: #fff;
      }
      &:active {
        background-color: #fff - 15%;
      }
    }
  }
  a.service-card {
    width: 292px;
    height: 190px;
    padding: 34px 24px 0;
    color: #333;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right bottom;
    box-shadow: $selfInitBoxShadow;
    transition: transform .3s ease-out, box-shadow .3s ease-out;
    h3 {
      font-size: 18px;
      font-weight: bold;
    }
    p {
      min-height: 40px;
      margin-top: 20px - 4px;
      line-height: 20px;
      font-size: 14px;
    }
    .price {
      margin-top: 24px - 4px;
      font-size: 14px;
      color: $selfActiveColor;
      .num {
        font-size: 1.7em;
        font-weight: bold;
      }
    }
    &:hover {
      transform: translateY(-6px);
      box-shadow: $selfBoxShadow;
      h3 {
        color: $selfActiveColor;
      }
    }
    &.sl-card {
      width: 444px;
    }
    &.l-card {
      width: 594px;
    }
    &.h-card {
      height: 390px;
      padding: 50px 30px 0;
    }
  }
}

/* problem-section */
.problem-section {
  box-sizing: border-box;
  background: url(../resource/img/sme_finance_pic046.jpg) no-repeat center;
  background-size: cover;
  * {
    box-sizing: border-box;
  }
  .section-head {
    padding-top: 86px;
    padding-bottom: 98px;
  }
  .desc-list {
    text-align: center;
    font-size: 0;
    li {
      display: inline-block;
      vertical-align: top;
      width: 160px;
      .icon {
        display: block;
        margin: 0 auto;
      }
      h3 {
        margin-top: 30px - 5px;
        line-height: 24px;
        font-size: 14px;
        font-weight: normal;
        color: #fff;
      }
    }
    li + li {
      margin-left: 136px;
    }
  }
  .section-foot {
    padding-top: 65px - 5px;
    padding-bottom: 57px;
    text-align: center;
    .query-btn {
      $selfHeight: 50px;
      display: inline-block;
      width: 240px;
      height: $selfHeight;
      vertical-align: middle;
      line-height: $selfHeight - 2px;
      text-align: center;
      font-size: 16px;
      color: #fff;
      border: 1px solid #fff;
      border-radius: $selfHeight;
      &:hover {
        color: #333;
        background-color: #fff;
      }
      &:active {
        background-color: #fff - 15%;
      }
    }
  }
}

/* path-section */
.path-section {
  box-sizing: border-box;
  background-color: #f8f8f8;
  * {
    box-sizing: border-box;
  }
  .section-head {
    padding-top: 70px;
    padding-bottom: 65px;
  }
  .path-list {
    padding-bottom: 95px;
    text-align: center;
    font-size: 0;
    li {
      display: inline-block;
      vertical-align: top;
      i {
        display: block;
        width: 120px;
        height: 120px;
        margin: 0 auto;
        border-radius: 50%;
        background: url(../resource/img/sme_finance_sprites004.png) no-repeat 0 0;
        box-shadow: 0 5px 15px 0 rgba(147, 1, 1, .25);
      }
      p {
        margin-top: 40px;
        font-size: 16px;
        color: #333;
      }
      &.arrow {
        margin: 35px 20px 0;
        font-size: 50px;
        color: #ddd;
      }
    }
  }
}

/* question-section */
.question-section {
  box-sizing: border-box;
  background-color: #fff;
  * {
    box-sizing: border-box;
  }
  .section-head {
    padding-top: 73px;
    padding-bottom: 24px;
  }
  .question-wrap {
    min-height: 450px;
    padding: 56px 310px 100px 50px;
    background: url(../resource/img/sme_finance_pic047.jpg) no-repeat 765px -44px;
  }
  .question-bars {
    margin: -70px 0 0 -20px;
    font-size: 0;
  }
  .question-bar {
    position: relative;
    display: inline-block;
    width: 400px;
    min-height: 18px;
    padding: 0 30px;
    margin: 70px 0 0 20px;
    vertical-align: top;
    line-height: 16px;
    font-size: 14px;
    color: #333;
    transition: transform .3s ease-out;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 18px;
      background: url(../resource/img/sme_finance_icon004.png) no-repeat center;
    }
    &:hover {
      transform: translateX(-12px);
    }
  }
}
