@charset "utf-8";
@import "publicVariable";

$selfActiveColor: $globeFinanceColorStress;
$selfBoxShadow: 0 4px 15px 0 rgba(204, 204, 204, .9);
$selfInitBoxShadow: 0 2px 5px 0 rgba(221, 221, 221, 1);

body {
  background-color: #f7f7f7;
}

/* head-crumbs-nav */
.head-crumbs-nav {
  .m-crumbs-nav {
    background-color: transparent;
    dl {
      & > * {
        font-size: 12px;
        color: #333;
        a {
          color: inherit;;
          &:hover {
            color: $selfActiveColor;
          }
        }
        span {
          color: #999;
        }
      }
      dd + dd:before {
        color: inherit;
      }
    }
  }
}

/* jump-tab-container */
.jump-tab-container {
  $selfHeight: 56px;
  position: relative;
  width: 100%;
  .jump-tab-nav {
    $selfActiveColor: $selfActiveColor;
    position: relative;
    width: 894px;
    height: $selfHeight;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    ul {
      font-size: 0;
      li {
        position: relative;
        display: inline-block;
        width: 159px;
        height: $selfHeight;
        line-height: $selfHeight;
        text-align: center;
        font-size: 16px;
        color: #333;
        cursor: default;
        transition: color .2s ease-out;
        .line {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          text-align: center;
          em {
            display: inline-block;
            vertical-align: top;
            width: 0;
            height: 100%;
            background-color: $selfActiveColor;
            transition: width .2s ease-out;
          }
        }
        &.current {
          color: $selfActiveColor;
          .line {
            em {
              width: 100%;
            }
          }
        }
        &:hover {
          color: $selfActiveColor;
          .line {
            em {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .jump-tab-content {
    width: 100%;
    background-color: #fff;
  }
  &.set-nav-fixed {
    padding-top: $selfHeight;
    .jump-tab-nav {
      position: fixed;
      top: 0;
      z-index: 10;
      box-shadow: 0 1px 4px 0 rgba(51, 51, 51, .2);
    }
  }
}

/* content-container */
.content-container {
  box-sizing: border-box;
  padding: 12px 0;
  * {
    box-sizing: border-box;
  }
}

/* main-content */
.content-container .main-content {
  width: 894px;
  & > section + section {
    margin-top: 12px;
  }
  .service-desc-panel {
    $selfPicWidth: 295px;
    padding: 20px 0 24px 20px;
    background: #fff url(../resource/img/sme_finance_pic063.png) no-repeat right bottom;
    .pic-area {
      float: left;
      width: $selfPicWidth;
      margin-right: - $selfPicWidth;
      figure {
        width: 100%;
        height: 217px;
        overflow: hidden;
        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      .info {
        margin-top: 12px;
        font-size: 12px;
        .iconfont {
          margin-right: 8px;
          font-size: 1em;
          color: #999 + 50%;
        }
      }
    }
    .desc-area {
      position: relative;
      margin-left: $selfPicWidth + 20px;
      font-size: 12px;
      color: #333;
      & > * {
        padding-right: 20px;
      }
      .u-loading-circle {
        min-height: 260px;
      }
      .score {
        position: absolute;
        top: 4px;
        right: 0;
        color: $selfActiveColor;
      }
      .title {
        font-size: 20px;
        font-weight: bold;
      }
      .para {
        margin-top: 15px;
        font-size: 14px;
      }
      .price-bar {
        $selfBgColor: #d4c4be;
        position: relative;
        display: table;
        width: 100%;
        padding: 18px 24px;
        margin-top: 15px;
        background-color: $selfBgColor;
        &:before, &:after {
          content: '';
          position: absolute;
          left: 100%;
          display: block;
        }
        &:before {
          top: 0;
          width: 10px;
          height: 100%;
          background-color: $selfBgColor;
        }
        &:after {
          bottom: -10px;
          width: 0;
          height: 0;
          border: 10px solid transparent;
          border-left-color: $selfBgColor;
          border-right: none;
          overflow: hidden;
        }
        .bar-row {
          display: table-row;
          width: 100%;
          & > * {
            display: table-cell;
          }
        }
        .price {
          .num {
            font-size: 1.7em;
            font-weight: bold;
            color: $selfActiveColor;
          }
        }
        .info {
          text-align: right;
          color: #ad3a01;
        }
      }
      .area-foot {
        margin-top: 24px;
        .handle-btn {
          min-width: 180px;
          height: 42px;
          padding: 0 20px;
          vertical-align: middle;
          line-height: 42px;
          text-align: center;
          font-size: 14px;
          color: #fff;
          background-color: $selfActiveColor;
          &:hover {
            background-color: $selfActiveColor - 15%;
          }
          &:active {
            background-color: $selfActiveColor - 30%;
          }
        }
        .handle-btn + .handle-btn {
          margin-left: 20px;
        }
      }
    }
    .form-table {
      width: 100%;
      margin-top: 18px;
      .row {
        display: table-row;
        width: 100%;
      }
      .cell {
        display: table-cell;
        vertical-align: top;
      }
      .row + .row {
        & > .cell {
          padding-top: 15px;
        }
      }
      .form-title {
        width: 72px;
        line-height: 28px;
      }
      .list {
        margin: -10px 0 0 -10px;
        li {
          position: relative;
          float: left;
          padding: 7px 10px;
          margin: 10px 0 0 10px;
          background-color: #fff;
          border: 1px solid #ddd;
          cursor: pointer;
          &.chosen {
            border-color: $selfActiveColor;
            &:after {
              content: '';
              position: absolute;
              bottom: 0;
              right: 0;
              width: 14px;
              height: 14px;
              background: url(../resource/img/sme_finance_icon005.png) no-repeat center;
            }
          }
          &:hover {
            border-color: $selfActiveColor;
          }
        }
      }
      .m-area-choose {
        $selfColor: $selfActiveColor;
        $selfHeight: 28px;
        color: inherit;
        .icon {
          border-top-color: $selfColor;
        }
        .result-container {
          height: $selfHeight;
          line-height: $selfHeight - 2px;
        }
        .choose-container {
          top: $selfHeight - 1px;
          .choose-tab-nav {
            height: $selfHeight;
            border-bottom-color: $selfColor;
            li {
              height: $selfHeight;
              line-height: $selfHeight - 2px;
            }
            .current {
              border-color: $selfColor;
              border-bottom: 1px solid #fff;
            }
          }
          .choose-tab-content {
            .content-item {
              .chose-option {
                background-color: $selfColor;
              }
              li:hover {
                @extend .chose-option;
              }
            }
          }
        }
      }
      .input-box {
        select {
          width: 180px;
          height: 28px;
          padding: 0 0 0 10px;
          vertical-align: middle;
          line-height: 28px - 2px;
          font-size: inherit;
          border: 1px solid #ddd;
        }
      }
    }
    .m-default-area-choose {
      $selfActiveColor: $selfActiveColor;
      .choose-panel {
        a {
          &:hover {
            color: $selfActiveColor;
          }
        }
        .tab-panel {
          .tab-nav {
            li {
              &.current {
                color: $selfActiveColor;
              }
              &:hover {
                color: $selfActiveColor;
              }
            }
          }
          .tab-content-item {
            dl {
              dt {
                color: $selfActiveColor;
              }
              dd {
                .area-option {
                  &:hover {
                    background-color: $selfActiveColor;
                  }
                  &:active {
                    background-color: $selfActiveColor - 30%;
                  }
                }
              }
            }
          }
        }
      }
      &.open {
        .result-panel {
          .icon {
            color: $selfActiveColor;
          }
        }
      }
    }
  }
  .service-tab-container {
    $selfBodyPaddingX: 20px;
    // 共性
    .jump-tab-nav {
      padding-left: $selfBodyPaddingX;
      padding-right: $selfBodyPaddingX;
    }
    .jump-tab-content {
      padding-left: $selfBodyPaddingX;
      padding-right: $selfBodyPaddingX;
    }
    .jump-content-item {
      padding: 20px 0;
      .common-body-head {
        padding: 32px 0;
        text-align: center;
        color: #333;
        .head-title {
          font-size: 20px;
          font-weight: bold;
          .line-title {
            position: relative;
            display: inline-block;
            padding-bottom: 10px;
            vertical-align: middle;
            border-bottom: 1px solid #ccc;
            &:after {
              content: '';
              position: absolute;
              top: 100%;
              left: 50%;
              width: 0;
              height: 0;
              margin-left: -6px;
              border: 6px solid transparent;
              border-top-color: #ccc;
              border-bottom: none;
            }
          }
        }
        .head-desc {
          margin-top: 16px;
          font-size: 13px;
        }
        &.w-head {
          color: #fff;
          .head-title {
            .line-title {
              border-bottom-color: #fff;
              &:after {
                border-top-color: #fff;
              }
            }
          }
        }
      }
      .common-advantage-desc {
        .list-wrap {
          margin: 0 20px;
        }
        .desc-list {
          margin: -20px 0 0 -26px;
          li {
            float: left;
            margin: 20px 0 0 26px;
            text-align: center;
            font-size: 13px;
            color: #333;
            figure {
              width: 245px;
              height: 127px;
              box-shadow: $selfInitBoxShadow;
              img {
                display: block;
                width: 100%;
                height: 100%;
              }
            }
            p {
              padding: 22px 0;
            }
          }
        }
      }
    }
    // 个性
    .item-desc {
      .account-desc {
        .account-table {
          $selfBorderRadius: 14px;
          border-collapse: collapse;
          border-spacing: 0;
          width: 100%;
          tbody {
            line-height: 1.3;
            font-size: 0;
            color: #333;
            td {
              $selfIconWidth: 40px;
              height: 80px;
              padding-left: 15px;
              background-color: #eff1f7;
              border: 1px solid #e2e3e8;
              & > * {
                display: inline-block;
                vertical-align: middle;
              }
              i {
                width: $selfIconWidth;
                height: $selfIconWidth;
                margin-right: - $selfIconWidth;
                line-height: $selfIconWidth;
                text-align: center;
                font-size: 16px;
                font-weight: bold;
                font-style: normal;
                color: #fff;
                border-radius: 50%;
                background-color: $selfActiveColor;
              }
              h3 {
                font-size: 14px;
                font-weight: normal;
              }
              p {
                font-size: 12px;
              }
              .text {
                margin-left: $selfIconWidth + 10px;
              }
            }
            tr {
              td:first-of-type {
                border-left: none;
              }
              td:last-of-type {
                border-right: none;
              }
              &:first-of-type {
                td {
                  border-top: none;
                }
              }
            }
          }
          tfoot {
            td {
              height: 14px;
              background-color: #eff1f7;
            }
            td:first-of-type {
              border-bottom-left-radius: 12px;
            }
            td:last-of-type {
              border-bottom-right-radius: 12px;
            }
          }
        }
        .path-list {
          position: relative;
          width: 755px;
          height: 170px;
          margin: 48px auto 115px 80px;
          background: url(../resource/img/sme_finance_pic065.png) no-repeat center;
          li {
            position: absolute;
            text-align: center;
            i {
              display: block;
              width: 70px;
              height: 70px;
              margin: 0 auto;
              background: url(../resource/img/sme_finance_sprites008.png) no-repeat 0 0;
            }
            p {
              margin-top: 18px;
              font-size: 13px;
              color: #333;
            }
          }
        }
        .advantage-desc {
          .common-body-head {
            padding-top: 52px;
          }
          .list-wrap {
            margin: 0 66px;
          }
          .desc-list {
            margin: -28px 0 0 -38px;
            li {
              float: left;
              width: 215px;
              height: 110px;
              padding-top: 10px;
              margin: 28px 0 0 38px;
              text-align: center;
              font-size: 12px;
              color: #333;
              background-color: #fff;
              box-shadow: $selfInitBoxShadow;
              i {
                display: block;
                width: 36px;
                height: 36px;
                margin: 0 auto;
                background: url(../resource/img/sme_finance_sprites008.png) no-repeat 0 -72px;
              }
              h3 {
                margin-top: 12px;
                font-size: 13px;
                font-weight: bold;
              }
              p {
                margin-top: 10px;

              }
            }
          }
        }
      }
      .icp-desc {
        .bg-panel {
          $selfColor: #3974e6;
          padding-left: 40px;
          padding-right: 120px;
          font-size: 13px;
          color: #333;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          .stress {
            color: $selfColor;
          }
          .panel-head {
            padding: 40px 0 34px - 6px;
            .head-title {
              font-size: 20px;
              font-weight: bold;
              color: $selfColor;
            }
          }
          .panel-body {
            padding-bottom: 40px;
            line-height: 2;
          }
          .material-list {
            $selfWidth: 16px;
            dt {
              margin-bottom: 10px;
            }
            dd {
              margin-top: 4px;
              & > * {
                display: inline-block;
                vertical-align: top;
              }
              i {
                width: $selfWidth;
                height: $selfWidth;
                margin-right: - $selfWidth;
                line-height: $selfWidth;
                text-align: center;
                font-size: 12px;
                font-style: normal;
                color: #fff;
                background-color: $selfColor;
                border-radius: 50%;
              }
              span {
                margin-left: $selfWidth + 10px;
                margin-top: -2px;
                line-height: 20px;
              }
            }
          }
          .require-list {
            li {
              line-height: 16px;
              b {
                margin-right: 16px;
                font-size: 14px;
              }
            }
            li + li {
              margin-top: 36px;
            }
          }
        }
        .bg-panel + .bg-panel {
          margin-top: 20px;
        }
      }
      .company-desc {
        .bg-panel {
          $selfColor: $selfActiveColor;
          padding-left: 40px;
          padding-right: 120px;
          font-size: 13px;
          color: #333;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          .stress {
            color: $selfColor;
          }
          .panel-head {
            padding: 40px 0 34px - 6px;
            .head-title {
              font-size: 20px;
              font-weight: bold;
              color: $selfColor;
            }
          }
          .panel-body {
            padding-bottom: 40px;
            line-height: 2;
          }
        }
        .bg-panel + .bg-panel {
          margin-top: 20px;
        }
        .panel {
          padding: 20px 40px;
          .panel-head {
            padding: 35px 0;
            font-size: 20px;
            font-weight: bold;
            color: $selfActiveColor;
          }
          .advantage-list {
            font-size: 0;
            margin: -50px 0 0 -10px;
            li {
              $selfWidth: 50px;
              display: inline-block;
              width: 340px;
              margin: 50px 0 0 10px;
              vertical-align: top;
              & > * {
                display: inline-block;
                vertical-align: top;
              }
              i {
                width: $selfWidth;
                height: $selfWidth;
                margin-right: - $selfWidth;
                background: url(../resource/img/sme_finance_sprites008.png) no-repeat 0 -110px;
              }
              .text {
                padding-top: 7px;
                margin-left: $selfWidth + 10px;
                font-size: 13px;
                color: #333;
                h3 {
                  font-weight: bold;
                }
                p {
                  margin-top: 12px;
                }
              }
            }
          }
          .path-list {
            position: relative;
            text-align: center;
            font-size: 0;
            &:before {
              content: '';
              position: absolute;
              top: 53px + 12px + 2px;
              left: 0;
              right: 0;
              height: 2px;
              background-color: $selfActiveColor;
            }
            li {
              display: inline-block;
              min-width: 110px;
              vertical-align: top;
              i {
                display: block;
                width: 53px;
                height: 53px;
                margin: 0 auto;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100%;
              }
              b {
                display: block;
                width: 6px;
                height: 6px;
                margin: 12px auto 0;
                background: $selfActiveColor;
                border-radius: 50%;
              }
              p {
                margin-top: 14px;
                font-size: 13px;
                color: #333;
              }
            }
            li + li {
              //margin-left: 0;
            }
          }
        }
      }
      .personal-tax-desc {
        .bg-panel {
          $selfColor: $selfActiveColor;
          padding-left: 40px;
          padding-right: 120px;
          font-size: 13px;
          color: #333;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          .stress {
            color: $selfColor;
          }
          .panel-head {
            padding: 40px 0 34px - 6px;
            .head-title {
              font-size: 20px;
              font-weight: bold;
              color: $selfColor;
            }
          }
          .panel-body {
            padding-bottom: 40px;
            line-height: 2;
          }
          .scope-list {
            dd {
              padding-left: 2.5em;
              margin-top: 4px;
            }
          }
          .scope-list + .scope-list {
            margin-top: 10px;
          }
          .material-list {
            dd {
              margin-top: 4px;
            }
          }
          .policy-list {
            li {
              position: relative;
              padding-left: 15px;
              &:before {
                content: '';
                position: absolute;
                top: 9px;
                left: 0;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: $selfActiveColor;
              }
            }
            li + li {
              margin-top: 4px;
            }
          }
        }
        .bg-panel + .bg-panel {
          margin-top: 20px;
        }
      }
      .benefit-tax-desc {
        .desc-table {
          $selfBgColor: #f7f9fe;
          $selfBgColor1: #636c96;
          $selfBgColor2: #aeb5d8;
          border-collapse: collapse;
          border-spacing: 0;
          width: 100%;
          line-height: 1.7;
          font-size: 13px;
          color: #636c98;
          .stress {
            color: $selfActiveColor;
          }
          .head-title {
            font-size: 20px;
            font-weight: bold;
            color: $selfActiveColor;
          }
          td {
            padding: 20px;
            border: 1px solid #bdc6de;
            background-color: $selfBgColor;
            &:first-of-type {
              color: #fff;
              background-color: $selfBgColor1;
            }
          }
          thead {
            td {
              font-size: 14px;
              font-weight: bold;
              background-color: $selfBgColor2;
            }
            tr {
              &:first-of-type {
                td {
                  background-color: $selfBgColor;
                  border: none;
                }
              }
            }
          }
        }
        .desc-table + .desc-table {
          margin-top: 42px;
        }
      }
    }
    .item-question {
      .question-list {
        padding-left: 64px;
        padding-right: 90px;
        color: #333;
        h3, p {
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 18px;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
        h3 {
          position: relative;
          padding-left: 30px;
          font-size: 16px;
          font-weight: bold;
          &:before {
            background-image: url(../resource/img/sme_finance_icon004_1.png);
          }
        }
        p {
          position: relative;
          padding-left: 30px;
          margin-top: 20px - 2px;
          line-height: 20px;
          font-size: 13px;
          &:before {
            top: 2px;
            background-image: url(../resource/img/sme_finance_icon004_2.png);
          }
        }
        li + li {
          margin-top: 50px - 2px;
        }
      }
    }
    .item-evaluation {
      .evaluation-list {
        padding-left: 63px;
        padding-right: 53px;
        padding-bottom: 20px;
        .user {
          display: table;
          width: 100%;
          font-size: 12px;
          color: #333;
          & > * {
            display: table-cell;
            vertical-align: top;
          }
          figure {
            width: 54px;
            height: 54px;
            overflow: hidden;
            img {
              display: block;
              width: 100%;
              height: 100%;
              border-radius: 50%;
            }
          }
          .desc {
            padding-top: 6px;
            padding-left: 10px;
            padding-right: 10px;
            .name {
              font-size: 14px;
              font-weight: bold;
            }
            .tags {
              margin: 12px - 10px 0 0 -10px;
              li {
                display: inline-block;
                height: 20px;
                padding: 0 8px;
                margin: 10px 0 0 10px;
                vertical-align: top;
                line-height: 20px;
                color: #fff;
                background-color: #32b70e;
              }
            }
          }
          .info {
            padding-top: 6px;
            min-width: 180px;
            text-align: right;
          }
        }
        .evaluation {
          $selfBgColor: #f5f4f4;
          position: relative;
          padding: 14px 16px;
          margin-top: 22px;
          line-height: 20px;
          font-size: 13px;
          color: #333;
          background-color: $selfBgColor;
          border-radius: 8px;
          &:before {
            content: '';
            position: absolute;
            top: -15px;
            left: 0;
            width: 0;
            height: 0;
            border: 15px solid transparent;
            border-left-color: $selfBgColor;
            border-right: none;
            overflow: hidden;
          }
        }
        li + li {
          margin-top: 50px;
        }
      }
    }
  }
}

/* aside-content */
.content-container .aside-content {
  width: 285px;
  & > aside + aside {
    margin-top: 12px;
  }
  .consultant-panel {
    padding: 28px 0;
    text-align: center;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    figure {
      $selfHeight: 100px;
      width: $selfHeight;
      height: $selfHeight;
      margin: 0 auto;
      border: 1px solid #b5b5b5;
      border-radius: 50%;
      overflow: hidden;
      img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: inherit;
      }
    }
    .name {
      margin-top: 15px;
      font-size: 24px;
      font-weight: bold;
    }
    .title {
      margin-top: 10px;
    }
    .data {
      margin-top: 24px;
      font-size: 0;
      li {
        display: inline-block;
        padding: 0 15px;
        vertical-align: top;
        font-size: 13px;
        .num {
          margin-bottom: 10px;
        }
      }
    }
    .panel-foot {
      margin-top: 22px;
      .handle-btn {
        $selfHeight: 40px;
        min-width: 180px;
        height: $selfHeight;
        padding: 0 20px;
        line-height: $selfHeight;
        text-align: center;
        font-size: 14px;
        color: #fff;
        background-color: $selfActiveColor;
        border-radius: $selfHeight;
        &:hover {
          background-color: $selfActiveColor - 15%;
        }
        &:active {
          background-color: $selfActiveColor - 30%;
        }
      }
    }
  }
  .service-panel {
    padding: 0 20px;
    background-color: #fff;
    .panel-head {
      padding: 20px 0;
      font-size: 16px;
      color: #333;
      border-bottom: 1px solid #e1e4f0;
      .head-title {
        float: left;
      }
      .head-handle {
        float: right;
        .handle-btn {
          line-height: 16px;
          font-size: 12px;
          color: #666;
          .iconfont {
            font-size: 1em;
          }
          &:hover {
            color: $selfActiveColor;
          }
          &:active {
            color: $selfActiveColor - 30%;
          }
        }
        .handle-btn + .handle-btn {
          margin-left: 10px;
        }
      }
    }
    .panel-body {
      padding: 20px 0 24px;
    }
    .service-card {
      width: 100%;
      color: #333;
      background-color: #fff;
      box-shadow: $selfInitBoxShadow;
      transition: transform .3s ease-out, box-shadow .3s ease-out;
      .pic {
        display: block;
        width: 100%;
        height: 180px;
        overflow: hidden;
        img {
          display: block;
          width: 100%;
          height: 100%;
          transition: transform .3s ease-out;
        }
        &:hover {
          img {
            transform: scale(1.06);
          }
        }
      }
      .desc {
        padding: 10px 10px 12px;
        h3 {
          font-size: 14px;
          font-weight: normal;
          a {
            max-width: 100%;
            vertical-align: middle;
            color: inherit;
            transition: transform .3s ease-out;
            &:hover {
              color: $selfActiveColor;
              transform: translateX(6px);
            }
            &:active {
              color: $selfActiveColor - 30%;
            }
          }
        }
        .info {
          margin-top: 10px;
          line-height: 1.4;
          font-size: 14px;
          color: #999;
          .price {
            line-height: 1;
            color: $selfActiveColor;
            .num {
              font-size: 1.4em;
              font-weight: bold;
            }
          }
        }
        .foot-info {
          margin-top: 10px;
          line-height: 16px;
          font-size: 14px;
          color: #666;
          .tag {
            display: inline-block;
            padding: 0 6px;
            height: 16px;
            vertical-align: middle;
            font-size: 12px;
            color: #fff;
            background-color: $selfActiveColor;
            border-radius: 16px;
          }
          .tag + .tag {
            margin-left: 8px;
          }
        }
      }
      &:hover {
        transform: translateY(-3px);
        box-shadow: $selfBoxShadow;
      }
    }
    .service-card + .service-card {
      margin-top: 20px;
    }
  }
}