@charset "utf-8";
@import "publicVariable";

/* main-body */
.main-body {
  padding: 10px 0;
  background-color: #f7f7f7;
}

/* title-bar */
.title-bar {
  margin-bottom: 10px;
  background-color: #fff;
  .title {
    padding: 14px 20px;
    color: #666;
  }
}

/* content-container */
.content-container {
  position: relative;
}

/* main-content-container */
.main-content-container {
  float: left;
  width: 810px;
}

/* main-content-card */
.main-content-card {
  padding: 28px 30px;
  background-color: #fff;
  .card-title {
    margin-bottom: 16px;
    .text {
      padding: 2px 6px;
      font-size: 16px;
      font-weight: bold;
      color: #363636;
      border-left: 5px solid $onColorOrange;
    }
  }
  & + & {
    margin-top: 10px;
  }
}

/* service-desc */
.service-desc {
  .card-content {
    figure {
      float: left;
      width: 148px;
      height: 108px;
      margin-right: -150px;
      border: 1px solid #eee;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .desc-text {
      float: left;
      margin-left: 166px;
      .title {
        margin-bottom: 14px;
        line-height: 18px;
        font-size: 14px;
        font-weight: bold;
        color: #363636;
      }
      .para {
        margin-bottom: 10px;
        line-height: 24px;
        font-size: 13px;
        color: #999;
      }
      .price-text {
        font-size: 14px;
        color: #666;
        .price {
          margin-left: 5px;
          .num {
            color: #fc0018;
            &:before {
              content: '¥';
              display: inline-block;
            }
          }
        }
      }
    }
  }
}

/* service-demand */
.service-demand {
  .card-content {
    textarea {
      resize: none;
      width: 688px;
      height: 138px;
      padding: 10px;
      border: 1px solid #ddd;
    }
  }
}

/* service-facilitator */
.service-facilitator {
  .card-content {
    .notice-red {
      margin-bottom: 20px;
      font-size: 13px;
      color: #fc0018;
    }
    .facilitator-list {
      margin-bottom: 35px;
      .list {
        margin-left: -20px;
        margin-top: -20px;
      }
      .list-item {
        position: relative;
        float: left;
        padding: 14px 18px;
        margin-left: 20px;
        margin-top: 20px;
        font-size: 16px;
        color: #363636;
        background-color: #fff;
        border: 1px solid #ddd;
        cursor: default;
        &:hover {
          border-color: $onColorOrange;
        }
      }
      .chose {
        border-color: $onColorOrange;
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          right: 0;
          display: block;
          width: 18px;
          height: 15px;
          background: url(../resource/img/sme_icon_chose.png) no-repeat center;
        }
      }
    }
    .facilitator-info {
      .info-notice {
        margin-bottom: 14px;
        color: #999;
        .org-link {
          margin: 0 5px;
          color: #1e2285;
          &:hover {
            color: $onColorOrange;
          }
        }
      }
      .info-card {
        width: 340px;
        padding: 20px;
        background-color: #fff;
        border: 1px solid #ddd;
        figure {
          float: left;
          width: 130px;
          height: 110px;
          margin-right: -131px;
          line-height: 110px;
          text-align: center;
          border-right: 1px dashed #ddd;
          img {
            display: inline-block;
            width: 100%;
            max-height: 110px;
            vertical-align: middle;
          }
        }
        .desc-text {
          float: left;
          margin-left: 151px;
          .title {
            margin-bottom: 12px;
            font-weight: bold;
            color: #666;
          }
          .para {
            margin-bottom: 20px;
            line-height: 20px;
            font-size: 12px;
            color: #999;
          }
          .btm {
            text-align: right;
            .org-link {
              color: #1e2285;
              &:hover {
                color: $onColorOrange;
              }
            }
          }
        }
      }
    }
  }
}

/* contact-info */
.contact-info {
  .card-content {
    padding-top: 20px;
    .form-item {
      .title {
        float: left;
        width: 116px;
        margin-right: -116px;
        line-height: 32px;
        text-align: right;
        color: #363636;
      }
      .star-title:before {
        content: '*';
        display: inline-block;
        margin-right: 4px;
        font-size: 14px;
        color: #fc0018;
      }
      .input-wrapper {
        margin-left: 126px;
        color: #666;
        .hint-info {
          padding: 9px 0;
          color: #999;
        }
        label {
          line-height: 32px;
          font-size: 14px;
          color: #666;
        }
        input[type='radio'] {
          margin-right: 4px;
          vertical-align: -2px;
        }
        .input-box {
          position: relative;
          input[type='text'] {
            width: 196px;
            height: 18px;
            padding: 6px 10px;
            line-height: 18px;
            font-size: 14px;
            border: 1px solid #ddd;
            &.l-input {
              width: 306px;
            }
          }
          textarea {
            resize: none;
            width: 306px;
            height: 64px;
            padding: 8px 10px;
            font-size: 14px;
            border: 1px solid #ddd;
          }
        }
        .area-input {
          .area-choose {
            width: 114px;
            height: 30px;
            padding: 0 10px;
            font-size: 14px;
            border: 1px solid #ddd;
          }
          .area-choose + .area-choose {
            margin-left: 5px;
          }
          .text {
            margin: 0 5px;
          }
        }
        .area-input + .area-input {
          margin-top: 18px;
        }
        .other-phone {
          input[type='text'] {
            margin-left: 18px;
          }
        }
        .code-input {
          width: 218px;
          height: 32px;
          input[type='text'] {
            width: 100px;
            padding-right: 106px;
          }
          .code-btn {
            position: absolute;
            top: 1px;
            right: 1px;
            display: block;
            width: 95px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            border-left: 1px solid #ddd;
          }
          .pic-btn {
            img {
              display: block;
              width: 100%;
              height: 100%;
            }
          }
          .msg-btn {
            color: #666;
            background-color: #eee;
          }
        }
      }
    }
    .form-btn-wrapper {
      text-align: center;
      font-size: 0;
      .form-btn {
        display: inline-block;
        height: 35px;
        min-width: 135px;
        padding: 0 20px;
        line-height: 35px;
        font-size: 16px;
        color: #fff;
        background-color: $onColorOrange;
        border-radius: 4px;
        transition: background-color .2s ease-out;
      }
      .form-btn:hover {
        background-color: $onColorOrange + 25%;
      }
    }
  }
}

/* other-service */
.other-service {
  .card-content {
    padding-top: 20px;
    .form-item {
      .title {
        float: left;
        width: 35px;
        margin-right: -35px;
        text-align: right;
        line-height: 18px;
      }
      .input-wrapper {
        float: left;
        margin-left: 50px;
        .desc {
          margin-bottom: 17px;
          & > * {
            float: left;
          }
          .text {
            position: relative;
            font-size: 16px;
            color: #363636;
            &:after {
              content: '';
              position: absolute;
              top: -6px;
              left: 100%;
              display: inline-block;
              width: 30px;
              height: 16px;
              margin-left: 4px;
              background: url(../resource/img/sme_icon_free.png) no-repeat center;
            }
          }
          .para {
            margin-left: 46px;
            line-height: 18px;
            font-size: 14px;
            color: #999;
          }
        }
        .input-box {
          input[type="text"] {
            width: 308px;
            height: 18px;
            padding: 6px 10px;
            line-height: 18px;
            font-size: 14px;
            border: 1px solid #ddd;
          }
        }
      }
    }
    .form-item + .form-item {
      margin-top: 28px;
    }
  }
}

/* aside-content-container */
.aside-content-container {
  position: relative;
  float: right;
  width: 380px;
}

/* order-settlement-card */
.order-settlement-card {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
  .card-title {
    padding: 18px 25px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    .text {
      padding: 2px 10px;
      font-size: 16px;
      font-weight: bold;
      color: #363636;
      border-left: 5px solid $onColorOrange;
    }
  }
  .card-content {
    .order-table {
      border-collapse: collapse;
      width: 100%;
      line-height: 16px;
      font-size: 14px;
      td {
        padding-top: 12px;
        padding-bottom: 12px;
        word-wrap: break-word;
        word-break: break-all;
      }
      .item-left {
        max-width: 228px;
        padding-left: 25px;
        padding-right: 5px;
        text-align: left;
      }
      .item-right {
        max-width: 90px;
        padding-left: 5px;
        padding-right: 25px;
        text-align: right;
      }
      .table-title {
        color: #999;
      }
      .table-item {
        color: #363636;
        .amount-choose {
          .amount-text {
            min-width: 28px;
            height: 28px;
            padding: 0 5px;
            vertical-align: top;
            line-height: 28px;
            text-align: left;
            border: 1px solid #ddd;
          }
          .amount-btn-group {
            width: 13px;
            vertical-align: top;
            .amount-btn {
              float: left;
              width: 12px;
              height: 12px;
              line-height: 12px;
              text-align: center;
              font-size: 14px;
              font-weight: bold;
              color: #ddd;
              border: 1px solid #ddd;
              &:hover {
                color: #fff;
                background-color: #ddd - 30%;
              }
              &:active {
                background-color: #ddd - 60%;
              }
            }
            .add-btn {
              margin-bottom: 2px;
            }
          }
        }
      }
      .table-sum {
        color: #666;
        background-color: #fef4e6;
        td {
          padding-top: 14px;
          padding-bottom: 14px;
        }
        .unit-price {
          margin: 0 3px;
          &:before {
            content: '¥';
            display: inline-block;
            margin-right: 2px;
          }
        }
        .count {
          margin: 0 3px;
        }
        .sum-price {
          color: #fc0018;
          &:before {
            content: '¥';
            display: inline-block;
            margin-right: 3px;
          }
        }
      }
    }
    .btn-group {
      padding: 30px 0;
      text-align: center;
      .settlement-btn {
        width: 150px;
        height: 38px;
        line-height: 38px;
        font-weight: bold;
        color: #fff;
        background-color: $onColorOrange;
        border-radius: 5px;
        transition: background-color .2s ease-out;
        &:hover {
          background-color: $onColorOrange + 25%;
        }
      }
    }
  }
}