@charset "utf-8";
@import "publicVariable";

.m-crumbs-nav {
  margin-bottom: 18px;
}

/* set-container */
.set-container {
  border-top: 1px solid #eee;
  .set-container-head {
    padding: 20px 0;
    line-height: 30px;
    color: #333;
    .title {
      font-size: 16px;
      font-weight: bold;
    }
    .head-btn {
      height: 30px;
      padding: 0 15px;
      line-height: inherit;
      font-size: 16px;
      color: #666;
      border: 1px solid #ddd;
      i {
        margin-right: 8px;
        vertical-align: middle;
        color: $facilitatorBaseBlue;
      }
      &:hover {
        color: #fff;
        background-color: $facilitatorBaseBlue;
        border-color: $facilitatorBaseBlue;
        i {
          color: #fff;
        }
      }
    }
  }
}

/* form-container */
.form-container {
  .form-item {
    color: #333;
    .title {
      float: left;
      width: 158px;
      margin-right: -158px;
      line-height: 32px;
      text-align: right;
      .notice {
        display: block;
        line-height: 16px;
        font-size: 12px;
        color: #999;
      }
    }
    .star-title:before {
      content: '*';
      display: inline-block;
      margin-right: 4px;
      font-size: 14px;
      color: #fc0018;
    }
    .input-wrapper {
      margin-left: 160px;
      line-height: 32px;
      .hint-info {
        padding: 10px 0;
        line-height: 1;
        font-size: 12px;
        color: #999;
      }
      .notice {
        margin-top: 14px;
        line-height: 20px;
        font-size: 12px;
        color: #999;
        word-wrap: break-word;
        word-break: break-all;
      }
      .dash-line {
        margin: 0 3px;
        color: #c9c9c9;
      }
      .input-label {
        input[type="radio"] {
          margin-right: 5px;
          vertical-align: -2px;
        }
      }
      .input-label + .input-label {
        margin-left: 36px;
      }
      .time-box {
        .time-choose {
          position: relative;
          display: inline-block;
          width: 208px;
          height: 32px;
          vertical-align: middle;
          font-size: 14px;
          i {
            position: absolute;
            top: 8px;
            right: 10px;
            line-height: 1;
            font-size: 16px;
            color: #c9c9c9;
          }
          span, input[type='text'] {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 168px;
            height: 18px;
            padding: 6px 28px 6px 10px;
            line-height: 18px;
            font-size: 14px;
            border: 1px solid #ddd;
            background-color: transparent;
          }
        }
      }
      .input-btn {
        margin-left: 10px;
        color: #1e2284;
        &:hover {
          color: $onColorOrange;
        }
      }
      input[type="text"] {
        width: 186px;
        height: 18px;
        padding: 6px 10px;
        line-height: 18px;
        font-size: 14px;
        border: 1px solid #ddd;
        transition: box-shadow .2s ease-out;
        &.l-input {
          width: 286px;
        }
        &.s-input {
          width: 90px;
        }
        &.zone-input {
          width: 52px;
        }
      }
      input[type="text"]:focus {
        box-shadow: 0 0 6px 0 rgba(14, 5, 10, 0.2);
      }
      textarea {
        resize: none;
        width: 286px;
        height: 118px;
        padding: 6px 10px;
        vertical-align: bottom;
        border: 1px solid #ddd;
        transition: box-shadow .2s ease-out;
        &.l-textarea {
          width: 568px;
          height: 216px;
        }
      }
      textarea:focus {
        box-shadow: 0 0 6px 0 rgba(14, 5, 10, 0.2);
      }
      select {
        width: 208px;
        height: 32px;
        padding: 6px 10px;
        line-height: 30px;
        border: 1px solid #ddd;
        transition: box-shadow .2s ease-out;
        &.l-select {
          width: 308px;
        }
        &.s-select {
          width: 112px;
        }
        &:focus {
          box-shadow: 0 0 6px 0 rgba(14, 5, 10, 0.2);
        }
      }
      .area-input {
        .area-choose {
          width: 96px;
          height: 30px;
          padding: 0 10px;
          font-size: 14px;
          border: 1px solid #ddd;
          transition: box-shadow .2s ease-out;
        }
        .area-choose:focus {
          box-shadow: 0 0 6px 0 rgba(14, 5, 10, 0.2);
        }
        .area-choose + .area-choose {
          margin-left: 5px;
        }
      }
      .area-input + .area-input {
        margin-top: 18px;
      }
    }
  }
  .form-btn-wrapper {
    padding: 30px 0;
    text-align: center;
    .form-btn {
      min-width: 65px;
      padding: 9px 20px;
      font-size: 14px;
      color: #fff;
      background-color: $onColorOrange;
      border-radius: 5px;
      transition: background-color .2s ease-out;
      &:hover {
        background-color: $onColorOrange + 25%;
      }
    }
  }
  .without-title.form-item {
    .input-wrapper {
      margin-left: 0;
      .block-textarea {
        width: 902px;
        height: 310px;
      }
    }
  }
}

/* table相关 */
.sme-table {
  td {
    border-bottom-style: dashed;
  }
}

.success-case-table {
  .cell-name {
    max-width: 216px;
  }
  .cell-price {
    max-width: 96px;
  }
  .cell-time {
    max-width: 104px;
  }
  .cell-type {
    max-width: 160px;
  }
  .cell-status {
    max-width: 86px;
  }
  .cell-handle {
    max-width: 150px;
  }
  tbody {
    .cell-price {
      .price:before {
        content: '¥';
      }
    }
    .cell-handle {
      font-size: 0;
      .handle-btn {
        font-size: 13px;
        color: inherit;
        &:hover {
          color: $onColorOrange;
        }
      }
      .handle-btn + .handle-btn {
        margin-left: 20px;
      }
    }
  }
}

.certify-table {
  .cell-name {
    max-width: 306px;
  }
  .cell-pic {
    max-width: 166px;
  }
  .cell-time {
    max-width: 104px;
  }
  .cell-status {
    max-width: 86px;
  }
  .cell-handle {
    max-width: 150px;
  }
  tbody {
    .cell-pic {
      figure {
        margin: 0 auto;
        width: 90px;
        img {
          width: 100%;
          max-height: 120px;
        }
      }
    }
    .cell-handle {
      font-size: 0;
      .handle-btn {
        font-size: 13px;
        color: inherit;
        &:hover {
          color: $onColorOrange;
        }
      }
      .handle-btn + .handle-btn {
        margin-left: 20px;
      }
    }
  }
}

/* set-base-container */
.set-base-container {
  .upload-logo-container {
    .notice {
      margin-bottom: 25px;
      line-height: 1.2;
      font-size: 13px;
    }
    .upload-wrapper {
      & > * {
        display: inline-block;
      }
      figure {
        width: 357px;
        height: 240px;
        margin-right: 25px;
        vertical-align: bottom;
        border: 1px solid #eee;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .upload-logo {
        position: relative;
        width: 105px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        color: #fff;
        background-color: $onColorOrange;
        border-radius: 5px;
        transition: background-color .2s ease-out;
        cursor: default;
        overflow: hidden;
        input[type='file'] {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          filter: alpha(opacity=0);
        }
        .uploadify {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          filter: alpha(opacity=0);
          object {
            top: 0;
            left: 0;
          }
        }
        &:hover {
          background-color: $onColorOrange + 25%;
        }
      }
    }
    .hint-info {
      padding: 10px 0;
      line-height: 1;
      font-size: 12px;
      color: #999;
    }
  }
}