@charset "utf-8";
@import "publicVariable";

$selfActiveColor: #03d6d1;
$selfBoxShadow: 0 0 10px 0 rgba(14, 5, 10, .1);

body {
  background-color: #f7f7f7;
}

/* head-crumbs-nav */
.head-crumbs-nav {
  .m-crumbs-nav {
    background-color: transparent;
    ul {
      padding: 18px 0;
    }
  }
}

/* desc-panel */
// service-panels: height 386px（稿） 348px（实际）
.service-panels {
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
}

.service-panels .desc-panel {
  $selfWidth: 357px;
  width: 900px;
  height: 348px;
  padding: 30px 30px 0;
  color: #333;
  background-color: #fff;
  figure {
    float: left;
    width: $selfWidth;
    height: 263px;
    margin-right: - $selfWidth;
    border: 1px solid #eee;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .panel-content {
    margin-left: $selfWidth + 35px;
    .title {
      margin-top: 9px;
      font-size: 18px;
      font-weight: bold;
    }
    .para {
      height: 40px;
      margin-top: 15px - 3px;
      line-height: 20px;
      font-size: 13px;
      color: #999;
      overflow: hidden;
    }
    .price-row {
      margin-top: 37px - 20px - 3px;
      & > span + span {
        margin-left: 30px;
      }
      .stress {
        margin: 0 12px;
        font-size: 26px;
        color: #f00;
      }
      .price {
        color: #999;
      }
    }
    .score-row {
      margin-top: 27px;
      font-size: 0;
      & > * {
        font-size: 14px;
      }
      .score {
        .star {
          padding: 0 10px;
          img {
            vertical-align: -2px;
          }
        }
        .num {
          font-size: 18px;
          font-weight: bold;
          color: #f2ac28;
        }
      }
      .sale-sum {
        margin-left: 100px;
        color: #999;
      }
    }
    .handle-row {
      margin-top: 62px;
      font-size: 0;
      .handle-btn {
        $selfWidth: 150px;
        $selfHeight: 38px;
        display: inline-block;
        min-width: $selfWidth;
        height: $selfHeight;
        padding: 0 20px;
        vertical-align: middle;
        line-height: $selfHeight;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        border-radius: 4px;
        &.yellow-btn {
          background-color: #f2ac28;
          &:hover {
            background-color: #f2ac28 - 10%;
          }
          &:active {
            background-color: #f2ac28 - 20%;
          }
        }
        &.green-btn {
          background-color: $selfActiveColor;
          &:hover {
            background-color: $selfActiveColor - 10%;
          }
          &:active {
            background-color: $selfActiveColor - 20%;
          }
        }
      }
      .handle-btn + .handle-btn {
        margin-left: 32px;
      }
    }
  }
}

/* consultant-panel */
.service-panels .consultant-panel {
  width: 290px;
  height: 348px;
  padding: 34px 0 0;
  text-align: center;
  background-color: #fff;
  figure {
    $selfHeight: 108px;
    width: $selfHeight;
    height: $selfHeight;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 50%;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: inherit;
    }
  }
  .name {
    margin-top: 27px;
    font-size: 18px;
    color: #333;
  }
  .title {
    margin-top: 14px;
    color: #666;
  }
  .data {
    margin-top: 40px;
    font-size: 0;
    li {
      display: inline-block;
      padding: 0 15px;
      vertical-align: top;
      font-size: 18px;
      .num {
        margin-bottom: 15px;
        color: #333;
      }
    }
  }
}

/* main-container */
.main-container {
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
}

/* jump-tab-container */
.jump-tab-container {
  $selfHeight: 56px;
  position: relative;
  width: 100%;
  .jump-tab-nav {
    $selfActiveColor: $selfActiveColor;
    position: relative;
    width: 1200px;
    height: $selfHeight;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    ul {
      font-size: 0;
      li {
        position: relative;
        display: inline-block;
        width: 159px;
        height: $selfHeight;
        line-height: $selfHeight;
        text-align: center;
        font-size: 16px;
        color: #333;
        cursor: default;
        transition: color .2s ease-out;
        .line {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          text-align: center;
          em {
            display: inline-block;
            vertical-align: top;
            width: 0;
            height: 100%;
            background-color: $selfActiveColor;
            transition: width .2s ease-out;
          }
        }
        &.current {
          color: $selfActiveColor;
          .line {
            em {
              width: 100%;
            }
          }
        }
        &:hover {
          color: $selfActiveColor;
          .line {
            em {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .jump-tab-content {
    width: 100%;
    background-color: #fff;
  }
  &.set-nav-fixed {
    padding-top: $selfHeight;
    .jump-tab-nav {
      position: fixed;
      top: 0;
      z-index: 10;
      box-shadow: 0 1px 4px 0 rgba(51, 51, 51, .2);
    }
  }
}

/* service-tab-container */
.main-container .service-tab-container {
  $selfBodyPaddingX: 180px;
  margin-top: 10px;
  margin-bottom: 10px;
  // 共性
  .jump-content-item {
    .content-title {
      padding: 40px 50px;
      font-size: 18px;
      font-weight: bold;
      color: #666;
      &:before {
        content: '';
        display: inline-block;
        width: 8px;
        height: 24px;
        margin-right: 10px;
        vertical-align: middle;
        background-color: #05bbfd;
      }
    }
    .content-body {
      padding: 0 $selfBodyPaddingX 20px;
      .common-body-head {
        padding: 30px 0;
        text-align: center;
        color: #666;
        .head-title {
          font-size: 18px;
          .line-title {
            display: inline-block;
            vertical-align: middle;
            &:before, &:after {
              content: '';
              display: inline-block;
              width: 125px;
              height: 1px;
              vertical-align: middle;
              background: url(../resource/img/sme_icon_sprites1.png) no-repeat 0 -28px;
            }
            &:before {
              margin-right: 30px;
            }
            &:after {
              margin-left: 30px;
              background-position-y: - 31px;
            }
          }
        }
        .head-desc {
          margin-top: 14px;
          font-size: 14px;
          color: #999;
        }
        &.head-w {
          color: #fff;
          .head-title {
            .line-title {
              &:before {
                background-position-y: - 34px;
              }
              &:after {
                background-position-y: - 37px;
              }
            }
          }
          .head-desc {
            color: #fff;
          }
        }
      }
    }
  }
  // 个性
  .item-desc {
    .content-body {
      padding-left: 0;
      padding-right: 0;
    }
    // 法律顾问套餐
    .consultant-desc-body {
      .desc-panels {
        padding: 30px $selfBodyPaddingX 60px;
        .desc-panel {
          $selfWidth: 165px;
          width: 100%;
          height: 126px;
          font-size: 0;
          background-color: #fafafa;
          & > * {
            display: inline-block;
            vertical-align: top;
          }
          figure {
            width: $selfWidth;
            height: 100%;
            margin-right: - $selfWidth;
            overflow: hidden;
            img {
              display: block;
              width: 100%;
              height: 100%;
            }
          }
          .panel-content {
            $selfFigureWidth: 21px;
            padding: 22px 23px 0 23px;
            margin-left: $selfWidth;
            font-size: 14px;
            li {
              & > * {
                display: inline-block;
                vertical-align: top;
              }
              .num {
                width: $selfFigureWidth;
                height: $selfFigureWidth;
                margin-right: - $selfFigureWidth;
                line-height: $selfFigureWidth;
                text-align: center;
                font-weight: bold;
                color: #fff;
                background-color: $selfActiveColor;
                border-radius: 50%;
              }
              .para {
                margin-left: $selfFigureWidth + 10px;
                line-height: $selfFigureWidth;
                color: #333;
              }
            }
            li + li {
              margin-top: 10px;
            }
          }
        }
        .desc-panel + .desc-panel {
          margin-top: 10px;
        }
      }
      .desc-table-container {
        min-height: 865px;
        padding: 60px $selfBodyPaddingX 0;
        background: url(../resource/img/sme_law_pic095.jpg) no-repeat center top;
        background-size: 100%;
        .container-head {
          text-align: center;
          color: #fff;
          .stress {
            color: $selfActiveColor;
          }
          .head-title {
            font-size: 24px;
            font-weight: bold;
          }
          .head-subtitle {
            margin-top: 12px;
            font-size: 18px;
            font-weight: bold;
          }
          .head-desc {
            margin-top: 30px - 5px;
            line-height: 24px;
          }
        }
        .table-wrapper {
          max-height: 602px;
          margin-top: 39px - 5px;
          background-color: #fff;
          overflow-y: auto;
          .table-head {
            padding: 30px 0;
            text-align: center;
            font-size: 16px;
            color: #666;
          }
        }
      }
    }
    // base-desc-body
    .base-desc-body {
      padding-left: $selfBodyPaddingX;
      padding-right: $selfBodyPaddingX;
      .service-desc {
        .desc-panel {
          padding: 26px - 5px 26px;
          margin-top: 10px;
          margin-bottom: 10px;
          line-height: 24px;
          color: #666;
          background-color: #fbfbfb;
          background-repeat: no-repeat;
          background-position: right top;
          background-size: cover;
          .title {
            display: inline;
            color: #333;
          }
          dl {
            padding-top: 40px - ( 26px - 5px );
            padding-bottom: 40px - ( 26px - 5px );
            dt {
              margin-bottom: 32px - 5px;
              font-size: 18px;
              color: #333;
            }
            dd + dd {
              margin-top: 32px - 5px;
            }
          }
        }
        .desc-list {
          padding: 60px 0;
          text-align: center;
          font-size: 0;
          .list-item {
            display: inline-block;
            width: 154px;
            vertical-align: top;
            font-size: 14px;
            .icon {
              display: block;
              width: 140px;
              height: 140px;
              margin: 0 auto;
              border-radius: 50%;
            }
            h3 {
              margin-top: 34px;
              font-weight: bold;
              color: #333;
            }
            p {
              margin-top: 12px - 5px;
              line-height: 24px;
              color: #666;
            }
          }
          .list-item + .list-item {
            margin-left: 87px;
          }
        }
      }
      .scene-desc {
        padding-top: 20px;
        .scene-list {
          padding: 20px 0 60px;
          margin-left: -84px;
          .list-item {
            float: left;
            width: 224px;
            margin-left: 84px;
            figure {
              position: relative;
              width: 100%;
              height: 180px;
              overflow: hidden;
              img {
                display: block;
                width: 100%;
                height: 100%;
              }
              .num {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 39px;
                height: 39px;
                line-height: 39px;
                text-align: center;
                font-weight: bold;
                color: #fff;
                background-color: $selfActiveColor;
              }
            }
            p {
              margin-top: 40px - 5px;
              line-height: 24px;
              color: #666;
            }
          }
        }
      }
      .desc-table-container {
        table {
          .head-bar {
            td {
              padding-top: 24px;
              padding-bottom: 24px;
              font-size: 18px;
              background-color: #fbfbfb;
            }
          }
        }
      }
    }
  }
  .item-path {
    .path-list {
      padding: 20px 0;
      text-align: center;
      font-size: 0;
      li {
        position: relative;
        display: inline-block;
        min-width: 165px;
        vertical-align: top;
        font-size: 14px;
        color: #666;
        .icon {
          width: 149px;
          height: 134px;
          margin: 0 auto;
          background-repeat: no-repeat;
          background-position: center;
        }
        .title {
          margin-top: 39px;
        }
      }
      li + li {
        margin-left: 58px;
        &:before {
          content: '';
          position: absolute;
          top: 62px;
          left: -45px;
          display: block;
          width: 31px;
          height: 10px;
          background: url(../resource/img/sme_law_pic093_1.png) no-repeat center;
        }
      }
    }
  }
  .item-advantage {
    .advantage-list {
      padding: 30px 0;
      text-align: center;
      font-size: 0;
      li {
        display: inline-block;
        width: 185px;
        height: 205px;
        padding-top: 111px - 7px;
        vertical-align: top;
        line-height: 30px;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        color: #333;
        background-repeat: no-repeat;
        background-position: center;
      }
      li + li {
        margin-left: 30px;
      }
    }
  }
  .item-question {
    .question-list {
      li {
        margin-left: 34px;
      }
      li + li {
        margin-top: 40px - 2px - 5px;
      }
      h3 {
        position: relative;
        line-height: 20px;
        font-size: 18px;
        font-weight: normal;
        color: #333;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: -34px;
          display: block;
          width: 21px;
          height: 21px;
          background: url(../resource/img/sme_law_icon003.png) no-repeat center;
        }
      }
      p {
        margin-top: 20px - 5px;
        line-height: 24px;
        font-size: 14px;
        color: #999;
      }
    }
  }
  .item-evaluation {
    .evaluation-panel {
      $selfWidth: 136px;
      $selfHeight: 124px;
      margin-bottom: 40px;
      font-size: 0;
      border: 1px solid #eee;
      .sum-score {
        display: inline-block;
        width: $selfWidth;
        height: $selfHeight;
        padding-top: 30px;
        margin-right: - $selfWidth;
        vertical-align: top;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        color: #666;
        .score {
          margin-top: 20px;
          font-size: 30px;
          color: #f99003;
        }
      }
      .tags-wrap {
        display: inline-block;
        min-height: $selfHeight;
        padding: 25px 20px;
        margin-left: $selfWidth;
        vertical-align: top;
        border-left: 1px solid #eee;
        .tags {
          margin: -10px 0 0 -20px;
          li {
            float: left;
            padding: 6px 10px;
            margin: 10px 0 0 20px;
            font-size: 14px;
            color: #999;
            border: 1px solid #eee;
            border-radius: 4px;
          }
        }
      }
    }
    .evaluation-list {
      padding-bottom: 40px;
      .list-item {
        $selfWidth: 132px;
        padding: 28px 0;
        font-size: 0;
        .user {
          display: inline-block;
          width: $selfWidth;
          margin-right: - $selfWidth;
          vertical-align: top;
          .user-inner {
            display: inline-block;
            text-align: center;
            font-size: 12px;
            color: #666;
          }
          figure {
            width: 35px;
            height: 35px;
            margin: 0 auto;
            border-radius: 50%;
            border: 1px solid #eee;
            img {
              display: block;
              width: 100%;
              height: 100%;
              border-radius: inherit;
            }
          }
          .phone {
            margin-top: 20px;
          }
        }
        .product {
          display: inline-block;
          margin-left: $selfWidth;
          vertical-align: top;
          font-size: 14px;
          color: #666;
          .score {
            color: #999;
            .star {
              margin-right: 10px;
              img {
                vertical-align: -2px;
              }
            }
          }
          .para {
            margin-top: 18px - 5px;
            line-height: 24px;
          }
          .tags {
            padding-top: 24px - 5px;
            margin: -10px 0 0 -10px;
            li {
              display: inline-block;
              padding: 6px 10px;
              margin: 10px 0 0 10px;
              vertical-align: middle;
              color: $selfActiveColor;
              border: 1px solid $selfActiveColor;
              border-radius: 4px;
            }
          }
          .info {
            margin-top: 24px;
            font-size: 12px;
            color: #999;
            span {
              display: inline-block;
              vertical-align: middle;
            }
            span + span {
              margin-left: 40px;
            }
          }
        }
      }
      .list-item + .list-item {
        border-top: 1px dashed #eee;
      }
    }
  }
}