@charset "utf-8";
@import "publicVariable";

$selfActiveColor: #01cbfe;
$selfBoxShadow: 0 0 10px 0 rgba(14, 5, 10, .1);

body {
  background-color: #f7f7f7;
}

/* head-crumbs-nav */
.head-crumbs-nav {
  .m-crumbs-nav {
    background-color: transparent;
    ul {
      padding: 18px 0;
    }
  }
}

/* self-btn */
.self-btn {
  $selfWidth: 180px;
  $selfHeight: 35px;
  box-sizing: border-box;
  display: inline-block;
  min-width: $selfWidth;
  height: $selfHeight;
  padding: 0 20px;
  vertical-align: middle;
  line-height: $selfHeight;
  text-align: center;
  font-size: 14px;
  color: #fff;
  border-radius: 4px;
  &:hover {
    color: #fff;
  }
  &.rounded-btn {
    border-radius: $selfHeight;
  }
  &.linear-yellow-btn {
    background: linear-gradient(90deg, #f1bf08, #f2a202);
    &:hover {
      background: linear-gradient(90deg, #f1bf08 - 5%, #f2a202 - 5%);
    }
    &:active {
      background: linear-gradient(90deg, #f1bf08 - 15%, #f2a202 - 15%);
    }
  }
  &.linear-blue-btn {
    background: linear-gradient(90deg, #0390fd, #01cbfe);
    &:hover {
      background: linear-gradient(90deg, #0390fd - 5%, #01cbfe - 5%);
    }
    &:active {
      background: linear-gradient(90deg, #0390fd - 15%, #01cbfe - 15%);
    }
  }
}

/* content-container */
.content-container {
  padding-bottom: 10px;
}

/* main-container */
.main-container {
  width: 890px;
}

/* filter-container */
.filter-container {
  margin-bottom: 10px;
}

/* filter-panel */
.filter-panel {
  $selfWidth: 80px;
  $selfHeight: 26px;
  $selfFontSize: 14px;
  box-sizing: border-box;
  font-size: $selfFontSize;
  background-color: #fff;
  * {
    box-sizing: border-box;
  }
  .title {
    float: left;
    width: $selfWidth;
    margin-right: - $selfWidth;
    line-height: $selfHeight;
  }
  .content {
    margin-left: $selfWidth;
    line-height: $selfHeight - 2px;
  }
  .results-container {
    padding: 13px 30px;
    border-bottom: 1px solid #eee;
    .title {
      color: #333;
    }
    .results-group {
      float: left;
      margin: -10px 0 0 -10px;
      .result {
        float: left;
        height: $selfHeight;
        padding: 0 8px;
        margin: 10px 0 0 10px;
        font-size: 0;
        color: $selfActiveColor;
        border: 1px solid $selfActiveColor;
        border-radius: 4px;
        cursor: default;
        & > * {
          display: inline-block;
          vertical-align: middle;
          font-size: $selfFontSize;
        }
        .name {
          max-width: 130px;
        }
        .del {
          margin-left: 5px;
          font-size: 12px;
          color: inherit;
        }
        &:hover {
          color: #fff;
          background-color: $selfActiveColor;
        }
      }
    }
  }
  .choose-container {
    padding: 20px 30px;
    .title {
      color: #333;
    }
    .options-box {
      float: left;
      width: 660px;
    }
    .options-group {
      float: left;
      width: 100%;
      margin: -10px 0 0 -10px;
      .option {
        float: left;
        height: $selfHeight;
        padding: 0 8px;
        margin: 10px 0 0 10px;
        font-size: 0;
        color: #666;
        border: 1px solid transparent;
        border-radius: 4px;
        cursor: pointer;
        & > * {
          display: inline-block;
          vertical-align: middle;
          font-size: 14px;
        }
        .name {
          max-width: 120px;
        }
        &.chosen {
          color: $selfActiveColor;
        }
        &:hover {
          color: $selfActiveColor;
        }
      }
      .custom-option {
        float: left;
        height: $selfHeight;
        padding: 0 8px;
        margin: 10px 0 0 10px;
        font-size: 0;
        color: #666;
        border: 1px solid transparent;
        & > * {
          display: inline-block;
          vertical-align: middle;
          font-size: 14px;
        }
        .connector {
          margin: 0 2px;
        }
        .unit {
          margin: 0 5px;
        }
        input[type='text'] {
          width: 70px;
          height: $selfHeight - 2px;
          padding: 0 10px;
          margin: 0 5px;
          line-height: $selfHeight - 4px;
          border: 1px solid #ddd;
          border-radius: 4px;
          &:focus {
            border-color: $selfActiveColor;
          }
        }
        .handle-btn {
          display: inline-block;
          min-width: 30px;
          height: $selfHeight - 2px;
          padding: 0 10px;
          margin: 0 5px;
          vertical-align: middle;
          line-height: $selfHeight - 4px;
          text-align: center;
          color: #666;
          background-color: #f7f7f7;
          border: 1px solid #ddd;
          border-radius: 4px;
          &:hover {
            background-color: #f7f7f7 - 15%;
          }
          &:active {
            background-color: #f7f7f7 - 30%;
          }
          &.confirm-btn {
            color: #fff;
            background-color: $selfActiveColor;
            border-color: $selfActiveColor;
            &:hover {
              background-color: $selfActiveColor - 15%;
            }
            &:active {
              background-color: $selfActiveColor - 30%;
            }
          }
        }
        &:hover {
          //box-shadow: 0 0 0 1px $selfActiveColor; //*171229禁
        }
      }
    }
    .options-foot-handle {
      display: none;
      //padding-top: 5px; //*171229禁
      padding-top: 10px;
      text-align: center;
      .handle-btn {
        display: inline-block;
        min-width: 30px;
        height: $selfHeight;
        padding: 0 10px;
        margin: 5px;
        vertical-align: middle;
        line-height: $selfHeight - 2px;
        text-align: center;
        color: #666;
        background-color: #f7f7f7;
        border: 1px solid #ddd;
        border-radius: 4px;
        &:hover {
          background-color: #f7f7f7 - 15%;
        }
        &:active {
          background-color: #f7f7f7 - 30%;
        }
        &.confirm-btn {
          color: #fff;
          background-color: $selfActiveColor;
          border-color: $selfActiveColor;
          &:hover {
            background-color: $selfActiveColor - 15%;
          }
          &:active {
            background-color: $selfActiveColor - 30%;
          }
        }
      }
    }
    .handle-group {
      float: right;
      font-size: 0;
      .handle-btn {
        display: inline-block;
        height: $selfHeight;
        padding: 0 8px;
        vertical-align: middle;
        line-height: $selfHeight;
        font-size: 14px;
        color: #999;
        border-radius: 4px;
        & > * {
          display: inline-block;
          vertical-align: middle;
          line-height: 1;
          color: inherit;
        }
        i {
          font-size: 16px;
          transition: transform .4s ease-out;
        }
        &.hide {
          display: none;
        }
        &.active {
          color: #fff;
          background-color: $selfActiveColor;
          &.more-btn {
            i {
              transform: rotate(180deg);
            }
          }
        }
        &:hover {
          color: #fff;
          background-color: $selfActiveColor;
        }
      }
      .handle-btn + .handle-btn {
        margin-left: 5px;
      }
    }
    .choose-item {
      &.with-multiple {
        .options-box {
          width: 620px;
        }
      }
      &.with-more {
        .options-box {
          width: 620px;
        }
        .options-group-wrap {
          //max-height: 26px; //*171229禁
          height: 26px;
          overflow: hidden;
        }
        &.on-more {
          .options-box {
            //padding: 5px; //*171229禁
            //border: 1px solid $selfActiveColor; //*171229禁
          }
          .options-group-wrap {
            //max-height: 200px; //*171229禁
            height: auto;
            //overflow: auto; //*171229禁
          }
        }
      }
      &.on-multiple {
        .options-box {
          //padding: 5px; //*171229禁
          //border: 1px solid $selfActiveColor; //*171229禁
        }
        .options-foot-handle {
          display: block;
        }
        &.on-more {
          .options-box {
            //padding: 10px 10px 5px; //*171229禁
          }
          .options-group-wrap {
            //padding: 5px; //*171229禁
            //box-shadow: 0 0 0 1px $selfActiveColor; //*171229禁
          }
          .options-foot-handle {
            //padding-top: 5px; //*171229禁
          }
        }
      }
    }
    .choose-item + .choose-item {
      margin-top: 15px;
    }
  }
}

/* sort-container */
.sort-container {
  box-sizing: border-box;
  padding: 0 30px;
  margin-bottom: 10px;
  background-color: #fff;
  * {
    box-sizing: border-box;
  }
  .sort-group {
    $selfHeight: 50px;
    height: $selfHeight;
    font-size: 0;
    .sort-item {
      position: relative;
      display: inline-block;
      padding: 0 2px;
      vertical-align: middle;
      line-height: $selfHeight;
      font-size: 14px;
      color: #999;
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 0;
        height: 4px;
        background-color: $selfActiveColor;
        overflow: hidden;
        transition: width .3s ease-out;
      }
      &:hover {
        color: $selfActiveColor;
        &:after {
          width: 100%;
        }
      }
      &.chosen {
        color: $selfActiveColor;
        &:after {
          width: 100%;
        }
      }
    }
    .sort-item + .sort-item {
      margin-left: 38px;
    }
  }
}

/* result-empty */
.main-container .result-empty {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  font-size: 18px;
  color: #666;
  .pic {
    margin: 0 auto 60px;
    img {
      vertical-align: middle;
    }
  }
}

/* result-cards-wrap */
.main-container .result-cards-wrap {
  .result-cards {
    margin: -10px 0 0 -10px;
    box-sizing: border-box;
    * {
      box-sizing: border-box;
    }
  }
  .result-card {
    float: left;
    width: 290px;
    height: 350px;
    padding: 20px 10px 0;
    margin: 10px 0 0 10px;
    background-color: #fff;
    overflow: hidden;
    transition: transform .3s ease-in-out, box-shadow .3s ease-in-out;
    //box-shadow: $selfBoxShadow;
    .pic {
      display: block;
      width: 100%;
      height: 187px;
      border: 1px solid #eee;
      overflow: hidden;
      img {
        display: block;
        width: 100%;
        height: 100%;
        transition: transform .3s ease-in-out;
      }
    }
    .content {
      padding: 20px 30px 0;
      .title {
        a {
          max-width: 100%;
          vertical-align: middle;
          font-size: 14px;
          color: #333;
          &:hover {
            color: $selfActiveColor;
          }
        }
      }
      .price {
        margin-top: 20px;
        font-size: 16px;
        color: $selfActiveColor;
      }
      .foot {
        margin-top: 20px;
        .tag {
          display: inline-block;
          padding: 0 6px;
          margin-right: 5px;
          vertical-align: middle;
          line-height: 16px;
          font-size: 14px;
          color: $selfActiveColor;
          border: 1px solid $selfActiveColor;
          border-radius: 4px;
        }
      }
    }
    &:hover {
      box-shadow: $selfBoxShadow;
      transform: translateY(-6px);
      .pic {
        img {
          transform: scale(1.04);
        }
      }
    }
  }
}

/* pagination-container */
.main-container .pagination-container {
  padding: 50px 0 30px;
  .m-default-pagination {
    $selfColor: $selfActiveColor;
    .current {
      background-color: $selfColor;
    }
    a {
      &:hover {
        background-color: $selfColor;
        border-color: $selfColor;
      }
      &:active {
        background-color: $selfColor - 30%;
      }
    }
    input[type="text"]:focus {
      border-color: $selfColor;
    }
    input[type="button"] {
      &:hover {
        color: #fff;
        background-color: $selfColor;
        border-color: $selfColor;
      }
      &:active {
        background-color: $selfColor - 30%;
      }
    }
  }
  .m-group-pagination {
    $selfColor: $selfActiveColor;
    .current {
      background-color: $selfColor;
      border-color: $selfColor;
    }
    a {
      &:hover {
        background-color: $selfColor;
        border-color: $selfColor;
      }
      &:active {
        background-color: $selfColor - 30%;
      }
    }
    input[type="text"]:focus {
      border-color: $selfColor;
    }
    input[type="button"] {
      &:hover {
        background-color: $selfColor;
        border-color: $selfColor;
      }
      &:active {
        background-color: $selfColor - 30%;
      }
    }
    .page-nav {
      .current {
        background-color: $selfColor;
        border-color: $selfColor;
      }
    }
  }
}

/* aside-container */
.aside-container {
  box-sizing: border-box;
  width: 300px;
  * {
    box-sizing: border-box;
  }
}

/* query-panel */
.aside-container .query-panel {
  width: 100%;
  padding: 40px 20px;
  margin-bottom: 10px;
  background: #fff url(../resource/img/sme_law_pic091.jpg) no-repeat center top;
  .panel-head {
    margin-bottom: 19px;
    .head-title {
      text-align: center;
      font-size: 18px;
      color: #333;
      &:after {
        content: '';
        display: block;
        width: 56px;
        height: 2px;
        margin: 20px auto 0;
        background-color: #333;
      }
    }
  }
  .panel-body {
    .input-box {
      textarea {
        display: block;
        width: 100%;
        padding: 15px 10px;
        line-height: 20px;
        font-size: 14px;
        background-color: #fff;
        border: 1px solid #eee;
        resize: none;
        &:focus {
          border-color: #ddd;
        }
      }
    }
    .hint-info {
      min-height: 20px;
      padding: 5px 0;
      line-height: 20px;
      font-size: 12px;
      color: #f00;
    }
    .self-btn {
      display: block;
    }
  }
}

/* recommend-service */
.aside-container .recommend-service {
  .service-head {
    width: 100%;
    padding: 15px 0;
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
    color: #333;
    background-color: #fff;
  }
  .service-card {
    width: 100%;
    padding: 20px 10px 30px;
    background-color: #fff;
    transition: box-shadow .3s ease-in-out;
    .pic {
      display: block;
      width: 100%;
      height: 190px;
      border: 1px solid #eee;
      overflow: hidden;
      img {
        display: block;
        width: 100%;
        height: 100%;
        transition: transform .3s ease-in-out;
      }
    }
    .content {
      padding-top: 20px;
      text-align: center;
      .title {
        padding: 0 10px;
        a {
          max-width: 100%;
          vertical-align: middle;
          font-size: 14px;
          color: #333;
          &:hover {
            color: $selfActiveColor;
          }
        }
      }
      .price {
        margin-top: 20px;
        font-size: 16px;
        color: $selfActiveColor;
      }
      .foot {
        margin-top: 20px;
        .self-btn {
          min-width: 150px;
        }
      }
    }
    &:hover {
      box-shadow: $selfBoxShadow;
      .pic {
        img {
          transform: scale(1.04);
        }
      }
    }
  }
  .service-card + .service-card {
    margin-top: 10px;
  }
}

/* consult-bar */
.consult-bar {
  display: block;
  width: 100%;
  margin-bottom: 40px;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}