@charset "utf-8";
@import "publicVariable";

/* main-body */
.main-body {
  padding: 10px 0;
  background-color: #f7f7f7;
}

/* main-content-container */
.main-content-container {
  float: left;
  width: 932px;
}

/* search-results-container */
.search-results-container {
  width: 832px;
  min-height: 1038px;
  padding: 50px;
  background-color: #fff;
  .container-head {
    .search-box {
      width: 548px;
      height: 40px;
      margin: 0 auto 36px auto;
      .search-input {
        float: left;
        width: 420px;
        height: 18px;
        padding: 10px 16px;
        line-height: 18px;
        color: #333;
        border: 1px solid #c9c9c9;
        border-right: none;
        &:focus {
          border-color: #e81111;
        }
      }
      .search-btn {
        float: right;
        width: 95px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 16px;
        color: #fff;
        background-color: #e81111;
        &:hover {
          background-color: #e81111 - 10%;
        }
        &:active {
          background-color: #e81111 - 30%;
        }
      }
    }
    .search-notice {
      text-align: center;
      font-size: 13px;
      color: #999;
      i {
        margin-right: 5px;
        font-size: inherit;
        color: $onColorOrange;
      }
    }
  }
  .results-list {
    padding: 30px 0;
    .list-item {
      padding: 25px 0;
      font-size: 0;
      & > * {
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
      }
      .item-desc {
        width: 682px;
        .desc-pic {
          float: left;
          width: 158px;
          height: 116px;
          margin-right: -158px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .desc-text {
          width: 380px;
          margin-left: 173px;
          color: #666;
          .para, .price, .btm-para {
            margin-top: 18px;
          }
          .title {
            max-width: 100%;
            font-size: 16px;
            color: #333;
          }
          .para {
            max-width: 100%;
          }
          .price {
            color: #f00;
            .num:before {
              content: '¥';
              margin-right: 2px;
            }
          }
          .btm-para {
            max-width: 100%;
            color: #999;
          }
        }
      }
      .item-handle {
        width: 150px;
        .look-btn {
          width: 100%;
          height: 38px;
          line-height: 38px;
          text-align: center;
          font-weight: bold;
          color: #fff;
          background-color: $onColorOrange;
          border-radius: 4px;
          &:hover {
            background-color: $onColorOrange - 10%;
          }
          &:active {
            background-color: $onColorOrange - 30%;
          }
        }
      }
    }
    .list-item + .list-item {
      border-top: 1px dashed #eee;
    }
  }
}

/* aside-content-container */
.aside-content-container {
  float: right;
  width: 258px;
  //共用标题
  .aside-title {
    padding: 19px 0;
    font-size: 16px;
    color: #666;
    border-bottom: 1px solid #ddd;
    span {
      margin: 0 15px;
    }
  }
}

/* hot-services */
.aside-content-container .hot-services {
  width: 100%;
  padding-bottom: 15px;
  background-color: #fff;
  .list-item {
    padding-top: 15px;
    padding-bottom: 6px;
    margin: 0 15px;
    .pic {
      display: block;
      width: 226px;
      height: 166px;
      margin-bottom: 15px;
      border: 1px solid #eee;
      overflow: hidden;
      transition: border-color .2s ease-out;
      img {
        display: block;
        width: 100%;
        height: 100%;
        transition: transform .3s ease-out;
      }
    }
    .pic:hover {
      border-color: $onColorOrange;
      img {
        transform: scale(1.05);
      }
    }
    .title {
      margin-bottom: 8px;
      font-size: 15px;
      .text {
        float: left;
        display: block;
        max-width: 130px;
        font-weight: bold;
        color: #363636;
        transition: color .2s ease-out;
      }
      .text:hover {
        color: $onColorOrange;
      }
      .price {
        float: right;
        color: #fc0018;
        .num:before {
          content: '¥';
        }
      }
    }
    .desc {
      height: 40px;
      line-height: 20px;
      font-size: 12px;
      color: #666;
      overflow: hidden;
    }
  }
}