@charset "utf-8";
@import "publicVariable";

$selfActiveColor: #03d6d0;
$selfBoxShadow: 0 0 10px 0 rgba(24, 5, 9, .1);

body {
  background-color: #f7f7f7;
}

/* section-head 共 */
.section-head {
  padding: 25px 0;
  text-align: center;
  .head-title {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    .line-title {
      display: inline-block;
      vertical-align: middle;
      &:before, &:after {
        content: '';
        display: inline-block;
        width: 281px;
        height: 13px;
        vertical-align: middle;
        background: url(../resource/img/sme_icon_sprites1.png) no-repeat 0 -40px;
      }
      &:before {
        margin-right: 20px;
      }
      &:after {
        margin-left: 20px;
        background-position-y: -55px;
      }
    }
  }
  .head-desc {
    margin-top: 12px;
    font-size: 16px;
    color: #999;
    .link {
      vertical-align: middle;
      color: inherit;
      &:hover {
        color: $selfActiveColor;
      }
    }
  }
}

/* top-body */
.top-body {
  box-sizing: border-box;
  height: 600px;
  padding-top: 104px;
  background: #eee url(../resource/img/sme_service_bgi31.jpg) no-repeat center top;
}

/* head-search */
.head-search {
  position: relative;
  margin-bottom: 90px;
  .search-title {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    b {
      color: $selfActiveColor;
    }
  }
  .search-container {
    $selfWidth: 900px;
    $selfHeight: 60px;
    $selfSpace: 5px;
    $selfBtnWidth: 220px;
    box-sizing: border-box;
    position: relative;
    width: $selfWidth;
    height: $selfHeight;
    margin: 30px auto 0;
    * {
      box-sizing: border-box;
    }
    input[type='text'] {
      display: block;
      width: $selfWidth;
      height: $selfHeight;
      padding: 0 $selfBtnWidth + 20px 0 20px;
      line-height: $selfHeight - 2px;
      font-size: 14px;
      background-color: #fff;
      border: 1px solid #fff;
      border-radius: $selfHeight;
    }
    .search-btn {
      position: absolute;
      top: 0;
      right: 0;
      width: $selfBtnWidth;
      height: $selfHeight;
      text-align: center;
      line-height: $selfHeight;
      font-size: 18px;
      font-weight: bold;
      color: #fff;
      background-color: $selfActiveColor;
      border-top-right-radius: $selfHeight;
      border-bottom-right-radius: $selfHeight;
      &:hover {
        background-color: $selfActiveColor - 15%;
      }
      &:active {
        background-color: $selfActiveColor - 30%;
      }
    }
  }
  .category-entry {
    $selfWidth: 40px;
    box-sizing: border-box;
    position: absolute;
    top: - ( 12px + $selfWidth );
    right: 30px;
    min-width: $selfWidth;
    height: $selfWidth;
    text-align: center;
    font-size: 14px;
    color: #333;
    * {
      box-sizing: border-box;
    }
    i {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      vertical-align: middle;
      width: $selfWidth;
      height: $selfWidth;
      background: url(../resource/img/sme_service_icon44.png) no-repeat center;
    }
    span {
      display: inline-block;
      vertical-align: middle;
      width: 0;
      height: $selfWidth - 8px;
      padding-left: 10px;
      margin-top: 4px;
      margin-left: 14px;
      line-height: $selfWidth - 8px;
      background-color: #fff;
      border-radius: $selfWidth - 8px;
      overflow: hidden;
      transition: width .3s ease-out;
    }
    &:hover {
      span {
        width: 148px;
      }
    }
  }
}

/* service-content */
.service-content {
  margin-bottom: 25px;
  .list {
    margin-left: -26px;
  }
  .content-card {
    position: relative;
    float: left;
    width: 280px;
    height: 170px;
    margin-left: 26px;
    transition: transform .3s ease-out;
    .card-title {
      position: absolute;
      top: -40px;
      left: 50%;
      width: 75px;
      height: 75px;
      margin-left: -37.5px;
      background: url(../resource/img/sme_service_bgi15.png) no-repeat center;
      overflow: hidden;
      border-radius: 50%;
      .inner {
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        transition: top .3s ease-out;
      }
      .icon, .text {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 75px;
        font-size: 20px;
        font-weight: bold;
        color: #363636;
      }
      .icon {
        font-size: 42px;
        font-weight: normal;
        color: $selfActiveColor;
      }
    }
    .card-body {
      width: 220px;
      height: 115px;
      padding: 50px 30px 0 30px;
      font-size: 0;
      overflow: hidden;
      background: url(../resource/img/sme_service_bgi16.png) no-repeat center;
      .link {
        display: inline-block;
        width: 50%;
        margin-bottom: 20px;
        vertical-align: top;
        font-size: 14px;
        a {
          padding: 0 4px;
          margin-left: 10px;
          line-height: 18px;
          color: #363636;
          &:hover {
            color: #fff;
            background-color: $selfActiveColor;
          }
        }
      }
    }
    &:hover {
      transform: translateY(-12px);
      .card-title {
        .inner {
          top: 0;
        }
      }
    }
  }
}

/* head-notice */
.head-notice {
  * {
    box-sizing: border-box;
  }
  .notice-wrapper {
    width: 100%;
    height: 36px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 36px;
  }
  .latest-data {
    $selfWidth: 277px;
    line-height: 36px - 2px;
    color: #fff;
    .title {
      float: left;
      width: $selfWidth;
      margin-right: - $selfWidth;
      text-align: right;
      .icon {
        color: $selfActiveColor;
        margin-right: 12px;
      }
    }
    .content {
      margin-left: $selfWidth;
      .item {
        margin-left: 52px;
        vertical-align: top;
      }
      .item + .item {
        &:before {
          content: '';
          display: inline-block;
          width: 0;
          height: 16px;
          margin-right: 52px;
          vertical-align: -3px;
          border-left: 1px solid #aeadb7;
        }
      }
      .num {
        margin: 0 2px;
        vertical-align: baseline;
        color: $selfActiveColor;
      }
    }
  }
}

/* choice-section */
.choice-section {
  $selfPanelHeight: 480px;
  $selfRightPanelWidth: 280px;
  .importance-panel {
    box-sizing: border-box;
    float: right;
    width: $selfRightPanelWidth;
    height: $selfPanelHeight;
    padding: 0 30px;
    margin-left: - $selfRightPanelWidth;
    background-color: #fff;
    box-shadow: $selfBoxShadow;
    * {
      box-sizing: border-box;
    }
    .panel-head {
      padding: 29px 0 17px 0;
      text-align: center;
      font-size: 20px;
      color: #333;
      border-bottom: 1px solid #eee;
    }
    .desc-list {
      padding-top: 18px - 4px;
      li {
        padding-left: 9px;
        line-height: 22px;
        font-size: 14px;
        color: #666;
        &:before {
          content: '·';
          display: inline-block;
          width: 9px;
          margin-left: -9px;
          font-weight: bold;
        }
        &:hover {
          color: $selfActiveColor;
        }
      }
      li + li {
        margin-top: 24px - 8px;
      }
    }
  }
  .service-panel {
    $selfGroupWidth: (1200px - $selfRightPanelWidth - 12px - 30px - 30px - 10px - 10px) / 3;
    box-sizing: border-box;
    height: $selfPanelHeight;
    padding: 0 30px;
    margin-right: $selfRightPanelWidth + 12px;
    background-color: #fff;
    box-shadow: $selfBoxShadow;
    * {
      box-sizing: border-box;
    }
    .service-group {
      float: left;
      width: $selfGroupWidth;
      .group-head {
        padding: 29px 0 17px 0;
        font-size: 20px;
        color: #333;
        .subtitle {
          margin-left: 4px;
          font-family: Arial;
          color: #c9c9c9;
          .small {
            margin-left: 4px;
            font-size: .7em;
          }
        }
      }
      .group-body {
        .service-tag {
          display: block;
          width: 100%;
          height: 88px;
          font-size: 0;
          text-align: center;
          color: #fff;
          background-repeat: no-repeat;
          background-position: center;
          &:before {
            @include globalVerticalMiddleAssist;
          }
          .tag-inner {
            display: inline-block;
            vertical-align: middle;
            font-size: 14px;
          }
          .title {
            font-size: 16px;
            font-weight: bold;
          }
          .desc {
            margin-top: 10px;
          }
        }
        .service-card {
          display: block;
          width: 100%;
          height: 135px + 2px;
          padding: 24px 20px 0;
          border: 1px solid #eee;
          background-repeat: no-repeat;
          background-position: center;
          .title {
            font-size: 15px;
            font-weight: bold;
            color: #333;
            transition: transform .3s ease-out;
          }
          .desc {
            margin-top: 13px - 4px;
            line-height: 21px;
            font-size: 13px;
            color: #999;
          }
          &:hover {
            .title {
              color: $selfActiveColor;
              transform: translateX(-8px);
            }
          }
        }
      }
      .group-foot {
        padding-top: 19px;
        text-align: center;
        .more-link {
          font-size: 13px;
          color: #666;
          &:hover {
            color: $selfActiveColor;
          }
        }
      }
    }
    .service-group + .service-group {
      margin-left: 10px;
    }
  }
}

/* recommend-section */
.recommend-section {
  margin-top: 10px;
  .section-body {
    $selfLeftWidth: 173px;
    box-sizing: border-box;
    width: 100%;
    height: 180px;
    padding: 30px 30px 30px 44px;
    background: url(../resource/img/sme_service_pic9.jpg) no-repeat center;
    box-shadow: $selfBoxShadow;
    * {
      box-sizing: border-box;
    }
    .body-title {
      float: left;
      width: $selfLeftWidth;
      padding-top: 34px;
      margin-right: - $selfLeftWidth;
      color: #fff;
      .title {
        font-size: 20px;
        font-weight: bold;
      }
      .desc {
        margin-top: 12px;
      }
    }
    .recommend-cards {
      margin-left: $selfLeftWidth;
    }
    .recommend-card {
      float: left;
      display: block;
      width: 225px;
      height: 120px;
      text-align: center;
      font-size: 0;
      color: #666;
      border-radius: 4px;
      transition: transform .3s ease-out;
      &:before {
        @include globalVerticalMiddleAssist;
      }
      .card-inner {
        display: inline-block;
        vertical-align: middle;
        font-size: 13px;
      }
      .title {
        font-size: 15px;
        font-weight: bold;
        color: #333;
      }
      .desc {
        margin-top: 11px - 4px;
        line-height: 21px;
      }
      .price {
        margin-top: 15px - 4px;
        font-size: 15px;
        color: #f00;
      }
      &:hover {
        transform: translateY(-8px);
      }
    }
    .recommend-card + .recommend-card {
      margin-left: 15px;
    }
  }
}

/* brand-section */
.brand-section {
  $selfPanelHeight: 400px;
  $selfLeftPanelWidth: 280px;
  $selfRightPanelWidth: 280px;
  $selfCenterPanelWidth: 1200px - $selfLeftPanelWidth - $selfRightPanelWidth - 10px - 10px;
  .title-panel {
    box-sizing: border-box;
    position: relative;
    float: left;
    width: $selfLeftPanelWidth;
    height: $selfPanelHeight;
    margin-right: - $selfLeftPanelWidth;
    text-align: center;
    background: url(../resource/img/sme_service_pic14.jpg) no-repeat center;
    box-shadow: $selfBoxShadow;
    * {
      box-sizing: border-box;
    }
    .title {
      padding-top: 60px;
      font-size: 36px;
      font-weight: bold;
      color: #fff;
    }
    .foot-handle {
      position: absolute;
      bottom: 59px;
      left: 0;
      width: 100%;
      .inquiry-btn {
        $selfBtnBgColor: #fb3040;
        min-width: 130px;
        height: 34px;
        padding: 0 24px;
        line-height: 34px;
        text-align: center;
        font-size: 18px;
        color: #fff;
        background-color: $selfBtnBgColor;
        border-radius: 34px;
        &:hover {
          background-color: $selfBtnBgColor - 15%;
        }
        &:active {
          background-color: $selfBtnBgColor - 30%;
        }
      }
    }
  }
  .path-panel {
    box-sizing: border-box;
    float: right;
    width: $selfRightPanelWidth;
    height: $selfPanelHeight;
    padding: 0 30px;
    margin-left: - $selfRightPanelWidth;
    background-color: #fff;
    box-shadow: $selfBoxShadow;
    * {
      box-sizing: border-box;
    }
    .panel-head {
      padding: 29px 0 17px 0;
      text-align: center;
      font-size: 20px;
      color: #333;
      border-bottom: 1px solid #eee;
    }
    .panel-body {
      padding-top: 14px;
    }
    .path-list {
      position: relative;
      text-align: center;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        display: block;
        height: 100%;
        border-right: 1px dashed #ddd;
      }
      li {
        position: relative;
        z-index: 1;
        text-align: center;
        font-size: 13px;
        .text {
          display: inline-block;
          min-width: 90px;
          padding: 5px 12px;
          vertical-align: middle;
          color: #2d5481;
          background-color: #fff;
          border: 1px solid #2d5481;
          border-radius: 25px;
        }
        &.even-item {
          .text {
            color: $selfActiveColor;
            border-color: $selfActiveColor;
          }
        }
      }
      li + li {
        margin-top: 14px;
      }
    }
  }
  .service-panel {
    box-sizing: border-box;
    height: $selfPanelHeight;
    padding: 30px;
    margin-left: $selfLeftPanelWidth + 10px;
    margin-right: $selfRightPanelWidth + 10px;
    background-color: #fff;
    box-shadow: $selfBoxShadow;
    * {
      box-sizing: border-box;
    }
    .service-tab-container {
      width: 100%;
      height: 100%;
      .tab-nav {
        width: 100%;
        height: 66px - 30px;
        border-bottom: 1px solid #ddd;
        li {
          position: relative;
          width: 25%;
          float: left;
          height: 65px - 30px;
          line-height: 65px - 30px;
          text-align: center;
          font-size: 16px;
          color: #666;
          cursor: pointer;
          .line {
            position: absolute;
            bottom: -1px;
            left: 0;
            display: block;
            width: 100%;
            height: 2px;
            text-align: center;
            font-size: 0;
            em {
              display: inline-block;
              vertical-align: top;
              width: 0;
              height: 100%;
              background-color: $selfActiveColor;
              overflow: hidden;
              transition: width .3s ease-out;
            }
          }
          &.current {
            .line {
              em {
                width: 100%;
              }
            }
          }
          &:hover {
            .line {
              em {
                width: 100%;
              }
            }
          }
        }
      }
      .tab-content {
        .content-item {
          display: none;
          &.current {
            display: block;
          }
        }
        .content1 {
          padding-top: 14px;
          .service-cards {
            margin: -10px 0 0 -10px;
          }
          .service-card {
            float: left;
            display: block;
            width: 275px;
            height: 90px;
            padding: 0 30px;
            margin: 10px 0 0 10px;
            font-size: 0;
            border: 1px solid #eee;
            &:before {
              @include globalVerticalMiddleAssist;
            }
            .card-inner {
              display: inline-block;
              width: 100%;
              vertical-align: middle;
              font-size: 14px;
              color: #333;
              .title {
                float: left;
                font-weight: bold;
              }
              .price {
                float: right;
                color: #f00;
              }
            }
            &.s-card {
              width: 180px;
              padding: 0;
              .card-inner {
                text-align: center;
                .title {
                  float: none;
                }
                .price {
                  float: none;
                  margin-top: 14px;
                }
              }
            }
            &:hover {
              background-color: $selfActiveColor;
              border-color: $selfActiveColor;
              .card-inner {
                color: #fff;
                .title {
                  color: inherit;
                }
                .price {
                  color: inherit;
                }
              }
            }
          }
        }
        .content2 {
          padding-top: 14px;
          .service-cards {
            margin: -10px 0 0 -10px;
          }
          .service-card {
            float: left;
            display: block;
            width: 132px;
            height: 90px;
            padding: 0 10px;
            margin: 10px 0 0 10px;
            text-align: center;
            font-size: 0;
            border: 1px solid #eee;
            &:before {
              @include globalVerticalMiddleAssist;
            }
            .card-inner {
              display: inline-block;
              width: 100%;
              vertical-align: middle;
              font-size: 14px;
              color: #333;
              .title {
                font-weight: bold;
              }
            }
            &.l-card {
              width: 275px;
            }
            &:hover {
              background-color: $selfActiveColor;
              border-color: $selfActiveColor;
              .card-inner {
                color: #fff;
                .title {
                  color: inherit;
                }
              }
            }
          }
        }
        .content3 {
          padding-top: 14px;
          .service-cards {
            margin: -10px 0 0 -10px;
          }
          .service-card {
            float: left;
            display: block;
            width: 360px;
            height: 140px;
            padding: 0 22px;
            margin: 10px 0 0 10px;
            text-align: center;
            font-size: 0;
            border: 1px solid #eee;
            &:before {
              @include globalVerticalMiddleAssist;
            }
            .card-inner {
              display: inline-block;
              width: 100%;
              vertical-align: middle;
              font-size: 13px;
              color: #999;
              .title {
                font-size: 15px;
                font-weight: bold;
                color: #333;
              }
              .desc {
                margin-top: 15px - 4px;
                line-height: 21px;
              }
              .price {
                margin-top: 24px - 4px;
                font-size: 15px;
                color: #f00;
              }
            }
            &.s-card {
              width: 190px;
              height: 290px;
            }
            &:hover {
              background-color: $selfActiveColor;
              border-color: $selfActiveColor;
              .card-inner {
                color: #fff;
                .title {
                  color: inherit;
                }
                .price {
                  color: inherit;
                }
              }
            }
          }
        }
        .content4 {
          padding-top: 20px;
          .service-card {
            $selfWidth: 100px;
            float: left;
            display: block;
            width: 100%;
            font-size: 13px;
            color: #999;
            .text {
              margin-right: $selfWidth;
            }
            .title {
              vertical-align: middle;
              font-size: 15px;
              font-weight: bold;
              color: #333;
              transition: transform .3s ease-out;
              &:hover {
                color: $selfActiveColor;
                transform: translateX(8px);
              }
            }
            .desc {
              margin-top: 12px - 4px;
              line-height: 21px;
            }
            .price {
              float: right;
              width: $selfWidth;
              margin-left: - $selfWidth;
              margin-top: 14px;
              text-align: right;
              font-size: 15px;
              color: #f00;
            }
          }
          .service-card + .service-card {
            padding-top: 20px;
            margin-top: 20px - 4px;
            border-top: 1px solid #eee;
          }
        }
      }
    }
  }
}

/* copyright-section */
.copyright-section {
  $selfPanelHeight: 408px;
  $selfRightPanelWidth: 330px;
  $selfCenterPanelWidth: 1200px - $selfRightPanelWidth - 10px;
  .title-panel {
    box-sizing: border-box;
    position: relative;
    float: right;
    width: $selfRightPanelWidth;
    height: $selfPanelHeight;
    margin-left: - $selfRightPanelWidth;
    text-align: center;
    background: url(../resource/img/sme_service_pic15.jpg) no-repeat center;
    box-shadow: $selfBoxShadow;
    * {
      box-sizing: border-box;
    }
    .title {
      padding-top: 60px;
      font-size: 36px;
      font-weight: bold;
      color: #fff;
    }
    .foot-handle {
      position: absolute;
      bottom: 59px;
      left: 0;
      width: 100%;
      .inquiry-btn {
        $selfBtnBgColor: #fb3040;
        min-width: 130px;
        height: 34px;
        padding: 0 24px;
        line-height: 34px;
        text-align: center;
        font-size: 18px;
        color: #fff;
        background-color: $selfBtnBgColor;
        border-radius: 34px;
        &:hover {
          background-color: $selfBtnBgColor - 15%;
        }
        &:active {
          background-color: $selfBtnBgColor - 30%;
        }
      }
    }
  }
  .service-panel {
    box-sizing: border-box;
    float: left;
    height: $selfPanelHeight;
    margin-right: $selfRightPanelWidth + 10px;
    * {
      box-sizing: border-box;
    }
    .service-cards {
      margin: -10px 0 0 -10px;
    }
    .service-card {
      float: left;
      display: block;
      width: 280px;
      height: 199px;
      padding: 30px 30px 0;
      margin: 10px 0 0 10px;
      font-size: 14px;
      color: #999;
      background-color: #fff;
      background-repeat: no-repeat;
      background-position: right bottom;
      box-shadow: $selfBoxShadow;
      transition: transform .3s ease-out, box-shadow .3s ease-out;
      .title {
        font-size: 16px;
        font-weight: bold;
        color: #333;
      }
      .desc {
        margin-top: 10px - 5px;
        line-height: 24px;
      }
      .price {
        margin-top: 28px - 5px;
        .num {
          font-size: 18px;
          color: #f00;
        }
      }
      &.l-card {
        $selfWidth: 276px;
        width: 570px;
        padding-top: 50px;
        .text-wrap {
          float: left;
          width: $selfWidth;
          margin-right: - $selfWidth;
        }
        .handle-wrap {
          float: left;
          margin-left: $selfWidth + 10px;
          text-align: center;
        }
        .title {
          a {
            color: #333;
            transition: transform .3s ease-out;
            &:hover {
              color: $selfActiveColor;
              transform: translateX(-8px);
            }
          }
        }
        .desc {
          margin-top: 23px - 5px;
        }
        .price {
          margin-top: 17px;
        }
        .handle-group {
          margin-top: 29px;
        }
        .handle-btn {
          $selfBtnColor: $selfActiveColor;
          height: 24px;
          padding: 0 14px;
          margin: 0 5px;
          line-height: 24px - 2px;
          font-size: 13px;
          color: $selfBtnColor;
          border: 1px solid $selfBtnColor;
          border-radius: 24px;
          &:hover {
            color: #fff;
            background-color: $selfBtnColor;
          }
          &:active {
            background-color: $selfBtnColor - 30%;
          }
          &.btn-gray {
            $selfBtnColor: #666;
            color: $selfBtnColor;
            border-color: $selfBtnColor;
            &:hover {
              color: #fff;
              background-color: $selfBtnColor;
            }
            &:active {
              background-color: $selfBtnColor - 30%;
            }
          }
          &.btn-grayblue {
            $selfBtnColor: #2d5481;
            color: $selfBtnColor;
            border-color: $selfBtnColor;
            &:hover {
              color: #fff;
              background-color: $selfBtnColor;
            }
            &:active {
              background-color: $selfBtnColor - 30%;
            }
          }
        }
      }
      &.no-bg-card {
        padding-top: 50px;
        text-align: center;
        .desc {
          margin-top: 23px - 5px;
        }
        .price {
          margin-top: 25px - 5px;
        }
      }
      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 3px 15px 0 rgba(24, 5, 9, .15);
        .title {
          color: $selfActiveColor;
        }
      }
    }
  }
}

/* patent-section */
.patent-section {
  $selfPanelHeight: 380px;
  $selfLeftPanelWidth: 330px;
  $selfCenterPanelWidth: 1200px - $selfLeftPanelWidth - 10px;
  .title-panel {
    box-sizing: border-box;
    position: relative;
    float: left;
    width: $selfLeftPanelWidth;
    height: $selfPanelHeight;
    margin-right: - $selfLeftPanelWidth;
    text-align: center;
    background: url(../resource/img/sme_service_pic16.jpg) no-repeat center;
    box-shadow: $selfBoxShadow;
    * {
      box-sizing: border-box;
    }
    .title {
      padding-top: 60px;
      font-size: 36px;
      font-weight: bold;
      color: #fff;
    }
    .foot-handle {
      position: absolute;
      bottom: 59px;
      left: 0;
      width: 100%;
      .inquiry-btn {
        $selfBtnBgColor: #fb3040;
        min-width: 130px;
        height: 34px;
        padding: 0 24px;
        line-height: 34px;
        text-align: center;
        font-size: 18px;
        color: #fff;
        background-color: $selfBtnBgColor;
        border-radius: 34px;
        &:hover {
          background-color: $selfBtnBgColor - 15%;
        }
        &:active {
          background-color: $selfBtnBgColor - 30%;
        }
      }
    }
  }
  .service-panel {
    box-sizing: border-box;
    float: left;
    height: $selfPanelHeight;
    margin-left: $selfLeftPanelWidth + 10px;
    * {
      box-sizing: border-box;
    }
    .service-cards {
      margin: -10px 0 0 -10px;
    }
    .service-card {
      float: left;
      display: block;
      width: 280px;
      height: $selfPanelHeight;
      padding: 50px 30px 0;
      margin: 10px 0 0 10px;
      text-align: center;
      font-size: 14px;
      color: #999;
      background-color: #fff;
      background-repeat: no-repeat;
      background-position: center bottom;
      box-shadow: $selfBoxShadow;
      transition: transform .3s ease-out, box-shadow .3s ease-out;
      .title {
        font-size: 18px;
        font-weight: bold;
        color: #333;
      }
      .desc {
        height: 40px;
        margin-top: 18px - 3px;
        line-height: 20px;
      }
      .price {
        margin-top: 25px - 3px;
        .num {
          font-size: 18px;
          color: #f00;
        }
      }
      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 3px 15px 0 rgba(24, 5, 9, .15);
        .title {
          color: $selfActiveColor;
        }
      }
    }
  }
}

/* transaction-section */
.transaction-section {
  $selfPanelHeight: 320px;
  $selfRightPanelWidth: 750px;
  $selfCenterPanelWidth: 1200px - $selfRightPanelWidth - 10px;
  .title-panel {
    float: right;
    width: $selfRightPanelWidth;
    height: $selfPanelHeight;
    margin-left: - $selfRightPanelWidth;
    background: url(../resource/img/sme_service_pic23.jpg) no-repeat center;
    box-shadow: $selfBoxShadow;
  }
  .brand-panel {
    box-sizing: border-box;
    float: left;
    height: $selfPanelHeight;
    margin-right: $selfRightPanelWidth + 10px;
    * {
      box-sizing: border-box;
    }
    .brand-cards {
      margin: -10px 0 0 -10px;
    }
    .brand-card {
      position: relative;
      float: left;
      display: block;
      width: 140px;
      height: 100px;
      margin: 10px 0 0 10px;
      text-align: center;
      font-size: 0;
      background-color: #fff;
      overflow: hidden;
      box-shadow: $selfBoxShadow;
      &:before {
        @include globalVerticalMiddleAssist;
      }
      .brand-pic {
        display: inline-block;
        max-width: 100%;
        max-height: 100%;
        vertical-align: middle;
        transition: transform .3s ease-out;
      }
      &:hover {
        .brand-pic {
          transform: scale(.85);
        }
      }
      &.more-link {
        .init-content {
          display: inline-block;
          vertical-align: middle;
          color: #999;
          .icon {
            vertical-align: middle;
            font-size: 30px;
          }
        }
        .hover-content {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $selfActiveColor;
          opacity: 0;
          filter: alpha(opacity=0);
          transition: opacity .3s ease-out;
          &:before {
            @include globalVerticalMiddleAssist;
          }
          span {
            display: inline-block;
            vertical-align: middle;
            font-size: 14px;
            color: #fff;
          }
        }
        &:hover {
          .hover-content {
            opacity: 1;
            filter: alpha(opacity=100);
          }
        }
      }
    }
  }
}

/* news-section */
.news-section {
  $selfHeight: 359px;
  $selfLeftWidth: 560px;
  padding-bottom: 25px;
  .section-body {
    box-sizing: border-box;
    width: 100%;
    padding: 30px;
    background-color: #fff;
    box-shadow: $selfBoxShadow;
  }
  .news-swiper {
    box-sizing: border-box;
    position: relative;
    float: left;
    width: $selfLeftWidth;
    height: $selfHeight;
    margin-right: - $selfLeftWidth;
    border: 1px solid #eee;
    overflow: hidden;
    * {
      box-sizing: border-box;
    }
    .swiper-slide {
      position: relative;
      width: inherit;
      height: inherit;
      .pic {
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        img {
          display: block;
          width: 100%;
          height: 100%;
          transition: transform .3s ease-out;
        }
        &:hover {
          img {
            transform: scale(1.05);
          }
        }
      }
      .title {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 12px 20px;
        background-color: rgba(0, 0, 0, .65);
        a {
          max-width: 100%;
          vertical-align: middle;
          font-size: 16px;
          color: #fff;
          &:hover {
            color: $selfActiveColor;
          }
        }
      }
    }
    .swiper-btn {
      position: absolute;
      top: 50%;
      z-index: 1;
      margin-top: - 30px;
      font-size: 30px;
      color: #858588;
      cursor: pointer;
      opacity: .45;
      filter: alpha(opacity=45);
      &:hover {
        opacity: .95;
        filter: alpha(opacity=95);
      }
      &.swiper-btn-prev {
        left: 20px;
      }
      &.swiper-btn-next {
        right: 20px;
      }
    }
    .swiper-pagination {
      position: absolute;
      bottom: 52px;
      width: 100%;
      text-align: center;
      font-size: 0;
      .swiper-pagination-bullet {
        display: inline-block;
        width: 8px;
        height: 8px;
        margin: 0 6px;
        vertical-align: middle;
        background-color: #000;
        opacity: .45;
        filter: alpha(opacity=45);
        border-radius: 50%;
      }
      .swiper-pagination-bullet-active {
        background-color: $selfActiveColor;
      }
      .swiper-pagination-bullet:hover {
        background-color: $selfActiveColor;
        opacity: .85;
        filter: alpha(opacity=85);
      }
    }
  }
  .news-list-wrap {
    box-sizing: border-box;
    margin-left: $selfLeftWidth + 10px;
    * {
      box-sizing: border-box;
    }
  }
  .news-list {
    float: left;
    width: 100%;
    .list-item {
      $selfWidth: 185px;
      .pic {
        float: left;
        display: block;
        width: $selfWidth;
        height: 113px;
        margin-right: - $selfWidth;
        border: 1px solid #eee;
        overflow: hidden;
        img {
          display: block;
          width: 100%;
          height: 100%;
          transition: transform .3s ease-out;
        }
        &:hover {
          img {
            transform: scale(1.08);
          }
        }
      }
      .text-wrap {
        margin-left: $selfWidth + 23px;
      }
      .title {
        padding-top: 8px;
        a {
          max-width: 100%;
          vertical-align: middle;
          font-size: 16px;
          color: #333;
          &:hover {
            color: $selfActiveColor;
          }
        }
      }
      .desc {
        height: 40px;
        margin-top: 19px - 3px;
        line-height: 20px;
        overflow: hidden;
      }
      .foot-info {
        margin-top: 17px - 3px;
        text-align: right;
        .info-item {
          i {
            margin-right: 6px;
            font-size: 14px;
          }
        }
      }
    }
    .list-item + .list-item {
      margin-top: 10px;
    }
  }
}