@charset "utf-8";
@import "publicVariable";

$selfBgColor: #f82d48;

/* head-banner */
.head-banner {
  height: 450px;
  .banner-item {
    display: block;
    width: 100%;
    height: inherit;
  }
}

/* 共用标题 */
.section-title {
  line-height: 1;
  text-align: center;
  font-size: 24px;
  color: #363636;
}

/* head-search */
.head-search {
  padding-bottom: 54px;
  .section-title {
    padding: 40px 0;
    font-weight: bold;
  }
  .search-wrapper {
    position: relative;
    width: 692px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    border: 1px solid #c9c9c9;
    input {
      width: 456px;
      height: 22px;
      padding: 13px 15px;
      line-height: 22px;
      font-size: 18px;
      border: none;
    }
    .search-btn {
      position: absolute;
      top: -1px;
      right: -1px;
      width: 207px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      color: #fff;
      background-color: $selfBgColor;
      transition: background-color .2s ease-out;
    }
    .search-btn:hover {
      background-color: $selfBgColor - 25%;
    }
  }
}

/* service-content */
.service-content {
  background: url(../resource/img/sme_service_bgi9.jpg) no-repeat center;
  background-size: cover;
  .u-linetitle-white {
    padding-top: 40px;
    padding-bottom: 74px;
  }
  .content-container {
    .list {
      margin-top: -24px;
      margin-left: -24px;
      font-size: 0;
    }
    .content-card {
      display: inline-block;
      width: 230px;
      height: 185px;
      padding: 40px 25px 0 25px;
      margin-top: 24px;
      margin-left: 24px;
      vertical-align: top;
      background-color: #fff;
      overflow: hidden;
      transition: transform .2s ease-out;
      dt {
        width: 100%;
        margin-bottom: 33px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        color: #363636;
        i {
          margin-left: -36px;
          margin-right: 12px;
          vertical-align: top;
          font-size: 24px;
          font-weight: normal;
          color: $onColorOrange;
        }
      }
      dd {
        display: inline-block;
        width: 50%;
        margin-bottom: 24px;
        a {
          margin-left: 14px;
          font-size: 14px;
          color: #666;
        }
        a:hover {
          color: $onColorOrange;
        }
      }
    }
    .content-card:hover {
      transform: translateY(-20px);
    }
  }
  .btn-wrapper {
    padding-top: 53px;
    padding-bottom: 45px;
    text-align: center;
    .apply-btn {
      width: 250px;
      height: 50px;
      line-height: 50px;
      font-size: 18px;
      font-weight: bold;
      color: #fff;
      background-color: $selfBgColor;
      transition: background-color .2s ease-out;
    }
    .apply-btn:hover {
      background-color: $selfBgColor - 25%;
    }
  }
}

/* service-cards */
.service-cards {
  background-color: #f1f1f1;
  .u-linetitle-black {
    padding-top: 48px;
    padding-bottom: 40px;
  }
  .cards-container {
    padding-bottom: 50px;
    .list {
      margin-top: -20px;
      margin-left: -20px;
      font-size: 0;
    }
    .card {
      position: relative;
      display: inline-block;
      width: 220px;
      height: 264px;
      margin-top: 20px;
      margin-left: 20px;
      vertical-align: top;
      background-color: #fff;
      overflow: hidden;
    }
    .card-init {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: top 1s ease-out;
      img {
        display: block;
        width: 100%;
        height: 190px;
      }
      .info {
        margin: 0 10px;
        text-align: center;
        font-size: 16px;
        color: #363636;
        .title {
          padding-top: 14px;
          margin-bottom: 10px;
          line-height: 20px;
        }
        .price {
          font-size: 14px;
          color: #999;
          .num:before {
            content: '¥';
            margin-right: 5px;
            font-size: 14px;
            font-weight: normal;
          }
        }
      }
    }
    .card-hover {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      font-size: 14px;
      color: #fff;
      background: url(../resource/img/sme_pic16.jpg) no-repeat center;
      background-size: cover;
      transition: top 1s ease-out;
      .inner {
        margin: 0 36px;
        padding-top: 60px;
      }
      h3 {
        margin-bottom: 13px;
        font-size: 20px;
        font-weight: bold;
      }
      p {
        margin-bottom: 34px;
        line-height: 24px;
      }
      a {
        padding: 10px 23px;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 5px;
        transition: background-color .2s ease-out, border-color .2s ease-out;
      }
      a:hover {
        background-color: $selfBgColor;
        border-color: $selfBgColor;
      }
    }
    .card:hover {
      .card-init {
        top: -100%;
      }
      .card-hover {
        top: 0;
      }
    }
  }
}

/* service-path */
.service-path {
  .u-linetitle-black {
    padding-top: 60px;
    padding-bottom: 78px;
  }
  .path-content {
    width: 100%;
    padding-bottom: 43px;
    text-align: center;
    font-size: 0;
    .path-item {
      display: inline-block;
      width: 130px;
      vertical-align: top;
      transition: transform .2s ease-out;
      .icon {
        width: 68px;
        height: 68px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 21px;
        background: url(../resource/img/sme_service_sprites3.png) no-repeat 999px 0;
      }
      .title {
        margin-bottom: 6px;
        line-height: 1.5;
        font-size: 16px;
        font-weight: bold;
        color: #363636;
        transition: color .2s ease-out;
      }
      .desc {
        line-height: 24px;
        font-size: 14px;
        color: #666;
      }
    }
    .path-item:hover {
      transform: translateY(-10px);
      .icon {
        animation-name: smeBounce;
        animation-duration: 1s;
        transform-origin: center bottom;
      }
      .title {
        color: #f82d48;
      }
    }
    .path-line {
      position: relative;
      top: 22px;
      display: inline-block;
      width: 10px;
      height: 19px;
      margin: 0 25px;
      vertical-align: top;
      background: url(../resource/img/sme_service_sprites3.png) no-repeat -420px 0;
    }
  }
}

/* importance-section */
.importance-section {
  height: 476px;
  background: url(../resource/img/sme_service_bgi10.jpg) no-repeat center;
  .importance-desc {
    position: relative;
    padding-top: 92px;
    font-size: 0;
    .desc-left, .desc-right {
      display: inline-block;
      width: 50%;
      vertical-align: top;
      font-size: 16px;
      color: #24a9a6;
      .item {
        position: relative;
        margin-bottom: 25px;
      }
      .text {
        line-height: 55px;
      }
    }
    .b-icon, .s-icon {
      background: url(../resource/img/sme_service_sprites3.png) no-repeat 999px -70px;
    }
    .b-icon {
      position: absolute;
      top: 162px;
      left: 50%;
      width: 176px;
      height: 152px;
      margin-left: -88px;
      background-position-x: 0;
    }
    .s-icon {
      width: 63px;
      height: 55px;
    }
    .desc-left {
      .s-icon, .text {
        float: right;
      }
      .text {
        margin-right: 38px;
      }
    }
    .desc-right {
      .s-icon, .text {
        float: left;
      }
      .text {
        margin-left: 38px;
      }
    }
  }
}

/* advantage-section */
.advantage-section {
  background-color: #eee;
  .u-linetitle-black {
    padding-top: 50px;
    padding-bottom: 60px;
  }
  .list {
    padding-bottom: 45px;
    text-align: center;
    font-size: 0;
    li {
      display: inline-block;
      width: 186px;
      vertical-align: top;
      font-size: 14px;
      .icon {
        width: 130px;
        height: 115px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 24px;
        background: url(../resource/img/sme_service_sprites3.png) no-repeat 999px -224px;
      }
      .title {
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: bold;
        color: #363636;
      }
      .desc {
        line-height: 24px;
        color: #363636;
      }
    }
    li + li {
      margin-left: 62px;
    }
  }
}

/* question-cards */
.question-cards {
  padding-bottom: 34px;
  background-color: #fff;
  .u-linetitle-black {
    padding-top: 56px;
    padding-bottom: 50px;
  }
  .m-question-cards {
    margin: 0 60px;
  }
}

/* other-services */
.other-services {
  padding-bottom: 65px;
  background-color: #fff;
  .section-title {
    padding: 24px 0;
  }
  .m-other-services {
    margin: 0 60px;
    .other-services-list {
      .service-link {
        background-color: $selfBgColor;
        border-color: $selfBgColor;
      }
      .service-link:hover {
        background-color: $selfBgColor - 25%;
      }
    }
  }
}