@charset "UTF-8";
/* header */
.header { padding: 1rem; }

.header .logo-pic { float: left; display: block; width: auto; height: 2rem; }

.header a.iconfont { float: right; display: block; font-size: 2rem; color: #d9b177; }

.header .login { margin-left: 2rem; }

/* home-banner */
.home-banner { position: relative; width: 100%; overflow: hidden; }

.home-banner .banner-pic { float: left; display: block; }

.home-banner .banner-pic img { display: block; width: 100%; }

.home-banner .swiper-pagination { position: absolute; bottom: .5rem; }

.home-banner .swiper-pagination .swiper-pagination-bullet { background-color: #fff; opacity: .6; filter: alpha(opacity=60); }

.home-banner .swiper-pagination .swiper-pagination-bullet-active, .home-banner .swiper-pagination .swiper-pagination-bullet:hover { opacity: 1; filter: alpha(opacity=100); }

/* quick-entry */
.quick-entry { padding-top: 2.5rem; padding-bottom: .5rem; font-size: 0; text-align: center; }

.quick-entry li { display: inline-block; width: 33%; padding-bottom: 2rem; font-size: 1.2rem; }

.quick-entry li a { display: block; }

.quick-entry li img { display: inline-block; width: auto; height: 5.3rem; margin-bottom: 1.2rem; }

/* news-section公用样式 */
.news-section { background-color: #f1f1f1; }

.news-section .section-title { padding: 1.3rem 1rem; font-size: 1.2rem; }

.news-section .section-title .text { float: left; line-height: 1.5rem; color: #363636; }

.news-section .section-title .text i { margin-right: .8rem; vertical-align: middle; font-size: 1.5rem; color: #d9b177; }

.news-section .section-title .more-link { float: right; line-height: 1.5rem; color: #999; }

.news-section .news-cards ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.news-section .news-cards li { width: 32.5%; padding: 1.2rem 0; margin-bottom: .4rem; text-align: center; font-size: 1.2rem; background-color: #fff; }

.news-section .news-list { padding: 0 1rem; background-color: #fff; overflow: hidden; }

.news-section .news-list ul { margin-top: -.15rem; }

.news-section .news-list li { padding: 1.2rem 0; width: 100%; font-size: 1.1rem; border-top: 0.1rem dashed #f1f1f1; }

.news-section .news-list li .area { position: relative; z-index: 1; float: left; width: 7rem; }

.news-section .news-list li .area a { display: block; color: #0f76a7; }

.news-section .news-list li .text { float: left; width: 100%; margin-left: -7rem; }

.news-section .news-list li .text a { display: block; margin-left: 7rem; }

/* project-section个性 */
.project-section .news-list li .area { width: 6rem; }

.project-section .news-list li .text { margin-left: -6rem; }

.project-section .news-list li .text a { margin-left: 6rem; }

/* footer */
.footer { background-color: #f1f1f1; }

.footer .version { padding-top: 2.5rem; padding-bottom: 1.8rem; font-size: 0; text-align: center; }

.footer .version a { display: inline-block; margin: 0 3.1rem; font-size: 1.2rem; }

.footer .version .current { color: #d10d16; }

.footer .info { padding-bottom: 2rem; text-align: center; line-height: 1.8rem; font-size: 1rem; color: #999; }
